
@{
    ViewBag.Title = "about_us";
}

<header class="aheto-header aheto-header-6">
    <div class="aheto-header-6__toolbar">
        <div class="aheto-header-6__toolbar-inner">
            <div class="aheto-header-6__toolbar-contact">
                <h6 class="aheto-header-6__toolbar-text">Have any question ?</h6>
                <a class="aheto-header-6__toolbar-tel" href="tel:(+91)8808249999"><i class="fa fa-phone"></i>+91-8808249999, 9119850057</a>
                <a class="aheto-header-6__toolbar-email" href="/cdn-cgi/l/email-protection#81f2e0ede4f2e8efe7eec1f3eef4efe5f1e0f8afe8ef"><i class="fa fa-envelope-open"></i><span class="__cf_email__" data-cfemail="7704161b12041e19111837051802191307160e591e19">[email&nbsp;protected]</span></a>
            </div>
            <div class="aheto-header-6__toolbar-additional">
                <div class="aheto-header-6__toolbar-authentication">
                    <div class="authentication">
                        <div class="nav-item dropdown d-menu">
                            <a class="nav-link authentication__register" href="#" id="A4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                View Demo
                                <svg id="Svg4" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <polyline points="6 9 12 15 18 9"></polyline>
                                </svg>
                            </a>
                            <div class="dropdown-menu shadow-sm sm-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="softwares.html">Softwares</a>
                            </div>
                        </div>
                        <button class="authentication__log-in" type="button">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg bg-white shadow-sm bg-light">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="index1.html">
                <img src="images/images-logo.png" alt="New Website">
            </a>
            <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" aria-label="toggle" data-target="#navbar4">
                <i class="fa fa-bars" aria-hidden="true" style="color: #fff;"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbar4">
                <ul class="navbar-nav mr-auto mx-auto text-center">
                    <li class="nav-item active"><a class="nav-link" href="index1.html">Home</a> </li>
                    <li class="nav-item dropdown d-menu">
                        <a class="nav-link" href="#" id="A0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About
                            <svg id="Svg0" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </a>
                        <div class="dropdown-menu shadow-sm sm-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="about-us.html">Overview</a>
                            <a class="dropdown-item" href="#">Career</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown d-menu">
                        <a class="nav-link dropdown-toggle" href="#" id="A1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            API Services
                            <svg id="Svg1" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </a>
                        <div class="dropdown-menu shadow-sm sm-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="recharge-api.html">Recharge API</a>
                            <a class="dropdown-item" href="travel-api.html">Travel API</a>
                            <a class="dropdown-item" href="domestic-transfer.html">Domestic Money Transfer</a>
                            <a class="dropdown-item" href="bbps.html">BBPS</a>
                            <a class="dropdown-item" href="payout-api.html">Payout API</a>
                            <a class="dropdown-item" href="pancard-api.html">Pan Card API</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown d-menu">
                        <a class="nav-link dropdown-toggle" href="#" id="A2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            FinTech
                            <svg id="Svg2" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </a>
                        <div class="dropdown-menu shadow-sm sm-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="aeps.html">AePS</a>
                            <a class="dropdown-item" href="m-pos.html">POS</a>
                            <a class="dropdown-item" href="matm.html">Mini ATM</a>
                            <a class="dropdown-item" href="indo-nepal.html">Indo Nepal Money Transfer</a>
                            <a class="dropdown-item" href="prepaid-card.html">Prepaid Card</a>
                            <a class="dropdown-item" href="pan-card_UTI.html">Pan Card - UTI</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown d-menu">
                        <a class="nav-link dropdown-toggle" href="#" id="A3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            IT Services
                            <svg id="Svg3" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </a>
                        <div class="dropdown-menu shadow-sm sm-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="software-development.html">Software Development</a>
                            <a class="dropdown-item" href="mlm-software.html">MLM Software</a>
                            <a class="dropdown-item" href="recharge-application.html">Recharge Application</a>
                            <a class="dropdown-item" href="digital-maketing.html">Digital Marketing</a>
                            <a class="dropdown-item" href="blockchain.html">Blockchain Development</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown d-menu">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            VAS Services
                            <svg id="arrow" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </a>
                        <div class="dropdown-menu shadow-sm sm-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="vas.html#LSC">Long / Short Code</a>
                            <a class="dropdown-item" href="bulk-sms.html">Bulk SMS</a>
                            <a class="dropdown-item" href="vas.html#sim-H">Sim Hosting</a>
                            <a class="dropdown-item" href="api-services.html#operator-find">HLR Lookup</a>
                            <a class="dropdown-item" href="api-services.html#pincode-find">Pincode Finder</a>
                            <a class="dropdown-item" href="api-services.html#ifsc-find">IFSC Finder</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="allblog.html">Blog</a> </li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a> </li>
                </ul>
                <ul class="navbar-nav social-icon-2">
                    <li class="nav-item">
                        <a class="nav-link twitter social-icon" target="_blank" href="https://www.twitter.com">
                            <i class="fa fa-twitter"></i><span class="d-lg-none ml-3">Twitter</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link social-icon facebook" target="_blank" href="https://www.facebook.com">
                            <i class="fa fa-facebook-f"></i><span class="d-lg-none ml-3">Facebook</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link social-icon instagram" target="_blank" href="https://www.instagram.com">
                            <i class="fa fa-instagram"></i><span class="d-lg-none ml-3">Instagram</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link social-icon linkedin-in" target="_blank" href="https://www.linkedin.com">
                            <i class="fa fa-linkedin"></i><span class="d-lg-none ml-3">Linkedin</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="rs-achievement style1 relative md-pt-80 mt-5">
    <div class="container-fluid">
        <div class="row ml-5 mr-5 rs-vertical-middle">
            <div class="col-lg-7">
                <div class="sec-title4 mb-25">
                    <div class="sec-title3">
                        <span class="sub-text">Overview</span>
                    </div>
                    <h1 class="title">Complete assurance about quality &amp; timely execution</h1>
                    <div class="desc left-line-v">
                        <div class="draw-line start-draw"></div>
                        New Website have recognized that the future requires harnessing new business models, integrating digital channels, capturing the economics of customer loyalty and dramatically reducing costs
                    </div>
                </div>
                <p>We design, develop, implement, manage and optimize access to systems and information to answer your business processing, application and infrastructure needs. Whether you are a private or public sector organization, or whether you want to run our solutions on your own hardware, or outsource your IT through us, New Website has the expertise you need to overcome the business challenges you face.</p>
                <p>we are pioneering strong Partnerships with the Banking ecosystem and provide a Unified Open API Platform that would transform how Bharat transacts and leads to larger Consumer Adoption, Interface, and Delight. Integrate banking into your business workflow with APIs for collection, payouts, virtual accounts, cards &amp; more</p>
                <div class="crypto_mlm_btns mt-4 mb-3">
                    <a href="https://api.whatsapp.com/send?phone=+919119850057&amp;text=Hi%21%20I%20need%20the%20pricing%20and%20other%20detailed%20insights%20about%20your%20product%2Fservice%20-%20New Website%20Voice%20Tech%20-%20http://New Website.in" class="btn consult_btn cryptmlmwhatsappbtn_color" name="button" target="_blank"><i class="fa fa-whatsapp"></i> | WhatsApp </a>
                    <a href="https://t.me/New Websitevoicetech" target="_blank" class="btn consult_btn cryptmlmtelegrambtn_color ml-1" name="button"><i class="fa fa-telegram"></i> | Telegram</a>
                    <a href="skype:New Website?chat.html" target="_blank" class="btn consult_btn cryptmlmskypebtn_color ml-1" name="button"><i class="fa fa-skype"></i> | Skype</a>
                </div>
            </div>
            <div class="col-lg-5 position-relative">
                <div class="btn btn-circle btn-primary img-UP-but disabled position-absolute counter-wrapper flex-column d-none d-md-flex">
                    <h2 class="text-white mb-1 mt-n2"><span class="counter counter-lg" style="visibility: visible;">10+</span></h2>
                    <p>Year Experience</p>
                </div>
                <div class="row gx-md-5 gy-5 align-items-center">
                    <div class="col-md-6">
                        <div class="row gx-md-5 gy-5">
                            <div class="col-md-10 offset-md-2 img-maT">
                                <figure class="rounded">
                                    <img src="images/images-ab1.png" srcset="website-assets-22/images/ab1.png 2x" alt="New Website" class="img-fluid rounded w-100 mob-none">
                                </figure>
                            </div>

                            <div class="col-md-12 img-maT">
                                <figure class="rounded">
                                    <img src="images/images-ab2.png" srcset="website-assets-22/images/ab2.png 2x" alt="New Website" class="img-fluid rounded w-100 mob-none">
                                </figure>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-6">
                        <figure class="rounded">
                            <img src="images/images-ab3.png" srcset="website-assets-22/images/ab3.jpg 2x" alt="New Website" class="img-fluid rounded w-100">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-lg-8 gx-xl-12 gy-6 mb-14 ml-5 mr-5 mt-20 pb-3">
            <div class="col-lg-6">
                <div class="d-flex flex-row">
                    <div>
                        <div class="icon btn btn-circle-sm disabled btn-soft-primary me-4 fontW-700"><span class="number fs-18">1</span> </div>
                    </div>
                    <div>
                        <h4>Our Mission</h4>
                        <p class="mb-2">New Website is not easy to operate but also it makes your easier and faster. We are providing the best services to our customers. Whether it&rsquo;s an online recharge/bill payment, hotel booking or many more services.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex flex-row">
                    <div>
                        <div class="icon btn btn-circle-sm disabled btn-soft-primary me-4 fontW-700"><span class="number fs-18">2</span> </div>
                    </div>
                    <div>
                        <h4>Our Vision</h4>
                        <p class="mb-2">Company&rsquo;s main goal is to fulfill the needs and desire of our customer and satisfy them. We are providing numerous services to our customers for their betterment.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="counter-wrap mt-5">
    <div class="container">
        <div class="counter-card-wrap">
            <div class="counter-card row align-items-center">
                <div class="col-md-10">
                    <p class="text-white consultant-1 text mb-0">Get comprehensive financial software development from a reliable technology partner and transform your business today.</p>
                </div>
                <div class="col-md-2">
                    <div class="btn-part">
                        <a class="readon consultant contact orange-more w-100" href="contact.html" style="width: 100%!important;">Talk To Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="service-wrap style3 ptb-100 bg-rock">
    <div class="container">
        <img src="images/images-service-shape-1.png" alt="New Website" class="service-shape-one">
        <img src="images/images-service-shape-2.png" alt="New Website" class="service-shape-two">
        <div class="section-title style1 text-center mb-40">
            <h2 class="text-white">Core Services</h2>
        </div>
        <div class="row gx-5 align-items-center">
            <div class="col-md-6">
                <div class="service-card style3">
                    <span class="service-icon">
                        <img src="images/icon-bank.png" alt="New Website">
                    </span>
                    <div class="service-info">
                        <h3><a href="#">Bank APIs</a></h3>
                        <p>We are the CMS Partner of ICICI Bank who is one of the largest Private Sector Bank. Integrate banking into your business workflow with APIs for collection, payouts, virtual accounts, cards &amp; more</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-card style3">
                    <span class="service-icon">
                        <img src="images/icon-bill-payment.png" alt="New Website">
                    </span>
                    <div class="service-info">
                        <h3><a href="#">Utility APIs</a></h3>
                        <p>
                            Easy, reliable and secure way to accept and process all bill payments across India
                            is a unified interoperable online bill payments platform built on the Bharat BillPay (BBP) infrastructure developed .
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-card style3">
                    <span class="service-icon">
                        <img src="images/icon-it-services.png" alt="New Website">
                    </span>
                    <div class="service-info">
                        <h3><a href="#">IT Service and Solution</a></h3>
                        <p>
                            Enhance performance and reduce costs with our digital IT services and solutions
                            In today&rsquo;s highly competitive world, organizations across all sectors are turning to IT service providers to help them reduce costs, boost productivity and enhance performance. As a world-class end-to-end IT services provider, with over 80 years&rsquo; experience working with organizations from all sectors around the globe, Fujitsu can provide the business IT solutions you need to improve efficiency, add value and lower costs.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-card style3">
                    <span class="service-icon">
                        <img src="images/icon-banking.png" alt="New Website">
                    </span>
                    <div class="service-info">
                        <h3><a href="#">Banking - BC Model </a></h3>
                        <p>With the objective of ensuring greater Financial Inclusion and increasing outreach of the banking sector,Banks have been permitted to use the services of NGOs/SHGs, Micro Finance Institution (MFIs) and other Civil Society Organization (CSOs) as intermediaries providing Financial &amp; Banking services through the use of Business Correspondent Model. Business Correspondent agent is an extended arm of the Bank Branch who is providing doorstep Banking and Financial services to customers in remote areas. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="section-block-bg-service" style="background-image: url(images/bg11.png);">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-12 offset-md-5 pr-5">
                <div class="section-heading">
                    <span>Improve your business with us !</span>
                    <h4>First class business solutions</h4>
                    <div class="section-heading-line-left"></div>
                    <div class="text-content-big mt-10">
                        <p>Company&rsquo;s main goal is to fulfill the needs and desire of our customer and satisfy them. We are providing numerous services to our customers for their betterment.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="feature-flex-square">
                            <div class="clearfix">
                                <div class="feature-flex-square-icon"><i class="fa fa-random"></i></div>
                                <div class="feature-flex-square-content">
                                    <h4><a href="#">All-in-one solution</a></h4>
                                    <p>Our team help you get through the whole digital transformation process seamlessly. Just tell us your idea. We will go step-by-step together from consultation to UI/UX, and from development to long-term maintenance.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="feature-flex-square">
                            <div class="clearfix">
                                <div class="feature-flex-square-icon"><i class="fa fa-window-restore"></i></div>
                                <div class="feature-flex-square-content">
                                    <h4><a href="#">Clean Code</a></h4>
                                    <p>Code is clean if it can be understood easily &ndash; by everyone on the team. Clean code can be read and enhanced by a developer other than its original author. With understandability comes readability, changeability, extensibility and maintainability</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="feature-flex-square">
                            <div class="clearfix">
                                <div class="feature-flex-square-icon"><i class="fa fa-phone"></i></div>
                                <div class="feature-flex-square-content">
                                    <h4><a href="#">24X7 Support</a></h4>
                                    <p>Our customer service is best in class and committed to serve you 24x7 for your queries and questions.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="feature-flex-square">
                            <div class="clearfix">
                                <div class="feature-flex-square-icon"><i class="fa fa-thumbs-up"></i></div>
                                <div class="feature-flex-square-content">
                                    <h4><a href="#">Easy Integration</a></h4>
                                    <p>Sing-Up and go with easy integration feature for your web and mobile applications.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="company-profile">
    <div class="container-fluid">
        <div class="section-heading center-holder pt-100">
            <span>Our key values</span>
            <h2>Make Successful Business</h2>
            <div class="section-heading-line"></div>
            <p>
                Our skilled experts provide full-cycle custom financial software development<br>
                to fit your business domain and budget requirements while leveraging leading-edge technologies.
            </p>
            <div class="profile-download">
                <a href="website-assets-22/images/pdf/company-profile.pdf" class="btn btn-download mt-4">Download Now</a>
            </div>
        </div>
        <div class="row mt-50 ml-5 mr-5">
            <div class="col-md-3 col-sm-6 col-12">
                <div class="number-box">
                    <h3>01</h3>
                    <div class="number-box-line"></div>
                    <h4>People</h4>
                    <p>New Website is comprised of highly skilled strategic teams that contribute to the company&rsquo;s continued and sustainable growth.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="number-box">
                    <h3>02</h3>
                    <div class="number-box-line"></div>
                    <h4>Expertise</h4>
                    <p>Experts at New Website assist in developing a working turn-key solution, providing a range of training sessions for cloud automation, microservices, blockchain, and AI.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="number-box">
                    <h3>03</h3>
                    <div class="number-box-line"></div>
                    <h4>Quality</h4>
                    <p>We combine deep tech expertise and a team of industry focus engineers powered by extensive hands-on experience to help your business to obtain competitive advantages.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="number-box">
                    <h3>04</h3>
                    <div class="number-box-line"></div>
                    <h4>Trust and relations</h4>
                    <p>We value our partners and customers and focus on quality and putting our customers&rsquo; business needs first.</p>
                </div>
            </div>
        </div>
        <div class="row mt-50">
            <div class="col-md-12 col-sm-6 col-12">
            </div>
        </div>
    </div>
</section>
<section class="process section-padding bg-img bg-fixed pos-re text-center" data-overlay-dark="7" data-background="img/bg6.jpg" style="background-image: url(website-assets-22/images/bg/bg6.png);" alt="New Website Voice Tech">
    <div class="container-fluid">
        <div class="row ml-5 mr-5">
            <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                <div class="sec-title3 sec-titleP text-center mb-65 md-mb-45">

                    <h2 class="title pb-25 text-white">Our Process</h2>
                    <div class="heading-border-line text-white pb-25">We are a passionate digital design agency that specializes in beautiful and easy-to-use digital design &amp; web development services.</div>
                </div>
            </div>
            <div class="full-width clearfix"></div>
            <div class="col-lg-2 col-md-6">
                <div class="item first mb-md50 text-center">
                    <img src="images/images-arrow.png" class="tobotm" alt="New Website Voice Tech">
                    <span class="icon fa fa-lightbulb-o"></span>
                    <div>
                        <div class="btn btn-circle-sm btn-soft-primary me-4 fontW-700 process-num"><span class="number fs-18">1</span> </div>
                    </div>
                    <h6>Research &amp; Discovery</h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="item odd mb-md50 text-center">
                    <img src="images/images-arrow.png" alt="New Website Voice Tech">
                    <span class="icon fa fa-book"></span>
                    <div>
                        <div class="btn btn-circle-sm btn-soft-primary me-4 fontW-700 process-num"><span class="number fs-18">2</span> </div>
                    </div>
                    <h6>Validating &amp; Shaping Idea</h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="item first mb-md50 text-center">
                    <img src="images/images-arrow.png" class="tobotm" alt="New Website Voice Tech">
                    <span class="icon fa fa-wrench"></span>
                    <div>
                        <div class="btn btn-circle-sm btn-soft-primary me-4 fontW-700 process-num"><span class="number fs-18">3</span> </div>
                    </div>
                    <h6>Design &amp; Prototyping</h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="item odd mb-md50 text-center">
                    <img src="images/images-arrow.png" alt="New Website Voice Tech">
                    <span class="icon fa fa-book"></span>
                    <div>
                        <div class="btn btn-circle-sm btn-soft-primary me-4 fontW-700 process-num"><span class="number fs-18">4</span> </div>
                    </div>
                    <h6>Development</h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="item first mb-md50 text-center">
                    <img src="images/images-arrow.png" class="tobotm" alt="New Website Voice Tech">
                    <span class="icon fa fa-wrench"></span>
                    <div>
                        <div class="btn btn-circle-sm btn-soft-primary me-4 fontW-700 process-num"><span class="number fs-18">5</span> </div>
                    </div>
                    <h6>Testing &amp; Quality Assurance</h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="item odd text-center">
                    <span class="icon fa fa-laptop"></span>
                    <div>
                        <div class="btn btn-circle-sm btn-soft-primary me-4 fontW-700 process-num"><span class="number fs-18">6</span> </div>
                    </div>
                    <h6>Maintenance &amp; Support</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="curve curve-gray-t curve-top"></div>

</section>
<div class="technology-used mb-5 pb-5">
    <div class="container">
        <div class="section-heading center-holder pt-100">
            <h2>Technologies We Use</h2>
            <div class="section-heading-line"></div>
        </div>
        <div class="row ml-5 mr-5 mt-50">
            <div class="col-md-4">
                <div class="single-features-box">
                    <div class="icon-single-features-box react-bg">
                        <img src="images/Tech-L-react.png" alt="New Website">
                    </div>
                    <h3>React</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-features-box">
                    <div class="icon-single-features-box AWS-bg">
                        <img src="images/Tech-L-aws.png" alt="New Website">
                    </div>
                    <h3>AWS</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-features-box">
                    <div class="icon-single-features-box python-bg">
                        <img src="images/Tech-L-python.png" alt="New Website">
                    </div>
                    <h3>Python</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-features-box">
                    <div class="icon-single-features-box nodeJs-bg">
                        <img src="images/Tech-L-nodeJs.png" alt="New Website">
                    </div>
                    <h3>Node.js</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-features-box">
                    <div class="icon-single-features-box webflow-bg">
                        <img src="images/Tech-L-webflow.png" alt="New Website">
                    </div>
                    <h3>WebFlow</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-features-box">
                    <div class="icon-single-features-box nativeJs-bg">
                        <img src="images/Tech-L-nativeJs.png" alt="New Website">
                    </div>
                    <h3>React Native</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-features-box">
                    <div class="icon-single-features-box Javascript-bg">
                        <img src="images/Tech-L-Javascript.png" alt="New Website">
                    </div>
                    <h3>Javascript</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-features-box">
                    <div class="icon-single-features-box solidity-bg">
                        <img src="images/Tech-L-solidity.png" alt="New Website">
                    </div>
                    <h3>Solidity</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-features-box">
                    <div class="icon-single-features-box ethereum-bg">
                        <img src="images/Tech-L-ethereum.png" alt="New Website">
                    </div>
                    <h3>Ethereum</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="float-sm">
    <div class="fl-fl float-fb">
        <i class="fa fa-whatsapp"></i>
        <a href="https://api.whatsapp.com/send?phone=+919044004486&amp;text=Hi%21%20I%20need%20the%20pricing%20and%20other%20detailed%20insights%20about%20your%20product%2Fservice%20-%20New Website%20Voice%20Tech%20-%20http://New Website.in" target="_blank">Whatsapp</a>
    </div>
    <div class="fl-fl float-tw">
        <i class="fa fa-telegram"></i>
        <a href="https://t.me/New Websitevoicetech" target="_blank">Telegram</a>
    </div>
    <div class="fl-fl float-gp">
        <i class="fa fa-skype"></i>
        <a href="skype:New Website?chat.html" target="_blank">Skype</a>
    </div>
</div>
<footer class="rs-footer style1">
    <div class="overflow-hidden">
        <div class="divider text-navy mx-n2">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 100">
                <path fill="currentColor" d="M1260,1.65c-60-5.07-119.82,2.47-179.83,10.13s-120,11.48-180,9.57-120-7.66-180-6.42c-60,1.63-120,11.21-180,16a1129.52,1129.52,0,0,1-180,0c-60-4.78-120-14.36-180-19.14S60,7,30,7H0v93H1440V30.89C1380.07,23.2,1319.93,6.15,1260,1.65Z"></path>
            </svg>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container-fluid">
            <div class="d-lg-flex flex-row align-items-lg-center  ml-5 mr-5">
                <h2 class="display-4 mb-6 mb-lg-0 pe-lg-20 pe-xl-22 pe-xxl-25 text-white">Get comprehensive financial software development from a reliable technology partner and transform your business today</h2>
                <a href="contact.html" class="btn btn-primary btn-contactClick rounded-pill mb-0 text-nowrap">Let's Connect</a>
            </div>
            <div class="row y-middle ml-5 mr-5">
            </div>
            <hr class="mt-11 mb-12 ml-5 mr-5">
            <div class="row y-middle ml-5 mr-5">
                <div class="col-lg-6 col-sm-12 col-12 md-mb-10 text-lg-end text-center order-last">
                    <ul class="copy-right-menu">
                        <li><a href="FAQ.html">FAQs</a></li>
                        <li><a href="term-condition.html">Term and Condition</a></li>
                        <li><a href="privacy-policy.html">Privacy Policy</a></li>
                        <li><a href="refund-policy.html">Refund Policy</a></li>
                        <li><a href="sitemap.html">Sitemap</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-sm-12 col-12">
                    <div class="copyright text-lg-start">
                        <p>Copyright &copy; 2015-2022 New Website Techno Media Pvt Ltd. All Rights Reserved <br>CIN - U74120UP2015PTC070893 | GSTIN - 09AAHCR3222P1ZZ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

