@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AepsVideo</title>
</head>
<body>
    <div class="row">
        @if (string.IsNullOrWhiteSpace(ViewBag.adminshowurl))
        {
            using (Html.BeginForm("UploadAepsVideo", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
            {
                <div class="col-md-12 tmw-sp-i admin-apk current-tab-seconddesign">
                    <fieldset style="margin-top: 30px;">
                        <legend>AEPS Video File</legend>
                        <div class="form-group button-seconddesign">
                            <input type="file" id="AepsDemo" name="AepsDemo" class="form-control" style="width:100% !important;" />
                            <button type="submit" class="fullbodydycolorbg btn-first" style="margin-top:15px;margin-bottom:10px;"><span style="color:black; position:relative;">Upload AEPS Video</span></button>
                        </div>
                    </fieldset>
                </div>
            }
        }
        else
        {
            <video width="768" height="576" controls autoplay>
                <source src="~/AepsDemo/@ViewBag.adminshowurl" type="video/mp4">
                Your browser does not support the video tag.
            </video>
       }

    </div>
</body>
</html>