@using Microsoft.AspNet.Identity;
@using Vastwebmulti.Models;
@using Microsoft.AspNet.Identity.Owin;
@{
    ViewBag.Title = "Confirm Email";
    Layout = null;
}
@*@{
        VastwebmultiEntities db = new VastwebmultiEntities();
        string userid = User.Identity.GetUserId();
        var image = db.tblWhiteLabelLoginBackImages.Where(p => p.UserID == userid && p.Role == "ADMIN").ToList();
        if (image.Count > 0)
        {
            var bh = image.SingleOrDefault();
            if (bh == null)
            {
                ViewBag.image = "img85.png";
            }
            else
            {
                ViewBag.image = image.SingleOrDefault().ImageUrl;
            }
        }
        else
        {
            ViewBag.image = "img85.png";
        }
        //ViewBag.image = image.Count == 0 ? "" : image.SingleOrDefault().ImageUrl;
    }*@

<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@if (!HttpContext.Current.Request.IsLocal)
{
    <!-- To Disable Inspect Element -->
    <script src="~/Scripts/Disable_Inspect_Element/Disable_Inspect.js"></script>
}

<div class="fullbodydycolorbg">
    <div class="container centered">
        <div class="row-fluid">
            <div class="span-12">
                <center style="margin: auto; margin-top: 130px;padding-bottom:40px;margin-bottom: 35px;">
                    <p style="font-weight:700; font-size:28px; padding: 32px; color:white;margin-bottom:0px;padding-bottom: 15px;">
                        <i class="fa fa-thumbs-o-up" style="font-size:100px;"></i>
                    </p>
                    <p style="font-weight:700; font-size:28px; color:white;line-height:32px;">
                        <b style="display: block;font-size: 40px;padding-bottom: 25px;">Congratulations !</b> Your email verification has been successfully done
                    </p>
                    <p style="color:white; font-size:22px;padding:0px 15px;font-weight: 400;line-height: 30px;">
                        Thank you for confirming your email. Please<b style="display:block;"> @Html.ActionLink("Click here to Login", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink", @style = "background: #fff;color: var(--main-bg-lcolor);padding: 6px 20px;margin-top: 15px;display: inline-block;line-height: 17px;" })</b>
                    </p>
                </center>
            </div>
        </div>


    </div>
</div>
<style>

    .navbar-default {
        background-color: transparent !important;
        border-color: transparent !important;
    }

    .Header-section {
        border-bottom: 5px solid #fff;
    }

    #footer {
        border-top: 5px solid #fff;
    }
</style>