@using Vastwebmulti.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = null;
}
@{
    VastwebmultiEntities db = new VastwebmultiEntities();
    var userid = User.Identity.GetUserId();
    var image = db.tblWhiteLabelLoginBackImages.Where(p => p.Role == "ADMIN" && p.UserID == userid).ToList();
    if (image.Count > 0)
    {
        ViewBag.image = image.SingleOrDefault().ImageUrl;
    }
    else
    {
        ViewBag.image = "img85.png";
    }

    //ViewBag.image = image.Count == 0 ? "" : image.SingleOrDefault().ImageUrl;
}
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@if (!HttpContext.Current.Request.IsLocal)
{
    <!-- To Disable Inspect Element -->
    <script src="~/Scripts/Disable_Inspect_Element/Disable_Inspect.js"></script>
}
<style>
    .navbar-default {
        background-color: transparent;
        border-color: transparent;
    }
</style>
@*<div class="section secondary-section" style="background:url(@Url.Content("~/FooterImages/"+ViewBag.image)">
        <div class="container centered">
            <div class="row-fluid">
                <div class="span-12">
                    <center>
                        <p style="font-weight:700; font-size:28px; padding: 32px; color:white;margin-top:77px;">
                            <i class="fa fa-lock"></i>&nbsp;Forgot Password Confirmation.
                        </p>
                    </center>
                </div>
            </div>
                <div class="row" style="margin-top:-7px; margin-bottom:20px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-9">
                        <img src="~/offerimg/forgot.png" class="img-responsive" />
                        <br /><br />
                        <center>
                            <p style="font-size:29px; color:white;">
                                <b>Thank You </b>
                            </p>
                        </center>
                    </div>
                    <div class="col-md-1"></div>

                </div>
    </div>
    </div>*@
<div class="container-fluid fullbodydycolorbg" style="padding:20px 0px; width:100%;float:left;border-top: 5px solid #fff;border-bottom: 5px solid #fff;background-image: linear-gradient(to right ,#c82329, #383838) !important;">

    <center>

        <p class="large-text" style="font-weight:700; font-size: 42px; padding: 32px 0px; color:#fff;">
            Forgot Password Setting
        </p>
        <div style="width: 33%;border: 5px solid #fff;padding: 20px 0px;margin-bottom: 25px;">
            <img src="~/AdminDesign/images/mail-cnf.svg" style="width:150px;" />
            <h3 style="color: #fff;font-family: 'Open Sans', sans-serif;font-weight: 800;font-size: 30px;padding:10px 0px;">Link Sent Successfully</h3>
            <p style="color:#fff; font-size:16px;text-align: justify;padding: 0px 15px;font-weight: 500;">The password link has been successfully sent to your registered Email Id, click on the link to set a new password and set the password. Password must be 8 digits long.</p>
        </div>
    </center>
</div>



