@using Vastwebmulti.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Reset password confirmation";
    Layout = null;


}
@{
    VastwebmultiEntities db = new VastwebmultiEntities();


    var currentuser = User.Identity.GetUserId();
    var image = db.tblWhiteLabelLoginBackImages.Where(p => p.Role == "WHITELABEL" ).ToList();
    if (image.Count > 0)
    {
        var userlist = db.tblWhiteLabelLoginBackImages.Where(p => p.UserID == currentuser &&p.UsedFor.ToUpper()== "REPEAT");
        if (userlist != null)
        {
            ViewBag.image = userlist.SingleOrDefault().ImageUrl;

        }
        else
        {
            ViewBag.image = userlist.SingleOrDefault().ImageUrl;
        }


        
    }
    else
    {
        ViewBag.image = "img85.png";
    }
    //ViewBag.image = image.Count == 0 ? "" : image.SingleOrDefault().ImageUrl;
}
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@if (!HttpContext.Current.Request.IsLocal)
{
    <!-- To Disable Inspect Element -->
    <script src="~/Scripts/Disable_Inspect_Element/Disable_Inspect.js"></script>
}
<div class="section secondary-section" style="background:url(@Url.Content("~/FooterImages/"+ViewBag.image)">
    <div class="container centered">
        <center>
            <p class="large-text" style="font-weight:700; font-size: 42px; padding: 32px; color:black;">
                Reset Password Confirmation.
            </p>
        </center>


        <div class="row" style="margin-top:80px; margin-bottom:30px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <img src="~/offerimg/Back.png" class="img-responsive" />
                <br /><br />
                <p style="font-size:20px; color:#002d3a;">
                    <b>Your Account Verification has been Successfully. Please @Html.ActionLink("click here to log in", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</b>
                </p>
            </div>
            <div class="col-md-2"></div>

        </div>
    </div>
</div>

