<table class="table table-hover dashboard-task-infos">
    <thead>
        <tr>
            <th style="padding:6px; ">SIGN</th>
            <th style="padding:6px; ">OPERATORS</th>
            <th style="padding:6px;">TOTAL</th>
                   </tr>
    </thead>
    <tbody>
        <tr>
            <td style="padding:2px; padding-bottom:0px;"><i class="material-icons col-cyan">phonelink</i></td>
            <td style="padding:2px; padding-bottom:0px;">Recharge&nbsp;&&nbsp;Bill</td>
            <td style="padding:2px; padding-bottom:0px;">@ViewData["Recharge&bill"]</td>
           

        </tr>
        <tr>
            <td style="padding:2px; padding-bottom:0px;"><i class="material-icons col-blue">account_balance</i></td>
            <td style="padding:2px; padding-bottom:0px;">Financial</td>
            <td style="padding:2px; padding-bottom:0px;">@ViewData["Finaical"]</td>
   

        </tr>
        <tr>
            <td style="padding:2px; padding-bottom:0px;"><i class="material-icons col-green">flight</i></td>
            <td style="padding:2px; padding-bottom:0px;">Travel</td>
            <td style="padding:2px; padding-bottom:0px;">0</td>
 
        </tr>
        <tr>
            <td style="padding:2px; padding-bottom:0px;"><i class="material-icons col-red">card_giftcard</i></td>
            <td style="padding:2px; padding-bottom:0px;">Gift&nbsp;Cards</td>
            <td style="padding:2px; padding-bottom:0px;">0</td>
  
        </tr>
        <tr>
            <td style="padding:2px; padding-bottom:0px;"><i class="material-icons chk-col-teal">shopping_cart</i></td>
            <td style="padding:2px; padding-bottom:0px;">E-Commerce</td>
            <td style="padding:2px; padding-bottom:0px;">0</td>
        </tr>
        <tr>
            <td style="padding:2px; padding-bottom:0px;"><i class="material-icons chk-col-orange" style="color:#673AB7;">live_tv</i></td>
            <td style="padding:2px; padding-bottom:0px;">Dth-Booking</td>
            <td style="padding:2px; padding-bottom:0px;">0</td>
        </tr>
    </tbody>
</table>
