@model Vastwebmulti.Areas.WRetailer.ViewModels.MenuVM
<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                @if (Model != null)
                {
                    <li class="header" id="Catagories_li" style="cursor: pointer;">Catagories</li>
                    foreach (var catagory in Model.lstCatagory)
                    {
                        <li>
                            <a href="javascript:void(0);" class="menu-toggle">
                                @*<i class="material-icons">trending_down</i>*@
                                <span>@catagory.CatName</span>
                            </a>
                            <ul class="ml-menu">
                                @foreach (var subcatagory in Model.subCata.Where(a=>a.CatID == catagory.CatID).ToList())
                                {
                                    <li>
                                        <a href="javascript:void(0);" onclick="getProductBySubCataID(@subcatagory.SubcatID)">
                                            <span>@subcatagory.SubCatagoryName</span>
                                        </a>
                                    </li>
                                }
                                
                            </ul>
                        </li>
                    }

                }
               
            </ul>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <div class="copyright">
                &copy; 2016 - 2017 <a href="javascript:void(0);">AdminBSB - Material Design</a>.
            </div>
            <div class="version">
                <b>Version: </b> 1.0.5
            </div>
        </div>
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->
</section>
