@{
    ViewBag.Title = "viewCart";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}


<section class="content" style="margin: 75px 0px 0 0px;">
    <!-- Product Detailed Description-->
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row" id="cartDetails">
                   @Html.Action("_viewCart")
                </div>
            </div>
        </div>
    </div>
    <!-- END-->
</section>
@using (Ajax.BeginForm("UpdateQTY", "Ecommerce", new AjaxOptions { UpdateTargetId = "cartDetails", InsertionMode = InsertionMode.Replace, LoadingElementId = "loadermoney" }))
{
    <input type="hidden" name="productId" id="productId" />
    <input type="hidden" name="QTY" id="QTY" />
    
    <input type="submit" id="viewCartSubmit" style="display:none;"/>

}
@using (Ajax.BeginForm("RemoveCartItem", "Ecommerce", new AjaxOptions { UpdateTargetId = "cartDetails", InsertionMode = InsertionMode.Replace, LoadingElementId = "loadermoney" }))
{
    <input type="hidden" name="productId" id="removeCartProductId" />
    <input type="submit" id="removeCartSubmit" style="display:none;"/>

}

@Html.Partial("Loder")
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/PageScript/Retailer/viewCart.js"></script>
<script>
    $(function () {
        
    });
</script>


