body {
}
#leftsidebar .legal{background:#fff;}
.api-dash-icon .icon-button-demo a{display:block;text-align:center;}
    .api-dash-icon .icon-button-demo a:hover{text-decoration:none;}
    .api-dash-icon .icon-button-demo .col-xs-4 {margin-bottom: 18px;
    }
.api-dash-icon .nav-tabs > li{width:50%;}
.api-dash-icon .nav-tabs{padding:0px;}
.api-dash-icon .nav-tabs > li > a::before {  display: none;}
    .api-dash-icon .nav-tabs > li.active > a, .api-dash-icon .nav-tabs > li > a:hover, .api-dash-right .nav-tabs li.active > a, .api-dash-right .nav-tabs li> a:hover {
        background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor));
        color: #fff !important;text-decoration:none; }
     .api-dash-icon .nav-tabs > li > a {color:#555 !important;}
     .scroller-news {
        height: 40px;
        line-height: 70pt;
        overflow: hidden;
    }
.scroller-news {
    overflow: hidden;
}
.scroller-news p {
        margin: 0px;
        font-size: 19px;
        color: #000;
        margin-top: -5px ;
        margin-bottom: 5px ;
        width: 100%;
        float: left;
    }
    .scroller-news .inner p:nth-child(1) {
        margin-top: -26px;
    }
    .scroller-news .inner p:nth-child(2) label {
        background: #e3c034 !important;
    }
    .scroller-news .first-ani label {
        font-size: 18px;
        height: 30px;
        float: left;
        position: relative;
        top: 31px;
        padding: 0px 15px;
        font-weight: 400;
        background: green;
        color: #fff;
        
        margin-right: 10px;
    }
    .scroller-news .inner {
        animation: 10s normal infinite running scroll;
    }
        .scroller-news .inner p label span {
            position: relative;
            top: -32px;
        }
@keyframes scroll {
    0% { margin-top: 0px;}
    15% {margin-top: 0px;}
    25% {margin-top: -70pt;}
    40% {margin-top: -70pt;}
    50% {margin-top: -0pt;}
     65% {margin-top: -0pt;}
    75% {margin-top: -70pt;}
    90% {margin-top: -70pt;}
    100% { margin-top: 0px;}
    }
.api-dash-right .nav-tabs li {
    float: left !important;
    width: 33.3% !important;
    border-right: 4px solid #fff;
}
.api-dash-right .nav-tabs li a{color:#555 !important;}
.api-dash-right .nav-tabs li > a i{top:0px !important;font-size:16px !important;}
.api-dash-right .nav-tabs li > a span{top:0px !important;}
.api-dash-right .nav-tabs > li > a::before {display:none;}
.api-dash-right .tab-content{padding:0px;background:#f5f5f5;height:70vh;}
.profile-borders table th {
    border-right: 0 !important;
}
.profile-borders table th, .profile-borders table td {
    padding: 15px 8px;
}
.profile-borders table{width:100%;}
    .profile-borders table td{text-align:right;}
.company-api .list-group-item {
    background-color: transparent;
    border-bottom: 1px solid #ddd;
}
    .company-api .list-group-item:last-child, .company-api .list-group-item:first-child {
        border-bottom: 0px;
    }
    .company-api .list-group {
    border: 1px solid #ddd;
}
.upload-docu .form-group{margin:0px;}
.upload-docu .modal-content {
    box-shadow: none;
    border: 0px;
    background: transparent;
}
.upload-docu .modal-body{padding:0px;}
.upload-docu {
    position: absolute;
    right: 10px;
    top: -23px;
}
.upload-docu button {
    background-color: #fff !important;
    border: 1px solid #acacac !important;
}
    .upload-docu .form-group .form-control {
        height: 32px;
        padding: 5px;
    }
    .upload-docu .modal-dialog {
        width: 550px;
    }
.adrresss-api .list-group-item {
    padding: 6px 15px;
    background: transparent;
    border-bottom: 1px dashed #acacac;
    margin-bottom: 6px;padding-bottom:0px;
}
    .adrresss-api .list-group-item:last-child{margin-bottom:0px;}
    .list-group.adrresss-api {
        border: 1px solid #acacac;border-bottom:0px;
    }
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 30px;
}
.select2-selection.select2-selection--single {
    border-radius: 0px !important;
    height: 32px !important;
    border-color: #ddd !important;
}
.form-iconmy {
    position: absolute;
    z-index: 99;
    top: 0px;
    bottom: 0px;
    padding: 6px 5px;
    border-right: 1px solid #bbb;
}
.form-iconmy  .fa{
    background-color: #fff;
    -webkit-background-clip: text !important;
    -moz-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}
.rechargepdfexal span {
    height: 32px;
    display: inline-block;
    padding: 5px 7px;
}
    .rechargepdfexal span img {
        position: relative;
        left: -3px;
    }
    .rechargepdfexal button span, .rechargepdfexal span input {
        font-size: 13px;
    }
.rechargepdfexal span {
    background-color: #eeebeb;
    border: 1px solid #ccc;
    color: #aaaaaa;
}
.pdfblocks span {
    color: #fff;
}
#successtotal, #Failedtotal, #Pendingtotal {
    width: 60px;
}
    #successtotal p:first-child {
        color: green;
        display: block;
        margin: 0px;
        position: absolute;
        top: -1px;
        left: 10px;
        font-weight: 500;
        font-size: 10px;
    }
    #Failedtotal p:first-child {
        color: #fb483a;
        display: block;
        margin: 0px;
        position: absolute;
        top: -1px;
        left: 15px;
        font-weight: 500;
        font-size: 10px;
    }
    #Pendingtotal p:first-child {
        color: #ff9600;
        display: block;
        margin: 0px;
        position: absolute;
        top: -1px;
        left: 9px;
        font-weight: 500;
        font-size: 10px;
    }
    #successtotal p:last-child, #Failedtotal p:last-child, #Pendingtotal p:last-child {
        color: #000;
        position: absolute;
        top: 10px;
        left: 25px;
        font-size: 16px;
        font-weight: 400;
    }
#leftsidebar{top:76px;}
    #leftsidebar.sidebar .menu .list a span{font-size:14px;}
    #leftsidebar.sidebar .menu .list .for-developer {
        padding: 0px 10px !important;
        background: rgba(0, 0, 0, 0.2);
        border: 0 !important;
        box-shadow: 0 0 1px 0 #000;
        margin: 10px !important;width:86%;
    }
    #leftsidebar.sidebar .menu .list a{padding-left:10px;}
    .api-sub-menu li {
        list-style: none;
    }
.api-sub-menu {padding-left:15px;}
.sidebar .menu .list .api-sub-menu a span {
    margin: 4px 0 4px 12px;
}
.post-api-header h2{margin:0px;font-size:22px;}
.post-api-header {
    background: #a4a0a0;
    width: 98%;
    float: left;
    margin: 0px 1%;
    padding: 10px 0px;
    margin-bottom: 15px;
}



.api-sub-menu li a::before {
    content: '';
    height: 12px;
    position: absolute;
    left: -5px;
    top: 8px;
    background: #fff;
    width: 12px;
}
.api-sub-menu li a.activee::after {
    content: '\2713';
    color: var(--main-bg-lcolor);
    position: absolute;
    left: -4px;
    top: 6px;
    font-weight: 800;
    font-size: 12px;
}
.api-token-sett fieldset {
    border: 2px solid #000;
    padding: 10px 10px 30px 10px;
    background: #f5f5f5;
}
    .api-token-sett fieldset legend {
        color: #000;
        font-size: 17px;
        font-weight: bold;
        border: 0;
        width: auto;
        margin-bottom: 10px;
        padding: 0 5px;
    }
.api-token-sett input {
    width: 90%;
    padding: 2px 15px;
    height: 32px;
    border: 1px solid #bbb;
}
.api-token-sett button {
    height: 32px;
    padding: 3px 20px;color:#fff;border:0px;
}
    .api-token-sett button[disabled]{cursor:not-allowed;}
    .api-token-sett label {
        margin-top: 5px;
        font-size: 16px;
    }
.api-token-sett{margin-bottom:30px;}
.api-doc-in li{list-style:none;}
.api-doc-in, .api-doc-in ul{
    padding-left: 10px;position:relative;
}
.api-doc {
    background: #f5f5f5;
    padding: 25px 5px;
    position: fixed;
    width: 11%;
    height: 82vh;
    border: 3px solid #888484;
    padding-left: 10px;
}
.api-doc-in a {
    font-size: 16px;
}
.api-doc-right {
    background: #f5f5f5;
    padding: 10px 20px;
}
    .api-doc-in a:hover, .api-doc-in a:focus {
        text-decoration: none;
        color: var(--main-bg-lcolor);
    }
    .api-doc-in > li {
        margin-bottom: 10px;
    }
        .api-doc-in > li > ul > li {
            margin: 10px 0px;
        }
    .api-doc-in > li > ul > li a{font-size:14px;}

.api-doc-right .api-doc-right-in:not(:first-child)::before {
    content: "";
    height: 113px;
  display:block;
}

.apiurlouter {
    height: 40px;
}
.apiurl {
    position: fixed;
    width: 88%;
    background: #fff;
    z-index: 9;
    top: 67px;
    box-shadow: 0 2px 4px rgba(0,0,0,.05);
    padding: 5px 10px;
}
    .apiurl a {
        color: var(--main-bg-lcolor);
        padding: 0px 20px;
        border: 1px solid var(--main-bg-lcolor);
        border-radius: 20px;
        font-size: 14px;
        margin: 0px 10px;
    }
.rechargefirst {
    padding-left: 0;
    padding-right: 4px;
    width: 13%;
    float: left;
}
.fundtranfer .card, .fundtranfer .card .form-group {
    margin-bottom: 0;
}
.col-md-3.rechargesecond {
    padding-left: 0;
    padding-right: 4px;
    width: 18%;
}
.col-md-2.rechargefiveclass {
    padding-left: 0;
    padding-right: 4px;
    width: 12%;
}
.col-md-3.rechargethrees {
    padding-left: 0;
    padding-right: 4px;
    width: 23%;
}
.rechargethrees .datesate {
    width: 50%;
    float: left;
    position: relative;
}
    .rechargethrees .datesate #iconmyssee {
        left: 2px;
    }
.form-iconmy {
    position: absolute;
    z-index: 99;
    top: 4px;
    left: 0;
    padding: 8px 7px;
    border-right: 1px solid #ddd;
}
.rechargethrees .datesate input, .rechargethrees .datesate input#txt_to_date {
    margin: 0 !important;
}
.col-md-2.rechargefive {
    width: 10%;
    padding: 0;
}
.datesatese {
    padding-left: 3.5px;
}
.col-md-2.rechargefive button {
    background: transparent !important;
    width: 100%;
    border-color: #ccc !important;
}


.rechargepdfexal {
    width: 23%;
    float: right;
    padding: 0;
}
    .rechargepdfexal span {
        height: 32px !important;
        display: inline-block;
        padding: 5px 7px;
    }

    .rechargepdfexal span, .rechargepdfexal button {
        background-color: #eeebeb !important;
        border: 1px solid #ccc !important;
        color: #aaaaaa !important;
    }
        .rechargepdfexal span img {
            position: relative;
            left: -3px;
        }
        .rechargepdfexal button span, .rechargepdfexal span input {
            font-size: 13px !important;
        }
    .rechargepdfexal button {
        margin-left: 0 !important;
        margin-top: -1px;
    }
#pdfblock .pdfblocks {
    position: absolute;
    background: #eeebeb;
    border: 1px solid #ccc;
    left: auto;
    top: -1px;
    padding: 5px 9px;
    right: 0px
}
.rechargepdfexal input {
    padding: 0 !important;
    height: auto !important;
    border: 0 !important;
    background: transparent !important;
}
.rechargepdfexal button span {
    height: auto !important;
    display: inline-block;
    padding: 0;
    border: 0 !important;
}
.recharge-responsive tr td img {
    border-radius: 50%;
    padding: 2px 3px;
    padding-left: 3px;
    padding-left: 3px;
    height: 17px !important;
    width: 17px !important;
    float: left;
    margin-right: 2px;
    padding-left: 3px !important;
}
.table-bordered tbody tr td.noExlss button {
    float: left;
    margin: 0px;
}
.table-bordered thead tr th {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.sure-newadd {
    background: red !important;
    margin: 0; color: #fff;
    font-size: 12px;
    padding: 3px 3px;
}