/*Custom-style.css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
:root {
    --main-bg-lcolor: #00baf2;
    --main-bg-rcolor: #0f4a8a;
    --main-front-bg-lcolor: #ff7e97;
    --main-front-bg-rcolor: #f7d584;
}
.fullbodydycolorbg {
    background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;
}
    img{max-width:100%;}
ul{margin:0;padding:0;}
li{list-style:none;}
/*===========  float left style start  ==============*/
.main_menu_bg .navbar-default, section, .carousel-inner img, #PRODUCTS img, .portfolio .grid-item1, #PRODUCTS .grid1, .bottom-cards, #CONTACTUS .contact_contant,
.Login_body .tabdiv, .Login_body #fristimage, .Login_body .span5, .Login_body .resp-tabs-container, .Login_body .resp-tabs-list, .navbar-fixed-top {
    float: left;
}
/*============  float left style end  ===============*/
/*===========  width 100 style start  =============*/
.main_menu_bg .navbar-default, section, .carousel-inner img, #PRODUCTS img, .portfolio .grid-item1, #PRODUCTS .grid1, .bottom-cards, #CONTACTUS .contact_contant,
.Login_body .tabdiv, .Login_body #fristimage, .Login_body .span5, .Login_body .resp-tabs-container, .Login_body .resp-tabs-list, .navbar-fixed-top {
    width: 100%;
}
/*============  width 100 style end  ==============*/
/*============  Header Style Start  =============*/
/**/
/*.navbar-fixed-top{background:#464646;}*/
.main_menu_bg .navbar-nav > li > a{font-size:14px !important;}
.site-logo img{max-width:114px;}
/**/
/*.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .main_footer ul li a:hover{
    color: #ff7575 !important;
}*/
/*.main_menu_bg .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ff7575 !important;
    border-color: #ff7575 !important;
}*/
/*==========  header style end  =============*/
/**/
/*===========  Index1  Style Start  ===================*/
.carousel-indicators li {
    height: 15px;
    width: 15px;
    border: 3px solid #ff0380;
}
.carousel-indicators .active {
    height: 15px;
    width: 15px;
    background-color: #e87333;
}
.Header-section {
    -webkit-transition: all 0.5s ease;
    -moz-transition: position 10s;
    -ms-transition: position 10s;
    -o-transition: position 10s;
    transition: all 0.5s ease;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index:99999;
    animation: smoothScroll 1s forwards;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
    }
}
#ABOUT h3, #SERVICES h2, #PRODUCTS h2, #CARDS h2, .travel-about h2, #CONTACTUS h2, #WORKS h3, #WHYCHOOSEUS h3 {
    color: #000;
    font-size: calc(14px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 600;
    position: relative;
}
#footer .custom-control-font .footer-social li {
    background: #fff;
    margin-bottom: 5px;
    padding: 17px;
    margin-top: 2px;
}
#WHYCHOOSEUS .separator2{
    width:130px;
    background:var(--main-bg-lcolor);
}
#WHYCHOOSEUS h4 {
    font-size: 16px;
    color: var(--main-bg-lcolor);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px 10px;
    margin-top: 5px;
}
.why-choose-border {
    border-left: 4px solid var(--main-bg-lcolor);
    padding: 5px;
    overflow: hidden;
    margin: 20px 0px;
    min-height: 416px;
    transition: .4s linear;
    border-top: 4px solid var(--main-bg-lcolor);
    border-right: 4px solid var(--main-bg-rcolor);
    border-bottom: 4px solid var(--main-bg-rcolor);
}
    .why-choose-border:hover {
        box-shadow: 0px 13px 7px 0px #ccc;
    }
    .why-choose-border p {
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }
    #WORKS .separator2 {
        width: 130px;
    }
#WORKS .main_testimonial .item p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
 #SERVICES h2::after, #PRODUCTS h2::after, #CARDS h2::after, .travel-about h2::after, #CONTACTUS h2::after {
    content: "";
    background: var(--main-bg-lcolor);
    height: 3px;
    width: 130px;
    position: absolute;
    left: 0;
    bottom: -4px;
}
.about-us-image {
    background: #f5f5f5;
    width: 400px;
    height: 400px;
    margin: auto;
    border-radius: 50%;
}
#ABOUT .single_about_right_content {
    height: 400px;
    padding: 56px 20px;
 
   
}
    #ABOUT .single_about_right_content::after {
        content: '';
        background: #f5f5f5;
        width: 300px;
        height: 400px;
        display: block;
        position: absolute;
      
        left: 105px;
        transform: rotate(-41deg);
        border-radius: 10px;
        top: 192px;
    }
    #ABOUT .single_about_right_content::before {
        content: '';
        background: var(--main-bg-lcolor);
        width: 300px;
        height: 400px;
        display: block;
        position: absolute;
    
        right: -51px;
        transform: rotate(-41deg);
        border-radius: 10px;
    }
        #SERVICES, #PRODUCTS, .travel-about, #CARDS {
    margin-bottom: 40px;
}
        #SERVICES h2, #PRODUCTS h2, .travel-about h2, #CONTACTUS h2 {
            display: inline-block;
            margin-bottom: 50px;
        }
        #CARDS h2 {
            margin-bottom: 20px;
            margin-top: 30px;
        }
.gift-card-bottom a {
    border: 1px solid #bbb;
    color: #000;
    padding: 3px 10px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    transition: .4s linear;
    border-radius: 5px;
    background: #f5f5f5;
    margin-right: 6px;
}
    .gift-card-bottom a:hover{
        background:#fff;
        color:var(--main-bg-rcolor);
    }
.footer-news {
    background: #fff;
    width: 100%;
    height: 247px;
    font-size: 14px;
    color: #000;
    border-bottom: 5px solid #fff;
    margin-bottom: 5px;
}
.full-address {
    margin: 0px;
}
.footer-phone a {
    font-size: 22px;
}
.footer-phone h4 {
    margin-bottom: 5px;
}
.footer-phone {
    border-bottom: 1px solid #fff;
}
.full-address .footer-phone:last-child {
    border-bottom: 0px;
}
.footer-news .help, .footer-news .news {
    font-size: 18px;
    display: block;
    margin: 0px;
    margin-right: 0px;
    line-height: 19px;
    background: var(--main-bg-rcolor);
    padding: 2px 0px;
    color: #fff;
    width: 98%;
    text-align: center;
    margin: auto;
    box-shadow: 0px 0px 2px #000;
    margin-bottom: 10px;
}
        
            .footer-news .carousel-inner .item{
                padding:6px;
            }
.item-two-2 {
    animation: fade2 8s infinite;
    -webkit-animation: fade2 20s infinite;
    position: absolute;
    top: 10px;
    width:100%;
}
.item-one-1 {
    animation: fade 8s infinite;
    -webkit-animation: fade 20s infinite;
    position: absolute;
    top: 10px;width:100%;
}
@keyframes fade {
    0% { opacity: 1 }
50% {opacity: 0 }
75% { opacity: 0}
100% {opacity: 0}
}

@keyframes fade2 {
    0% { opacity: 0 }
50% { opacity: 0 }
75% {opacity: 1 }
100% { opacity: 0}
}
.footer-service li {
    float: none;
    display: inline-block;
    margin-right: 8px;
}
.footer-service > li {
    border-bottom: 2px dotted #fff;
    width: 100%;
}
    .footer-service > li:last-child{border-bottom:0px;}
    .footer-service ul {
        margin-top: 0px;
    }
.right_menu.list-inline li {
    margin-right: 20px;
}
.term-pop {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background: rgba(0,0,0,.7);
    z-index: 9;
}
.term-pop-in {
    position: absolute;
    width: 46%;
    background: #fff;
    height: 100vh;
    top: 80px;
    right: 0px;padding:10px 20px;
}
.main_testimonial.sections.text-center {
    height: 526px;
}
.term-pop-close {
    position: absolute;
    right: 20px;
    font-size: 24px;
    line-height: 30px;
    opacity: .4;cursor:pointer;top:13px;
}
.help-foot-head {
    font-size: 20px;
    border-bottom: 3px solid var(--main-bg-lcolor);
}
.footer-service h5 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 0px;
    line-height: 20px;
    margin-top: 15px;
}
.footer-service {
    margin: 0px;
}
.footer-news .help + span, .footer-news .news + span {
    display: block;
    color: #555;
    width: 98%;
    margin: auto;
    text-align: justify;
    font-size: 16px;
    line-height: 26px;
}
.footer-social {
    width: 100%;
    float: left;
    margin: 0px;
    margin-top: 2px;
}
    .footer-social li {
        width: 23.5%;
        float: left;
        text-align: center;
        margin-right: 2%;
    }
        .footer-social li a {
            width: 100%;
            float: left;
            padding: 0px;
            background: #fff;
        }
        .footer-social li:nth-child(4n), .footer-social.badges-footer li:nth-child(3n) {
            margin-right: 0px;
        }
    .footer-social.badges-footer li {
        width: 31%;
    }
        .footer-social.badges-footer li:nth-child(4n) {
            margin-right: 2%;
        }
        .footer-news .news {
            background: var(--main-bg-lcolor);
        }
.footer-news .help::after, .footer-news .news:after {
    content: '';
   
    width: 100%;
    height: 2px;
    display: block;
    position: relative;
    bottom: -10px;
    left: 0px;
}
    .footer-news .news:after {
       border-color: var(--main-bg-lcolor);
    }
#CARDS .item img {
    width: 150px;
    margin: auto;
}
.gift-card-slide {
    border-radius: 0px 30px 0px 30px;
    background: #f5f5f5;
    width: 100%;
    float: left;
    padding: 0 10px 0px 10px !important;
}
.app-design-first {
    position: relative;
    overflow: hidden;
    height: 375px
}
.app-design-first-before {
    
    width: 474px;
    height: 314px;
    background: #f5f5f5;
    display: inline-block;
    position: absolute;
    transform: rotate(-16deg);
    border-radius: 30px;
    left: -75px;
    z-index: 1;
    top: -25px;
}
.app-design-third {
    width: 600px;
    height: 348px;
    background: #f5f5f5;
    display: inline-block;
    position: absolute;
    transform: rotate(12deg);
    border-radius: 30px;
    left: 105px;
    z-index: 1;
    top: auto;
    bottom: 5px;    
}
#our-app {
    margin: 40px 0px;
}
.travel-service-image {
    border-radius: 50%;
    height: 360px;
    width: 360px;
    margin-left: 13px;
    margin-Right: 13px;
}
    .app-design-image{
    position:relative;
    overflow:hidden;
    height:480px;
}
.travel-border {
    margin: 0px 15px;
    background: #f5f5f5;
    width: 90%;
    margin-left: 10%;
    border-radius: 296px 0px 0px 296px;
    padding: 20px 0px;
}
.single_about_left_img img {
    margin-top: 45px;
}
.travel-border-flight {
    margin: 0px 15px;
    background: #f5f5f5;
    width: 90%;
    border-radius: 0px 296px 296px 0px;
    padding: 20px 0px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.app-design-image-first {
    height: 480px;
    width: 320px;
    border-radius: 35px;
    position: relative;
    z-index: 4;
    right: -178px;
}
.app-design-image-top {
    position: absolute;
    top: 50px;
    left: 20px;
    background: #fff;
    border-radius: 10px;
    width: calc(100% - 40px);
    height: calc(100% - 100px);
}
    .app-design-image-top::before {
        content: '';
        background: #fff;
        width: 175px;
        height: 20px;
        display: block;
        position: absolute;
        top: -33px;
        left: 30px;
        border-radius: 30px;
    }
    .app-design-image-top::after {
        content: '';
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 50%;
        display: block;
        right: 38px;
        top: -34px;
        position: absolute;
    }
.app-design-image-button::before {
    content: '';
    background: #fff;
    width: 95px;
    height: 24px;
    display: block;
    position: absolute;
    bottom: 12px;
    left: 40px;
    border-radius: 15px;
}
.app-design-image-button::after {
    content: '';
    background: #fff;
    width: 95px;
    height: 24px;
    display: block;
    position: absolute;
    bottom: 12px;
    right: 40px;
    border-radius: 15px;
}
.app-design-first-after {
    content: '';
    width: 469px;
    height: 343px;
    background: var(--main-bg-rcolor);
    display: inline-block;
    position: absolute;
    z-index: 2;
    border-radius: 30px;
    left: -86px;
    top: -68px;
    transform: rotate(10deg);
}
.app-design-first span {
    position: absolute;
    z-index: 3;
    font-size: 50px;
    width: 351px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    top: 77px;
    font-family: 'Roboto', sans-serif;
}
.app-design-second p {
    font-size: 16px;
    color: #000;
}
.app-design-second{
    text-align:center;
}
    .app-design-second a {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        padding: 7px 30px;
        border-radius: 35px;
    }
    .gift-card-bottom p {
        color: #000;
        padding: 5px 8px;
        font-size: 18px;
    }
.gift-card-slide h3 {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 600;
}
#CARDS .item {
    background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;
    padding: 20px 0px;
}
.gift-card-bottom {
    width: 100%;
    float: left;
    margin-top: 10px;
}
#TRAVEL {
  
    padding: 20px 0px;
}

#SERVICES h2::after, #PRODUCTS h2::after, #CARDS h2::after, .travel-about h2::after, #CONTACTUS h2::after {
    position: static;
    margin: auto;
    display: block;
}
        #SERVICES h3, #PRODUCTS h3 {
            font-size: calc(14px + (25 - 14) * ((100vw - 300px) / (1600 - 300)));
            color: var(--main-bg-lcolor);
            display: block;
            margin: 10px 0 10px;
            display: inline-block;
            text-transform: capitalize;
            font-weight: 400;
            font-family: 'Roboto', sans-serif;
        }
#SERVICES .info h3{color:#fff;}
#TRAVEL p {
    font-size: 18px;
    color: #000;
    line-height: 26px;
    text-align: justify;
}
.main_testimonial #quote-carousel p {
    text-align: justify;
    font-size: 16px !important;
    color: #fff;
    line-height: 28px;
}
#SERVICES .ih-item.circle {
    width: 190px;
    height: 190px;
}
#SERVICES .main_service_content .row {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}
#SERVICES p, #PRODUCTS p {
    font-size: 14px;
    color: #000;
    padding: 0px 10px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
}
  #SERVICES p{margin-bottom:20px;}
#PRODUCTS p {
    padding: 0 10px;
    min-height: 120px;
    line-height: 21px;
}
#ABOUT p {
    font-weight: bold;
    color: #000;
    font-size: 13px;
}
#ABOUT ul{padding-left:10px !important;}
#ABOUT ul li p{font-size:15px;color:#000;font-weight:400;}
.portfolio .grid-item1{overflow:hidden;}
#PRODUCTS .grid1 {
    margin-bottom: 40px;
    padding-bottom: 30px;
    border:1px solid #ccc;
    margin-top: 16px;
    transition:.4s linear;
}
#PRODUCTS .grid1:hover {
    box-shadow: 0px 13px 7px 0px #ccc;
}
    .bottom-cards .item {
        float: left;
        width: 20%;
        padding: 0 7px;
    }
.bottom-cards p {
    color: #000;
    float: left;
    font-size: 13px;
    margin: 7px 0;
}
#CONTACTUS {
    background-color: #fff;
    padding: 50px 0;
}
    #CONTACTUS h4 {
        font-size: 14px;
        color: #000;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
    }
    #CONTACTUS .btn-primary {
        background-color: #000;
        border-color: #000;
        margin-top: 3px;
        transition: .3s linear;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 3px;
    }
    #CONTACTUS .btn-primary:hover {
        background-color: #fff;
        color:#000;
    }
    #CONTACTUS .form-right p {
        color: #fff;
        font-weight: 600;
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
        float: left;
        width: calc(100% - 50px);
    }
     #CONTACTUS .form-right i{margin-right:10px;font-size:20px;color:#fff;float:left;width:20px;}
    #CONTACTUS .form-right ul{padding:0 !important;float:left;width:100%;}
    #CONTACTUS .form-right ul li{float:left;width:100%;}
    #CONTACTUS .form-right span{display:block;padding:8px 0;font-weight:400;}
    #CONTACTUS .contact_contant {
        padding: 40px 20px 40px;
    }
    #CONTACTUS .form-right h3{color:#fff;font-weight:600;position:relative;}
     #CONTACTUS .form-right h3::after{
         content:"";
         background-color:#ff7575;
         height:2px;
         position:absolute;
         width:100px;
        bottom:0px;
         left:0;
     }
    #CONTACTUS .form-control{border-radius:0;}
    #CONTACTUS input:focus, #CONTACTUS .form-control:focus {
        border-color: #464646;
    }
#mixedSlider .MS-content .item .imgTitle img{float:left;wisth:100%;}
.navbar-fixed-top{padding-right:20px !important;padding-left:20px !important;}
.single_about_left_img {
   margin:auto;
    width: 82%;
    padding: 20px;
}
#carousel .owl-nav {
    display: none;
}
#WORKS blockquote .row{display:flex;flex-wrap:wrap;}
    #WORKS blockquote .row .col-md-4{border:8px solid #fff;padding:20px;}
        #WORKS blockquote .row .col-md-4 img{float:none;margin:auto;}
        #carousel .item {
            height: 460px;
            align-items: center;
            display: grid;
        }
#carousel .owl-item img {
    vertical-align: middle;
    display: table-cell;
}
#SERVICES center {
    border: 5px solid #3110b51c;
    min-height: 345px;
    margin-bottom: 25px;
    padding-top: 15px;
    transition: .4s linear;
}
    #SERVICES center:hover {
        box-shadow: 0px 13px 7px 0px #ccc;
    }
    #TRAVEL .main_about_content .row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
#TRAVEL p::first-letter {
    font-size: 30px;
    font-weight: bold;
    color: var(--main-bg-lcolor);
}



#CONTACTUS .row.contant-kk-row {
    display: flex;
    flex-wrap: wrap;
}
/*===========  Index1  Style  End  ===================*/
/**/
/**/
/*=================================    Login Page style Start    ===============================*/
.Login_body {
    padding-top: 20px;
}
    .Login_body .footer p {
        color: #000;
        margin-top: 10px;
    }
    .Login_body .gg {
        height: 530px;
        padding: 30px;
    }
    .Login_body .resp-tabs-container img {
        max-width: 190px;
        max-height: 190px;
    }
    .Login_body .resp-tabs-list {
       
        margin-top: 15px;
        margin-bottom: 24px;
        height: 45px;
    }
  .Login_body .resp-tabs-list p {
        color: #fff;
        text-transform: uppercase;
        margin: 0;
        font-size:20px;
        }
 .Login_body button{border:0;height:100%;line-height:normal;font-size:20px;text-transform:uppercase;}
.Login_body .form-control:focus{box-shadow:none;border-color:#464646;}
.Login_body select.form-control:not([size]):not([multiple]){height:35px;border-radius:0;padding:0 4px;font-size:14px;}
    .Login_body .resp-tabs-container.Have-A-Nice-Day {
        padding-top: 25%;
    }
.Login_body .resp-tabs-container p{
    font-size:20px;
    padding-top:20px;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
}
    .Login_body .row.gg .gg-item {
        background: #fff;
        border: 18px solid #ddd;
        position:relative;
    }
        .Login_body .row.gg .gg-item #fristimage .text-center, .Login_body .row.gg .gg-item #secondimage .text-center {
            position: static;
        }


 .Login_body .tabdiv{padding:7px 0;}
.Login_body .login-bottom{margin:4px 0;margin-top:0px;}
.Login_body .login-top input[type="submit"]{padding:10px 0;}
    .Login_body .login-top .form-control::placeholder{
        font-size:14px;
    }
.Login_body .container{width:980px;}
    .Login_body .resp-tab-active {
        border-bottom: 2px solid var(--main-bg-lcolor);
        color: #000;
        outline: 0px;
    }
    .Login_body .login-top input[type="submit"]:hover {
        background: #000 !important;
       
    }
/*==================================   Login Page Style End  ==================================*/
/**/
/*===============  footer Style Start  =================*/
#footer {
    padding: 50px 20px 0;
}
#footer ul{padding:0 !important;}
#footer ul li{font-size:13px;color:#fff;padding:3px 0;}
/*.bottom-footer {
    background-color: #464646;
}*/
    #footer h3 {
        font-size: 15px;
        font-weight: 700;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        border-bottom: 2px solid #fff;
    }
    #footer .for-fotter-b {
        border: 5px solid #fff;
        height: 450px;
        margin-top: 10px;padding:10px;
    }
.custom-control-font ul li a {
    color: #fff !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold;
}
#footer .custom-control-font ul li {
    color: #fff !important;
    font-family: 'Open Sans', sans-serif;
}
.navbar-default .custom-control-font .navbar-nav > li > a:hover, 
.navbar-default .custom-control-font .navbar-nav > li > a:focus {
    color:#000 !important;
}

    .main_footer {
    padding: 30px;
}
.main_footer ul{margin:0;}
.main_footer ul li{float:left;margin:0 5px;}
    .main_footer ul li a {
        color: #fff;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
    }
 .main_footer p{color:#fff;font-weight:600;}
/*BOTTOM TO - TOP*/

.scrollup {
    font-size: 20px;
    /*border: 1px solid #e87333;*/
    text-align: center;
    padding: 6px;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 50px;
    right: 30px;
    cursor: pointer;
    opacity: 1;
    border-radius: 50%;
    z-index: 9999;
}
#footer .form-control::placeholder, .footer_subcribs_area .flowus a i {
    color: #fff;
}
.footer_subcribs_area .form-control, .footer_subcribs_area .flowus a i {
    border-color: #fff;
}
.footer_subcribs_area .submit_btn{background:#fff;float:right;}
/*===========  footer Style end  =============*/
/*==============================   Site Responsive    =====================================*/
@media only screen and (max-width:1350px) {
    .full-address .footer-phone:nth-child(2) a{font-size:17px !important;}
    .footer-service > li ul li {
        padding: 0px !important;
    }
    .footer-service > li h5 {
        font-size: 16px !important;
        font-weight: 600;
        margin-top: 10px;
    }
    .footer-service > li {
        margin-right: 0px;
        padding: 0px !important;
    }
    .footer-phone h4{font-size:16px !important;}



}





    @media only screen and (max-width:1192px) {
        .Login_body .container {
            max-width: 1117px;
        }

        .Login_body .resp-tabs-list p, .Login_body button {
            font-size: 18px;
        }

        .Login_body .resp-tabs-list {
            height: 50px;
        }
    }



    @media only screen and (max-width:768px) {
        .navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
            display: none;
        }

        .navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(3) {
            transform: rotate(45deg);
        }

        .navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(4) {
            transform: rotate(-45deg);
            margin-top: -2px;
        }


        #CARDS #quote-carousel {
            width: 49%;
        }
        #CARDS .row .col-md-3:nth-child(2n) #quote-carousel {
            margin-left: 2%;
        }
        #footer .for-fotter-b {
            width: 100%;
            float: left;height:auto;
        }
        .main_testimonial.sections.text-center {
            height: 788px;
        }
            .navbar-default .navbar-collapse {
            background-color: transparent;
        }

        .testimonial #quote-carousel {
            padding: 0 10px 50px 10px;
        }

        .travel-border .col-md-6.col-xs-12, .travel-border-flight .col-md-6.col-xs-12 {
            width: 100% !important;
        }

        .testimonial .carousel-control > .fa.fa-chevron-circle-left {
            left: 44px;
        }

        .main_testimonial.sections.text-center {
            padding-bottom: 0px !important;
        }

        .testimonial .carousel-control > .fa.fa-chevron-circle-right {
            right: 35px;
        }

        .testimonial #quote-carousel .col-md-4 .img-responsive {
            margin: auto;
            float: none;
            margin-bottom: 10px;
        }

        .testimonial #quote-carousel .col-md-4, .testimonial #quote-carousel .col-md-6 {
            width: 100%;
            float: left;
        }

        .why-choose-border img {
            margin: auto;
        }

        .app-design-first-after, .app-design-first-before {
            width: 100%;
        }

        .app-design-first span {
            left: 50%;
            top: 34%;
            transform: translate(-50%,-50%);
        }

        .app-design-image {
            margin-top: 20px;
        }

        .why-choose-border {
            height: auto;
            padding-bottom: 30px;
        }

        .travel-border, .travel-border-flight {
            width: 98%;
            margin-left: 2%;
            border-radius: 20px;
        }

        .travel-service-image {
            margin: auto;
            float: none !important;
        }

        .travel-border-flight {
            display: flex;
            flex-wrap: wrap;
        }

            .travel-border-flight .col-md-6.col-xs-12.wow.bounceInUp {
                order: 1;
            }

        .gift-card-slide {
            height: auto;
        }

        #ABOUT h3 {
            margin-top: 40px;
        }

        #ABOUT .main_about_area.sections {
            padding-bottom: 0 !important;
            padding-top: 0px !important;
        }

        #PRODUCTS p {
            min-height: auto;
        }

        .navbar-default .navbar-toggle {
            border-radius: 0;
        }
            .for-mobile-log{display:block !important;float:right;}
                .for-mobile-log a {
                    color: #fff;
                    font-weight: 600;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 16px;
                }
        .navbar-fixed-top {
            padding: 12px 20px 0px 0px !important;
        }
        #footer .custom-control-font {
            margin-top: 15px;
        }
        #footer .custom-control-font h3{margin-bottom:3px;}

        .navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
            /*background-color: #ff7575;
                border-color: #ff7575;*/
            background-color: #fff;
            border-color: #fff;
            display: none;
        }

                .navbar-default .navbar-toggle .icon-bar {
                    background-color: #464646;
                }

        .Login_body .resp-tabs-container.Have-A-Nice-Day {
            padding-top: 4%;
        }

        .Login_body .gg, .Login_body .resp-tabs-list {
            height: auto;
        }

        .Login_body select.form-control:not([size]):not([multiple]) {
            margin-bottom: 12px;
        }

        .Login_body .login-top {
            padding-bottom: 20px;
        }

        .Login_body .border-md {
            margin-bottom: 10px;
        }

        .Login_body .gg {
            padding: 10px 10px 0;
        }

            .Login_body .gg .col-md-6.border-md:first-child {
                border-right: 0;display:none;
            }
        .Login_body .container {
            max-width: 500px;
        }
    }

    @media only screen and (max-width:567px) {
        .Login_body .container {
            max-width: 346px;
        }
        .main_testimonial #quote-carousel p {
            font-size: 14px !important;
            line-height: 20px;
        }
        .why-choose-border p {
            line-height: 18px;
        }
        .app-design-image-first{margin:auto;}
        #SERVICES, #PRODUCTS, .travel-about, #CARDS {
            margin-bottom: 20px;
        }
            #CARDS #quote-carousel {
                width: 100%;
            }
            #CARDS .row .col-md-3:nth-child(2n) #quote-carousel {
                margin-left: 0px;
            }

        .app-design-first-after {
            left: -19px;
        }

        .app-design-first-before {
            left: -38px;
        }

        .app-design-image-first {
            right: 0px;
        }

        .travel-service-image {
            height: 315px;
            width: 315px;
        }

        #ABOUT .main_about_area.sections {
            padding-top: 0px !important;
        }

        #CONTACTUS .form-right p {
            font-size: 13px;
        }

        .about-us-image {
            width: 250px;
            height: 250px;
        }

        .single_about_left_img {
            padding: 8px;
        }

        .testimonial #quote-carousel .col-md-4 .img-responsive {
            height: auto !important;
        }

        #CONTACTUS .form-group {
            margin-top: 0;
            margin-bottom: 9px;
        }

        #SERVICES h2, #PRODUCTS h2, #CARDS h2, .travel-about h2, #CONTACTUS h2 {
            margin-bottom: 25px;
        }

        .bottom-cards .item {
            width: 100%;
            margin-bottom: 10px;
        }

        .site-logo img {
            max-width: 85px;
        }

        .navbar-fixed-top {
            padding: 10px 17px 0px 0px !important;
        }

        .navbar-default .navbar-toggle {
            padding: 10px;
            margin-right: 20px;
        }

        .Login_body .resp-tabs-list p, .Login_body button {
            font-size: 12px;
        }

        .Login_body .tabdiv {
            padding: 8px 0 !important;
        }

        .Login_body .login-top {
            padding: 0;
            padding-bottom: 10px;
        }

        .form-control::placeholder, .Login_body select.form-control:not([size]):not([multiple]) {
            font-size: 12px;
            color: #000;
        }

        .login-top input[type="text"], .login-top input[type="email"], .login-top input[type="password"], .Login_body select.form-control:not([size]):not([multiple]) {
            height: 35px;
        }

        .Login_body .login-bottom a {
            float: left;
            color: blue;
            margin-bottom: 10px;
        }

        .Login_body .login-top input[type="submit"] {
            padding: 8px 4px;
        }

        .ih-item.circle .img, #SERVICES .ih-item.circle {
            display: block;
            width: 165px;
            height: 165px;
            margin-top: 10px;
        }

        #SERVICES .main_service_content .row {
            margin-bottom: 0;
        }

        #SERVICES center {
            min-height: auto;
            padding-bottom: 10px;
            margin-bottom: 12px;
        }

        #CONTACTUS .form-right h3 {
            margin-top: 15px;
        }

        #mixedSlider .MS-content .item .imgTitle img {
            width: 100%;
        }
    }

