

.kklo.money-transfer-admin #custnav ul li {
    width: auto;float: left;padding-right: 8px;margin: 0px !important;float: left !important;
}
.kklo.money-transfer-admin #custnav ul li a {padding: 4px 8px !important;}
.kklo.money-transfer-admin #custnav ul li a {
    width: 100%;float: left;display: flex;text-align: center;justify-content: center;
    background: var(--nav-tab-bg);border: 1px solid var(--main-bg-rcolor) !important;position: relative;color:#000;
}
.kklo.money-transfer-admin #custnav ul li a.activee {color:#fff;}
.kklo.money-transfer-admin #custnav ul li a img {margin-top: 0;}
.kklo.money-transfer-admin #custnav ul li a img.reportblock {display: none;}
.kklo.money-transfer-admin #custnav ul li a.activee img.reportblock {display: block;}
.kklo.money-transfer-admin #custnav ul li:last-child {padding-right: 0px;}
.kklo.money-transfer-admin #custnav ul {
    width: 100% !important;float: left;margin-bottom: 15px;overflow: inherit !important;
}
.kklo.money-transfer-admin #custnav ul li a.activee {background:var(--main-bg-lcolor) !important;}
.kklo.money-transfer-admin #custnav ul li a.activee::before {
    content: "";display: block;width: 10px;height: 10px;position: absolute;
    background: var(--main-bg-lcolor);border: 1px solid var(--main-bg-lcolor) !important;
    border-left: 0;bottom: -4px;border-top: 0;transform: rotate(45deg);text-align: center;
    margin: 0px auto;left: 0;right: 0;transition: .4s linear;z-index: 9;
}

.kklo.money-transfer-admin #custnav ul li a.activee {
    z-index: 9;
}

/*Financial-Report-CSS-Start*/

.allpagefinincal-report .responcive-fify {
    width: 10% !important;float: left;margin: 0 !important;padding-right: 3px !important;
}
.allpagefinincal-report .responcive-fify .btn-group.bootstrap-select.form-control {height: auto !important;}
.inputiconsateall {float: left;width: 50%;}
.allpagefinincal-report .inputiconsateall input {
    width: 100% !important;border-color: #e1dcdc !important;
}
.inputiconsateall .custom-date-icon {
    border-color: #e1dcdc !important;display: grid;align-items: center;text-align: center;
}
.inputiconsateall .custom-date-icon i {position: static !important;}
.nrr3.inputiconsateall .custom-date-icon {left: 2px;}
.allpagefinincal-report .reportdate-money-allpage {width: 20%;float: left;}
.allpagefinincal-report .respon-third-button button {width: 100%;float: left;}
.allpagefinincal-report .responcive-fify button {border-color: #e1dcdc !important;}
.allpagefinincal-report .respon-third-button {
    padding-left: 3px !important;width: 9% !important;padding-right:0px !important;
}
.allpagefinincal-report .pdfadmin-allpageclass {width: auto !important;float: right;padding-right: 0 !important;}
.allpagefinincal-report .pdfadmin-allpageclass .row {
    margin: 0;
}
.allpagefinincal-report .pdfadmin-allpageclass .form-group {width: 100%;float: left;margin: 0;}
.allpagefinincal-report .pdfadmin-allpageclass .form-group .web-white-filter {padding-right: 0 !important;}
.allpagefinincal-report .responcive-fify .select2-selection.select2-selection--single {
    border-color: #e1dcdc !important;margin: 0;
}
.allpagefinincal-report .respon-third-button button span {display: inline-block !important;}

/*Financial-Report-CSS-END!*/





@media screen and (max-width:766px) {
    .kklo.money-transfer-admin #custnav ul {display: block !important;}
    .kklo.money-transfer-admin #custnav ul li {width: 33% !important;margin-bottom: 15px !important;}
    .kklo.money-transfer-admin #custnav ul li a img {width: 14px !important;}
    .kklo.money-transfer-admin #custnav ul li a {
         padding-left: 0px !important;padding-right: 0px !important;
    }
    .kklo.money-transfer-admin #custnav ul {margin-top: 10px;margin-bottom:0px !important;}
    .allpagefinincal-report .responcive-fify {width: 50% !important;margin-bottom: 10px !important;}
    .allpagefinincal-report .responcive-fify-search {width: auto !important;padding: 0 !important;}
    .moneytransferreport-admin .pploh.fin3.responcive-fify {
        width: auto !important;position: static !important;float: right !important;
    }
    .allpagefinincal-report .pdfadmin-allpageclass {position: static !important;float: right !important;}

   
}

@media screen and (max-width:480px){
    .allpagefinincal-report .responcive-fify-search, .allpagefinincal-report .col-md-1.responcive-fify-search {
        width: auto !important;
    }
}

