*{
    box-sizing:border-box;
}



:root {
    --main-bg-lcolor: #00baf2;
    --main-bg-rcolor: #0f4a8a;
    --border-color: #cfcfcf;
    --second-bg-color: #eaeaea;
    --nav-tab-bg: #d2d0d0;
    --main-front-bg-lcolor: #ff7e97;
    --main-front-bg-rcolor: #f7d584;
}

.fullbodydycolorbg{
    background-image:linear-gradient(to right , var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;
}
.fulltextbodycolor{
    -webkit-background-clip: text !important;
    -moz-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}
.alagimgwithlinear {
    background: url('../../ashok-images/03.png'), linear-gradient(to right,var(--main-bg-lcolor), var(--main-bg-rcolor));
    
}