
.new design .fullbodydycolorbg {
    background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;
}

.new-design .navbar.tmw-layoutht.fullbodydycolorbg {
    border-radius: 0px 25px 0px 25px;
}

.new-design .btn-circle {
    border-radius: 15px 0px 15px 0px;
}

    .new-design .btn-circle:hover {
        background: var(--main-bg-lcolor) !important;
        transition: all 2s;
    }     

.new-design .info-box-4.hover-zoom-effect {
    border-radius: 15px 0px 15px 0px;
    background: var(--main-bg-lcolor) !important;
}


.new-design .icon {
    border-radius: 25px 0px 0px 0px;
    padding: 6px 4px 6px 4px;
    margin-top: 0px !important;
    position: absolute !important;
    top: 0px !important;
    text-align: center !important;
    margin-right: -11px;
    background-image: linear-gradient(to right, var(--main-bg-rcolor), var(--main-bg-lcolor)) !important;
}

.new-design .info-box-4.hover-zoom-effect:hover {
    background-image: linear-gradient(to right, var(--main-bg-rcolor), var(--main-bg-lcolor)) !important;
    transition: all 3s;
}

.new-design .material-icons {
    color: red !important;
}

.new-design .text, .new-design .number {
    color: #fff !important;
}

.new-design .toggled.waves-effect.waves-block {
    border: 2px solid var(--main-bg-lcolor) !important;
    border-radius: 0px 26px 26px 0px !important;
    padding: 0px;
}
.new-design .active {
    padding: 5px 6px !important;
}
.new-design .toggled.waves-effect.waves-block span {
    margin: 11px 6px 11px 3px !important;
    text-transform:uppercase;
}
.new-design .bac img {
    width: 31px !important;
}
.new-design .bac {
     padding: 8px 10px 10px 8px;
    padding: 7px 7px 7px 7px;
    background: linear-gradient(to right, var(--main-bg-rcolor), var(--main-bg-lcolor)) !important;
    border-radius: 0px 19px 0px 0px !important;
}

.new-design .toggled.waves-effect.waves-block:hover {
    background: linear-gradient(to right, var(--main-bg-rcolor), var(--main-bg-lcolor)) !important;
}

.new-design #tab1click {
    border-radius: 16px 16px 16px 16px;
}

.new-design .btn.btn-grey.btn-circle-lg.waves-effect.waves-circle.waves-float {
    border-radius: 16px 0px 16px 0px !important;
    background: var(--main-bg-lcolor);
}

.new-design .btn.btn-grey.btn-circle-lg.waves-effect.waves-circle.waves-float:hover {
    background: linear-gradient(to right, var(--main-bg-rcolor), var(--main-bg-lcolor)) !important;
}

.new-design .tmw-dashaboard .card.first-card .tab-content #basicsetting .btn::after {
    width: 163% !important;
}

.new-design .hhu {
    padding-left: 15px !important;
}

.new-design .fas.fa-angle-right {
    line-height: 19px;
    margin: 0px 5px 0px -7px;
    padding: 1px 7px 0px 6px;
    background: linear-gradient(to right, var(--main-bg-rcolor), var(--main-bg-lcolor)) !important;
    border-radius: 0px 7px 7px 1px;
}

.new-design .rol-round {
    border-radius: 25px !important;
}

.new-design .account-menu.hhu.kkli li, .new-design .account-menu.hhu.kklii2 li {
    padding: 8px 0px 8px 0px;
}

.new-design .sidebar .hhu li:first-child a {
    padding-top: 0px !important;
}

.new-design .sidebar .hhu li a {
    padding-bottom: 0px !important;
}

.new-design .pin-ped.waves-effect.waves-block:hover {
    background: linear-gradient(to right, var(--main-bg-rcolor), var(--main-bg-lcolor)) !important;
    transition: all .4s linear !important;
    transform: translateX(8px);
}

.new-design .pin-ped.activee.navbar.waves-effect.waves-block {
    background: linear-gradient(to right, var(--main-bg-rcolor), var(--main-bg-lcolor)) !important;
    transition: all .4s linear !important;
    transform: translateX(8px);
}

.new-design .pin-ped.activee.waves-effect.waves-block {
    background: linear-gradient(to right, var(--main-bg-rcolor), var(--main-bg-lcolor)) !important;
    transition: all .4s linear !important;
    transform: translateX(8px);
     
}

.new-design .sidebar .hhu li a.activee::before {
    display: none;
}


.new-design .tab-link.current3 {
    border-radius: 16px 16px 16px 16px;
}

.new-design .tmw-dashaboard ul.tabs3 {
    border-radius: 16px 16px 16px 16px;
}

.new-design .tab-link {
    border-radius: 16px 16px 16px 16px;
    background: var(--nav-tab-bg);
}

.new-design .tmw-dashaboard ul.tabs2 {
    background: none;
}

.new-design .tmw-dashaboard ul.tabs3 {
    background: none;
}

.new-design .arrow-left.fas.fa-angle-right {
    display: block;
}

.new-design .switch-user-tab-left .nav-tabs {
    background: none;
}


.new-design .arrow-left.fas.fa-angle-right {
    display: none;
}

.new-design .slds {
    border-radius: 11px 0px 11px 0px !important;
    background: #fff;
    padding: 4px;
}

.new-design .RCH_Details_Page ul.tabs, .new-design .API_User_Page ul.tabs, .new-design .Masterlist-page ul.tabs, .new-design .DistibutorList_page ul.tabs, .new-design .retailerList_Page ul.tabs, .new-design .tab-design ul.tabs {
    background: none !important;
}

    .new-design .RCH_Details_Page ul.tabs li.current, .new-design .API_User_Page ul.tabs li.current, .new-design .Masterlist-page ul.tabs li.current,
    .new-design .DistibutorList_page ul.tabs li.current, .new-design .retailerList_Page ul.tabs li.current, .new-design .tab-design ul.tabs li.current {
        border-bottom: none !important;
    }

.new-design .switch-user-tab-right .nav-tabs li.active a {
    background: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;
}

.new-design .add-purchase-page-right ul.tabs3 {
    background: none;
}

.new-design .bankinfo .nav-tabs li.active a, .new-design .bankinfo .nav-tabs li.active a:focus, .new-design .bankinfo .nav-tabs li.active a:hover {
    background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;
    color: #fff !important;
    border-radius: 16px;
}

.new-design .bankinfo .nav-tabs li {
    background: var(--nav-tab-bg) !important;
    border-radius: 16px !important;
}

.new-design .bankinfo .nav-tabs li {
    background: var(--nav-tab-bg) !important;
    border-radius: 16px !important;
}

.new-design .bankinfo .nav-tabs {
    border-bottom: none;
    background: none;
}

.new-design .switch-user-tab-right .nav-tabs li.active a {
    background: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;
    border-radius: 16px;
}

.new-design .switch-user-tab-right .nav-tabs {
    background: none;
}

.new-design #tabs.nav.nav-tabs.fullbodydycolorbg {
    border-radius: 16px;
}

.new-design .op-c .nav-tabs {
    background: none;
}

.new-design .bkpfull .nav-tabs li.active a {
    background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;
    border-radius: 16px;
}

.new-design .OpertorIndex-page ul, .new-design .tabs {
    background: none;
}

.new-design .OpertorIndex-page .oprindex-right ul, .new-design .tabs2 {
    background: none;
}

    .new-design .OpertorIndex-page, .new-design .oprindex-right ul, .new-design .tabs2 li.current2 {
        /*color: #fff;*/
        /*background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;
        border-radius: 16px;
        border-bottom: none;*/
    }

.new-design .ecommerce-left-tab.nav-pills > li.active > a {
    border-radius: 16px;
}

.new-design .nav.nav-pills.ecommerce-left-tab.tab-seconddesign.tab-third-design li {
    background: var(--nav-tab-bg);
    border-radius: 16px;
}

.new-design .nav.nav-pills.ecommerce-left-tab.tab-seconddesign.tab-third-design {
    background: none !important;
}

.new-design .tmw-retailer-creaction-charge .left-sign-ups li button {
    background: #a4a0a0;
    border-radius: 16px;
    padding-top: 8px !important;
}

.new-design .tab-seconddesign.tab-seconddesignclass.tab-third-design {
    background: none !important;
}

.new-design .switch-user-tab .switch-user-tab-left ul li, .new-design .switch-user-tab-right .nav-tabs li {
    padding: 6px 0px !important;
    border-right: 1px solid #fff;
}

.new-design .tmw-notifications ul.tabs, .new-design .tabs2 {
    background: none;
}

    .new-design .tmw-notifications ul.tabs li.current {
        border-right: 2px solid #fff;
    }

.new-design .tmw-notifications ul.tabs2 {
    background: none;
}

    .new-design .tmw-notifications ul.tabs li.current, .new-design .tmw-notifications ul.tabs2 li.current2 {
        border-bottom: none;
        background: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor));
    }

.new-design .Head.fullbodydycolorbg {
    background: none !important;
}

.new-design .cas-hdeposi-tcharge-page .ca-dipo-left ul.tabs3 {
    background: none;
}

.new-design .cas-hdeposi-tcharge-page .ca-dipo-right > ul li {
    background: var(--nav-tab-bg);
    border-radius: 16px;
    border-bottom: none !important;
}

.new-design .cas-hdeposi-tcharge-page .ca-dipo-right > ul {
    background: none;
}

.nav.nav-pills.ecommerce-left-tab.tab-seconddesign.tab-third-design li a {
    padding: 6px 0;
}

.new-design .tab-link.active::after {
    border-bottom: none !important;
}

.new-design.tab-link.active {
    background: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;
    border-radius: 16px;
}

.new-design .switch-user-tab .switch-user-tab-left ul li, .new-design .switch-user-tab-right .nav-tabs li {
    padding: 0px !important;
}

.new-design .fund-trasfer-left .nav-tabs {
    background: none;
}

    .new-design .fund-trasfer-left .nav-tabs li.active a, .new-design .fund-trasfer-left .nav-tabs li.active a {
        border-radius: 16px;
        display: block;
    }

.new-design .bootstrap-select.btn-group .dropdown-menu li a span.text {
    color: #000 !important;
    display:block;
}





/*.new-rdesign.dashboard1{
    display:block !important;
}
.new-rdesign .op-user-trypo {
    display: none !important;
}
.new-rdesign .listt {
    position: absolute !important;
    left: -200px !important;
    top: 129px !important;
    background: var(--main-bg-lcolor) !important;
    padding: 2px 8px 0px 18px !important;
    display: block;
    text-align: center;
    margin: -9px 9px;
    border-radius: 0px 8px 0px 8px;
}
.new-rdesign .dropdown-submenu {
    width: 121px !important;
    left: -2px !important;
    top: 43px !important;
}
.new-rdesign .bkp logout-bkp bkp india-rupeyy {
    display: none !important;
}
.new-rdesign .icon img {
    width: 30px !important;
    height: 30px !important;
}
.new-rdesign .number {
    font-size: 12px;
    font-weight: 800;
    margin-right: 35px;
}
.new-rdesign .text {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 800;
    margin-right: 35px
}

.new-rdesign li.bkp.logout-bkp.bkp.india-rupeyy {
    background: red;
    margin-left: 30px;
}
.new-rdesign .icon {
    top: 0px;
    position: absolute;
    right: 0px;
}
.new-rdesign button.btn.btn-default {
    height: 30px;
    margin-top: 0px;
    border-radius: 0px 15px 15px 0px;
}
.new-rdesign .glyphicon.glyphicon-search {
    padding: 5px 15px !important;
    height: 23px !important;
}
.new-rdesign .col-xs-offset-2 {
    top: -92px;
}
.new-rdesign .input-group-btn.search-panel {
    display: none;
}
.new-rdesign .newclasscustome .top-searchbarr input#search {
    float: right;
    border: 1px solid;
    border-radius: 15px 1px 1px 15px;
}
.new-rdesign .focused1 {
    background: white;
    padding: 6px 10px 6px 10px;
    width: 70%;
    float: right;
    border-radius: 50px;
    margin-top:4px;
}


.new-rdesign .rdesign {
    display: block !important;
    margin:0px;
    right:23px!important;
}
.new-rdesign .user-op {
    display: none;
}
.new-rdesign li.bkp.logout-bkp.bkp.india-rupeyy {
    background: red;
    margin-right: -55px !important;
    margin-left: 22px;
}
.new-rdesign ul#leftulbar {
    background: none !important;
}
.new-rdesign #header-fixed-sticy {
    background: var(--main-bg-lcolor) !important;
}
.new-rdesign .user-info.navbar {
    background: var(--main-bg-rcolor) !important;
    border: none;
}
.new-rdesign .firstnavleft-retailer {
    background: var(--main-bg-rcolor) !important;
}
.new-rdesign .ccc.asd-asd.logoheight-second.logoheight-third {

}


.new-rdesign #aj {
    background: white;
    border-radius: 25px 2px 0px 25px;
    padding: 0px 60px 5px 0px;
    float: right;
    top: -88px;
    width: auto;
}
.new-rdesign #nav-my ul.addnewlogout li {
    width: 12.5% !important;
    margin-top: -2px;
    text-align: center !important;
    margin: -1px 4px;
    background: var(--main-bg-rcolor) !important;
    box-shadow: 0 0 1px 0 #000 !important;
}
.new-rdesign #dashboard{
    display:none !important;
}
.new-rdesign .listtryp li a i img {
    text-align: center !important;
}

.new-rdesign #dashboard a {
    text-align:center;
}
.new-rdesign #leftulbar li a i img {
    width: 22px;
    display: inline-block;
    float: left;
    max-width:17px;
    position: relative;
    left: 12px;
    top: 0px;
}
.new-rdesign #nav-my.active-balencess ul.addnewlogout li#dashboard a::before{
    display:none !important;
}

.new-rdesign #aj ul.bal-nav {
    float: right;
    
}
.new-rdesign .secondretailer-over-second {
    height: 95px;
}
.new-rdesign .menus ul#leftulbar {
    border-bottom: 0px !important;
}

.navbar-header.asd-asd.logoheight-second.logoheight-third{}

.new-rdesign .navbar-header .img-responsive {
    margin-top: 3px;
}
.new-rdesign .navbar-header.ccc.asd-asd.logoheight-second.logoheight-third {
    padding: 19px 0px !important;
}
.new-rdesign .layoutt .navbar-header.asd-asd {
    height: 94px;
    display: block;
    position:static;
    border: none;
}
body.new-rdesign #nav-my ul#leftulbar {
    padding-left: 20px !important;
    margin-top: 10px;
}
.new-rdesign #nav-my.active-balencess ul.addnewlogout li#dashboard a::before {
    left: 0px !important;
}
.new-rdesign .pull-right {
    text-align: center !important; 
}
    .new-rdesign .pull-right span.newimgspan {
        border-radius: 50px;
        background: #000;
        padding: 6px 5px 7px 9px;
        margin-right: 2px !important;
}
.new-rdesign #nav-my ul.addnewlogout li.bkp.logout-bkp {
    width: 4% !important;
    text-align: right;
    height: 40px !important;
    float: right;
    margin: -3px 32px -27px 0px;
}
.new-rdesign .pull-right span.newimgspan p{
    font-size: 12px;
    text-transform: capitalize;
    padding-right: 8px;
    display:none;
}
.new-rdesign .cart-p {
    margin-top: 24px;
}
.new-rdesign .col-xs-8.col-sm-8.col-md-8.col-lg-8.show-to.right-op {
    margin-top: 15px;
}
.new-rdesign #accu {
    background: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
}
.new-rdesign .dasborddetailback button#accu {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 0px 10px 1px 10px;
}
.new-rdesign .dasborddetail .col-md-3.full-icon button, .new-rdesign .dasborddetail .col-md-3.pay-o button {
    border-radius: 0px 10px 1px 10px !important;
    border: 2px solid var(--main-bg-lcolor) !important;
}

.new-rdesign .dasborddetail .col-md-3.full-icon .bubblep.bubblepss a.btn.btn-default.btn-circle.waves-effect.waves-circle.waves-float.pull-right.dropdown-toggle {
    border-radius: 0px 10px 0px 10px !important;
    border: 2px solid var(--main-bg-lcolor) !important;
}
.new-rdesign .col-lg-12 {
    width: 100%;
    margin-top: 8px;
}
.new-rdesign .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav {
    margin-top: 8px;
}
.new-rdesign .newtabsreport.newtabsreport-ticketreport #tabsrepor-navs {
    margin-top: 8px;
}
.new-rdesign .col-md-12.flight-changecsscolmd {
    padding: 0;
    margin-top: 8px;
}
.new-rdesign .ecommerce-page .row.clearfix .col-md-12 .card {
    margin-top: 8px;
}
.new-rdesign .dispute-right {
    margin-top: 8px;
}
.new-rdesign .retailerledger-container .col-md-4.dispute-date {
    margin-top: 8px;
}
.new-rdesign .bread-same-all-page {
    margin-top: 8px;
}
.new-rdesign .card {
    margin-top: 8px !important;
}

.new-rdesign .sidebar .menu .list a span {
    margin:-1px;
}
.new-rdesign .report-list-change li a.active span::before {
    background-image: url('../../images/star-angle-triangle.png') !important;
    background-repeat: no-repeat !important;
   
}
.new-rdesign .report-list-change li a span::before {
    padding: 11px 1px 2px 13px !important;
}
.new-rdesign .report-list-change li a span::before {
    margin-top: 3px;
}
.new-rdesign .sidebar .menu .list a {
    padding: 13px 17px 0px 20px;
}
.new-rdesign .list.report-list-change li a{
    padding-bottom:0px !important;
    }

.new-rdesign .report-list-change li a.active span::before {
    background-position: 2.4px 1px;
    background-size: 73%;
}
.new-rdesign .sidebar .menu .list span a {
    background: none !important;
}
.new-rdesign .report-list-change li a.active span::before {
    background-color: none !important;
}


.new-rdesign .width1 {
    border: 1px solid !important;
    border-radius: 15px 0px 2px 15px !important;
    padding: 2.5px 4px 1px 10px !important;
}
.new-rdesign li.bkp.logout-bkp.bkp.india-rupeyy.rdesign {
    width: auto !important;
}
.new-rdesign #aj ul.bal-nav {
    right: -17px !important;
    margin-top: 5px;
}
    .new-rdesign #aj ul.bal-nav > li {
        
    }
.new-rdesign ul.bal-nav.amount-top-nav-re.topnavbar-retailer-first {
    float: left;
    padding: 0px 41px 1px 1px;
}
.new-rdesign a.ropdo {
    border-bottom: dashed;
    width: 100%;
    float: left;
    margin: 15px 0px;
    color: #000;
    font-weight: 600;
}
.new-rdesign .list.report-list-change h2.reportadminclass {
    background: var(--main-bg-lcolor) !important;
    border-radius: 0px 8px 0px 8px;
}
.new-rdesign #leftsidebar.retailer-header-left {
    background-image: url('../../images/imback-1.jpg') !important;
}
.new-rdesign .firstnavleft-retailer {
    opacity: 0.8;
    background: var(--main-bg-rcolor) !important;
}
.new-rdesign .sidebar .menu{
    border-top:none !important;
}
.new-rdesign .listtryp a::before {
    height: 0px !important;
}
.new-rdesign #nav-my ul li.active a::before, #nav-my ul li a::before {
    display:none !important;
}

@media screen and (max-width: 1366px) {
    .new-rdesign .menus{
        background:none;
    }
    .new-rdesign #nav-my ul#leftulbar {
        padding-left: 15px !important;
        margin-top: 14px;
    }
    .new-rdesign #nav-my ul.addnewlogout li {
        width: 12.8% !important;
    }
    .new-rdesign #recharge {
        width: auto !important;
    }
    .new-rdesign .glyphicon.glyphicon-search {
        border-radius: 11px !important;
    }
    .new-rdesign #aj{
        right:12px;
    }
    .new-rdesign .listt a {
        margin: 4px 7px !important;
        font-size:15px !important;
    }
    .new-rdesign .listt img {
        width: 24px !important;
        height: 25px !important;
    }
    .new-rdesign .listt {
        left: -175px !important;
        margin-bottom:22px;
    }

}
@media screen and (max-width: 1290px){
    .new-rdesign .listt {
        left: -170px !important;
    }
}
@media screen and (max-width: 1200px){}
@media screen and (max-width:992px){
    .new-rdesign .secondretailer-over-second {
        height: 74px !important;
    }
    .new-rdesign #aj {
        padding: 0px 38px 5px 6px !important;
    }
        .new-rdesign #aj ul.bal-nav {
            margin-top: 7px !important;
        }
    .new-rdesign .ls-closed .bars:after, .ls-closed .bars:before {
        top: -11px;
        left: -8px;
    }
    .new-rdesign .ratailer-header-page .navbar-header {
        padding: 23.5px 0 !important;
         border-bottom:none !important; 
    }
    body.new-rdesign #nav-my ul#leftulbar {
        padding-left: 13px !important;
        margin-top: 16px !important;
    }
    .new-rdesign .secondretailer-over-second {
        height: 94px !important;
         
    }
    .new-rdesign .cart-p {
        margin-top: 36px !important;
        padding-left: 21px !important;
    }
    .new-rdesign .col-xs-8.col-sm-8.col-md-8.col-lg-8.show-to.right-op {
        margin-top: 29px !important;
    }
}

@media screen and (max-width:767px){
    .new-rdesign .secondretailer-over-second {
        height: 72px;
    }
    .layoutt .sidebar .menu {
        top: 72px !important;
    }
    .new-rdesign .listt {
        left:-82px !important;
        top:99px !important;
    }
    .new-rdesign .focused1 {
        margin-top: 54px !important;
        width:auto !important;
    }
    .new-rdesign .layoutt .sidebar .menu {
        margin-top: 54px !important;
    }
    .new-rdesign .navbar-header.ccc.asd-asd.logoheight-second.logoheight-third {
        padding: 12px 0px !important;
    }
    .new-rdesign .ls-closed .bars:after, .ls-closed .bars:before {
        top: -12px !important;
        left: -9px !important;
    }
    

    .new-rdesign section .container-fluid {
        margin-left: 16px !important;
    }
}
.new-rdesign .sidebar .user-info .image {
    display: none;
}
.new-rdesign .name.john {
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.2) !important;
    padding: 15px 0px 15px 0px;
    width: 50%;
}
.new-rdesign .legal.legal-profilepassword .profile-es a {
    -webkit-transform: rotate(-46deg);
    padding: 0px 15px 0px 15px;
    padding-left: 15px;
    border-radius: 36px 49px 0px 1px;
    position: absolute;
    float: left;
    padding-left: 15px;
    width: 101px;
    top: 12px;
    margin: 0px -131px;
    font-size: 12px;
}
.new-rdesign .legal.legal-profilepassword.legal-responsiveclass {
    border-radius: 30px 1px 10px 1px;
    padding: 8px !important;
    background: rgba(0, 0, 0, 0.2) !important;
}
.new-rdesign .profile-es.profile-es-newadd {
    margin-top: 25px !important;
}
.new-rdesign .manage-mantp a {
    padding: 3px 34px !important;
}
.favi-design-dealer .btn-default {
    border-radius: 8px !important;
}
.favi-design-dealer .sidebar .menu .list a {
    background: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-lcolor)) !important;
    margin: 2px 0px 2px 0px;
}
.favi-design-dealer .sidebar-dealer-page.sidebar-dealer-responshive .slimScrollDiv {
    padding-top: 0px !important;
}
.favi-design-dealer .theme-pink .favi-design-dealer .sidebar .menu .list .toggled {
    background: #ccc !important;
}
.favi-design-dealer .sidebar-dealer-page .reports-heading h3.sidebar-reportshow {
    background: rgba(0, 0, 0, 0.2) !important;
}
.favi-design-dealer .dealer-addtabnew ul.header-tabbutton li a:hover {
    border-radius: 40px !important;

}
.favi-design-dealer .nav-tabs.fullbodydycolorbg {
    background: #fff !important;
    border-radius: 10px !important;
}

.favi-design-dealer .dealer-firstclass .card .dealer-user-nav ul.nav-tabs li.active {
    border-radius: 40px;
}
.favi-design-dealer .dealer-addtabnew ul.header-tabbutton li.active a {
    border-radius: 40px !important;
}
.favi-design-dealer .w-100.float-left.reporst-menu.dealer-all-reportpage {
    padding-left: 0px !important;
}
.favi-design-dealer .reporst-menu li a {
    padding: 1px 0 !important;
}*/









