/* admin panel */

.seven_design {
    background: #f1f2f6;
}


    .seven_design .navbar.tmw-layoutht {
        background: var(--main-bg-rcolor) !important;
        box-shadow: 0px 0px 5px -2px;
    }

.sevend_logoset {
    display: none;
}

.seven_design .sevend_logoset {
    display: block;
    margin-bottom: 12px;
    width: 100%;
}

.seven_design .navbar-header a {
    display: none;
}

.sevend_logoset img {
    width: 121px;
    height: 53px;
}

.seven_design .seven_menu {
    position: absolute;
    left: 233px;
    font-size: 16px;
    top: 9px;
    cursor: pointer;
    color: #fff;
    transition: .4s linear;
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: left;
    clear: both;
    color: #6C7383;
    z-index: 9;
}

.seven_menu {
    display: none;
}

.seven_design .seven_menu i {
    font-size: 20px;
    margin-right: 14px;
    color: #fff;
}

.seven_design .sevend_box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


    .seven_design .sevend_box i {
        position: absolute;
        color: #6C7383;
        right: 0;
        font-size: 14px;
    }

    .seven_design .sevend_box input {
        border: none;
        border-radius: 3px;
        background: #f1f2f6;
        position: relative;
        width: 210px;
        padding: 6px 10px;
        font-size: 14px;
    }

.seven_design .sidebar .hhu li a.activee::before {
    display: none;
}

.seven_design .llkj:hover {
    background: transparent !important;
    color: rgba(33,37,41,.5) !important;
}

.seven_design .sidebar .menu .list .llkj:hover .on_off {
    color: #fff !important;
}

.seven_design #round_buttone {
    display: none;
}

.seven_design .list-group.left-day1 {
    display: block;
}

.seven_design .list-group.seven_dmenu {
    display: none;
}
/* profile css  */

.seven_design .nav.navbar-nav.navbar-right.four-top-nav.intro1 {
    display: none;
}

    .seven_design .nav.navbar-nav.navbar-right.four-top-nav.intro1.sevenmenu_set1 {
        display: block;
    }

.sevenmenu_set .list-group {
    margin: 0px !important;
    padding: 0px 2px;
    border-right: 1px solid #90a964;
}

    .sevenmenu_set .list-group a {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        padding: 5px;
        line-height: 0;
        height: 25px;
        position: relative;
    }

        .sevenmenu_set .list-group a:hover {
            background: var(--main-bg-lcolor);
        }

        .sevenmenu_set .list-group a::after {
            content: "";
            position: absolute;
            background: var(--main-bg-lcolor);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0.2;
        }

        .sevenmenu_set .list-group a p {
            margin: 0;
            font-size: 11px;
            float: left;
            line-height: initial;
            z-index: 9;
            position: relative;
        }

        .sevenmenu_set .list-group a i {
            font-size: 11px;
            margin-right: 3px;
            z-index: 9;
            position: relative;
            background: #90a964;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    .sevenmenu_set .list-group .slimScrollDiv a i {
        width: auto;
        height: auto;
        background: inherit;
    }

    .sevenmenu_set .list-group .slimScrollDiv a::after {
        display: none;
    }

    .sevenmenu_set .list-group .slimScrollDiv a {
        justify-content: inherit;
    }

.sevenmenu_set .dropdown-menu ul.menu .icon-circle {
    border-radius: 0;
}

.sevent_pmenu i {
    background: #90a964;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px !important;
    color: #fff !important;
}

.sevent_pmenu li {
    width: 100%;
    float: left;
    padding: 3px 4px;
    border: 1px solid #90a964;
}

.sevent_pmenu button {
    background: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    border: none;
    padding: 2px 5px;
    justify-content: space-between;
}

.sevent_pmenu li p {
    margin: 0;
    margin-left: 8px;
    color: #000;
}

.sevent_pmenu li a {
    padding: 2px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* profile css--- */
.sevent_pmenu {
    width: 200px;
    right: 0px;
    position: absolute;
    background: #fff;
    z-index: 1;
    display: block;
    float: left;
    top: 51px;
    transform: translateY(25px);
    visibility: hidden;
    opacity: 0;
    transition: 0.4s linear;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 300;
}

.seven_pro:hover .sevent_pmenu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    top: 46px;
    border-top: 0;
}

.sevent_pmenu ul {
    margin: 0;
    position: relative;
}

    .sevent_pmenu ul::after {
        content: "";
        right: 13px;
        position: absolute;
        width: 15px;
        height: 15px;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        background: #fff;
        top: -7px;
    }

.sevent_pmenu li:hover {
    background: var(--main-bg-lcolor);
}

    .sevent_pmenu li:hover p {
        color: #fff;
    }
/* profile css--- */
.seven_design .sevenmenu_set1 {
    margin: 0;
    display: flex !important;
    align-items: center;
    justify-content: end;
    position: relative;
    right: 37px;
}

.sevenmenu_set .list-group a img {
    width: 18px;
    height: 18px;
}

.seven_design .sevenmenu_set {
    position: relative;
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 50px;
}

.sevenmenu_set {
    display: none;
}

.seven_design .list-group.logout-four {
    display: none;
}

.seven_design .seven_proset {
    width: auto;
    position: absolute;
    right: 14px;
    top: 5px;
    display: block;
    text-align: right;
}

.seven_proset {
    display: none;
}

.seven_more i {
    font-size: 18px;
    color: #fff;
    float: left;
    cursor: pointer;
}

.seven_pro img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.seven_more {
    display: flex;
    align-items: center;
    width: 100%;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

    .seven_more p {
        margin: 0;
        margin-right: 5px;
    }








/* profile css  */

.s_menu_bar1 {
    width: 70px !important;
}
    .s_menu_bar1 #custnav {
        width: 70px !important;
    }
.seven_design .s_menu_bar1 .my-class1 {
    padding: 0 12px !important;
}
/*:root {
    --main-bg-lcolor: #D92728;
    --main-bg-rcolor: #e87a21;
}*/
    .s_menu_bar2 {
        margin: 64px 0px 0 71px !important;
    }

.s_menu_bar1 .on_off {
    display: none !important;
}

.seven_design .s_menu_bar1 .on_off.seventu2 {
    display: none !important;
}

.s_menu_bar1 i {
    margin: 0px !important;
    font-size: 25px !important;
}

.s_menu_bar1 .my-class .hhu {
    padding: 0px !important;
    text-align: center;
}

.s_menu_bar1 a {
    justify-content: center;
}

.s_menu_bar1 #custnav .my-class1 a {
    padding: 10px !important;
}

.s_menu_bar1 .sevend_logoset img {
    width: 57px;
    height: 37px;
}

.s_menu_bar1 .llkj {
    display: none !important;
}

.s_menu_bar1 .my-class1 {
    padding: 0 12px !important;
}

    .s_menu_bar1 .my-class1 .bac {
        padding: 0;
    }

.seven_design .seven_menu.s_menu_bar3 {
    left: 86px;
}

.seven_design .navbar.tmw-layoutht {
    /*z-index: 9999999;*/
    height: 50px;
}
/*.seven_design .sevends_set .nav.navbar-nav {
            height: 59px;
        }*/
.seven_design #leftsidebar .menu .list ul a span {
    color: inherit;
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    vertical-align: middle;
}

.seven_design section.content {
    background-color: #f1f2f6;
}

.seven_design #leftsidebar .my-img1 {
    display: none;
}

.seven_design .my-pro {
    display: none !important;
}

#leftsidebar i {
    display: none;
}

.seven_design #leftsidebar i {
    display: block;
    font-size: 14px;
    line-height: 1;
    margin-right: 7px;
    color: #fff;
}


.seven_design #leftsidebar {
    background: #fff !important;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
    scrollbar-width: none;
    padding-bottom: 35px;
    width: 212px;
    padding-top: 5px;
    background-image: url('../../images/sidebar.jpg') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.seven_design .sidebar .menu {
    height: 100%;
    width: 100%;
    overflow-y:hidden;
}

.seven_design .my-class.celik20 {
    padding-bottom: 60px;
}

.seven_design #leftsidebar::after {
    content: "";
    background: var(--main-bg-lcolor);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
/*.seven_design .navbar.tmw-layoutht::after {
    content: "";
    background: var(--main-bg-lcolor);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}*/
.seven_design .sevends_set {
    z-index: 9999;
    position: relative;
}

.seven_design #leftsidebar div {
    position: relative;
    z-index: 99999;
    float: left;
}

.seven_design .sidebar .legal {
    bottom: 76px;
    background: var(--main-bg-rcolor);
}

.seven_design .sidebar .hhu li:first-child a {
}

.seven_design .sidebar .menu .list a {
    color: #000;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    white-space: nowrap;
    padding: 12px 12px !important;
    color: #fff;
    border-radius: 3px;
    -webkit-transition-duration: 0.45s;
    -moz-transition-duration: 0.45s;
    -o-transition-duration: 0.45s;
    transition-duration: 0.45s;
    transition-property: color;
    -webkit-transition-property: color;
}

.seven_design #leftsidebar .menu .list .activee .on_off {
    color: #fff !important;
}

.seven_design .my-class1 a {
    background: var(--main-bg-rcolor);
    color: #fff !important;
}

    .seven_design .my-class1 a i {
        color: #fff !important;
    }

.seven_design .sidebar .menu .list .my-class1 a .on_off {
    color: #fff !important;
}

.seven_design #leftsidebar .menu .list .activee {
    background: var(--main-bg-rcolor);
    color: #fff !important;
}

    .seven_design #leftsidebar .menu .list .activee i {
        color: #fff !important;
    }

.seven_design .sidebar .menu .list a:hover {
    background: var(--main-bg-rcolor);
    color: #fff;
}


    .seven_design .sidebar .menu .list a:hover i {
        color: #fff !important;
    }

    .seven_design .sidebar .menu .list a:hover .on_off {
        color: #fff !important;
    }

.seven_design .toggled .on_off {
    font-size: 16px !important;
    font-weight: 400 !important;
    margin: 0 !important;
}

.seven_design .my-class1 {
    padding: 0 15px !important;
}

.seven_design .sidebar .hhu li a {
    padding-bottom: 0px !important;
    display: flex;
    align-items: center;
}

.seven_design .sidebar .hhu li a {
    font-weight: normal !important;
    font-size: 12px;
}

.seven_design #leftsidebar .my-class span {
    padding-left: 0px;
}

.seven_design .sidebar .menu .list a span {
    color: #fff !important;
}

.seven_design .llkj {
    background: inherit;
    border: none;
    padding: 0px !important;
}

.s_menu_bar1 .legal {
    display: none;
}

.seven_design .hhu {
    padding-left: 0px !important;
    margin-left: 0rem;
    margin-right: 0rem;
}
.seven_design #leftsidebar .slimScrollDiv {
    width: 100% !important;
}
.seven_design .account-menu.hhu.kkli.celik li {
    margin-top: 0.2rem;
    padding: 4px 12px;
}
.seven_design .account-menu.hhu.kklii2.celik1 li {
    margin-top: 0.2rem;
    padding: 4px 12px;
}
.seven_design .account-menu.hhu.kklii2.celik2 li {
    margin-top: 0.2rem;
    padding: 4px 12px;
}
.on_off.seventu2 {
    display: none !important;
}
.seven_design .on_off.seventu2 {
    display: block !important;
}
.seven_design .on_off.seventu1 {
    display: none !important;
}

.seven_design #leftsidebar .my-class1 .bac {
    padding-top: 0;
    padding-bottom: 0;
}
.seven_design #leftsidebar .my-class1 .on_off {
    line-height: 1;
}

.seven_design section.content {
    margin: 66px 0px 0 213px;
}

.seven_design .navbar.tmw-layoutht.fullbodydycolorbg {
    border-bottom: none;
}

.seven_design .info-box-4 .content {
    line-height: 30px;
}

.seven_design .sidebar {
    top: 0px;
    height: 100vh;
}



/*  deshbord css  */

.seven_design .row.dash-board-top.page-header-third {
    padding: 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
    display: block !important;
    background: transparent;
}

.seven_design .dash-top-second {
    width: 25% !important;
    float: left;
}

    .seven_design .dash-top-second .info-box-4 {
        border: none;
        box-shadow: 0px 0px 5px -2px !important;
        margin: 7px !important;
        border-radius: 4px;
        display: flex;
        align-items: center;
        height: 70px;
        padding: 0px 6px;
        position: relative;
    }

        .seven_design .dash-top-second .info-box-4::after {
            content: "";
            position: absolute;
            width: 100%;
            background: var(--main-bg-rcolor);
            top: 0;
            height: 100%;
            right: -100%;
            transition: 1s;
        }

        .seven_design .dash-top-second .info-box-4 div {
            position: relative;
            z-index: 9;
        }

        .seven_design .dash-top-second .info-box-4:hover::after {
            right: 0;
            transition: 1s;
        }

        .seven_design .dash-top-second .info-box-4:hover {
            /*background: #d2d0d0 !important;*/
            background: transparent !important;
            box-shadow: none !important;
            color: #fff !important;
        }

            .seven_design .dash-top-second .info-box-4:hover .number {
                color: #fff;
            }

            .seven_design .dash-top-second .info-box-4:hover div {
                color: #fff !important;
                transition: 1s;
            }

        .seven_design .dash-top-second .info-box-4 .icon {
            position: static;
            /*background: #8fa864;*/
            background: var(--main-bg-lcolor);
            width: 60px;
            height: 60px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 18px;
        }

            .seven_design .dash-top-second .info-box-4 .icon img {
                filter: invert(100%);
            }

            .seven_design .dash-top-second .info-box-4 .icon button {
                display: flex;
                align-items: center;
                justify-content: center;
            }

                .seven_design .dash-top-second .info-box-4 .icon button i {
                    position: static !important;
                    color: #fff !important;
                }

.seven_design .second-design-tab {
    width: 100%;
    padding-right: 15px !important;
}

.seven_design .icon-button-demo .row {
    width: 100%;
    float: left;
    padding: 0px !important;
    margin: 0;
}

.seven_design .btn-circle-lg {
    background: var(--main-bg-lcolor);
}
.seven_design .sevent_box3 #History {
    height: 443px !important;
}
.seven_design .sevent_box3 #tab-5 {
    height: 445px !important;
}
.seven_design .sevent_box3 #tab-6 {
    height: 445px !important;
}
.seven_design .tmw-dashaboard .card.first-card .tab-content #basicsetting .btn {
    border: none !important;
    position: relative;
}

.seven_design .tmw-dashaboard .icon-button-demo {
    min-height: auto !important;
    padding-top: 4px;
}

    .seven_design .tmw-dashaboard .icon-button-demo .text-center img {
        width: 20px !important;
        filter: invert(100%);
    }


.seven_design .tmw-dashaboard ul.tabs2 li.current2, .seven_design .tmw-dashaboard ul.tabs3 li.current3 {
    background-image: none !important;
    background: var(--main-bg-rcolor) !important;
}

.seven_design .tmw-dashaboard .card.first-card .tab-content #basicsetting .btn::after {
    display: none;
}

.btn .seven_bmenu {
    display: none;
}

.seven_design .sevent_box0 {
    display: none;
}

.sevent_box1 {
    display: none;
}

.seven_design .sevent_box1 {
    display: block;
}

.seven_design .popup-content {
    width: 84%;
}

.seven_design .seven_bmenu {
    display: block;
}

.seven_design .seven_bmenu1 {
    display: none !important;
}

.seven_design .btn .seven_bmenu {
    color: #fff;
    top: 1px !important;
    font-size: 20px !important;
}

.seven_design .sevent_box {
    width: 76%;
    float: left;
    margin-top: -7px;
}

.seven_design .sevent_box1 {
    width: 25% !important;
    float: right;
    padding-left: 0px !important;
}

.seven_design .sevent_box3 {
    width: 75%;
    float: left !important;
    padding-left: 14px !important;
}

.seven_design .sevent_box .col-md-12 {
    padding: 0;
    padding-left: 7px;
}

.seven_design .sevent_box1 ul.tabs2 {
    width: 368px;
    position: fixed;
    right: -322px;
    z-index: 9;
    background: transparent;
}

    .seven_design .sevent_box1 ul.tabs2 .tab-link a i {
        font-size: 25px;
        color: #fff;
        padding: 0;
        width: 31px;
        margin-left: 4px;
        line-height: 32px;
    }

    .seven_design .sevent_box1 ul.tabs2 .tab-link {
        width: 100%;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        background: #8fa864;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 4px;
        font: normal normal 10px Arial;
        margin-bottom: 20px;
        display: flex;
        align-content: center;
        transition: 1s;
        right: 0;
    }

        .seven_design .sevent_box1 ul.tabs2 .tab-link:hover {
            position: relative;
            right: 180px;
            transition: 1s;
        }

        .seven_design .sevent_box1 ul.tabs2 .tab-link a {
            display: flex;
            align-items: center;
            color: #fff !important;
            text-decoration: none;
            text-align: center;
            vertical-align: top !important;
            font-size: 14px;
            font-weight: 600;
        }


.seven_design .btn-circle-lg {
    width: 35px !important;
    height: 35px !important;
    padding: 0 !important;
    border: none !important;
    border-radius: 2px !important;
}

.seven_design .sevent_box1 .text-center {
    width: 50%;
    float: left;
    padding: 0 4px;
    margin-bottom: 10px;
}

.seven_design .seventheme_box {
    display: flex;
    align-items: center;
    background: #eaeaea;
    padding: 5px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 45px;
}

    .seven_design .seventheme_box button {
        margin: 0;
    }


    

    .seven_design .seventheme_box a {
        color: #000;
        font-weight: 400 !important;
        position: relative;
        z-index: 5;
        font-size: 13px !important;
    }

        .seven_design .seventheme_box a:nth-child(2) {
            margin-left: 5px;
        }

    .seven_design .seventheme_box::after {
        content: "";
        background: #d2d0d0;
        position: absolute;
        width: 100%;
        height: 100%;
        left: -100%;
        border-radius: 4px;
        transition: 1s;
    }

    .seven_design .seventheme_box:hover::after {
        transition: 1s;
        left: 0;
    }

.seven_design .content.retailerList_Page.microatm-section.microatmreportnew .container-fluid {
    padding-left: 15px !important;
}

.seven_design .table-bordered tr td, .seven_design .table-bordered tr th {
    border: 3px solid #dbdbdb !important;
    border-style: double !important;
}

.seven_design #loader {
    transform: translate(-24%, -50%) !important;
    top: 70% !important;
    right: 46% !important;
}
.seven_design .navbar-header {
    position: absolute;
}
.seven_design .res_menuseven {
    display: none;
}
.seven_themelicon {
    display: none;
}

.seven_design .fourdesign-high-imgadd {
    width: 50%;
    float: left;
    display: block;
    height: 100%;
}
.seven_design .jumbotron.vertical-center.navbar.fullbodydycolorbg {
    border-radius: 0px !important;
    background: var(--main-bg-rcolor) !important;
    height: 100%;
    width: 50%;
    float: right;
    display: block;
    margin: 0 !important;
    position: static !important;
}
.seven_design .fourdesign-high-imgadd img {
    float: left;
    width: 100%;
    height: 100%;
}
.seven_design .icon-and-text-button-demo {
    width: 55%;

}


/*  deshbord css end  */

@media only screen and (max-width:1429px){

    .seven_design .info-box-4 .content {
        line-height: 25px;
    }
    .seven_design .dash-top-second .info-box-4 .icon {
        margin-right: 5px;
    }



}

@media only screen and (max-width:1270px){
    .seven_design .info-box-4 .content {
        line-height: 23px;
    }
    .seven_design .dash-top-second .info-box-4 .icon {
        margin-right: 0px;
    }


}

@media only screen and (max-width:1169px){
    .seven_design .seven_menu {
        display: none;
    }
    .seven_design .seven_proset {
        top: 4px;
    }
    .seven_design .sevenmenu_set {
        height: 48px;
    }
    .seven_design section.content {
        margin: 66px 0px 0 0px;
    }
    .seven_design #sidebar-open {
        top: 15px;
        z-index: 999;
    }
    .seven_design #leftsidebar {
        width: 212px !important;
    }

    .seven_design .seven_themelicon {
        font-size: 52px;
        color: #fff;
        position: absolute;
        left: 251px;
        top: -10px;
        z-index: 999;
        cursor: pointer;
    }

}

@media only screen and (max-width:1150px){

    .seven_design #sidebar-open {
        top: 24px;
    }
    .seven_design .tmw-layoutht .navbar-nav > li p {
        font-size: 11px !important;
    }
    




}

@media only screen and (max-width:1024px) {

    
    .seven_design .list-group {
        padding-left: 0px !important;
    }
    

} 

@media only screen and (max-width:992px){

    .seven_design .dash-top-second .info-box-4 .icon {
        width: 50px;
        height: 50px;
    }
    .seven_design .dash-top-second .info-box-4 .icon {
        margin-right: 2px;
    }
    .seven_design .dash-board-top .info-box-4 .content .number {
        font-size: 12px !important;
    }
    .seven_design .dash-top-second .info-box-4 {
        height: 57px;
    }
    .seven_design .seventheme_box a:nth-child(2) {
        margin-left: 5px;
    }
    .seven_design .sevent_box1 .text-center {
        width: 100%;
        margin-bottom: 6px;
    }
    .seven_design .sevent_box1 .page-header-third {
        height: 100% !important;
    }
    .seven_design .seven_themelicon {
        left: 212px;
        top: -13px;
    }
    .seven_design .icon-and-text-button-demo {
        width: 70%;
    }


}

@media only screen and (max-width:767px){

    .seven_design #navbar-collapse {
        display: block;
        box-shadow: none;
        margin: 0;
    }
    .seven_design .navbar.tmw-layoutht.fullbodydycolorbg {
        border-bottom: none;
        padding: 0;
    }
    .seven_design .sevent_box {
        width: 100%;
        margin: 0;
        margin-top: -7px;
    }
    .seven_design .sevent_box1 {
        width: 100% !important;
        padding-left: 15px !important;
    }
    .seven_design .sevent_box .col-md-12 {
        padding: 0;
    }
    .seven_design .sevent_box1 .text-center {
        width: 25%;
    }
    .seven_design .sevent_box3 {
        width: 100%;
    }
    .seven_design .res_menuseven {
        display: block;
        position: absolute;
        right: 35px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }
    .seven_design .sevenmenu_set1 {
        position: absolute;
        width: 130px;
        display: block !important;
        top: 45px;
        background: var(--main-bg-rcolor);
        right: -19px;
    }
        .seven_design .sevenmenu_set1 .list-group {
            width: 100%;
            margin-top: 0px !important;
            border: 1px solid #90a964 !important;
            padding: 0;
        }
    .seventheme_menu {
        display: none;
    }
    .seven_design #sidebar-open {
        top: -3px;
    }
    .seven_design #leftsidebar {
        top: 0;
    }
    .seven_design .seven_themelicon {
        left: 230px;
    }
    .seven_design .fourdesign-high-imgadd {
        width: 100%;
    }

    .seven_design .jumbotron.vertical-center.navbar.fullbodydycolorbg {
        width: 100%;
    }


}

@media only screen and (max-width:600px){

    .seven_design .sevenmenu_set1 {
        right: -10px;
    }
    .seven_design .res_menuseven {
        right: 48px;
    }
    .sevent_pmenu li a {
        padding: 0;
    }
    .sevent_pmenu i {
        width: 25px;
        height: 25px;
    }
    .sevent_pmenu {
        width: 150px;
    }
        .sevent_pmenu button {
            padding: 0;
        }
    .seven_design .dash-top-second {
        width: 50% !important;
        margin: 0px 0 !important;
    }
        .seven_design .dash-top-second .info-box-4 .icon {
            margin-right: 10px;
        }
    .seven_design .sevent_box1 .text-center {
        width: 50%;
    }


}
@media only screen and (max-width:480px) {
    .seven_design #leftsidebar {
        top: 15px;
    }

    .seven_design .icon-and-text-button-demo {
        width: 90%;
        top: 34%;
    }
    .seven_design .jumbotron.vertical-center.navbar.fullbodydycolorbg {
        padding: 10px !important;
    }

}


@media only screen and (max-width:400px) {


    .seven_design .dash-top-second .info-box-4 {
        margin: 4px !important;
    }

        .seven_design .dash-top-second .info-box-4 .icon {
            width: 40px;
            height: 40px;
        }

            .seven_design .dash-top-second .info-box-4 .icon img {
                width: 25px !important;
            }

        .seven_design .dash-top-second .info-box-4 .icon {
            margin-right: 4px;
        }

    .seven_design .seventheme_box a {
        font-size: 9px !important;
    }
}



/* admin panel End */


/*  RETAILER panel start  */



.r-seven_design .op-user-trypo {
    display: none;
}


.r-seven_design .back-po.alagimgwithlinear table {
    margin: 0px !important;
}
.r-seven_design .back-po.alagimgwithlinear tr td, .r-seven_design .back-po.alagimgwithlinear tr th {
    padding: 5px;
}
.r-seven_design .border-centerbe::before {
    display: none;
}
.r-seven_design .border-centerbe::after {
    display:none;
}

.r-seven_design .sidebar .menu .list a div {
    display: none;
}
.r-seven_design .sidebar .menu .list a.active {
    background: var(--main-bg-rcolor);
}
.r-seven_design #leftulbar .active {
    background: var(--main-bg-rcolor);
}

.r-seven_design .rechargewidth.rechargewidth-responshivedwe table.for-prepaid tr td button {
    padding: 4px 0px !important;
    width: 100%;
}

.r-seven_design .sidebar .menu {
    top: 0;
    height: 100%;
    border: none !important;
}
.r-seven_design .slimScrollDiv ul.list.report-list-change {
    height: 600px !important;
    padding-bottom: 50px;
}
.r-seven_design #notiff {
    display: none !important;
}
.r-seven_design .layoutt .navbar-header.asd-asd {
    border:none;

}

.r-seven_design .menus ul#leftulbar {
    border: none !important;
}
.r-seven_design #leftsidebar {
    background: #fff !important;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2) !important;
    scrollbar-width: none;
    padding-bottom: 35px;
    /*width: 213px;*/
    width: 13.3%;
    padding-top: 5px;
    background-image: url(../../images/sidebar.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    top: 0;
    border: none;
    z-index: 99999999 !important;
    transition:1s;
}
.r-seven_design .report-list-change li a span::before {
    display: none;
}

.r-seven_design .layoutt .navbar-header.asd-asd {
    background: transparent;
}
.r-seven_design .ratailer-header-page {
    width: 86.7%;
    transition: 1s;
}
.r-seven_design #leftsidebar.retailer-header-left {
    margin-top: 0px !important;
}
/*.r-seven_design .new-retailer-design {
    display: block !important;
}
.r-seven_design .wrapper-retailer {
    display: none;
}*/
.r-seven_design .sidebar .legal-new {
    background: var(--main-bg-rcolor) !important;
}

.r-seven_design tr td, .r-seven_design tr th {
    border: 5px solid #dbdbdb !important;
    border-style: double !important;
}
.r-seven_design .table-responsive table tr, .r-seven_design .table-responsive table, .r-seven_design .table-responsive table tr td, .r-seven_design .table-responsive table tr th {
    border-color: #dbdbdb !important;
}
.r-seven_design .table-responsive.gross-business-tabledata table tr td {
    border-color: #dbdbdb !important;
}
.r-seven_design .col-xs-8.col-sm-8.col-md-8.col-lg-8.show-to.right-op {
    margin-top: 7px;
}
.r-seven_design .cart-p {
    margin-top: 4px;
    width: 100%;
}
    .r-seven_design .cart-p .dasborddetailback.page-header-third {
        box-shadow: none;
        border-radius: 0px;
        padding: 0;
        min-height: auto !important;
    }
.r-seven_design .dasborddetail .col-md-3.full-icon, .r-seven_design .dasborddetail .col-md-3.pay-o {
    border: none;
    box-shadow: 0px 0px 5px -2px !important;
    margin: 7px !important;
    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0px 6px;
    position: relative;
}

.r-seven_design .dasborddetailback .row {
    margin: 0;
}

.r-seven_design .button-myaccount-class {
    display: none;
}
.r-seven_design .dasborddetail .col-md-3.full-icon, .r-seven_design .dasborddetail .col-md-3.pay-o {
    width: 15.6%;
    text-align: left;
    position: relative;
    overflow:hidden;
    cursor:pointer;
}

    .r-seven_design .dasborddetail .col-md-3.full-icon::after, .r-seven_design .dasborddetail .col-md-3.pay-o::after {
        content: "";
        background: var(--main-bg-rcolor);
        position: absolute;
        left: 100%;
        top: 0;
        width: 100%;
        height: 100%;
        transition: 1s;
    }
    .r-seven_design .dasborddetail .col-md-3.full-icon:hover::after, .r-seven_design .dasborddetail .col-md-3.pay-o:hover::after {
        left: 0;
        transition: 1s;
    }
.r-seven_design .dasborddetail .col-md-3 a, .r-seven_design .dasborddetail .col-md-3 p, .r-seven_design .dasborddetail .col-md-3 div, .r-seven_design .dasborddetail .col-md-3 button {
    z-index: 5;
}
.r-seven_design .dasborddetail .col-md-3:hover a, .r-seven_design .dasborddetail .col-md-3:hover p, .r-seven_design .dasborddetail .col-md-3:hover div {
    color: #fff;
}

    .r-seven_design .my-cre {
        margin: 0 !important;
    }

.r-seven_design .dasborddetailback .col-md-3 a {
    text-align: left;
    font-size: 15px !important;
    font-weight: normal !important;
}

.r-seven_design .dasborddetailback .col-md-3 p {
    text-align: left;
    margin:0px;
}


.r-seven_design .dash-data-third {
    width: 100%;
}
.r-seven_design .dasborddetail .col-md-3.full-icon button::after, .r-seven_design .dasborddetail .col-md-3.pay-o button::after, .r-seven_design .dasborddetail .col-md-3.full-icon .bubblep.bubblepss a::after {
    display: none;
}
.r-seven_design .dasborddetailback button#accu {
    width: 100%;
    margin-bottom: 0;
    border: none !important;
    height: 82%;
    margin: 0;
}
.r-seven_design .dasborddetail .col-md-3.full-icon .bubblep.bubblepss a.btn.btn-default.btn-circle.waves-effect.waves-circle.waves-float.pull-right.dropdown-toggle {
    border: none !important;
    position: static;
    background: #8fa864;
    background: var(--main-bg-lcolor) !important;
    width: 60px;
    height: 60px !important;
    border-radius: 4px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
}
    .r-seven_design .dasborddetail .col-md-3.full-icon .bubblep.bubblepss a.btn.btn-default.btn-circle.waves-effect.waves-circle.waves-float.pull-right.dropdown-toggle:hover {
        background: var(--main-bg-lcolor) !important;
    }

    .r-seven_design .dasborddetail .col-md-3.full-icon button, .r-seven_design .dasborddetail .col-md-3.pay-o button {
        border: none !important;
        position: static;
        background: #8fa864;
        background: var(--main-bg-lcolor) !important;
        width: 60px;
        height: 60px !important;
        border-radius: 4px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 18px;
        margin-bottom: 0 !important;
        margin-left: 0 !important;
    }
    .r-seven_design .dasborddetail .col-md-3.full-icon button:hover, .r-seven_design .dasborddetail .col-md-3.pay-o button:hover {
        background: var(--main-bg-lcolor) !important;
    }


    .r-seven_design .col-md-3.pay-o button {
        position: static;
        background: #8fa864;
        background: var(--main-bg-lcolor) !important;
        width: 60px;
        height: 60px !important;
        border-radius: 4px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 18px;
        margin-bottom: 0 !important;
    }
.r-seven_design .st_box {
    display: block !important;
}
.r-seven_design .dasborddetail .col-md-3.full-icon img, .r-seven_design .dasborddetail .col-md-3.pay-o img {
    filter: invert(100%);
}
.r-seven_design .dasborddetail .col-md-3.full-icon i {
    color: #fff !important;
}
.r-seven_design .st_box img {
    filter: inherit !important;
}
.r-seven_design #leftsidebar::after {
    content: "";
    background: var(--main-bg-lcolor);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.r-seven_design #leftsidebar div{
    z-index:9;
    position:relative;

}

.r-seven_design .bubblep {
    width: auto !important;
    float: left !important;
}
.seventheme_act{
    display:none;
}

.r-seven_design .seventheme_act {
    display: block;
}
.r-seven_design #leftsidebar i {
    display: block;
}
.r-seven_design .sevent_report li a {
    display: flex;
    align-items: center;
    padding: 0 0px 0 35px !important;
}

.r-seven_design #nav-my {
    display: none;
}
.r-seven_design .sidebar .menu .list a span {
    font-weight: inherit !important;
    font-size: 14px;
}
.r-seven_design section.content {
    margin-top: 50px !important;
    transition: 1s;
}
/*.r-seven_design.layoutt-retailer section.content {
    margin-left: 220px !important;
}*/
.r-seven_design .active.seventheme_act a {
    background: var(--main-bg-rcolor);
}
.r-seven_design .sidebar .menu .list a:hover {
    background: var(--main-bg-rcolor);
}

    .r-seven_design .list.report-list-change li {
        padding: 4px 12px;
    }

.r-seven_design .sidebar .menu .list a {
    padding: 7px 12px !important;
    border-radius: 3px;
}
.r-seven_design .list.report-list-change li {
    padding: 4px 12px;
}
.r-seven_design .sidebar .menu .list h2 a {
    padding: 0 !important;
}
.r-seven_design .seven_menu {
    font-size: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}
.r-seven_design .nav.navbar-nav.navbar-right {
    height: 45px;
}
.r-seven_design .top-searchbarr {
    height: 100%;
}
.r-seven_design .nav.navbar-nav.navbar-right .w-50 {
    height: 100%;
}
.r-seven_design #search-wrapper2 {
    width: 280px;
    display: flex;
    align-items: center;
    top: 0;
}
    .r-seven_design #search-wrapper2 button {
        background: #fff !important;
        border-radius: 3px;
    }
    .r-seven_design #search-wrapper2 button .glyphicon.glyphicon-search {
        background: #fff !important;
        padding: 7px 0 !important;
    }

    .r-seven_design #search-wrapper2 button span {
        color: #999 !important;
    }

.r-seven_design .seventd {
    display: none !important;
}
.r-seven_design #aj {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
}

.r-seven_design .top-searchbarr .row {
    height: 100%;
}
.r-seven_design .new-rdesign #aj ul.bal-nav {
    margin: 0;
}

.r-seven_design #aj ul {
    width: auto !important;
}
.seven_tmenu-r{
    display:none;

}

.r-seven_design .seven_tmenu-r {
    width: auto;
    float: left;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 9px;
}

.r-seven_design .seven_Rpro img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.r-seven_design .seven_tmenu-r:hover .dropdown-submenu.seven_Rpro1 {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    top: 45px;
    border-top: 0;
}
.r-seven_design #aj .dropdown-submenu.seven_Rpro1 {
    width: 158px !important;
    left: -116px;
}
.r-seven_design .dropdown-submenu.seven_Rpro1::before {
    left: 83%;
}
.r-seven_design #aj .dropdown-submenu.seven_Rpro1 .dropdown-submenu {
    left: -200px;
    top: 0;
}
    .r-seven_design #aj .dropdown-submenu.seven_Rpro1 .dropdown-submenu::before {
        left: 97%;
        top: 47%;
    }

.r-seven_design .dropdown-submenu.seven_Rpro1 li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 6px;
    width:100%;
}

    .r-seven_design .dropdown-submenu.seven_Rpro1 li a i {
        background: #90a964;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px !important;
        color: #fff !important;
    }
        .r-seven_design .dropdown-submenu.seven_Rpro1 li a i img {
            filter: invert(100%);
        }

        .r-seven_design #aj .dropdown-submenu.seven_Rpro1 li {
            padding: 0 !important;
        }
.r-seven_design #aj .dropdown-submenu.seven_Rpro1 .bkp.india-rupeyy {
    max-height: inherit;
}

.r-seven_design #aj .dropdown-submenu.seven_Rpro1 .bkp {
    border: 1px solid #90a964 !important;
}
.r-seven_design #aj ul .dropdown-submenu ul {
    text-align: left;
    width: 100% !important;
}

.r-seven_design .amount-top-nav-re li i {
    font-size: 11px;
    z-index: 9;
    position: relative;
    background: #90a964;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    top: -1px;
}

.r-seven_design .amount-top-nav-re li a, .r-seven_design .amount-top-nav-re li button {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    line-height: 0;
    position: relative;
    height: 25px;
}
.r-seven_design #aj ul.bal-nav > li {
    margin: 0px !important;
    padding: 0px 2px;
    border: none !important;
    background: transparent;
    border-right: 1px solid #90a964 !important;
    height: 25px;
}

    .r-seven_design #aj ul.bal-nav > li:nth-child(2) {
        border-left: 1px solid #90a964 !important;
    }


    .r-seven_design .amount-top-nav-re li a::after, .r-seven_design .amount-top-nav-re li button::after {
        content: "";
        position: absolute;
        background: var(--main-bg-lcolor);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.2;
    }

.r-seven_design #header-fixed-sticy {
    background: var(--main-bg-rcolor);
    background-image: none !important;
}

.r-seven_design .new-rdesign #aj ul.bal-nav img {
    filter: invert(100%);
    width: 11px !important;
    height: 11px !important;
    top: 0;
    margin: 0 !important;
}
    .r-seven_design .new-rdesign #aj ul.bal-nav img.moremenu_add {
        width: 15px !important;
        height: auto !important;
    }
.r-seven_design .new-rdesign #aj ul.bal-nav span {
    margin-right: 3px;
    font-size: 11px;
    color: #fff !important;
    margin-top: 0;
    position: relative;
    z-index: 9;
}
.r-seven_design .navbar.navbarr .container-fluid.asd-allapp {
    padding: 0;
}
.r-seven_design .s_menu_bar1 .reportadminclass span{
    display:none;
}
.r-seven_design .s_menu_bar1 h2.reportadminclass {
    float: left;
    margin: 0px !important;
    padding: 0 !important;
}

.r-seven_design .s_menu_bar1 .list.report-list-change h2.reportadminclass {
    padding: 5px 7px !important;
    margin: 10px 0px 10px 13px !important;
}

.r-seven_design .s_menu_bar1 .menu .list a span {
    display: none;
}

.r-seven_design .s_menu_bar1 .img-responsive {
    width: 60px !important;
    height: 36px;
    margin: 0;
}
.r-seven_design .s_menu_bar1 .navbar-header.asd-asd {
    height: 40px;
}
.r-seven_design .ratailer-header-page.s_menu_bar3 {
    width: 96.5% !important;
    transition:1s;
}
.r-seven_design .s_menu_bar1 {   
    transition: 1s;
}
.r-seven_design section.content.s_menu_bar2 {
    margin-left: 4.8% !important;
    transition: 1s;
}
#aj .res_menuseven {
    display: none;
}
.r-seven_design {
    background: #f1f2f6;
}
.r-seven_design section.content {
    background-color: #f1f2f6;
}
    .r-seven_design .dasborddetailback {
        background: #f1f2f6;
    }

@media only screen and (max-width:1600px){

    .r-seven_design .ratailer-header-page.s_menu_bar3 {
        width: 95.6% !important;
    }

}


@media only screen and (max-width:1547px) {

    .r-seven_design .dasborddetail .col-md-3.full-icon, .r-seven_design .dasborddetail .col-md-3.pay-o {
        width: 18.5%;
    }



}
@media only screen and (max-width:1366px) {

    .r-seven_design #leftsidebar {
        width:13.3% !important;
    }

        

    .r-seven_design .navbar-right {
        margin-right: 0px;
    }

    .r-seven_design .bal-nav {
        justify-content: end;
    }
    .r-seven_design #leftsidebar.s_menu_bar1 {
        width: 70px !important;
    }
    .r-seven_design section.content.s_menu_bar2 {
        margin-left: 72px !important;
    }
    .r-seven_design .ratailer-header-page.s_menu_bar3 {
        width: 95% !important;
    }


}

@media only screen and (max-width:1280px) {

    .r-seven_design .dasborddetail .col-md-3.full-icon, .r-seven_design .dasborddetail .col-md-3.pay-o {
        width: 23.5%;
    }
    .r-seven_design .ratailer-header-page.s_menu_bar3 {
        width: 94.5% !important;
    }

}
@media only screen and (max-width:1169px) {

    .r-seven_design .layoutt .navbar-header.asd-asd {
        display: block;
        width: auto;
        padding: 0 !important;
    }

    .r-seven_design .ratailer-header-page .navbar-header {
        display: none;
    }

    .r-seven_design .ratailer-header-page{
        width:100%;
    }

    .r-seven_design #search-wrapper2 {
        display: none;
    }

    .r-seven_design #leftsidebar {
        width: 212px !important;
    }
    .r-seven_design .navbar-header.ccc.asd-asd.logoheight-second.logoheight-third {
        width:100%;
    }
    .r-seven_design .navbar-header .bars {
        top: 11px;
        left: 18px;
    }
    .r-seven_design .responshive-rightclass {
        width: 100% !important;
    }
    .r-seven_design #aj ul.bal-nav {
        margin-top: 0px !important;
    }
    .r-seven_design .col-xs-8.col-sm-8.col-md-8.col-lg-8.show-to.right-op {
        padding-left: 15px !important;
    }

}

@media only screen and (max-width:1150px){

    .r-seven_design .navbar-header .bars {
        top: 22px;
        left: -120px;
    }

}

@media only screen and (max-width:1097px){

    .r-seven_design .resp_div {
        width: auto !important;
    }
    .r-seven_design .pull-right .newimgspan p {
        display: block;
    }


}

@media only screen and (max-width:990px){


    .r-seven_design .col-xs-12.col-md-4.cart-p.dasborddetail {
        margin-top: 0px !important;
    }

    .r-seven_design .navbar-header .bars {
        top: 21px;
        left: -102px;
    }
    .r-seven_design #aj .bal-nav li {
        margin-top: 0px;
    }
    .r-seven_design #aj ul.bal-nav > li {
        padding: 0px 2px !important; 
    }
    .r-seven_design .col-md-3.pay-o a {
        margin: 0;
    }
    .r-seven_design .dasborddetail .col-md-3.full-icon, .r-seven_design .dasborddetail .col-md-3.pay-o {
        width: 23%;
    }



}

@media only screen and (max-width:767px){


    .r-seven_design .collapse {
        display: block;
    }
    .r-seven_design .ratailer-header-page #navbar-collapse {
        position: relative;
        top: 0px;
    }
        .r-seven_design .ratailer-header-page #navbar-collapse #aj {
            width: 100%;
            height: 42px !important;
            border-radius: 0px;
        }
    .r-seven_design .ratailer-header-page .navbar-header {
        background-image: none !important;
    }
    .r-seven_design .ratailer-header-page #navbar-collapse {
        width: 100% !important;
    }
    .r-seven_design #aj .res_menuseven {
        display: block;
        position: absolute;
        right: 65px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        top: 8px;
    }
    .r-seven_design .seven_tmenu-r {
        float: right;
    }
    .r-seven_design .navbar .navbar-toggle {
        display: none;
    }

    .r-seven_design .new-rdesign #aj ul.bal-nav {
        position: absolute !important;
        width: 130px !important;
        display: none;
        top: 45px !important;
        background: var(--main-bg-rcolor) !important;
        right: 21px !important;
    
        }

    .r-seven_design .responshive-rightclass #aj.col-md-12, .r-seven_design .responshive-rightclass #aj.col-md-12 ul.bal-nav {
        background-image: none !important;
        background: var(--main-bg-rcolor);
    }

    .r-seven_design .responshive-rightclass #aj.col-md-12 {
        padding-bottom: 0px;
    }
    .r-seven_design .nav.navbar-nav.navbar-right {
        height: 45px !important;
    }
    .r-seven_design .amount-top-nav-re li a, .r-seven_design .amount-top-nav-re li button {
        display: flex !important;
    }

    .r-seven_design #aj ul.bal-nav > li {
        width: 100% !important;
        margin-top: 0px !important;
        border: 1px solid #90a964 !important;
        padding: 0;
    }
    .r-seven_design .amount-top-nav-re li i {
        width: 20px !important;
        height: 20px !important;
    }
    .r-seven_design .nav-header-topin {
        font-size: 12px !important;
    }
    .r-seven_design .navbar-header .bars {
        top: -1px !important;
        left: -2px !important;
    }
    .r-seven_design .dasborddetail .col-md-3.full-icon, .r-seven_design .dasborddetail .col-md-3.pay-o {
        width: 31%;
    }
    .r-seven_design .nav.navbar-nav.navbar-right .w-50 {
        height: 100% !important;
    }
    .r-seven_design .top-searchbarr {
        height: 100% !important;
    }
    .r-seven_design .navbar {
        max-height: 45px;
    }
    .r-seven_design #leftsidebar.retailer-header-left {
        z-index: 99999999 !important;
    }
    .r-seven_design .dasborddetail .col-md-3.full-icon button, .r-seven_design .dasborddetail .col-md-3.pay-o button {
        width: 50px;
        height: 50px !important;
    }
    .r-seven_design .dasborddetail .col-md-3.full-icon .bubblep.bubblepss a.btn.btn-default.btn-circle.waves-effect.waves-circle.waves-float.pull-right.dropdown-toggle {
        width: 50px;
        height: 50px !important;
    }
    .r-seven_design .dasborddetail .col-md-3.full-icon, .r-seven_design .dasborddetail .col-md-3.pay-o {
        height: 60px;
    }



}

@media only screen and (max-width:629px){

    .r-seven_design .dasborddetail .col-md-3.full-icon, .r-seven_design .dasborddetail .col-md-3.pay-o {
        width: 30%;
    }
    .r-seven_design .dasborddetailback .col-md-3 a {
        font-size: 12px !important;
    }


}

@media only screen and (max-width:520px){

    .r-seven_design .col-xs-12.col-md-4.cart-p.dasborddetail.myaccount-secon-design {
        margin-top: 0px !important;
    }
    .r-seven_design .dasborddetail .col-md-3.full-icon, .r-seven_design .dasborddetail .col-md-3.pay-o {
        width: 46.5%;
    }

}

@media only screen and (max-width:480px){


    .r-seven_design #leftsidebar.sidebar.retailer-header-left {
        margin-top: 0px !important;
    }
}


@media only screen and (max-width:430px) {

    .r-seven_design .dasborddetail .col-md-3.full-icon, .r-seven_design .dasborddetail .col-md-3.pay-o {
        margin: 4px !important;
    }
    .r-seven_design .dasborddetail .col-md-3.full-icon, .r-seven_design .dasborddetail .col-md-3.pay-o {
        width: 47%;
    }

        .r-seven_design .dasborddetail .col-md-3.full-icon button, .r-seven_design .dasborddetail .col-md-3.pay-o button {
            margin-right: 8px;
        }
        .r-seven_design .dasborddetail .col-md-3.full-icon button, .r-seven_design .dasborddetail .col-md-3.pay-o button {
            width: 40px;
            height: 40px !important;
        }

        .r-seven_design .dasborddetail .col-md-3.full-icon .bubblep.bubblepss a.btn.btn-default.btn-circle.waves-effect.waves-circle.waves-float.pull-right.dropdown-toggle {
            width: 40px;
            height: 40px !important;
        }
    .r-seven_design .dasborddetail .col-md-3.full-icon, .r-seven_design .dasborddetail .col-md-3.pay-o {
        height: 50px;
    }
    .r-seven_design #aj .dropdown-submenu.seven_Rpro1 {
        left: -101px;
        width: 145px !important;
    }
        .r-seven_design #aj .dropdown-submenu.seven_Rpro1 .dropdown-submenu {
            left: -174px;
            width: 173px;
        }
    .r-seven_design .dropdown-submenu.seven_Rpro1 li a i {
        width: 25px;
        height: 25px;
    }




}


/*  RETAILER panel end  */




