<ul class="add-pur-button">
    <li class="for-list-button">
        <input type="radio" value="value3" name="group1" id="byapi2" checked="">
        <label for="byapi2" id="MsgSet">Seller Account List</label>
    </li>
    <li class="for-account-button">
        <input type="radio" value="value4" name="group1" id="bysim2">
        <label for="bysim2" id="EmailSet">Add Seller Account</label>
    </li>
</ul>
<div class="for-account-list">

    <div class="row">
        <div class="col-md-12">
            <label>Select (seller) Party</label>
            <select class="for-select all_fields">
                <option>no selected</option>
                <option>jhg</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Select Account</label>
            <select class="for-select all_fields">
                <option>no selected</option>
                <option>jhg</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Select Operator</label>
            <select class="for-select all_fields">
                <option>no selected</option>
                <option>jhg</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Enter Transfer Amount</label>
            <input type="text" class="all_fields" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Enter Reciving Lapu/API Balance</label>
            <input type="text" class="all_fields" />
            <button style="position: absolute;right: 18px;top: 28px;padding: 3px 10px;color: #000;border:0px;background:#a4a0a0;">View Commission</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Commission Amount & Ratio</label>
            <input type="text" value="6565765" class="all_fields" readonly />
            <button style="position: absolute;right: 18px;top: 28px;padding: 3px 10px;color: #000;border:0px;background:#a4a0a0;">5%</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 add-pur-bottom">
            <button type="reset" class="reset">Reset</button>
            <button type="submit" class="fullbodydycolorbg for-account-list-hide">Pay</button>

        </div>
    </div>

</div>
<div class="for-account-list-show" style="display:none;">
    <div class="row">
        <div class="select-border">
            <div class="col-md-6">
                <span>Party Name</span>
            </div>
            <div class="col-md-6">
                <span>Sanjay Choudhary</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="select-border">
            <div class="col-md-6">
                <span>Account No</span>
            </div>
            <div class="col-md-6">
                <span>6432189684</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="select-border">
            <div class="col-md-6">
                <span>Operator</span>
            </div>
            <div class="col-md-6">
                <span>Airtel</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="select-border">
            <div class="col-md-6">
                <span>Transfer Amount</span>
            </div>
            <div class="col-md-6">
                <span>854856</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="select-border">
            <div class="col-md-6">
                <span>Receiving Amount</span>
            </div>
            <div class="col-md-6">
                <span>854850</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="select-border">
            <div class="col-md-6">
                <span>Commission</span>
            </div>
            <div class="col-md-6">
                <span>85</span>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6">
            <span>Ratio</span>
        </div>
        <div class="col-md-6">
            <span>5%</span>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="password" style="border: 1px solid #bbb;margin-bottom:10px;margin-top:10px; height: 32px;width: 100%;float: left;padding: 0px 10px;" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 add-pur-bottom">

            <button type="submit" class="fullbodydycolorbg for-account-list-hide">Pay</button>

        </div>
    </div>
</div>

<div class="for-seller-account" style="display:none;">
    <div class="row">
        <div class="col-md-12">
            <label>Select Category</label>
            <div class="select-purchase">
                <select>
                    <option>no selected</option>
                    <option>API</option>
                    <option>Port</option>

                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Select Port / API</label>
            <select class="for-select all_fields">
                <option>no selected</option>
                <option>jhg</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Select Bank Name</label>
            <select class="for-select all_fields">
                <option>no selected</option>
                <option>jhg</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Account Holder</label>
            <input type="text" placeholder="Enter Account Holder" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Bank Account No</label>
            <input type="text" placeholder="Enter Account Number" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>IFS Code</label>
            <input type="text" placeholder="Enter IFS Code" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 add-pur-bottom">
            <button type="submit" class="fullbodydycolorbg">Add Seller Account</button>
        </div>
    </div>
</div>
