
<style>
    #ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        #ul li {
            float: left;
        }

            #ul li a {
                display: block;
                text-align: center;
                padding: 5px 10px;
                text-decoration: none;
                border: 1px solid #ddd;
                position: initial;
            }
            #ul li a img{
                width: 12px;
                float: left;
                margin-top: 4px;
                margin-right: 5px;
                }

                #ul li a:hover:not(.activee) {
                    /* background-image: linear-gradient(to right , var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;*/
                    color: #fff;
                    border: 1px solid #b1a6a6;
                    background: var(--main-bg-lcolor);
                }
                 #ul li a.activee.navbar img.reportnone {
    display: none;
}
                 #ul li a img.reportblock {
    display: none;
}

                 #ul li a.activee.navbar img.reportblock {
    display: block;
}
    .activee {
        color: white;
        margin-bottom: 0px;
        /*background-image: linear-gradient(to right , var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;*/
        background: var(--main-bg-lcolor);
    }
    /*.activee:hover {
            color: white;
            border: 1px solid #00000026;
        }*/
</style>
<div>
    <div id="custnav" class="uuio">
        <ul id="ul">
            <li><a href="~/ADMIN/Air/TicketReport">Booked <img class="reportnone" src="~/ashok-images/travel(1).svg"><img class="reportblock" style="" src="~/ashok-images/travel1.svg"></a></li>
            <li><a href="~/ADMIN/Air/CancellationReport">Canceled <img class="reportnone" src="~/ashok-images/travel(1).svg"><img class="reportblock" style="" src="~/ashok-images/travel1.svg"></a></li>
           
        </ul>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        var current = location.pathname;
        $('#custnav li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('activee');
                $this.addClass('navbar');

            }
        })
    });
</script>

