
<style>
    #ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        #ul li {
            float: left;margin-right:2px;        }

            #ul li a {
                display: block;
                text-align: center;
                padding: 5px 10px;
                text-decoration: none;
                border: 1px solid #b1a6a638;
                position: initial;
            }

                #ul li a:hover:not(.activee) {
                    background-color: #FFC107;
                    color: black;
                    border: 1px solid #b1a6a6;
                }

    .activee {
        color: white;
        margin-bottom: 0px
    }
    .kklo #custnav ul li a {
        border-color: #ddd !important;
    }
    /*.activee:hover {
            color: white;
            border: 1px solid #00000026;
        }*/

     /*  new css   */

        .kklo #custnav ul li a.activee.navbar {
            background: var(--main-bg-lcolor);
            background-image: none !important;
        }

</style>
<div class="kklo">
    <div id="custnav">
        <ul id="ul">
            <li><a href="~/ADMIN/Air/TicketReport"><img class="reportnone" src="~/images/airplane.png"><img class="reportblock" style="" src="~/images/airplane.svg">Flight</a></li>
            <li><a href="~/ADMIN/Home/BusBookingReport"><img class="reportnone" src="~/ashok-images/bus.svg"><img class="reportblock" style="" src="~/ashok-images/bus (1).svg">Bus</a></li>
            <li><a href="~/ADMIN/Hotel/HotelReport"><img class="reportnone" src="~/ashok-images/hotel.svg"><img class="reportblock" style="" src="~/ashok-images/hotel(1).svg">Hotel</a></li>
            <li><a href="@Url.Action("IRCTC_rem_REPORTS","Home")"><img class="reportnone" src="~/ashok-images/hotel.svg"><img class="reportblock" style="" src="~/ashok-images/hotel(1).svg">IRCTC</a></li>
            
        </ul>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        var current = location.pathname;
        $('#custnav li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('activee');
                $this.addClass('navbar');

            }
        })
    });
</script>

