@{
    ViewBag.Title = "DTHConnection";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            ADD NEW DTH PLAN AND SPECIFICATION
                            <small>
                                @ViewBag.ErrMsg
                            </small>
                        </h2>
                    </div>
                    <div class="body">
                        @using (Html.BeginForm("AddDtdPlan", "DthBooking", FormMethod.Post))
                        {
                            <form class="form-horizontal">
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="title">Title</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="" style="border:1px solid #dddddd;">
                                                <input type="text" id="title" name="title" class="form-control" placeholder="Enter Title" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="password_2">Plan Name</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="" style="border:1px solid #dddddd;">
                                                <input type="text" name="PlanName" id="PlanName" class="form-control" placeholder="Enter plan name" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="password_2">Offer Price</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="" style="border:1px solid #dddddd;">
                                                <input type="text" name="OfferPrice" id="OfferPrice" class="form-control" placeholder="Enter offer price" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="password_2">Published Price</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="" style="border:1px solid #dddddd;">
                                                <input type="text" name="PublishedPrice" id="PublishedPrice" class="form-control" placeholder="Enter published price" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="optId">Operator</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="" style="border:1px solid #dddddd;">
                                                <select name="optId" id="optId" class="selectpicker form-control" placeholder="Enter plan spefification" required="" data-live-search="true">
                                                    <option value="1">Dish Tv</option>
                                                    <option value="2">Tata Sky</option>
                                                    <option value="3">Videocon D2H</option>
                                                    <option value="4">Airtel</option>
                                                    <option value="5">Sun Direct</option>
                                                    <option value="6">Independent TV</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="BoxTypeId">Set Top Box</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="" style="border:1px solid #dddddd;">
                                                <select id="BoxTypeId" name="BoxTypeId" class="selectpicker form-control" placeholder="Enter plan Box" required="" data-live-search="true">
                                                    <option value="1">Standard Definition (SD)</option>
                                                    <option value="2">High Definition (HD)</option>
                                                    <option value="3">High Definition Plus (HD+)</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id='TextBoxesGroup'>
                                    <div class="row clearfix" id="TextBoxDiv1">
                                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                            <label for="password_2">Specification 1</label>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                            <div class="form-group">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    <input type="text" name="specifications" class="form-control" placeholder="Enter plan spefification" required>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                                        <button type="button" class="btn" id='addButton' style="margin-top: 4px; margin-left:7px; height:34px;border:1px solid #c7c2c2;">ADD Specification</button>
                                        <button type="button" class="btn" id='removeButton' style="margin-top: 4px; margin-left:7px; height:34px;border:1px solid #c7c2c2;">Remove Specification</button>
                                        <button type="submit" class="btn" style="margin-top: 4px; margin-left:7px; height:34px;border:1px solid #c7c2c2;">SAVE</button>
                                    </div>
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<!-- SweetAlert Plugin Js -->
<script src="~/AdminDesign/plugins/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript">

    $(function () {

        var counter = 2;

        $("#addButton").click(function () {

            if (counter > 10) {
                alert("Only 10 dprcifications allowed");
                return false;
            }

            var newTextBoxDiv = $(document.createElement('div'))
                 .attr("id", 'TextBoxDiv' + counter);
            newTextBoxDiv.addClass("row clearfix");

            //newTextBoxDiv.after().html('<label class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">Specification ' + counter + ' : </label>' +
            //      '<input type="text" name="textbox' + counter +
            //      '" id="textbox' + counter + '" value="" >');
            newTextBoxDiv.after().html('<div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label"><label for="password_2">Specification ' + counter +'</label></div><div class="col-lg-10 col-md-10 col-sm-8 col-xs-7"><div class="form-group"><div class="form-line"><input type="text" name="specifications" class="form-control" placeholder="Enter plan spefification"></div></div></div>');
            newTextBoxDiv.appendTo("#TextBoxesGroup");


            counter++;
        });

        $("#removeButton").click(function () {
            if (counter == 1) {
                alert("No more specification to remove");
                return false;
            }

            counter--;

            $("#TextBoxDiv" + counter).remove();

        });

        $("#getButtonValue").click(function () {

            var msg = '';
            for (i = 1; i < counter; i++) {
                msg += "\n Textbox #" + i + " : " + $('#textbox' + i).val();
            }
            alert(msg);
        });
    });
</script>
