@using Vastwebmulti.Models;
@model Vastwebmulti.Areas.ADMIN.Models.MasterDistributerModel
@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    string urllinks = @ViewBag.urllink;

    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;



}


@{
    VastwebmultiEntities db = new VastwebmultiEntities();
    var allcolor1 = db.tblMenuColors.ToList();
    var selectedcolor1 = allcolor1.Count == 0 ? "" : allcolor1.SingleOrDefault().SelectedColor;
    var menucolor1 = allcolor1.Count == 0 ? "" : allcolor1.SingleOrDefault().MenuColor;
    var col = "";
    var outercolor = db.changecolors.Where(p => p.Role == "ADMIN").ToList();
    if (outercolor.Count > 0)
    {
        if (outercolor.SingleOrDefault().Role == "ADMIN")
        {
            col = outercolor.Where(p => p.Role == "ADMIN").SingleOrDefault().multipaloutercolor;
        }
    }
    else
    {
        col = "";
    }
    var color = col;
    var Apk_Version = "";
    var apkversion = db.uploaded_apklink.SingleOrDefault();
    if (apkversion != null)
    {
        if (!string.IsNullOrWhiteSpace(apkversion.Apk_Version))
        {
            Apk_Version = apkversion.Apk_Version;
        }

    }

    var aboutbac = db.tblAboutUsBackgroundColorChanges.Where(p => p.Role == "ADMIN").ToList();
    var aboutbaccolor = aboutbac.Count == 0 ? "" : aboutbac.SingleOrDefault().MultipalAboutUsColor;

    var service = db.tblServiceOuterColors.Where(p => p.Role == "ADMIN").ToList();
    var servicecolor = service.Count == 0 ? "" : service.SingleOrDefault().ServiceBackGroundcolor;

    ViewBag.Services = db.tblServices.Where(p => p.Role == "ADMIN").ToList();

    ViewBag.product = db.tblProducts.ToList();

    var productcolor = db.tblProductBackColors.ToList();
    var productbackcolor = productcolor.Count == 0 ? "" : productcolor.SingleOrDefault().ProductBackColor;

    ViewBag.works = db.tblWorks.ToList();
    var workbackcolor1 = db.tblWorkbackColors.ToList();
    var workbackcolor = workbackcolor1.Count == 0 ? "" : workbackcolor1.SingleOrDefault().WorkBackColor;

    var border = db.Admin_Outer_Border.ToList();
    var bordersize = border.Count == 0 ? "" : border.SingleOrDefault().Border;

    ViewBag.card = db.tblCards.Where(p => p.Role == "ADMIN").ToList();
    var cardbackcolor1 = db.tblCardBackColors.Where(p => p.Role == "ADMIN").ToList();
    var cardbackcolor = cardbackcolor1.Count == 0 ? "" : cardbackcolor1.SingleOrDefault().CardBackColor;
    ViewBag.about = db.tblAboutUsContents.Where(p => p.Role == "ADMIN").ToList();
    ViewBag.address = db.tblContects.ToList();
    var st = db.tblMenus.Where(p => p.Role == "ADMIN").ToList();
    var homests = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "HOME").SingleOrDefault().Status;
    var aboutsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "ABOUT").SingleOrDefault().Status;
    var servicests = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "SERVICES").SingleOrDefault().Status;
    var productsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "PRODUCTS").SingleOrDefault().Status;
    var worksts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "WORKS ").SingleOrDefault().Status;
    //var cardsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "CARDS").SingleOrDefault().Status;
    var travelsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "TRAVEL").SingleOrDefault().Status;
    var dthsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "DTHCONNECTION").SingleOrDefault().Status;
    var teamsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "TEAM").SingleOrDefault().Status;
    var contactsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "CONTACTUS").SingleOrDefault().Status;
    var whychoosests = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "WHYCHOOSEUS").SingleOrDefault().Status;
    var newupdatasts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "NEWUPDATE").SingleOrDefault().Status;

    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

}



<!-- offer section -->

<section id="offer_section" class="offer_section layout_padding-bottom">
    <div class="offer_container">
        <div class="container " style=" max-width: 1300px;">
            <div class="heading_container">
                <h2>
                    Services
                </h2>
            </div>
            <div class="row">
                <div class="col-md-4  ">
                    <div class="box ">
                        <div class="img-box">
                            <img style=" width: 103px;" src="~/img/B mnemonic_PNG.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Bill Payment
                            </h5>
                            <h6>
                                @*<span>20%</span>*@ Pay all your bills online with the BBPS. Postpaid mobile, landline, electricity bill, and water bill payment.
                            </h6>
                            <a href="">
                                Click Now
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  ">
                    <div class="box ">
                        <div class="img-box">
                            <img style=" width: 140px;" src="~/MainFrontDesign/Recharge_theme_css/images/all_uitilites.png" alt="">

                        </div>
                        <div class="detail-box">
                            <h5>
                                All Utilities
                            </h5>
                            <h6>
                                @*<span>15%</span>*@ Postpaid Mobile, Landline, Broadband, Electricity bill with BBPS, Insurance premium, and Water Bill Payment.
                            </h6>
                            <a href="">
                                Click Now
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4  ">
                    <div class="box ">
                        <div class="img-box">
                            <img style=" width: 95px;" src="~/images/prepaid.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Prepaid & Dth
                            </h5>
                            <h6>
                                We are provide all prepaid and DTH recharge with live response, you feel real speed with US.
                            </h6>
                            <a href="">
                                Click Now
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4  ">
                    <div class="box ">
                        <div class="img-box">
                            <img style=" width: 110px;" src="~/images/New_Mpos.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                M-POS Device
                            </h5>
                            <h6>
                                M POS (Mobile Point of Sale) 24x7 Fast services with maximum commission.
                            </h6>
                            <a href="">
                                Click Now
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4  ">
                    <div class="box ">
                        <div class="img-box">
                            <img style=" width: 118px;" src="~/images/Busloader.gif" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Bus & Flight
                            </h5>
                            <h6>
                                All domestic Bus booking and All domestic & international Flight booking.
                            </h6>
                            <a href="">
                                Click Now
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4  ">
                    <div class="box ">
                        <div class="img-box">
                            <img style=" width: 85px;" src="~/images/ecommerceouter.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                E-Commerce
                            </h5>
                            <h6>
                                We are provide India largest E commerce market minimum price and maximum standard.
                            </h6>
                            <a href="">
                                Click Now
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4  ">
                    <div class="box ">
                        <div class="img-box">
                            <img style=" width: 120px;" src="~/images/new_dmt.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                DMT
                            </h5>
                            <h6>
                                DMT is a fast and secure service for transferring money within the country.
                            </h6>
                            <a href="">
                                Click Now
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4  ">
                    <div class="box ">
                        <div class="img-box">
                            <img style=" width: 160px;" src="~/images/new_aeps.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Aeps
                            </h5>
                            <h6>
                                AEPS is a simple and secure service for basic banking transactions using Aadhaar.
                            </h6>
                            <a href="">
                                Click Now
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<!-- end offer section -->
<!-- about section -->

<section id="about_section" class="about_section layout_padding">
    <div class="container  ">

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img style=" border-radius: 1px 45px 1px 45px;" src="~/MainFrontDesign/Recharge_theme_css/images/about_img.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Our About Us
                        </h2>
                    </div>
                    <p>
                        Our website offers a fast, secure, and convenient platform for all your recharge and bill payment needs. Whether it’s mobile recharge, DTH recharge, or paying utility bills, you can do it all in just a few clicks. With instant transactions, multiple payment options, and exclusive offers, we make sure you stay connected and your services never get interrupted. Enjoy hassle-free recharges and bill payments anytime, anywhere, all in one place.
                    </p>
                    <a href="">
                        Contact Us
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
<!-- book section -->
<section id="book_section" class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Contact Us
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <form action="">
                        <div>
                            <input type="text" class="form-control" placeholder="Your Name" />
                        </div>
                        <div>
                            <input type="text" class="form-control" placeholder="Phone Number" />
                        </div>
                        <div>
                            <input type="email" class="form-control" placeholder="Your Email" />
                        </div>
                        
                        <div>
                            <input type="date" class="form-control">
                        </div>
                        <div class="btn_box">
                            <button>
                                Sbmit Now
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="map_container ">
                    <div class="embed-map-fixed">
                        <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&height=450&hl=en&q= + @Address + &t=&z=14&ie=UTF8&iwloc=B&output=embed"></iframe>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end book section -->

<!-- food section -->
<section id="our_app" class="food_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Our App
            </h2>
        </div>


        <div class="filters-content">
            <div class="row grid" style="height:auto;">
                <div class="col-sm-12 col-lg-12 all pizza">
                    <div class="box">
                        <div>
                            <div class="img-box">

                                <img style=" border-radius: 50px;" src="~/MainFrontDesign/Recharge_theme_css/images/android.jpg" />
                            
                                <div class="Download_app">
                                    <img src="~/MainFrontDesign/Recharge_theme_css/images/download.jpg" />
                                    
                                    <p style=" margin-top: 15px;">Download Version = @Apk_Version</p>

                                </div>
                            
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Download Our App
                                </h5>
                                <p>
                                    To download the Android application directly from the website, the download button is given below, to download the application, open the website in the Android device.

                                </p>

                                <div class="btn-box">

                                    @if (!string.IsNullOrEmpty(urllinks))
                                    {
                                        <a style=" margin-right: 10px;" href="@Url.Action("DownloadAPK", "Home")">Download Android App </a>
                                    }
                                    else
                                    {
                                        <a style=" margin-right: 10px;" href="">App Link Not Available</a>
                                    }

                                    <a style=" margin-right: 10px;" href="javascript:void(0);" onclick="myFunction()" onmouseout="outFunc()" >Copy Download Link</a>



                                    @if (!string.IsNullOrEmpty(urllinks))
                                    {
                                        <input type="text" id="txthdlink" name="txthdlink" readonly value="@urllinks" style="opacity:0;" />
                                    }

                                    <a href="">
                                        Download Play Store Link
                                    </a>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
    </section>

<!-- end food section -->
<!-- client section -->

@*<section class="client_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center psudo_white_primary mb_45">
            <h2>
                What Says Our Customers
            </h2>
        </div>
        <div class="carousel-wrap row ">
            <div class="owl-carousel client_owl-carousel">
                <div class="item">
                    <div class="box">
                        <div class="detail-box">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                            </p>
                            <h6>
                                Moana Michell
                            </h6>
                            <p>
                                magna aliqua
                            </p>
                        </div>
                        <div class="img-box">
                            <img src="~/MainFrontDesign/Recharge_theme_css/images/client1.jpg" alt="" class="box-img">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="detail-box">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                            </p>
                            <h6>
                                Mike Hamell
                            </h6>
                            <p>
                                magna aliqua
                            </p>
                        </div>
                        <div class="img-box">
                            <img src="~/MainFrontDesign/Recharge_theme_css/images/client2.jpg" alt="" class="box-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@