@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@using Vastwebmulti.Models;
@{
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    
    var admindetail = db2.Admin_details.ToList();
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
}

<style>
    .cardshfhf {
        border-radius: 5px;
        height: 250px;
    }
    @@media only screen and (max-width:480px){
        .cardshfhf {
            height: auto;
        }

    }



</style>

<div class="container my3 pt-3 z-depth-1">
    <section class="pagedetl mb-5">
        <div class="section-title aos-init aos-animate" data-aos="fade-up">
            <h2>About Us</h2>
        </div>
        <div class="row d-flex align-items-center">

            <div class="col-md-5 col-lg-5 col-sm-5">
                <div class="our-services1">
                    <img src="~/MainFrontDesign/theme11_css/images/ABOUT US.png" />
                </div>
            </div>

            <div class="col-md-7 col-lg-7 col-sm-7">
                <div class="our-services1">
                    <h3 class="text-muted">
                        <span style="color: var(--main-bg-lcolor);"><strong> Welcome to @Firm_Name </strong></span>
                    </h3>
                    <p class="text-muted">
                        We are a leading banking service solution provider based in India . We currently have more than 60+ services like prepaid recharges, domestic money transfer, postpaid, landline, electricity, gas, water, broadband, insurance, fast tag,  Travel, irctc, taxation and others. In a very short space of time, as @Firm_Name. we have experienced rapid growth and have established our company as one of the leading player in the indian market. We have experienced unprecedented growth, significantly expanding its retail base and channel partner. Over the past year, we have continued to develop and improve in a number of ways. Additionally, we’ve focused attention on customer service to ensuring customer satisfaction and a new designed to ensure the easy to adopt, easy to use this influences our product development roadmap going forward. For us, these developments will provide the perfect launch pad for our business as we continue to grow and innovate enabling our channel partners to deliver better services to their customers and End users.
                        We are a one stop destination for all online services like Mobile, DTH and Data Card Recharges, Postpaid Bill Payment, Electricty Bill Payment, Landline Bill Payment, Bus Booking, Flight Booking, Entertainment, Remittance / Money-transfers, White Label Recharge Websites and Software, Recharge and DTH Direct Operator API Provider and Many More.

                    </p>
                    <p class="text-muted">
                        We help to connect the rural, urban and semi-urban towns and villages in India through its portal for all financial and non-financial services. Our strength in the fields of service, distribution and payment processing enables the centers to provide various online services at ease and economically. In today’s sophisticated world, time is a huge constraint. We make every minute of yours, count. Avail major services online, no more waiting in long queues to pay your mobile, DTH ,gas, electricity and other bills, Pay at your convenience through our portal in a nearby center. Also avail mobile and DTH recharge offers online.

                    </p>
                    <p class="text-muted">
                        Our aim Is to provide consumers this convenience by creating a franchise network in every village, town and city. These franchisees are equipped with user friendly terminals, which are connected to the service provider's servers and execute transactions on a real-time basis. We have Agreements with service provider's and is authorized to issue legally valid reservations and receipts to consumers.

                    </p>

                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 mt-4">
                <div class="our-services1">
                        <a href="#!" class="hoverable">
                            <div class="text-center">
                                <div class="cardshfhf" style="">
                                    <img class="img-fluid " src="~/MainFrontDesign/theme11_css/images/Vision.png" alt="0">
                                    <h5 class="text-dark">
                                        <b>Our Vision</b>
                                    </h5>
                                    <p class="text-dark clrblack">
                                        To become a one-stop digital payment and banking point and superior channel to enhance India’s monetization infrastructure, specifically within the unorganized retail sector
                                    </p>
                                </div>

                            </div>
                        </a>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 mt-4">
                <div class="our-services1">
                    <a href="#!" class="hoverable">
                        <div class="text-center">
                            <div class="cardshfhf" style="">
                                <img class="img-fluid " src="~/MainFrontDesign/theme11_css/images/Mission.png" alt="0">
                                
                                <h5 class="text-dark"><b>Our Mission</b></h5>
                                <p class="text-dark clrblack">
                                    To enable the adoption of fintech in every small business and retail store in India in a quest to grow their business and help expand their offerings.
                                    To spur job creation by aiding micro-entrepreneurship, specifically in the rural and semi-urban sectors.
                                </p>
                            </div>

                        </div>
                    </a>
                </div>
            </div>

        </div>
    </section>
</div>