
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "aeps";
}
@using Vastwebmulti.Models;
@{
    var favimage = "";
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {
        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;


}
<style type="text/css">
    .our-services1 {
        padding: 15px 15px;
        min-height: 240px;
        text-align: left;
        border-radius: 10px;
        background-color: #fff;
        transition: all .4s ease-in-out;
        box-shadow: 0 0 3px 0 rgb(20 27 202 / 17%);
    }

</style>
<div class="container my3 pt-3 z-depth-1">
    <section class="pagedetl mb-5">
        <div class="section-title aos-init aos-animate" data-aos="fade-up">
            <h2>AEPS (Aadhaar Enable Payment System)</h2>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="our-services1">
                    <div class="row">
                        <div class="col-lg-6 mabtbx align-self-baseline" data-aos="zoom-in" data-aos-delay="100">
                            <img alt="" class="img-fluid" src="~/MainFrontDesign/theme11_css/images/aeps.png" style="width: 90%;" />

                        </div>
                        <div class="col-lg-6 pt-3 pt-lg-0 content">
                            <p class="font-italic">    AEPS - Aadhar and biomatric base payment service</p>
                            <p class="font-italic">    <strong>What is AEPS ?</strong></p>
                            <p>    Aadhaar enabled payment system (AEPS) is a secured payment method provided by the National payments corporation of India (NPCI) that allows aadhaar linked bank account holders to avail basic banking services such as balance inquiry & cash withdrawal. Customers simply need to tell our Retailer or Distributor their 12-digit aadhaar number and aadhaar linked Bank name. Fingerprint authorization is done using a biometric device to avail the service.</p>
                            <p class="font-italic">    <strong>Use of AEPS</strong></p>
                            <ul class="mb-2">
                                <li>     Cash withdrawal</li>
                                <li>     Payment transfer</li>
                                <li>     Balance enquiry</li>
                                <li>     Mini statement</li>
                            </ul>
                            <p>    AEPS is a aadhaar based payment system. Any one can easily do payment using aeps. you can get best commission on each transaction. Bank are providing commission on each payment. Any time retailer can requst to setel this amount in bank. fast and secure aeps service by Maple pay. our agents can use this features using @Firm_Name app.</p>
                            <p>    Aadhaar enabled payment system (AEPS) is a secured payment method provided by the National payments corporation of India (NPCI) that allows aadhaar linked bank account holders to avail basic banking services such as balance inquiry & cash withdrawal. Customers simply need to tell our Retailer or Distributor their 12-digit aadhaar number and aadhaar linked Bank name. Fingerprint authorization is done using a biometric device to avail the service.</p>
                        </div>
                    </div> <p>  &nbsp;</p>
                </div>
            </div>
        </div>
    </section>
</div>
