
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Bill Payment";
}
@using Vastwebmulti.Models;
@{
    var favimage = "";
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {
        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;


}

<style>
    .our-services1 {
        padding: 15px 15px;
        min-height: 240px;
        text-align: left;
        border-radius: 10px;
        background-color: #fff;
        transition: all .4s ease-in-out;
        box-shadow: 0 0 3px 0 rgb(20 27 202 / 17%);
    }
</style>

<div class="container my3 pt-3 z-depth-1">
    <section class="pagedetl mb-5">
        <div class="section-title aos-init aos-animate" data-aos="fade-up">
            <h2>Bharat Bill Payment System: Bharat BillPay | BBPS</h2>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="our-services1">
                    <h5>@Firm_Name Bill Payment Services</h5>
                    <p>
                        BBPS full form Bharat Bill Payments System is an integrated online platform developed by NPCI for different kinds of bill payments. It is an interoperable service that enables payment collection for over 200 billers across 22 varied categories.
                    </p>
                    <p>
                        Bharat Bill Payment System (BBPS) Simplifies bills payment process also enhances the security & speed of bill payment process. <br /> The service is available in multiple payment modes, online and through a network of agents.
                    </p>
                    <p>
                        An instant confirmation is generated for the bill payments. The BBPS will transform the society from cash to electronic payment system, making it less dependent on cash. Currently you can pay bill for Utility (Gas, electricity, water, DTH) and Telecom billers.
                    </p>
                    <h5>BBPS Benefits</h5>
                    <p>  Anywhere, Anytime Bill Payment Collections.</p>
                    <p>  @Firm_Name for all Recurring Bill Payment Collections.</p>
                    <p>  Instant Confirmation to Your Customers with Automatic Receipt Generation.</p>
                    <p>  Safe, Reliable, and Convenient Transactions.</p>
                    <p>  <strong>&nbsp;</strong></p>
                </div>
            </div>
        </div>
    </section>
</div>