@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Contact Us";
}
@using Vastwebmulti.Models;
@{
    var favimage = "";
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {
        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;

}

<style>
    .our-services1 {
        padding: 15px 20px;
        text-align: left;
        background-color: #fff;
        transition: all .4s ease-in-out;
        border: 1px solid;
    }
</style>

    <div class="container my-5 z-depth-1">
        <section class="contact mb-5">
            <div class="section-title aos-init aos-animate" data-aos="fade-up">
                <h2>Contact Us</h2>
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <div class="our-services1">
                        <h2>
                            CONTACT TO COMPANY
                        </h2>
                        <ul class="text-lg-left list-unstyled ml-4">
                            <li>
                                <p class="text-muted">
                                    <span style="font-size:20px;"><span style="color: #4f56c8;"><strong> @Firm_Name </strong></span></span>
                                </p>
                            </li>
                            <li>
                                <h3 class="text-muted">
                                    <span style="color:#4f56c8;"><span style="font-size:13px;"><strong>Help-line No :- @CustCareNo</strong></span></span>
                                </h3>
                            </li>
                            <li>
                                <h3 class="text-muted ">
                                    <span style="color:#4f56c8;"><span style="font-size:13px;"><strong>Help-line No :- @CustCareNo</strong></span></span>
                                </h3>
                            </li>
                            <li>
                                <h3 class="text-muted">
                                    <span style="color:#4f56c8;"><span style="font-size:13px;"><strong>Help-line Mail :- <a href='mailto:@SupportMail'> @SupportMail </a></strong></span></span>
                                </h3>
                            </li>
                            <li>
                                <p class="text-muted mt-3">
                                    <span style="color: #333;"><span style="font-size:13px;"><strong><span style="font-family: arial, sans-serif;">Add :- @Address </span></strong></span></span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <div class="card-body form">
                        <h3 style="text-decoration: underline; text-align: center;">Kindly enter your details</h3>
                        

                        <form action="" method="post">
                            <div class="row">
                                <!-- Grid column -->
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <label for="txtFirstName" class=""></label>
                                        <input type="text" id="txtFirstName" class="form-control formbuttonborder" placeholder="First Name*" />
                                        <span id="RequiredFieldValidator1" class="rfv" style="color:Red;display:none;">Please Enter First Name !</span>
                                    </div>
                                </div>
                                <!-- Grid column -->
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <label for="txtLastName" class=""></label>
                                        <input type="text" id="txtLastName" class="form-control formbuttonborder" placeholder="Last Name*" />
                                        <span id="RequiredFieldValidator2" class="rfv" style="color:Red;display:none;">Please Enter Last Name !</span>
                                    </div>
                                </div>
                                <!-- Grid column -->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form mb-0">
                                        <label for="txtEmail" class=""></label>
                                        <input type="text" id="txtEmail" class="form-control formbuttonborder" placeholder="Email Id*" />
                                        <span id="rfvEmail" class="rfv" style="color:Red;display:none;">Please Enter Email !</span>
                                        <span id="revEmail" style="color:Red;display:none;">Email is not valid !</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form mb-0">
                                        <label for="txtmobile" class=""></label>
                                        <input type="text" maxlength="10" id="txtmobile" class="form-control formbuttonborder" placeholder="Mobile Number*" />
                                        <span id="rfvMobile" style="color:Red;display:none;">Please Enter Mobile !</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Grid column -->
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <label for="txtPincode" class=""></label>
                                        <input type="text" class="form-control formbuttonborder" placeholder="Pincode*" />
                                        <span id="RequiredFieldValidator1" class="rfv" style="color:Red;display:none;">Please Enter Pincode* !</span>
                                    </div>
                                </div>
                                <!-- Grid column -->
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <label for="txtLastName" class=""></label>
                                        <input type="text" id="txtLastName" class="form-control formbuttonborder" placeholder="City*" />
                                        <span id="RequiredFieldValidator2" class="rfv" style="color:Red;display:none;">Please Enter City* !</span>
                                    </div>
                                </div>
                                <!-- Grid column -->
                            </div>
                            <div class="row  mb-4">
                                <div class="col-md-12">
                                    <div class="md-form mb-0">
                                        <label for="txtmobile" class=""></label>
                                        <input type="text" id="txtmobile" class="form-control formbuttonborder" placeholder="State*" />
                                        <span id="rfvMobile" style="color:Red;display:none;">Please State* !</span>
                                    </div>
                                </div>
                            </div>

                            <input type="submit" value="Submit" id="btnSave" class="btn btn-orange btn-rounded mx-0" style="padding: 10px 31px; width: 100% !important; color: #fff;" />

                        </form>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

