
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "domestic_transfer";
}
@using Vastwebmulti.Models;
@{
    var favimage = "";
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {
        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;
    
}
<style>
    .our-services1 {
        padding: 15px 15px;
        min-height: 240px;
        text-align: left;
        border-radius: 10px;
        background-color: #fff;
        transition: all .4s ease-in-out;
        box-shadow: 0 0 3px 0 rgb(20 27 202 / 17%);
    }
</style>

<div class="container my3 pt-3 z-depth-1">
    <section class="pagedetl mb-5">
        <div class="section-title aos-init aos-animate" data-aos="fade-up">
            <h2>Money Transfer Services</h2>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="our-services1">
                    <p>
                        <strong>@Firm_Name Money Transfer Services</strong>
                    </p>
                    <p>
                        <strong>Sending Money the Simple Way!</strong>
                    </p>

                    <p class="pt-3"> Sending money with us is a seamless process. You can visit any of our partner locations, provide the necessary details, and your money will be on its way. We prioritize your security measures in place to safeguard your transactions and personal information, providing peace of mind with every transfer. Our user- friendly system requires no technical expertise; it’s as straightforward as a few clicks. With an extensive network of partner locations, whether you’re in a  bustling city or a remote area, sending or receiving money is convenient. Plus we offer competitive rates and low fees, ensuring you get more value when sending your hard-earned money.</p> 
                    
                    <p class="pt-3">  <strong>Features of @Firm_Name Money Transfer Service</strong></p> <p class="pt-3">  Safe, easy and instant money transfer to any bank in India</p> <p class="pt-3">  Transfer money to your loved ones anytime, even during bank holidays.</p>
                    <p class="pt-3">  There is no need to go to the bank, fill forms or maintain an account with the same bank to transfer money.</p>
                    <p class="pt-3">  To send money only the recipient&#39;s account number, phone number (OTP) is required.</p> <p class="pt-3">  You get confirmation via SMS as soon as the money is transferred.</p>
                    <p class="pt-3">  Easily send money to any bank account across India.</p>
                    <p class="pt-3">  The money can be transferred to any Bank Account 24x7 by customers who do not have a Bank Account of their own.</p>
                </div>
            </div>
        </div>
    </section>
</div>