
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Micro ATM";
}
@using Vastwebmulti.Models;
@{
    var favimage = "";
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {
        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;

}
<style>
    .our-services1 {
        padding: 15px 15px;
        min-height: 240px;
        text-align: left;
        border-radius: 10px;
        background-color: #fff;
        transition: all .4s ease-in-out;
        box-shadow: 0 0 3px 0 rgb(20 27 202 / 17%);
    }
</style>

<div class="container my3 pt-3 z-depth-1">
    <section class="pagedetl mb-5">
        <div class="section-title aos-init aos-animate" data-aos="fade-up">
            <h2>Micro ATM </h2>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="our-services1">
                    <h5>Discover the possibilities today with our m-ATM!</h5>
                    <p>
                        The future of convenient, on-the-go banking. m-ATM is your all-in-one solution, empowering retailers to assist their customers with ease. This revolutionary device functions just like a traditional ATM, offering the flexibility to withdraw cash, check account balances, and conduct basic banking transactions at any time and from anywhere. Earn commissions while providing this essential service.
                    </p>
                    <p>  &nbsp;</p>
                    <p>  Our Retailers can now accept payments from several Card. The device is easy to use and empower Retailers to go cashless transaction . Micro/Mini ATM network that provides convenient banking services to citizens.As India&#39;s first interoperable operating system, it is a banking innovation that can serve any bank customer though our portable device with debit card interface. The Micro ATM Machine is operated by @Firm_Name Retailer that will includes a card reader for all cash withdrawal and balance enquiry transactions from all bank debit cards.</p>

                    <h5>  Benefits of MICRO ATM</h5>
                    <p>  @Firm_Name Micro ATM is a portable device Easy to carry.</p>
                    <p>  Accept payment from any bank Debit Card & ATM Card.</p>
                    <p>  Easy to use ,Safe & Highly Secured Method.</p>
                    <p>  Instant payment Confirmation with SMS alerts.</p>
                    <p>  Mini ATM uses -Restaurant ,Medical shops,Garments,Jewellery shop etc</p>
                    <p>  <strong>&nbsp;</strong></p>
                </div>
            </div>
        </div>
    </section>
</div>