<style>
    #ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        /*background-color: #e91e63;*/
    }

        #ul li {
            float: left;
        }

            #ul li a {
                display: block;
                color: white;
                text-align: center;
                padding: 8px 10px;
                text-decoration: none;
            }

                #ul li a:hover:not(.activee) {
                    background-color: #111;
                }

    .activee {
        background-color: #393d56;
    }
</style>
<div >
    <div id="custnav" class="navbar" style="position:initial;">
        <ul id="ul">
            <li><a href="~/RETAILER/Home/FundRecive">Fund Received</a></li>
            <li><a href="~/RETAILER/Home/Purchase_ORDER">Purchase Order</a> </li>
            <li><a href="~/RETAILER/Home/Retailer_to_retailer">Fund Trans</a> </li>
            <li><a href="~/RETAILER/Home/show_credit_Report">Credit</a> </li>
        </ul>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
         var current = location.pathname;
        $('#custnav li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('activee');
            }
        })
    });
</script>
