<style>

    .loader {
        position: fixed;top: -90px;left: 0;
        background-color: rgba(255,255,255,0.7);
        z-index: 999999999999;display: none;height: 100vw;width: 100vw;
    }

    @@-webkit-keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    @@media screen and (max-width:1440px) {
        .Recharg11 {
            font-size: 17px;
        }
    }

    @@media screen and (max-width:1080px) {
        .Recharg11 {
            font-size: 14px;
        }
    }
    .loader::after {
        content: '';display: block;position: absolute;left: 48%;top: 25%;width: 100px;
        height: 100px;border-style: solid;border-color: black;border-top-color: transparent;
        border-width: 4px;border-radius: 50%;-webkit-animation: spin .8s linear infinite;animation: spin .8s linear infinite;
    }

    .wretailerbroashow .viewwretailer .form-group {height: auto !important;}

    .wretailerbroashow .viewwretailer .form-group .form-line {height: auto !important;}

    .wretailerbroashow .viewwretailer .form-group .form-line input {
     height: auto !important;padding: 5px !important;background: transparent !important;color: #555 !important;font-size: 11px;
      }

    .wretailerbroashow .viewwretailer {padding-right: 0;top: 4px !important;}
    @@media screen and (max-width:767px) {
        .wretailerbroashow .col-md-4, .wretailerbroashow .col-md-2, .wretailerbroashow .col-md-3, .wretailerbroashow .col-md-1 {
            width: 100% !important;padding: 0 !important;
        }

        .wretailerbroashow {margin: 0;}
    }
</style>
<div id="broadshow" class="row wretailerbroashow" style="padding-left:0px;">
    <div class="col-md-4 elecpay-first broadshow-class">
        
        <div class="form-group" style="margin-bottom:0px;">
            <div class="wretailererrorclass">
                <p id="" class="insurancemessage22" style="position:static !important;"></p>
            </div>
            <div class="input-group">
                @Html.DropDownList("broadbandddltype", ViewBag.Broadband as SelectList, "Select Operators", new { id = "broadbandddltype", @class = "form-control", required = "required", onchange = "broadbandddl(this)" })
                <div class="input-group-addon in-addon">

                </div>

            </div>
            <!-- /.input group -->
        </div>

    </div>
    <div class="col-md-3" style="padding-right:15px;">
        
        <div class="form-group" style="margin-bottom:0px;">
            <div class="wretailererrorclass">
                <p id="broadbandmessage" class="insurancemessage22" style="position:static !important;"></p>
            </div>
            <div class="txtelectricity1" style="margin-top:0px; height:37px;">
                <input type="text" id="txtbroadbandno" name="txtbroadbandno" class="form-control" placeholder="Enter User ID " onkeypress="return isNumber(event)" />
            </div>
        </div>
    </div>
    <div class="col-md-2" id="wamount-second-f" style="padding-left:0;">
        
        <div class="form-group" style="margin-bottom: 0px;">
            <div class="wretailererrorclass">
                <p id="broadbandamountmessage" class="insurancemessage22" style="position:static !important;"></p>
            </div>
            <div class="txtelectricity1" style="margin-top:0px; height:37px;">
                <input type="text" id="broadbandamount" name="broadbandamount" class="form-control" placeholder="Enter Amount" style="padding-left:0px;" onkeypress="return isNumber(event)" />
                <!--View Bill button--->
                <div class="col-md-1 wamount-input-type viewwretailer">
                    <center>
                        <div class="form-group" style="margin-bottom:0px;">
                            <div class="form-line" style="border-bottom:none;">
                                <input type="submit" id="btnnn6" class="btn bg-blue-grey" value="View Bill" style="" onclick="Getbroadbandviewbill('broadbandddltype')" />
                            </div>
                        </div>
                    </center>
                </div>
                <!---add button vive-->
            </div>
        </div>
    </div>
    <div class="col-md-1 gasamount-input-before wretailer-dthbutton" style="padding-right:0;">
        <center>
            <div class="form-group" style="margin-bottom:0px;">
                <div class="form-line" style="margin-top:0px !important; border-bottom:none;">
                    <input type="submit" id="btn6" class="btn bg-blue-grey" value="Continue" style="height:37px;" onclick="getbroadbandcontinuebtn('broadbandddltype')" />


                </div>
            </div>
        </center>

    </div>
    <!--View Bill button
    <div class="col-md-1">
        <center>
            <div class="form-group" style="margin-bottom:0px;">
                <div class="form-line" style="margin-top:38px; border-bottom:none;">
                    <input type="submit" id="btnnn" class="btn bg-blue-grey" value="View Bill" style="height:37px;" onclick="Getbroadbandviewbill('broadbandddltype')" />
                </div>
            </div>
        </center>
    </div>
    add button vive-->

</div>

<table id="confirmbroad" class="for-prepaid" style="width:100%;margin-top:-11px;display:none;">
    <tr>
        <th style="width:10%;"></th>
        <th style="width:25%;">Operator</th>
        <th style="width:25%;">Recharge to</th>
        <th style="width:10%;">amount</th>
        <th style="width:15%;">Service Fee </th>
        <th style="width:15%;">Action</th>
    </tr>
    <tr>
        <td>
            <button style="padding: 5px 20px;" onclick="backbroad()"><img src="~/AdminDesign/images/back.svg" style="width:18px;" /></button>
        </td>
        <td style="font-size: 24px;"><b><span id="showoptbroad"></span> </b></td>
        <td class="border-centerbe" style="font-size: 24px;"><b> <span id="shownumberbroad"></span> </b></td>
        <td class="border-centerbe" style="font-size: 24px;"><b><span id="showamountbroad"></span></b></td>
        <td style="padding-right:10px;"><input type="number" class="form-control" id="servicefeebroad" placeholder="Enter Fee" style="-webkit-appearance: none;-moz-appearance: textfield;" /></td>
        <td><button class="wretailer-buttonrecharge Recharg11" style="float: right;border: 0px;color: #fff;padding: 4px 19px;font-size: 20px;" onclick="broadrechargeconfirm()">Procces To Pay</button></td>

    </tr>
</table>
<table id="rechargeconfirmbroad" class="for-prepaid" style="width:100%;margin-top:-11px;display:none;">
    <tr>
        <th style="width:25%;">Recharge Status</th>
        <th style="width:37%;">Message</th>
        <th style="width:11%;">Action</th>
    </tr>
    <tr>
        <td style="font-size: 20px;"><b> <span id="rchstatuschkbroad"></span> </b></td>
        <td class="border-centerbe border-centerbess" style="font-size: 20px;"><b><span id="rchmsgbroad"></span></b></td>
        <td><button class="wretailer-buttonrecharge Recharg11" style="float: right;border: 0px;color: #fff;padding: 4px 19px;font-size: 20px;" onclick="Rechargeagainbroad()">Recharge Again</button></td>
    </tr>
</table>

<div class="loader loaderwww"></div>
<script>
    j('#broadbandddltype').select2();
</script>
<!--broadband Continue Button script-->
<script>
    function getbroadbandcontinuebtn(b) {
        var e = document.getElementById(b);
        var broadbandddltext = e.options[e.selectedIndex].text;
        var broadbandddlvalue = e.options[e.selectedIndex].value;
        var broadbandno = $("#txtbroadbandno").val();
        var broadbandamount = $("#broadbandamount").val();
        /* call function */
        var sts = getbroadbandcontiunebtn(broadbandddltext, broadbandno, broadbandamount);

        if (sts == true) {
            $('#showoptbroad').text(broadbandddltext);
            $('#shownumberbroad').text(broadbandno);
            $('#showamountbroad').text(broadbandamount);
            $('#broadshow').hide();
            $('#confirmbroad').show();
            //    Recharge(broadbandddltext, broadbandddlvalue, broadbandno, broadbandamount, "", "", "", "", "0");
            event.preventDefault();
            return false;
        }
        else {
            event.preventDefault();
            return false;
        }
    }
</script>

<!--Broadband View Bill -->
<script>
    function Getbroadbandviewbill(b) {
        var e = document.getElementById(b);
        var broadbandddltext = e.options[e.selectedIndex].text;
        var eleddlvalue = e.options[e.selectedIndex].value;
        var broadbandno = $("#txtbroadbandno").val();
        /* call function */
        var sts = getbroadbandcontiunebtn(broadbandddltext, broadbandno, "10");
        if (sts == true) {
            viewbillbroad(broadbandddltext, eleddlvalue, broadbandno, "10", "", "", "", "");
            event.preventDefault();
            return false
        }
        else {
            event.preventDefault();
            return false
        }
    }
</script>
<script>
    function viewbillbroad(optname, optvalue, mobileno, amount, optional1, optional2, optional3, optional4) {
           $.ajax({
            type: "POST",
            url: "@Url.Action("viewbill", "Home")",
            data: { OperatorName: optname, OptCode: optvalue, mobileno: mobileno, Amount: amount, optional1: optional1, optional2: optional2, optional3: optional3, optional4: optional4 },
            cache: false,
            dataType: 'json',
            closeOnConfirm: true,
               success: function (result) {
                if (result.Response == 'SUCCESS') {
                var displayValues = "";
                    var price = result.Price;

                displayValues = price;
                    if (price != "") {
                        price = parseInt(price);
                        $('#broadbandamount').val(price);
                        //swal("Success!", displayValues, "success")
                    }
                }
            }
        })
    }
</script>

<script>
    function backbroad() {

        $('#broadshow').show();
        $('#confirmbroad').hide();
        $('#rechargeconfirmbroad').hide();
    }
</script>
<script>
    function broadrechargeconfirm() {
        var e = document.getElementById("broadbandddltype");
        var broadbandddltext = e.options[e.selectedIndex].text;
        var broadbandddlvalue = e.options[e.selectedIndex].value;
        var broadbandno = $("#txtbroadbandno").val();
        var broadbandamount = $("#broadbandamount").val();
        var servicefeebroad = $("#servicefeebroad").val();
        if (servicefeebroad != "") {
            /* call function */
            var sts = getbroadbandcontiunebtn(broadbandddltext, broadbandno, broadbandamount);
            if (sts == true) {
                $("#servicefeebroad").css("border-color", "#000000");
                $("#txtbroadbandno").val("");
                $("#broadbandamount").val("");
                if (broadbandno != "" && broadbandamount != "") {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Recharge","Home")",
                        data: { OperatorName: broadbandddltext, OptCode: broadbandddlvalue, mobileno: broadbandno, Amount: broadbandamount, optional1: "", optional2: "", optional3: "", optional4: "", comm: "", BillRefId: "",servicefee: servicefeebroad },
                        cache: false,
                        dataType: 'json',
                        beforeSend: function () {
                            $('.loader').show();
                        },
                        success: function (result) {
                            var status = result.Response;
                            var message = result.Message;
                            $('#rchstatuschkbroad').text(status);
                            $('#rchmsgbroad').text(message);
                            $('#confirmbroad').hide();
                            $('#rechargeconfirmbroad').show();
                        },
                        complete: function () {
                            $('.loader').hide();
                            $.ajax({
                                url: '@Url.Action("showrecentrecharge", "Home")',
                                type: 'GET',
                                dataType: "html",
                                data: { type: "broadband" },
                                success: function (data) {
                                    $('#reportchk').html(data);
                                },
                                error: function (data) {

                                }
                            });
                        },
                        error: function () {
                            $('.loader').hide();
                        }
                    })
                }
            }
        }
        else {
              $("#servicefeebroad").css("border-color", "#FF0000");
        }
    }
</script>
<script>
    function Rechargeagainbroad() {
        $('#numbershowmobile').text();
        j('#broadbandddltype').val("");
        j('#broadbandddltype').select2().trigger('change');
        $('#txtbroadbandno').val("");
        $('#broadbandamount').val("");
        $('#broadshow').show();
        $('#confirmbroad').hide();
        $('#rechargeconfirmbroad').hide();
    }
</script>