@model Vastwebmulti.Areas.WRetailer.Models.remmulti

<table id="showoptcomm" class="table table-striped table-bordered" style="width:100%;border-top: 1px solid #aaa4a4;">
    <tr class="operator-showoptcomm">
        <th>Operator </th>
        <th>Status </th>
        <th>Offer</th>
    </tr>
    @foreach (var item in Model.optlist)
    {
        var icon = "";
        var msg = "";
        var color = "";
        DateTime? dd;

        if (item.blocktime == null)
        {
            icon = "fa fa-thumbs-o-up up-beforen";
            msg = "Live!";
            color = "green";

        }
        if (item.blocktime != null)
        {
            icon = "fa fa-thumbs-o-down down-beforen";
            dd = Convert.ToDateTime(item.blocktime);
            msg = String.Format("{0:dd-MM:HH:mm}", dd);
            color = "red";

        }
        <tr class="tableimgsecond">
            <td>
                @item.operator_Name
        </td>
        <td class="img-rightss"><i class="@icon" style="font-size:13px;color:@color;"></i>&nbsp;&nbsp;@msg</td>
        <td>@item.comm</td>
    </tr>
}
</table>
