<style>
    #ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        /*background-color: #e91e63;*/
    }

        #ul li {
            float: left;
        }

            #ul li a {
                color: black;
                padding: 7px 12px;
                text-align: center;
                text-decoration: none;
                display: block;
                margin-left: 13px;
                border-radius: 2px;
                border: 1px solid #d2d1d1;
                text-align: center;
                text-decoration: none;
                display: block;
                margin-top:3px;
            }

                #ul li a:hover:not(.activee) {
                    background-color: #111;
                    color: white;
                    border-radius: 2px;
                }

    .activee {
        background-color: #dddddd;
        color: white;
    }
</style>

<div>
    <div id="custnav" class="flight-bus-hoteltab" style="position:initial;">
        <ul id="ul">

            <li><a href="@Url.Action("Flight_Report","Home")"><span>Flight&nbsp;&nbsp;Report</span></a></li>
            <li><a href="@Url.Action("Travels_Report","Home")"><span>Bus&nbsp;Report</span></a></li>
            <li><a href="@Url.Action("Hotel_Report","Home")"><span>Hotel&nbsp;Report</span></a> </li>
        </ul>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        var current = location.pathname;
        $('#custnav li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('activee');

            }
        })
    });
</script>


