@{
    ViewBag.Title = "AEPS";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}
<style>
    .navbar-right h2 {
        color: #fff;
        margin: 20px 20px;
    }

    .mtop {
        margin: 20px 0 0;
    }

    .box-shadow {
        box-shadow: 0 2px 5px rgba(105, 108, 109, 0.7), 0 0 8px 5px rgba(208, 223, 226, 0.4) /*inset*/;
    }

    textarea {
        resize: none;
    }

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .overlay a:hover, .overlay a:focus {
            color: #f1f1f1;
        }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }



    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }


    .btn-50 {
        width: 50px;
    }

    .btn-100 {
        width: 100px;
    }

    .btn-150 {
        width: 150px;
    }

    .btn-200 {
        width: 205px;
        font-weight: 600;
        font-size: 16px;
    }

    .btn-primary {
        color: #FFF;
        background-color: #428BCA;
        border-color: #357EBD;
    }

        .btn-primary:hover {
            color: #FFF;
            background-color: #357EBD;
            border-color: #428BCA;
        }

    .img {
        min-width: 125px;
        min-height: 155px;
        width: 125px;
        height: 155px;
        border: 1px solid #CCC;
        border-radius: 4px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
        background-color: #FFFFFF;
    }

    .demo-radio-button label {
        min-width: 140px;
    }
</style>
<style>
    table, th, td {
        border: 1px solid #6363632e;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
        text-align: left;
    }
</style>
<style type="text/css">
    .loadermoney {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 199999;
        background: url('../../images/AEPS.svg') 50% 50% no-repeat rgba(249, 249, 249, 0.9);
    }
</style>
<link href="~/CSS/PageCss/AEPS.css" rel="stylesheet" />
<div id="loadermoney" class="loadermoney" style="display:none;"></div>
<section class="content" style="margin:90px 0px 0px 0px; ">
    <div class="all-page-container">

        <div class="col-md-2 card-first-classcol" style="width:11%;padding-left:0;">
            <div class="card custome-background-wr money-transfer-first" style="position:initial; margin-top:;">

                <div class="body">

                    <div class="row">

                        <div class="col-md-12 money-tab" style="margin-bottom:0px;">
                            <center>
                                <ul id="leftulbar" class="nav nav-tabs tab-col-orange" role="tablist" style="background:#607D8B;border-bottom:none;
-webkit-box-shadow:0px 0px 4px 0px rgb(96, 125, 139);
box-shadow: 0px 0px 4px 0px rgb(96, 125, 139); padding-bottom:4px; border-radius:2px;">

                                    <li id="finanical" role="presentation"  style="padding-left:55px;">
                                        <a href="@Html.Action("Money_transfer","Home")" data-toggle="tab" aria-expanded="false">
                                            <img class="dmt-active-block" src="~/images/transfer-money.png" style="height:45px;" />
                                            <img class="dmt-active-none" src="~/images/transfer-money.png" style="height:45px;" />
                                            <br />
                                            <span style="padding-left:5px;">Account Transfer</span>
                                        </a>
                                    </li>
                                    <li id="aeps" role="presentation" class="active" style="padding-left:70px;">
                                        <a href="@Html.Action("AEPS","Home")" data-toggle="tab" aria-expanded="false">
                                            <img class="dmt-active-none" src="~/images/aeps1.png" style="height:45px;margin-top:-5px;" />
                                            <img class="dmt-active-block" src="~/images/aespicon.png" style="height:45px;margin-top:-5px;" />
                                            <br /><span style="margin-left:14px;">AEPS</span>
                                        </a>
                                    </li>


                                    @if (ViewBag.psncardsts == "Y")
                                    {
                                        <li id="finanical1" role="presentation" style="padding-left:52px;">
                                            <a href="#" data-toggle="tab" aria-expanded="false" onclick="offlinepancard()">
                                                <img class="dmt-active-none" src="~/images/pancarde1.png" style="height:45px; margin-top:-5px;" />
                                                <img class="dmt-active-block" src="~/images/pancardicon.png" style="height:45px; margin-top:-5px;" />
                                                <br /><span>Pancard</span>
                                            </a>
                                        </li>

                                    }
                                    else
                                    {
                                        <li id="finanical2" role="presentation" class="" style="padding-left:52px;">
                                            <a href="#" data-toggle="tab" aria-expanded="false" onclick="offpancardsts()">
                                                <img class="dmt-active-none" src="~/images/pancarde1.png" style="height:45px; margin-top:-5px;" />
                                                <img class="dmt-active-block" src="~/images/pancardicon.png" style="height:45px; margin-top:-5px;" />
                                                <br /><span>Pancard</span>
                                            </a>
                                        </li>
                                    }

                                    @if (ViewBag.aepsandmpos == "Y")
                                    {
                                        <li id="mpos" role="presentation" class="" style="padding-left:94px;">
                                            <a href="#dth" data-toggle="tab" aria-expanded="false" onclick="mposs()">
                                                <img class="dmt-active-none" src="~/images/mpos1.png" style="height:45px;margin-top:-5px;" />
                                                <img class="dmt-active-block" src="~/images/mposicon.png" style="height:45px;margin-top:-5px;" />
                                                <br />
                                                <span style="margin-left:-8px;">M-POS</span>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li id="mpos1" role="presentation" class="" style="padding-left:94px;">
                                            <a href="#dth" data-toggle="tab" aria-expanded="true" onclick="offmposssts()">
                                                <img class="dmt-active-none" src="~/images/mpos1.png" style="height:45px;margin-top:-5px;" />
                                                <img class="dmt-active-block" src="~/images/mposicon.png" style="height:45px;margin-top:-5px;" />
                                                <br />
                                                <span style="margin-left:-8px;">M-POS</span>
                                            </a>
                                        </li>
                                    }
                                    @*<li id="Fees" role="presentation" class="" style="padding-left:62px;">
                                        <a href="@Url.Action("SchoolFees","Home")" aria-expanded="true">
                                            <img src="~/images/school.png" style="height:45px; margin-top:-5px;" />
                                            <br />
                                            <span style="padding-left:0px;">School&nbsp;Fee</span>
                                        </a>
                                    </li>
                                    <li id="Indonepal" role="presentation" class="" style="padding-left:69px;">
                                        <a href="#indonepal" data-toggle="tab" aria-expanded="false">
                                            <img src="~/images/phone.png" style="height:45px; margin-top:-5px;" />
                                            <br />
                                            <span style="padding-left:5px;">INDO&nbsp;NEPAL</span>
                                        </a>
                                    </li>*@

                                </ul>
                            </center>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div class="col-md-10 dmt-right-class">
            <div class="row clearfix">
                <div class="custome-background-wr dmt-full-body">
                    <div class="col-md-12">
                        <div class="card dmt-card-class" style="margin-top:5px;position:initial;display:block;" id="divsenderno">
                            <div class="body">
                                @Html.Partial("_Aeps")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>


