@model IEnumerable<Vastwebmulti.Models.proc_whitelabel_complaint_request_Result>
@{
    ViewBag.Title = "Complaint";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}
<link href="~/Swalalert/chatting.css" rel="stylesheet" />
<section class="content" style="margin:90px 0px 0px 0px; overflow-x:hidden;">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-4">
                <div class="card" style="margin-top:-5px;">

                    <div class="header" style="background-color:#dedddd;">
                        <h2>
                            <i class="fa fa-keyboard-o" aria-hidden="true" style="color:black; font-size:21px;"></i>&nbsp;&nbsp;<span style="color:black;">Insert Complaint</span>
                        </h2>

                    </div>
                    @using (Html.BeginForm("Complaint_insert", "Home", FormMethod.Post))
                    {
                        <div class="body" style="height:399px;">
                            <div class="form-group" style="margin-top:22px;">
                                <div class="">
                                    <textarea id="message" name="message" class="form-control" style="height:189px; border:1px solid #1b171714;" required="" placeholder="Enter Message"></textarea>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn  waves-effect" style="border:1px solid #c7c2c2;background:#dedddd;width:100%;">
                                        <i class="fa fa-send-o" style="font-size: 18px;top:2px;left: -13px;padding: 8px 8px 8px 8px;background: whitesmoke;border-radius: 35px;"></i>
                                        <span style="top: 3px;font-weight: 600;font-size: 19px;text-transform: uppercase;">Insert Message</span>
                                    </button>
                                </div>
                                <div class="col-xs-6">
                                    <button type="reset" class="btn  waves-effect" style="border:1px solid #c7c2c2;background:#dedddd;width:100%;">
                                        <i class="fa fa-eraser" style="top: 1px;"></i>
                                        <span style="top:-2px;font-size: 14px;">Reset</span>
                                    </button>
                                </div>
                                <div class="col-xs-6">
                                    <a href="@Url.Action("Dashboard","Home")" class="btn  waves-effect" style="float:right;border:1px solid #c7c2c2;background:#dedddd;width:100%;">
                                        <i class="fa fa-arrow-left" style="top:0px;color: #525050;"></i>
                                        <span style="top:-2px;font-size: 14px;color:black;">Back</span>
                                    </a>
                                </div>
                            </div>




                        </div>
                    }
                </div>
            </div>
            <div class="col-md-8">

                <div class="card" style="margin-top:-5px;">
                    <div class="panel-heading" style="border:0px solid #dddddd;background:#dedddd;">
                        <span class="fa fa-comments-o"></span> Chatting Details

                    </div>
                    <div class="panel-collapse collapse" style="display:block;">
                        <div class="panel-body" style="height:424px;">

                            <ul class="chat">

                                @foreach (var item in Model)
                                {

                                    if (item.resdate != null)
                                    {
                                        <li style="border:3px solid #fbddec;border-radius:10px;">
                                            <span class="chat-img pull-right">
                                                <p style="color:#E91E63 ;font-weight:700;margin-right:22px;margin-top:5px;">WAdmin&nbsp;&nbsp;&#8665;</p>
                                            </span>
                                            <div class="chat-body clearfix">
                                                <div class="header" style="border-bottom:none;">
                                                    <p class="text-muted" style="margin-top:-14px;"><span class="fa fa-clock-o"></span>&nbsp;@item.resdate</p>
                                                    <strong class="pull-right primary-font"></strong>
                                                </div>
                                                <p style="margin-left:38px;">
                                                    @item.response
                                                </p>
                                            </div>
                                        </li>

                                    }
                                    if (item.rdate != null)
                                    {

                                        <li class="left clearfix" style="border:3px solid whitesmoke;border-radius:10px;">
                                            <span class="chat-img pull-left">
                                                <p style="color:green;font-weight:700;margin-top:5px;margin-left:16px;">&#8663; &nbsp;&nbsp;You</p>
                                            </span>
                                            <div class="chat-body clearfix">
                                                <div class="header" style="border-bottom:none;">
                                                    <strong class="primary-font"></strong> <p class="pull-right text-muted" style="margin-top:-14px;">
                                                        <span class="fa fa-clock-o"></span>&nbsp;@item.rdate
                                                    </p>
                                                </div>
                                                @if (item.sts == "Open")
                                                {
                                                    <p style="margin-left:-19px; font-weight:700;">@item.complant </p>
                                                }
                                                else
                                                {
                                                    <p style="margin-left:-19px;">@item.complant </p>
                                                }

                                            </div>
                                        </li>
                                    }

                                }


                            </ul>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>
</section>



<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>



