
@{
    ViewBag.Title = "FinacialIndex";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}

<style>
    .scrollypy {
        overflow-y: auto !important;
        height: 250px;
    }
</style>
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/AdminDesign/Retailer_Slider/Slieder.css" rel="stylesheet" />
<section class="content" style="margin:90px 0px 0px 0px; overflow-x:hidden;">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card navbar" style="position:initial;">

                <div class="body" style="margin-top:52px; margin-bottom:28px;">
                    <div class="row">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-10">
                            <center>
                                <ul class="nav nav-tabs tab-nav-right" role="tablist" style="background:#423b40;border-bottom:none;
-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);">

                                    <li role="presentation" class="active" style="padding-left:23px;">
                                        <a href="#dth" data-toggle="tab" aria-expanded="false" onclick="moneytransfer()">
                                            <span class="material-icons" style="font-size:38px; margin-top:-5px; ">account_balance</span><br /><span style="padding-left:5px;">Money&nbsp;Transfer</span>
                                        </a>
                                    </li>

                                   @if (ViewBag.pancardsts == true)
                                   {
                                    <li role="presentation" class="" style="padding-left:23px;">
                                        <a href="#" data-toggle="tab" aria-expanded="false" onclick="offlinepancardipy()"><i class="fa fa-credit-card" style="font-size:32px; padding-left:4px; padding-top:7px;"></i><br />Pancard</a>
                                    </li>
                                   }
                                   else
                                   {
                                    <li role="presentation" style="padding-left:23px;">
                                        <a href="#" data-toggle="tab" aria-expanded="false" onclick="offlinepancard()"><i class="fa fa-credit-card" style="font-size:32px; padding-left:4px;padding-top:7px;"></i><br />Pancard</a>
                                    </li>
                                   }
                                   
                                    @*<li role="presentation" class="" style="padding-left:17px;"><a href="#landline" data-toggle="tab" aria-expanded="false"><i class="glyphicon glyphicon-phone-alt" style="font-size:33px; top:-2px;  "></i><br />Landline</a></li>
                                    <li role="presentation" style="padding-left:23px;"><a href="#electricity" data-toggle="tab" aria-expanded="true"><i class="material-icons" style="font-size:38px; margin-top:-4px; ">lightbulb_outline</i><br /><span>Electricity</span></a></li>

                                    <li role="presentation" style="padding-left:18px;"><a href="#gas" data-toggle="tab" aria-expanded="true"><i class="fa fa-fire" style="font-size:41px;  "></i><br /><span>Gas</span></a></li>
                                    <li role="presentation" style="padding-left:23px;"><a href="#Insurance" data-toggle="tab" aria-expanded="true"><i class="fa fa-umbrella" style="font-size:38px; margin-top:1px;padding-left:6px; "></i><br />Insurance</a></li>*@
                                   
                                </ul>
                            </center>
                        </div>
                        <div class="col-md-1">

                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-1">

                        </div>
                        <div class="col-md-10" style="margin-top:-21px;">
                            <center>
                                <div class="tab-content " style="background:white;-webkit-box-shadow: 0px 1px 5px 1px rgba(234, 229, 229, 0.75);-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);border-bottom-left-radius:7px;border-bottom-right-radius:7px;">
                                                             
               <!--Start Pancrad Tab-->
          @*<div role="tabpanel" class="tab-pane fade active in " id="landline">
                  <form method='post'>
            <div class="row">
                <!--Lnadline dropdown-->
                <div class="col-md-2">
                    <div class="form-group" style="margin-bottom:0px;">
                        <div class="form-line" style="top:7px;border-bottom:none;">
                            @Html.DropDownList("landlineddl", ViewBag.landline as SelectList, "Select Service Provider", new { id = "landlineddl", @class = "selectpicker form-control", data_live_search = "true", required = "required", onchange = "landlineddltype(this)" })
                        </div>
                    </div>

                </div>
                <!--Landline number-->
                <div class="col-md-2">
                    <div class="form-group" style="margin-bottom:0px;">
                        <div class="form-line" style="top:6px;">
                            <input type="text" id="txtlandline" name="txtlandline" class="form-control" placeholder="Landline Number" onkeypress="return isNumber(event)" />
                        </div>
                    </div>
                    <p id="landlinemessage" style="margin-top:7px; color:red; font-size:10px; padding-left:5px;"></p>
                </div>
                <!--STD Code-->
                <div class="col-md-1" id="DivSTDCode">
                    <div class="form-group" style="margin-bottom:0px;">
                        <div class="form-line" style="top:6px;">
                            <input type="text" id="STDCODE" name="STDCODE" class="form-control" placeholder="STD CODE" onkeypress="return isNumber(event)" style="padding-left:0px; font-size:11px;" maxlength="6" />
                        </div>
                    </div>
                    <p id="stdcodemessage" style="margin-top:7px; color:red; font-size:10px; padding-left:5px;"></p>
                </div>
                <!--Landline Account number-->
                <div class="col-md-2" id="Divaccountnumber">
                    <div class="form-group" style="margin-bottom:0px;">
                        <div class="form-line" style="top:6px;">
                            <input type="text" id="txtaccount" name="txtaccount" class="form-control" placeholder="Enter Account No" onkeypress="return isNumber(event)" />
                        </div>
                    </div>
                    <p id="accountmessage" style="margin-top:7px; color:red; font-size:10px; padding-left:5px;"></p>
                </div>
                <!--Land line amount-->
                <div class="col-md-1">
                    <div class="form-group" style="margin-bottom:0px;">
                        <div class="form-line" style="top:5px;">
                            <input type="text" id="landamount" name="landamount" class="form-control" placeholder="Amt" onkeypress="return isNumber(event)" />
                        </div>
                    </div>
                    <p id="amountmessage" style="margin-top:7px; color:red; font-size:10px; padding-left:5px;"></p>
                </div>
                <!--Land line radio-->
                <div class="col-md-2" id="divLLILLC">
                    <div class="form-group" style="margin-bottom:0px; ">
                        <div class="form-line" style="top:14px; border-bottom:none;">
                            <input name="landlinegroup" type="radio" id="LLI" value="LLI" class="with-gap radio-col-cyan" checked="">
                            <label for="LLI">LLI</label>
                            <input name="landlinegroup" type="radio" id="LLC" value="LLC" class="with-gap radio-col-cyan">
                            <label for="LLC">LLC</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="form-group" style="margin-bottom:0px;">
                        <div class="form-line" style="top:11px; border-bottom:none;">
                            <input type="submit" id="btn" class="btn btn-primary" value="Continue" onclick="Getlanlinecontinuebtn('landlineddl')" />
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>*@
                                   
                                </div>
                            </center>
                        </div>
                        <div class="col-md-1">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Slider div-->
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div id="mixedSlider">
                    <div class="MS-content">
                        <div class="item">
                            <div class="imgTitle">
                                <h2 class="blogTitle1">0.00 %</h2>
                                <h2 class="blogTitle">Aircel</h2>
                                <img src="~/RetailerRechargeimg/Aircel.png" class="img-respinsive" />
                            </div>

                        </div>
                        <div class="item">
                            <div class="imgTitle">
                                <h2 class="blogTitle1">0.00 %</h2>
                                <h2 class="blogTitle">Airtel</h2>
                                <img src="~/RetailerRechargeimg/Airtel.png" class="img-respinsive" />
                            </div>

                        </div>
                        <div class="item">
                            <div class="imgTitle">
                                <h2 class="blogTitle1">0.00 %</h2>
                                <h2 class="blogTitle">Airtel Digital TV</h2>
                                <img src="~/RetailerRechargeimg/AirtelDigitalTV.png" class="img-respinsive" />
                            </div>

                        </div>
                        <div class="item">
                            <div class="imgTitle">
                                <h2 class="blogTitle1">0.00 %</h2>
                                <h2 class="blogTitle">Big TV</h2>
                                <img src="~/RetailerRechargeimg/BigTV.png" class="img-respinsive" />
                            </div>

                        </div>
                        <div class="item">
                            <div class="imgTitle">
                                <h2 class="blogTitle1">0.00 %</h2>
                                <h2 class="blogTitle">BSNL</h2>
                                <img src="~/RetailerRechargeimg/BSNL.png" class="img-respinsive" />
                            </div>

                        </div>

                    </div>
                    <div class="MS-controls">
                        <button class="MS-left"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                        <button class="MS-right"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </div><br />
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<script src="~/AdminDesign/Retailer_Slider/multislider.js"></script>

<script>
$('#basicSlider').multislider({
continuous: true,
duration: 2000
});
$('#mixedSlider').multislider({
duration: 750,
interval: 3000
});
</script>

<script>
function isNumber(evt) {
evt = (evt) ? evt : window.event;
var charCode = (evt.which) ? evt.which : evt.keyCode;
if (charCode > 31 && (charCode < 48 || charCode > 57)) {
return false;
}
return true;
}
</script>


<!--select Landline dropdown text for placeholder -->
<script>
    function landlineddltype(l)
    {
        var p = l.options[l.selectedIndex].text;
      getlandlineddltext(p);
    }
</script>
<!--Landline continue btn Javascript -->
<script type="text/javascript">
    function Getlanlinecontinuebtn(land)
    {
        var e = document.getElementById(land);
        var ddllandline = e.options[e.selectedIndex].text;
        var radiobtn = document.querySelector('input[name="landlinegroup"]:checked').value;
        var landlineno = $("#txtlandline").val();
        var Stdcode = $("#STDCODE").val();
        var accountno = $("#txtaccount").val();
        var amountno = $("#landamount").val();

        getlandlinecontinuebtn(ddllandline, landlineno, Stdcode, accountno, amountno, radiobtn)
    }
</script>




<!--Money Transfer-->
<script>
    function moneytransfer()
    {
        var url = '@Url.Action("Money_transfer","Home")'
        window.location.href = url;
    }
</script>





