
@{
    ViewBag.Title = "Fund_Transfer_Retailer_To_Retailer";
}


<style>
    .select2-container--default .select2-selection--single {
        border: 1px solid #eee !important;
        border-radius: 0px !important;
        height: 32px !important;
    }
</style>

<section>
    <div class="all-page-container">
        <div class="back-home-page">
            <ul>
                <li><a href="~/ADMIN/Home/Dashboard">Dashboard&nbsp;<img src="/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px;margin-top: -2px;"></a></li>
                <li>R <sup>2</sup> R Transfer </li>
            </ul>
        </div>

        <div class="fundtransfer-wr">

            <div class="col-md-4 purchase-tab-wr">
                <div class="custome-background-wr retailer-to-retailer" style="width:100%;float:left;">
                    <h2 class="fullbodydycolorbg">Retailer To Reatiler Fund Transfer</h2>
                    <div class="purchase-form-wr retailer-to-retailer-form">
                        <form>

                            <span>User Email / Mobile</span>
                            <input type="text" placeholder="Enter Email ID / Mobile No" />

                            <span>Enter Amount</span>
                            <input type="text" placeholder="Enter Amount" />

                            <span>Comments</span>
                            <textarea></textarea>
                            <div class="retatler-transfer-button">
                                <button class="">Cancel</button>
                                <button class="fullbodydycolorbg">Next</button>
                            </div>

                        </form>
                    </div>

                </div>

            </div>

            <div class="col-md-8 fundtransfer-reportwr">

                <div class="custome-background-wr height-report-id">
                    <div class="purchasereport-header">
                        <h2 style="position:relative;">History<span class="fullbodydycolorbg">Fund Transfer</span><i class="fa fa-caret-down" aria-hidden="true"></i></h2>

                        <div class="col-md-2 lager-date-search">
                            <div class="form-group">
                                <div class="form-line" style="border-bottom:none;margin-top:0px;">
                                    <center>

                                        <button value="OLD" type="submit" class="btn" id="btntype" name="btntype" style="margin-top:5px; margin-left:2px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                            <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                            <span style="top:-1px;color:black;">Search</span>
                                        </button>

                                    </center>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 lager-date-wr" style="padding:0;">
                            <div class="form-group" style="margin-bottom:0px;margin-top:1px;">
                                <div class="input-daterange input-group">
                                    <div class="input-whitelabel leftwhitellabel">
                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i>
                                        <input type="date" style="text-align:center;padding-left:0px;" />
                                    </div>
                                    <div class="input-whitelabel rightwhitellabel">
                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i>
                                        <input type="date" style="text-align:center;padding-left:0px;" />
                                    </div>
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                                            </div>

                    <div class="table-report-purchase">
                        <div class="table-responsive-bottom">
                        <table border="1" id="">
                            <thead>
                                <tr>
                                    <th>Transfer&nbsp;To&nbsp;(User)</th>
                                    <th>Amount</th>
                                    <th>User&nbsp;Old&nbsp;Bal</th>
                                    <th>User&nbsp;Updated&nbsp;Bal</th>
                                    <th>Your&nbsp;Old&nbsp;Bal</th>
                                    <th>Your&nbsp;Updated&nbsp;Bal</th>
                                    <th>Transaction&nbsp;Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Transfer&nbsp;To&nbsp;(User)</td>
                                    <td>1000</td>
                                    <td>100</td>
                                    <td>2000</td>
                                    <td>149</td>
                                    <td>2000</td>
                                    <td>28-07-2020</td>

                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>

                </div>

            </div>

            

            


        </div>

    </div>
</section>


<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>


<script>
    $('.for-select2').select2();


</script>





<script>
    $(function () {
        var loc = window.location.href; // returns the full URL
        if ('/~/WRetailer/Home/Fund_Transfer_Retailer_To_Retailer') {
            $('.list-reports-wr li:nth-child(11) a').addClass('active');
        }
    });
</script>




