
@{
    ViewBag.Title = "Service_Fee";
}
<section style="margin:0;">
    <div class="all-page-container">
       <div class="col-md-12 service-page-full" style="padding:20px 0 0 0;">
           <div class="col-md-4 service-first-wr">
               <div class="service-fee-wr custome-background-wr">
                   <div class="service-hader">
                       <h2 class="fullbodydycolorbg"><img src="~/ashok-images/support(1).svg" />Service Fee</h2>
                   </div>
                   <table border="1" class="table-design-custome">
                       <thead>
                           <tr>
                               <th>Service's</th>
                               <th>Type</th>
                               <th>Mode</th>
                               <th>Price</th>
                           </tr>
                       </thead>

                       <tbody>
                           <tr>
                               <td>DMT</td>
                               <td>Free</td>
                               <td>Monthly</td>
                               <td>0.00</td>
                           </tr>
                           <tr>
                               <td>PANCARD</td>
                               <td>Free</td>
                               <td>Monthly</td>
                               <td>0.00</td>
                           </tr>
                           <tr>
                               <td>AEPS</td>
                               <td>Free</td>
                               <td>Monthly</td>
                               <td>0.00</td>
                           </tr>
                           <tr>
                               <td>M-POSH</td>
                               <td>Free</td>
                               <td>Monthly</td>
                               <td>0.00</td>
                           </tr>
                           <tr>
                               <td>School&nbsp;Fee</td>
                               <td>Free</td>
                               <td>Monthly</td>
                               <td>0.00</td>
                           </tr>
                           <tr>
                               <td>INDONEPAL</td>
                               <td>Free</td>
                               <td>Monthly</td>
                               <td>0.00</td>
                           </tr>
                           <tr>
                               <td>FLIGHT</td>
                               <td>Free</td>
                               <td>Monthly</td>
                               <td>0.00</td>
                           </tr>
                           <tr>
                               <td>BUS</td>
                               <td>Free</td>
                               <td>Monthly</td>
                               <td>0.00</td>
                           </tr>
                           <tr>
                               <td>HOTEL</td>
                               <td>Free</td>
                               <td>Monthly</td>
                               <td>0.00</td>
                           </tr>
                           <tr>
                               <td>ECOMM</td>
                               <td>Free</td>
                               <td>Monthly</td>
                               <td>0.00</td>
                           </tr>
                           <tr>
                               <td>GIFTCARD</td>
                               <td>Free</td>
                               <td>Monthly</td>
                               <td>0.00</td>
                           </tr>
                       </tbody>

                   </table>
               </div>
           </div>

           <div class="col-md-8 service-second-wr">
               <div class="service-data-page custome-background-wr">
                   <table border="1" class="table-design-custome">
                       <thead>
                           <tr>
                               <th>Service&nbsp;Name</th>
                               <th>Mode</th>
                               <th>Pre&nbsp;₹</th>
                               <th>Fee</th>
                               <th>post&nbsp;₹</th>
                               <th>Purchase&nbsp;Date</th>
                               <th>Exp&nbsp;Date</th>
                           </tr>

                       </thead>
                       <tbody>
                           <tr><td colspan="7" style="text-align:center;">No Data Found</td></tr>
                       </tbody>
                   </table>
               </div>
           </div>

       </div>

        </div>
        </section>