
@{
    ViewBag.Title = "wallethistory";
}

<style>
    .select2-container--default .select2-selection--single {
        border: 1px solid #eee !important;
        border-radius: 0px !important;
        height: 32px !important;
    }
</style>

<section>
    <div class="all-page-container">
        <div class="back-home-page">
            <ul>
                <li><a href="~/ADMIN/Home/Dashboard">Dashboard&nbsp;<img src="/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px;margin-top: -2px;"></a></li>
                <li>Wallet History </li>
            </ul>
        </div>

        <div class="wallet-history-wr">
            <div class="custome-background-wr" style="width:100%;float:left;">
                <div class="table-responsive-bottom">
                    
                        <table border="1">
                            <thead>
                                <tr>
                                    <th>Receive&nbsp;From</th>
                                    <th>Head</th>
                                    <th>P-Mod</th>
                                    <th>Net&nbsp;Transfer</th>
                                    <th>Charge</th>
                                    <th>Receive&nbsp;Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>Recharge</td>
                                    <td>210</td>
                                    <td>399</td>
                                    <td>20</td>
                                    <td>28-07-2020</td>
                                </tr>
                            </tbody>
                        </table>
                    
                </div>

                </div>
            </div>

    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>



<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>


<script>
    $('.for-select2').select2();


</script>

<script>
    $(function () {
        var loc = window.location.href; // returns the full URL
        if ('/~/WRetailer/Home/wallethistory') {
            $('.list-reports-wr li:nth-child(10) a').addClass('active');
        }
    });
</script>