@model Vastwebmulti.Areas.RETAILER.ViewModels.GetFlightDetailsVM
@{
    Layout = null;
    var admin = ViewBag.AdminDetailes;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>E-Ticket</title>
    <style>
        .button {
            font: bold 11px Arial;
            text-decoration: none;
            background-color: #EEEEEE;
            color: #333333;
            float: left;
            padding: 2px 6px 2px 6px;
            border-top: 1px solid #CCCCCC;
            border-right: 1px solid #333333;
            border-bottom: 1px solid #333333;
            border-left: 1px solid #CCCCCC;
            margin-top: 11px;
        }
    </style>

    @*<link href="~/CSS/PageCss/Eticket.css" rel="stylesheet" />*@
    <link href="~/AdminDesign/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    @*<script language="JavaScript" src="~/Scripts/PageScript/Retailer/FlightResport/prototype.js"></script>
        <script language="JavaScript" src="~/Scripts/PageScript/Retailer/FlightResport/ash.js"></script>*@

    <script language="JavaScript" type="text/javascript">
          function ClosePop()
            {
            window.close();
            }
    </script>

    <script language="JavaScript" type="text/javascript">
<!--

/* The actual print function */

var flightId;
var flightIdOther;
// -->
    </script>

</head>
<body>


</body>
</html>
