









<style>
    .slab-setting-menu {
        float: left;
        padding: 0px;
    }

        .slab-setting-menu li {
            list-style: none;
            float: left;
            border: 1px solid #bbb;
            margin-right: 3px;
        }

            .slab-setting-menu li a {
                color: #555 !important;
                padding: 5px 6px;
                display: block;
            }

                .slab-setting-menu li a.activee {
                    color: #fff !important;
                }
</style>












<ul class="slab-setting-menu">
    <li><a href="@Url.Action("Flight_Report","Home")">Flight </a></li>
    <li><a href="@Url.Action("Bus_Report","Home")">Bus</a></li>
    <li><a href="@Url.Action("Hotel_Report","Home")">Hotel</a></li>
    @*<li><a href="@Url.Action("CancellationReport","Home")">Cancellations&nbsp;Report</a></li>*@


</ul>
<script type="text/javascript">



    $(function () {
        var current = location.pathname;
        $('.slab-setting-menu li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('activee');

            }
        })
    });

</script>



