
@{
    ViewBag.Title = "Active_User";
}
<style>
    .active-user-dealer .table-responsive table tr td p{text-align:left !important;color:#555 !important;}
    img{max-width:100%;}
    .activeusershow table {width: 100%;float: left;}
    .activeusershow img{text-align:center;margin:0px auto;display:block;}
    .activeusershow{padding:10px;border:1px solid #ddd;padding-bottom:20px;}
    .activeusershow table {border-color: #bfbfbf;}
    .activeusershow table tr td, .activeusershow table tr th {border-color: #bfbfbf;padding:10px;}
    .img-round-active {
        border-radius: 50%;width: 350px;height: 350px;padding: 41px 51px;text-align: center;
        margin: 0px auto;margin-bottom: 0px;display: block;margin-bottom: 20px;
    }
    .activeusershow table th, .activeusershow table td span, .activeusershow table td p {
    margin: 0 !important;font-size: 25px;font-weight: bold;color:#fff;}
    .activeusershow table td strong{border:0 !important;}
    .img-round-active img {width: 50%;}
    .img-round-active {width: 100%;float: left;height: auto;padding: 0;}
    .activeusershow .fullbodydycolorbg {margin: 10px 0;margin-bottom: 30px;}
    .activeusershow {border-radius: 25px 0;}

    .dealer-four-design .col-md-6 {
        padding-left: 0;
    }
    .dealer-four-design .col-md-6:last-child {
        padding-right: 0;
    }

    

    @@media screen and (max-width:990px) {
        .activeusershow {margin-bottom: 25px;}
    }

    @@media screen and (max-width:480px){

     .activeuser-dealer-second .col-md-6, .bread-same-all-pagesecond-dealer {width: 100%;float: left;padding: 0;}
    .bread-same-all-pagesecond-dealer ul{padding:0px !important;}

    }

</style>
<section class="content" style="">
    <div class="container-fluid full-dealer-secondanimation">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Active User</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Account Active 2&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Active User</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <!--Active and Inactive User-->
        <div class="bread-same-all-page bread-same-all-pagesecond-dealer dealer-none-fourclass">
            <ul style="padding-left:15px;width:100%;float:left;margin-bottom:0;">
                <li class="smli">
                    <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                        Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px; margin-top: -2px; ">
                    </a>
                </li>

                <li class="fullbodydycolorbg tmw-total-color-one">
                    User's Book
                </li>
            </ul>
        </div>

        <div class="activeuser-dealer-second" id="" style="width:100%;float:left;margin-top:20px;">
            <div class="col-md-6">
                <div class="activeusershow activeusershow-seconddealer dealer-box-back-four" style="width:100%;float:left;background:#eae9e9;">

                    <div class="img-round-active" style="background:;">
                        <img src="~/ashok-images/cash-counter.svg" style="text-align: center;" />
                    </div>
                    <table border="1" class="fullbodydycolorbg">
                        <tr>
                            <th>
                                ACTIVE
                            </th>
                            <td>
                                <span id="active-userid"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-md-6">
                <div class="activeusershow activeusershow-seconddealer dealer-box-back-four" style="width:100%;float:left;background:#eae9e9;">
                    <div class="img-round-active" style="">
                        <img src="~/ashok-images/sleepy-worker-at-work.svg" style="text-align:center;" />
                    </div>
                    <table border="1" class="fullbodydycolorbg">
                        <tr>
                            <th>
                                INACTIVE
                            </th>
                            <td>
                                <span id="inactiveuserid"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!--End-->
    </div>
</section>

<!--Active and Inactive User using Javascript-->




<script>
    $(window).on('load', function() {
        activeinactive();
})

    function activeinactive()
    {
        
        //call ajax
        $.ajax({
            url: '@Url.Action("Show_All_ActiveandInactive_user", "Home")',
            type: 'POST',
             dataType: "html",
             success: function (data) {


                var x = JSON.parse(data);
                 var newRow = '';
                 newRow=

               "<p>" +

              "<strong style='border-right:1px solid #eeeeee;'><span style='padding-top:3px;text-align:center;'>" + x.Reatileractive + "</span></strong>" +"</p>";

                 $('#active-userid').append(newRow);
                 newRow = '';
                 newRow=
               "<p>" +

              "<strong style='border-right:1px solid #eeeeee;'><span style='padding-top:3px;text-align:center;'>" + x.Retailerinactive + "</span></strong>" +"</p>";

                $('#inactiveuserid').append(newRow);
            },
             
             
            error: function (data) {

            }
        });
          }
</script>