
@{
    ViewBag.Title = "GatewayTRANSFER_Dealer";
}

<style>
    .getway-wallet-details ol li {list-style: decimal !important;margin-bottom:4px;color:#555;}
    .getway-wallet-details ol{padding-left:17px;}
    .dealer-getwaytransfer ,.getway-purchasedetails ,.getway-wallet-details ,.getway-history-header{width:100%;float:left;}
    .dealer-getwaytransfer{background:#eae9e9;}
    .dealer-getwaytransfer h2{text-align:center;width:100%;margin:0;padding:10px 0;color:#fff;font-weight:600;font-size:18px;}
    .getway-wallet-details {padding: 14px 4px;}
    .getway-purchasedetails span{color:#555;font-weight:700;font-size:14px;width:100%;float:left;margin-bottom:2px;}
    .getway-purchasedetails input{width:70%;float:left;height:32px;border:1px solid #bbbbbb;padding:0 5px;transition:.4s linear;}
    .getway-purchasedetails button {
        width:29%;float: left;color: #fff;height: 32px;text-align: center;border: 0;float:right;
    }
    .getway-purchasedetails {padding: 0 7px;padding-bottom: 25px;}
    .getway-purchasedetails input:focus{border-color:#555;transition:.4s linear;}
    .getway-history-header ul li a{padding:0;}
    .getway-history-header ul li a span.fund-fistory {font-size: 18px;font-weight: 600;text-transform:uppercase;float:left;}
    .getway-history-header ul li a span.fund-fistory label{display:block;font-size:9px;margin: 0;margin-top: -5px;}
    .getway-history-header ul li a .fa.fa-caret-down {font-size: 44px;color: var(--main-bg-lcolor);transform: rotate(-90deg);}
    .getway-history-header {background: #a4a0a0;width: 100%;float: left;}
    .getway-history-header ul.nav.nav-tabs {padding-bottom: 0 !important;border: 0;background: transparent;}
    .getway-history-header ul li a, .getway-history-header ul li a label.for-change-fund {width: 100%;float: left;margin: 0;}
    .getway-transfer-date {width: 100%;float: left;}
    .getway-transfer-date .getwaydateclass .custom-date-icon {position: absolute;left: 0;top: 0;}
    .getway-transfer-date .getwaydateclass input {text-align: center;color: #555;}
    .getway-transfer-date .getwaydateclass .custom-date-icon {padding: 6px 9px;}
    .getway-transfer-date .getwaysearchclass button {width: 100%;border: 0;background: #fff;height: 30px;position: relative;top: 1px;color:#555;}
    .getway-history-header {padding: 0 10px;}
    .getway-history-header ul li a .fa.fa-caret-down {margin-top: -5px;position: relative;left: 8px;}
    .getway-transfer-date {padding-top: 3px;}
    .getway-history-header ul li:first-child {width: 20%;border-right: 2px solid #fff;}
    .dropdown-menu {margin-top:75px !important;}
    .get-way-tablehistory table{width:100%;float:left;}
    .get-way-tablehistory {width: 100%;float: left;padding: 10px 10px;}
    .dealer-getwaytransfer {height: 79vh;}
    .payment-geteway ol {width: 100%;float: left;}

    .dealer-four-design .col-md-4.payment-geteway {
        padding-left: 0;
    }
    .dealer-four-design .col-md-8.payment-history {
        padding-right: 0;
    }
    

    @@media screen and (max-width:990px){
        .payment-geteway {width: 33%;padding-left: 0;padding-right: 0;float: left;}
        .bread-same-all-page.bread-page-getway {padding-left: 0 !important;}
        .payment-history {float: left;width: 67%;padding-right: 0;}
        .getway-transfer-date .getwaydateclass {float: left;padding-right: 2px;}
        .getway-transfer-date .getwaysearchclass {float: left;}
        .getway-history-header ul li:first-child {width: auto;border: 0;}

    }
    @@media screen and (max-width:768px){
        
        .payment-geteway {width: 100%;float: left;}
        .dealer-getwaytransfer{height:auto;}
        .payment-history {width: 100%;padding-left: 0;margin-top: 15px;float: left;}
        .getway-wallet-details {padding-bottom: 30px;}
        .getway-history-header ul li:first-child {
            width: auto !important;
            float: left;
        }
        .getway-history-header ul li:nth-child(2) {float: right;width: auto !important;}
        .getway-history-header ul li:nth-child(2) .web-white-filter.fil {margin: 0px !important;}

    }

    @@media screen and (max-width:580px){
       .getway-history-header ul li {width: 100% !important;float: left;}
       .getway-history-header ul li:last-child {margin-bottom: 5px;margin-top: -6px;}
       .getway-transfer-date .getwaydateclass {width: 40%;float: left;}
       .getway-transfer-date .getwaysearchclass {width: 20%;float: left;}
       .getway-purchasedetails {padding-bottom: 10px;}
 

    }

    @@media screen and (max-width:420px){
        .getway-history-header ul li a .fa.fa-caret-down {transform: none;top: 0;font-size: 50px;margin-top: -12px;left: 13px;}
        .getway-transfer-date .getwaydateclass .custom-date-icon ,.getway-transfer-date .getwaysearchclass .fa.fa-search{display: none;}
        


    }

</style>

<section class="content">
    <div class="container-fluid full-dealer-secondanimation">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Gateway Transfer Dealer</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Add By Gateway</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="bread-same-all-page bread-page-getway dealer-none-fourclass" style="padding-left:15px;padding-bottom:0;width:100%;float:left;">
            <ul style="width:100%;float:left;padding-left:0;">
                <li class="smli">
                    <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                        Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                    </a>
                </li>

                <li class="fullbodydycolorbg tmw-total-color-one">
                    Payment&nbsp;Gateway
                </li>
            </ul>
        </div>
        <div class="col-md-4 payment-geteway">
            <div class="dealer-getwaytransfer dealer-box-back-four">
                <h2 class="fullbodydycolorbg">+&nbsp;Wallet&nbsp;By&nbsp;Payment&nbsp;Gateway</h2>
                <div class="getway-wallet-details">

                    <div class="getway-purchasedetails">
                        <span>Purchase&nbsp;Amount</span>
                        <input type="text" placeholder="Enter Purchase Amount" />
                        <button class="fullbodydycolorbg">Proceed</button>
                    </div>
                    <ol>
                        <li>With the payment gateway you can purchase wallet balance and note that the gateway fee will apply.</li>
                        <li>Gateway fees and if there is any credit outstanding then the balance after deduction will be fixed in your wallet.</li>
                        <li>Please do not refresh and close this page on transaction processing.</li>
                    </ol>
                </div>

            </div>
        </div>

        <div class="col-md-8 payment-history">
            <div class="dealer-getwaytransfer dealer-box-back-four">
                <div class="getway-history-header">
                    <ul class="nav nav-tabs" style="padding-bottom:5px;">
                        <li class="tab-link current active" data-tab="tab-1" style="float:left;">
                            <a data-toggle="tab" aria-expanded="true" style="background:transparent !important;">
                                <label class="for-change-fund" style="color:#000;font-weight:400;margin-bottom:0;">
                                    <span class="fund-fistory">History<label class="tmw-total-color-one fullbodydycolorbg">buy&nbsp;gateway</label></span>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>

                                </label>
                            </a>
                        </li>
                        <li style="width:auto;float:right;margin-top:4px;padding-left: 5px;">
                            <div class="web-white-filter fil" style="float: left;margin-right: 5px;">
                                <input type="button" id="btnExport" value="Export" style="margin-left:0px; padding: 0px 4px;height:30px;border:1px solid #b1a6a638;background:#eae9e9;background-image: url(../../images/reportimage/xls.png);
                                background-repeat: no-repeat;background-position: 4px center;padding-left: 20px;" />
                                <input type="button" id="btnPDF" value="PDF" style="margin-left:2px; padding: 0px 4px;height:30px;border:1px solid #b1a6a638;background:#eae9e9;background-image: url(../../images/reportimage/pdf.png);
                                background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;" />
                            </div>
                        </li>
                        <li style="float:right">
                            <div class="getway-transfer-date" style="display: flex; justify-content: right;">

                                <div class="col-md-4 getwaydateclass" style="padding-left: 0px;padding-right:5px;">
                                    <div class="all-report-inputclass allreportinputborder" style="width:100%;float:left;">
                                        <div class="custom-date-icon" style="height: 32px;">
                                            <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                        </div>
                                        <input type="datetime" id="txt_frm_date" name="txt_frm_date" style="text-align:right;">
                                    </div>
                                </div>
                                <div class="col-md-4 getwaydateclass" style="padding-left: 0px;padding-right:5px;">
                                    <div class="all-report-inputclass allreportinputborder" style="width:100%;float:left;">
                                        <div class="custom-date-icon" style="height: 32px;">
                                            <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                        </div>
                                        <input type="datetime" id="txt_to_date" name="txt_to_date" style="text-align:right;">
                                    </div>
                                </div>

                                <div class="col-md-2 getwaysearchclass" style="padding:0px;">
                                    <button type="button" id="" name="btnDsearch" class="btnssl22" style="padding: 0px 6px;float: left;border-color:#aaa;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                        <i class="fa fa-search" style="font-size:13px;color:#555;"></i> Search

                                    </button>
                                </div>





                            </div>
                        </li>


                    </ul>
                </div>

                <div class="all-reporttable-css get-way-tablehistory">
                    <div class="table-responsive tableseconddes-dealer" style="width:100%;float:left;">
                        <table border="1">
                            <thead>
                                <tr>
                                    <th>Mode</th>
                                    <th>Mode&nbsp;Type</th>
                                    <th>Amount</th>
                                    <th>Charges</th>
                                    <th>Net&nbsp;Received</th>
                                    <th>Bank&nbsp;RRN</th>
                                    <th>Transaction&nbsp;Time</th>
                                    <th>Response&nbsp;Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="8" style="text-align:center;">NO DATA FOUND</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<script>
    $(document).ready(function()
    {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    })
</script>