@model IEnumerable<Vastwebmulti.Models.operatorcommforsellStatu>

<style>

    .b_set {
        border: 1px solid #000;
        padding: 2px 6px;
        background: red;
        color: #fff;
    }

</style>

<div id="divEditFormComm"> 
    <table class="table">
        <tr>
            <th>Operator Name</th>
            <th>Comm%</th>
            <th>Status</th>
            <th>Action</th>

        </tr>
        @foreach (var i in Model)
        {

    <tr>
        <td>@i.operator_1</td>
        <td>@i.comm%</td>
        <td>@i.status</td>
       
        <td style="text-align:center;"><a class="b_set" href="@Url.Action("DeleteOptComm","home",new {idno = i.idno})">Delete</a></td>
    </tr>
        }

    </table>
</div>
