
@{
    ViewBag.Title = "Wallethistory_Dealer";
}

<style>
    .dropdown-menu{margin-top:75px !important;}
    .bread-same-all-page.bread-page-wallethistory {width: auto;float: left;}
    .wallethistory-dealer {width: 75%;float: right;}
    .wallethistory-select {width: 20%;float: left;}
    .wallethistory-select select {border: 1px solid #ddd;height: 32px;color: #555;width: 100%;float: left;}
    .wallethistory-date {float: left;width: 34%;padding-left: 6px;}
    .wallethistory-search {float: left;width: 12%;padding-left: 6px;}
    .wallethistory-search .form-group {margin-bottom: 0;}
    .wallethistory-search .form-group button {width: 100%;text-align: center;padding-left: 0;padding-right: 0;}
    .wallethistory-pdfexl {float: right;width: auto;padding-top:1px;}
    .wallethistory-select select {-webkit-appearance: none;background: url('../../AdminDesign/images/multimedia.svg')no-repeat right;
        background-position-x: right;background-position: right;background-position-x: 98%;background-size: 10px;}
    .wallethistory-dealer-table{width:100%;float:left;margin-top:20px;}
    .wallethistory-dealer-table table{width:100%;float:left;}

    .datepicker .selected.active::before {
        display:none;
    }

    @@media screen and (max-width:990px) {
        .wallethistory-dealer-table .table-responsive {position: relative;z-index: 9;}
        .wallethistory-dealer {width: 67%;float: right;}
        .wallethistory-date {float: left;width: 41%;padding-left: 6px;}
        .wallethistory-date input {font-size: 12px;text-align: right;}
        .wallethistory-search {width: 16%;}
        .wallethistory-search button span {font-size: 12px;margin: 0 !important;top: 0 !important;}
        .wallethistory-search button .fa.fa-search {font-size: 12px !important;}
        .wallethistory-select select {font-size: 12px;}
        .wallethistory-pdfexl input {font-size: 12px;}

    }

    @@media screen and (max-width:766px) {
        .wallethistory-dealer-table .table-responsive {border: 0;}
        .wallethistory-dealer {width: 100%;float: left;}

    }
    @@media screen and (max-width:520px) {
        .wallethistory-date .custom-date-icon {display: none;}
        .wallethistory-date {float: left;width: 55%;}
        .wallethistory-search {width: 25%;}
        .wallethistory-date input {text-align: center;padding: 0 4px !important;}
        .wallethistory-dealer {position: relative;}
        .wallethistory-pdfexl {position: absolute;top: -37px;right: 0;}
    }

    @@media screen and (max-width:420px) {
        .wallethistory-pdfexl {display: none;}
    }

</style>

    <section class="content">
        <div class="container-fluid full-dealer-secondanimation">

            <!--Four-Design-Admin-page-Header-Section-Start-->
            <div class="page-title-box-fourde-dealer">
                <h3>Wallet History Dealer</h3>
                <ul>
                    <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                    <li><a href="javascript:void(0);">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                    <li><a href="javascript:void(0);">Wallet History</a></li>
                </ul>
            </div>
            <!--Four-Design-Admin-page-Header-Section-End-->

            <div class="bread-same-all-page bread-page-wallethistory dealer-none-fourclass" style="padding-bottom:0;">
                <ul style="width:100%;float:left;padding-left:0;">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                        </a>
                    </li>

                    <li class="fullbodydycolorbg tmw-total-color-one" style="margin-right:0;">
                        Wallet&nbsp;Received&nbsp;History
                    </li>
                </ul>
            </div>

            <div class="wallethistory-dealer">
                <div class="wallethistory-select">
                    <select>
                        <option>Admin</option>
                        <option>Dealer</option>
                    </select>
                </div>
                <div class="wallethistory-date">
                    <div class="form-group for-web-date" style="margin-bottom:0px;width:100%;">
                        <div>
                            <div class="input-daterange input-group">
                                <div class="all-report-inputclass all-report-inputclass-left">
                                    <div class="custom-date-icon" style="height: 32px;">
                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                    </div>
                                    <input autocomplete="off" class="form-control" id="txt_frm_date" name="txt_frm_date" required="required" style="border:1px solid #dddddd;height:32px;" type="text" value="">
                                </div>

                                <div class="all-report-inputclass all-report-inputclass-right">
                                    <div class="custom-date-icon" style="height: 32px;">
                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                    </div>
                                    <input autocomplete="off" class="form-control" id="txt_to_date" name="txt_to_date" required="required" style="border:1px solid #dddddd;height:32px;" type="text" value="">
                                </div>
                            </div>

                        </div>
                        <!-- /.input group -->
                    </div>
                </div>

                <div class="wallethistory-search">

                    <div class="form-group">
                        <div class="form-line" style="border-bottom:none;margin-top:0px;">
                            <center>
                                <button value="" type="submit" class="btn" id="" name="btntype" style="  height:32px;border:1px solid #dddddd;background:#eeebeb;">
                                    <i class="fa fa-search" style="top:-1px;font-size:13px;color:#555;"></i>
                                    <span style="top:-1px;color:#555;text-transform:uppercase;">Search</span>
                                </button>
                            </center>
                        </div>
                    </div>

                </div>

                <div class="wallethistory-pdfexl">
                    <div class="web-white-filter fil" style="float: left;margin-right:0px;margin-top:-1px;">
                        <input type="button" id="btnExport" value="Export" style="margin-left:0px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 20px;color:#555;">
                        <input type="button" id="btnPDF" value="PDF" style="margin-left:2px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;color:#555;">
                    </div>
                </div>
            </div>

            <div class="wallethistory-dealer-table all-reporttable-css">
                <div class="table-responsive tableseconddes-dealer">
                    <table border="1">
                        <thead>
                            <tr>
                                <th>Paymat&nbsp;From</th>
                                <th>Head</th>
                                <th>Paymat&nbsp;Mod</th>
                                <th>Description</th>
                                <th>Order&nbsp;₹</th>
                                <th>Charge</th>
                                <th>CR&nbsp;STL</th>
                                <th>Net&nbsp;Received</th>
                                <th>Updated&nbsp;Balance</th>
                                <th>Updated&nbsp;Credit</th>
                                <th>Comment</th>
                                <th>Transition&nbsp;Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="12" style="text-align:center;">NO DATA FOUND</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </section>

    <script>
    $(function()
    {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    })
    </script>
