
<div class="col-md-12 radiobuttonimps radiobuttonimps-addnew-aadh" id="radiobuttonimps-cash" style="margin-top:-15px;">
    <form class="radiobutton-bottom">
        <div class="col-md-12">
            <label class="col-md-4 container" style="width:31%;">
                <input type="radio" name="radio" id="radio1" checked="checked" value="transfer"><p>Cash&nbsp;Withdrawal</p>
                <span class="checkmark"></span>
            </label>
            <label class="col-md-4 container" style="width:22%;margin-left:5px;">
                <input type="radio" name="radio" id="radio3" value="ministatement"><p>Statement</p>
                <span class="checkmark"></span>
            </label>
            <label class="col-md-4 container" style="width:22%;">
                <input type="radio" name="radio" id="radio2" value="balance"><p>Balance</p>
                <span class="checkmark"></span>
            </label>
            <label class="col-md-4 container" style="width:25%;">
                <input type="radio" name="radio" id="radio4" value="aadharpay"><p>Aadhar&nbsp;Pay<sup class="aadharnewpayclass">New</sup></p>
                <span class="checkmark"></span>
            </label>
        </div>
        @*<div class="col-md-12">
                <label class="col-md-4 container">
                    <input type="radio" name="radio" id="radio6" value="deposit"><p>AEPS&nbsp;Cash&nbsp;Deposit</p>
                    <span class="checkmark"></span>
                </label>
            </div>*@
    </form>
</div>


    @if (ViewBag.req == "REQUIREDOTP" || ViewBag.req == "REQUIREDSCAN")
    {
        @Html.Partial("_EKYC")
    }
    else if (ViewBag.daily2fa_AEPS == false)
    {
        @Html.Partial("_2FA")
    }
    else if (ViewBag.req == "2FAREQUIRED")
    {
        @Html.Partial("_Aeps")
    }
    else
    {
        @Html.Partial("_Aeps")
    }


<script>
    $('input[type=radio][name=radio]').change(function () {
        $('#txtphone').attr('readonly', false);
        $('#txtaadhar').attr('readonly', false);
        $('#txtusernm').attr('readonly', false);
        $('#txtamt').attr('readonly', false);
        $('#txtfee').attr('readonly', false);
        $("#nextfund").show();
        $("#nextclick").hide();
        if (this.value == 'ministatement') {
            $('#aeps2faaadhar').hide()
            $('#2faaadharpaycheck').hide()
            $('#txterrortransfer').text("");
            $("#transferfnd").hide();
            $("#transferser").show();
            $('#nextfund').hide();
            $("#transferfnd").hide();
            $("#transferser").hide();
            $('#Devicefind1').hide()
            $('#Devicefind').hide()
            $('#nextfund').hide();
            $('#addaccount-balance').html('Get Statement >');
            $('#addaccount-balance').show();
            $("#transferser").hide();
            $('#serfeeshow').hide();
            $('#wtext').text("Withdraw Rs.");
        }
        if (this.value == 'balance') {
            $('#aeps2faaadhar').hide()
            $('#2faaadharpaycheck').hide()
            $('#txterrortransfer').text("");
            $("#transferfnd").hide();
            $("#transferser").hide();
            $('#Devicefind1').hide()
            $('#Devicefind').hide()
            $('#nextfund').hide();
            $('#addaccount-balance').html('Get Balance >');
            $('#addaccount-balance').show();
            $('#serfeeshow').hide();
            $('#wtext').text("Withdraw Rs.");

        }
        else if (this.value == 'transfer') {
            $('#aeps2faaadhar').hide()
            $('#Devicefind1').hide()
            $('#Devicefind').hide()
            $('#aeps11').hide()
            $('#2faaadharpaycheck').hide()
            $('#txterrortransfer').text("");
            $('#nextfund').show();
            $("#transferfnd").show();
            $("#transferser").show();
            $('#addaccount-balance').hide();
            $('#serfeeshow').show();
            $('#wtext').text("Withdraw Rs.");
            $('#nextfund').html('Confirm & Withdraw');
        }
        else if (this.value == 'aadharpay') {

            $('#all').hide()
            $('#balanceandmini').hide()
            $('#allaeps').show()

            $('#scanrecoveeraadhar').show()
            $('#Devicefind1').hide()
            $('#Devicefind').hide()
            $('#aeps11').hide()
            $('#12').show()
            $('#22').hide()
            $('#txterrortransfer').text("");
            $('#nextfund').show();
            $("#transferfnd").show();
            $("#transferser").show();
            $('#addaccount-balance').hide();
            $('#serfeeshow').show();
            $('#wtext').text("Withdraw Rs.");
            $("#nextfund").hide();
            $("#nextclick").show();
            // $('#nextfund').html('Confirm & Withdraw');
        }
        else if (this.value == 'depositwithotp') {
            $('#2faaadharpaycheck').hide()
            $('#txterrortransfer').text("");
            $('#nextfund').show();
            $("#transferfnd").show();
            $("#transferser").show();
            $('#addaccount-balance').hide();
            $('#serfeeshow').show();
            $('#wtext').text("Deposit Rs.");
            $('#nextfund').html('Confirm & Deposit');
        }
        else if (this.value == 'deposit') {

            $('#2faaadharpaycheck').hide()
            $('#txterrortransfer').text("");
            $('#nextfund').show();
            $("#transferfnd").show();
            $("#transferser").show();
            $('#addaccount-balance').hide();
            $('#serfeeshow').show();
            $('#wtext').text("Deposit Rs.");
            $('#nextfund').html('Confirm & Deposit');
        }
    });
</script>