
<style>
    /* new css */
    .bread-same-all-page a:hover {
        font-weight: 400 !important;
    }
    /* new css */

    #ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        #ul li {
            float: left;
            margin: 0px !important;
            padding-left: 4px;
        }

            #ul li a {
                display: block;
                text-align: center;
                padding: 5px 9px !important;
                text-decoration: none;
                border: 1px solid #b1a6a638;
                position: initial;
                margin: 0 !important;
            }

                #ul li a:hover:not(.activee1) {
                    background-color: var(--main-bg-lcolor);
                    color: #fff;
                    border: 1px solid #b1a6a6;
                }

    .activee1 {
        color: white !important;
        background-color: var(--main-bg-lcolor);
    }

    @@media only screen and (max-width:768px) {
        #ul {
            overflow: visible;
        }
            #ul li {
                width: 50%;
                padding-left: 0;
                padding-right: 4px;
            }
    }

    @@media only screen and (max-width:480px) {
        #ul li a {
            width: 100%;
            margin-bottom: 4px !important;
            font-size: 12px;
        }
    }
</style>

<div id="custnav1" style="">
    <ul id="ul">
        <li><a href="~/RETAILER/Home/RetailerSellgst">Sell&nbsp;Gst </a></li>
        <li><a href="~/RETAILER/Home/retailerPurchasegst">Purchase&nbsp;Gst</a></li>
        <li><a href="~/RETAILER/Home/uploadgst">Upload&nbsp;Gst</a></li>
        <li><a href="~/RETAILER/Home/RetailerRechargeSellgst">Recharge&nbsp;Sell&nbsp;Gst </a></li>
        <li><a href="~/RETAILER/Home/Rechargeuploadgst">Recharge&nbsp;Upload&nbsp;Gst</a></li>
        
    </ul>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        var current = location.pathname;
        $('#custnav1 li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('activee1');
                $this.addClass('navbar');
            }
        })
    });
</script>

