@model IEnumerable<Vastwebmulti.Models.GiftCard>
<link href="~/AdminDesign/giftcardslider/giftcard.css" rel="stylesheet" />
<div class="ca-wrapper">
@foreach (var item in Model)
{
    <div class="ca-item">
        <div class="ca-item-main">
            <a href="@Url.Action("PurchaseGift_card","Home",new {category=item.Category,id=item.ID,type=item.type })" style="text-decoration:none;">
                <img src="@Url.Content("~/" +item.GiftImage)" class="img-responsive" />
                <p><span>@item.GiftName</span> </p>
            </a>
        </div>

    </div>
}
</div>


<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script src="~/AdminDesign/giftcardslider/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="~/AdminDesign/giftcardslider/jquery.mousewheel.js"></script>
<script type="text/javascript" src="~/AdminDesign/giftcardslider/jquery.contentcarousel.js"></script>
<script type="text/javascript">

			$('#ca-container').contentcarousel({
			    // speed for the sliding animation
			    sliderSpeed     : 500,
			    // easing for the sliding animation
			    sliderEasing    : 'easeOutExpo',
			    // speed for the item animation (open / close)
			    itemSpeed       : 500,
			    // easing for the item animation (open / close)
			    itemEasing      : 'easeOutExpo',
			    // number of items to scroll at a time
			    //scroll          : 3
			});
</script>
