@model List<Vastwebmulti.Models.prepaid_card_Transaction>
@{
    ViewBag.Title = "ALL_CARDS";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<link href="~/AdminDesign/giftcardslider/giftcard.css" rel="stylesheet" />


<style>

   /* new css  */
    .row.rewset {
        margin-right: 0;
    }
    .row.clearfix.giftcardmain {
        margin: 0;
    }
        .row.clearfix.giftcardmain .col-lg-12.col-md-12.col-sm-12.col-xs-12 {
            padding-left: 0;
        }
    .layoutt-retailer section.content {
        margin-top: 100px !important;
    }

    
   
   /* new css  */


    .allc {
        list-style: none;
        float: left;
        /* background-image: linear-gradient(to left, var(--main-bg-lcolor), var(--main-bg-rcolor)); */
        width: 103px;
        height: 65px;
        padding: 4px 0px;
        border: 1px solid var(--main-bg-rcolor);
        border-radius: 4px;
        margin: 0px 2px;
        background: var(--main-bg-lcolor);
    }

        .allc span {
            color: #fff;
            font-size: 12px;
        }

        .allc img {
            width: 34px;
            height: 34px;
            margin: 1px 0px;
        }


    .mods {
        position: fixed;
        z-index: 999;
        height: 100%;
        width: 100%;
        top: 0;
        background-color: Black;
        filter: alpha(opacity=60);
        opacity: 0.6;
        -moz-opacity: 0.8;
        display: none;
    }

    .cards_input {
        width: 100%;
        float: left;
        height: 600px;
        background: #f1f1f1;
    }
    .cards_table {
        width: 100%;
        float: left;
        height: 600px;
        overflow-y: scroll;
    }
    .PREPAIDCARD {
        float: left;
        width: 100%;
        padding: 0px !important;
    }
    .cards_input1 {
        width: 100%;
        float: left;
        border: 5px solid #fff;
        padding: 10px;
        margin-top: 15px;
        text-align: center;
    }

        .cards_input1 button {
            margin: 10px 0;
            padding: 6px 20px;
            background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor));
            color: #fff;
            border: none;
        }

        .cards_input1 input {
            padding: 3px;
            width: 230px;
        }

    .cards_input h2 {
        text-align: center;
        color: var(--main-bg-lcolor);
    }

    .allc.active_box {
        background: #a4a0a0;
    }

        .allc.active_box img {
            filter: inherit !important;
        }

        @@media only screen and (max-width:1169px){

            .giftcardcategory.giftcardtab-thirddesign {
                padding-left: 15px !important;
            }
            .card.class-back-tra-fourdesign {
                padding-left: 15px;
            }

            .row.rewset .col-md-12 {
                padding-left: 29px;
            }
            .col-md-12.PREPAIDCARD .col-md-6 {
                padding-left: 15px !important;
            }

        }

        @@media only screen and (max-width:767px){

            .navbar-header .bars {
                top: 6px !important;
                left: -2px !important;
            }


        }


        @@media only screen and (max-width:600px){

            #leftulbar li {
                width: 20%;
            }

        }

        @@media only screen and (max-width:420px){

            #leftulbar li {
                width: 50% !important;
            }


        }





</style>

<section class="content Gift_Cardd Gift_Cardd-reshponshive content-fourdesign-page allpage-four-design-section" >

    <!--Four-Design-Page-Header-Start-->



    <div class="row rewset">
        <div class="col-md-12 " style="">
            <center class="page-header-third">
                <ul id="myDIV1">
                    <li class="allc active_box" onclick="makeActive()">
                        <a href="#">
                            <img src="~/ashok-images/gift.svg" style=" filter: brightness(0.4); " />
                            <br />
                            <span>GIFT CARD</span>
                        </a>
                    </li>
                    <li class="allc" onclick="makeActive1()">
                        <a href="#">

                            <img src="~/ashok-images/prepaid-card_2040836.png" style=" filter: brightness(0.5); " />
                            <br />
                            <span>PREPAID CARD</span>
                        </a>
                    </li>

                </ul>
            </center>

            @*Gift-Card-Third-Design-Start*@



            @*Gift-Card-Third-Design-End*@


        </div>
    </div>

    <div class="giftcardss">

        @Html.Partial("Gift_Card")

    </div>
    <div class="col-md-12 PREPAIDCARD" style="display:block">

        <div class="col-md-6" style="padding-left: 0;">
            
            <div class="page-header-third">
                <div id="image">
                    <img src="~/ashok-images/1_CsJ05WEGfunYMLGfsT2sXA.gif" style="width:100%; display:none; margin:0,0,0,0;" />


                </div>
                <div class="cards_input">

                    <div style="margin:20px;">

                        <h2>PREPAID CARD</h2>

                        <div class="cards_input1">




                            @using (Ajax.BeginForm("ALL_CARDS", "Home", null, new AjaxOptions
                            {
                                HttpMethod = "POST",
                                OnSuccess = "SuccessMessage",
                                OnFailure = "FailMessage",
                                UpdateTargetId = "resultTarget",
                                LoadingElementId = "image"
                            }, new { id = "MyNewNameId" })) // set new Id name for  Form
                            {
                                <input type="number" name="quantity" placeholder="Enter Quantity of Card" /><br /><br />
                                <input type="number" name="rupees" placeholder="Enter Amount of Per Card" /><br />
                                <button value="submit" onclick="craft1()">Buy</button>
                            }

                        </div>

                    </div>

                </div>
                <div id="loader" style="display:none">
                    <img src="~/ashok-images/atm-admin.png" />
                </div>
            </div>

            </div>
        <div class="col-md-6" id="resultTarget">
           


            @Html.Partial("_ALL_CARDS", Model)






        </div>

    </div>




</section>

<script>

    function craft1() {

        $('.timer_off').show();


    }
</script>





<script>
    $('.PREPAIDCARD').hide();

    function makeActive() {

        $('.giftcardss').show();
        $('.PREPAIDCARD').hide();

    }
    function makeActive1() {

        $('.PREPAIDCARD').show();
        $('.giftcardss').hide();

    }

</script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

@*<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
<script>
    //\\\\\\\ JS  retrun message SucccessPost or FailPost
  
    function FailMessage(responce) {
        alert("Fail Post");
    } 
</script>

<script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("myDIV1");
    var btns = header.getElementsByClassName("allc");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active_box");
            current[0].className = current[0].className.replace(" active_box", "");
            this.className += " active_box";
        });
    }
</script>
















