@model Vastwebmulti.Areas.RETAILER.ViewModels.FlightDetailsVM
@{
    ViewBag.Title = "Booking review";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<style>
    .scrollypy {
        overflow-y: auto !important;
        height: 250px;
    }

    .btmPlusMinus {
        padding: 3px 6px;
        margin-right: 4px;
        padding-bottom: 6px;
        border-radius: 5px;
    }

        .btmPlusMinus i {
            font-size: 10px;
        }

    .table {
        display: table; /* Allow the centering to work */
        margin: 0 auto;
    }

    ul#horizontal-list {
        min-width: 696px;
        list-style: none;
        padding-top: 20px;
    }

        ul#horizontal-list li {
            display: inline;
            text-align: center;
            padding: 20px;
        }

    span.field-validation-error {
        font-size: 12px;
        display: block;
        margin-top: 5px;
        font-weight: normal;
        color: #F44336;
    }

    .vertical-text {
        transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        bottom: 5%;
        top: 0%;
        position: absolute;
        color: #ed217c;
    }
</style>
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/AdminDesign/Retailer_Slider/Slieder.css" rel="stylesheet" />
@*@Html.Partial("_FareQuote",Model.FareQuoteVM)*@
<section class="content" style="margin-left: 10px;margin-right: 10px;">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>SUN</th>
                                    <th>MUN</th>
                                    <th>TUE</th>
                                    <th>WED</th>
                                    <th>THU</th>
                                    <th>FRI</th>
                                    <th>SAT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <th>WED</th>
                                    <th>WED</th>
                                    <th>WED</th>
                                    <td></td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--Slider div-->
    <br />
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- Start Rechargepaybill js-->
<script src="~/Retailerjavascript/Rechargepaybill/electricityl.js"></script>
<script src="~/Retailerjavascript/Rechargepaybill/Landline.js"></script>
<script src="~/Retailerjavascript/Rechargepaybill/Dth.js"></script>
<script src="~/Retailerjavascript/Rechargepaybill/gas.js"></script>
<script src="~/Retailerjavascript/Rechargepaybill/Insurance.js"></script>
<script src="~/Retailerjavascript/Rechargepaybill/mobileperpaidandpostpaid.js"></script>
<script src="~/Retailerjavascript/Rechargepaybill/Water.js"></script>
<script src="~/Retailerjavascript/Rechargepaybill/broadband.js"></script>
<!--End-->
<script src="~/AdminDesign/Retailer_Slider/multislider.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.slimScrollDiv').slimScroll({
            height: '250px',
            wheelStep: 10,
        });
    });
</script>











