
@{
    ViewBag.Title = "Cash_Charges";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}

    <section class="content" style="margin:90px 0px 0px 0px;margin-right:28px; overflow-x:hidden;">
        <div class="container-fluid" style="padding-left: 11px; padding-right: 0;">
            <div class="col-md-6 brachcashreport">
                <div class="brachcash">
                    <img src="~/ashok-images/microsoft-office.svg" />
                    <h2 class="fullbodydycolorbg">Branch Cash Deposit</h2>
                    <ul>
                        <li><strong>Minimum&nbsp;Charge</strong><span>10&nbsp;₹</span></li>
                        <li><strong>Charges&nbsp;(In&nbsp;%)</strong><span>10%</span></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 atmcashreport">
                <div class="brachcash">
                    <img src="~/ashok-images/atm.svg" />
                    <h2 class="fullbodydycolorbg">ATM Cash Deposit</h2>
                    <ul>
                        <li><strong>Minimum&nbsp;Charge</strong><span>10&nbsp;₹</span></li>
                        <li><strong>Charges&nbsp;(In&nbsp;%)</strong><span>10%</span></li>
                    </ul>
                </div>
            </div>
        </div>
            </section>

