
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print_DMT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    @*<script src="http://code.jquery.com/jquery-latest.js"></script>*@

    <link href="~/CSS/bootstrap-combobox.css" rel="stylesheet" />
    <link href="~/AdminDesign/css/sp.css" rel="stylesheet" />
    <link href="~/CSS/bootstrap-combobox.css" rel="stylesheet" />
    <link href="~/AdminDesign/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/RetailerCss/StyleSheet.css" rel="stylesheet" />

    <style>
        .col-md-4.new-prent-page {border: 1px solid #ececec;background:#f5f5f5;
    </style>

</head>
<body>
    <div class="col-md-4 new-prent-page">
        <div class="col-md-12 Confirm-Payment">
            <div class="container-fluid">
                <div class="col-md-6 successful">
                    <p>transaction successful</p>
                    <strong><img src="~/ashok-images/india(2).svg" /><span class="transform-re"> - 30000</span><i class="fa fa-check fullbodydycolorbg" style="background:green;"></i></strong>
                    <span>order id : 0111510*****</span>
                </div>
                <div class="col-md-6 successful-logo"><a href="#">logo</a></div>
            </div>
            <div class="container-fluid transaction">
                <p>transaction details</p>
                <ul class="transaction-detail">
                    <li class="transaction-left"><span>retailer firm</span></li>
                    <li class="transaction-right"><span>instamoney</span></li>
                    <li class="transaction-left"><span>Payment mode</span></li>
                    <li class="transaction-right"><span>IMPS</span></li>
                    <li class="transaction-left"><span>amount</span></li>
                    <li class="transaction-right"><span>30000</span></li>
                    <li class="transaction-left"><span>service Fee</span></li>
                    <li class="transaction-right"><span>300</span></li>
                    <li class="transaction-left"><span>tax</span></li>
                    <li class="transaction-right"><span>54</span></li>
                    <li class="transaction-left"><span>total amount</span></li>
                    <li class="transaction-right"><span>30354</span></li>
                    <li class="transaction-left"><span>Bank RRN</span></li>
                    <li class="transaction-right"><span>933511105006</span></li>
                    <li class="transaction-left"><span>Account Number</span></li>
                    <li class="transaction-right"><span>852096374145698</span></li>
                    <li class="transaction-left"><span>IFS Code</span></li>
                    <li class="transaction-right"><span>SBIN0001266</span></li>


                </ul>

            </div>
        </div>
    </div>
</body>
</html>
