@model IEnumerable<Vastwebmulti.Models.GiftCard>
@foreach (var item in Model)
{
<div class="col-xs-6 col-md-3">
    <a href="@Url.Action("PurchaseGift_card","Home",new {category=item.Category ,id=item.ID,type=item.type})" style="text-decoration:none; color:#00000096;">
        <img src="@Url.Content("~/" +item.GiftImage)" class="img-responsive" />
        <p><span>@item.GiftName</span> </p>
        </a>
</div>
}
