

.whitel-label-manu, #leftsidebar.sidebar.whitellabel-leftsidebar{background:transparent !important;}

.wretailer-dashbord .col-xs-4 {
    width: 10%;
}
.wretailer-dashbord .tab-content.profile-tab-content {
    min-height: inherit;
}
.wretailer-dashbord .custome-background-wr.profile-fullheight {
    margin-bottom: 15px;
}
.wretailer-dashbord .tab-content.profile-tab-content {
    padding-bottom: 0;
}
.wretailer-dashbord {
    padding: 0;
}
.wretailer-dashbord .profile-profile, .wretailer-dashbord .profile-manage {
    width: auto;float:none;display:inline-block;padding-top:8px !important;
}
.wretailer-dashbord .profile-profile a, .wretailer-dashbord .profile-manage a {
    padding: 5px 15px;
}
    .wretailer-dashbord .body.body-profile-first {
        margin-top: 0 !important;
        padding-bottom: 0px;
        padding-top: 15px;
    }
.wretailer-dashbord .profile-profile a, .wretailer-dashbord .profile-manage a {
    padding: 8px 15px !important;
}
.dataall-pagedashbord ul li a img {
    width: 20px;
}
.dataall-pagedashbord ul li a img.notification-active ,.dataall-pagedashbord ul li.active a img.notification-none{display:none;}
.dataall-pagedashbord ul li.active a img.notification-active{display:inline-block;}
.dataall-pagedashbord ul li {
    width: 20%;
    float: left;
}
.dataall-pagedashbord ul li a {
    margin-right: 0;
    border-right: 2px solid #fff !important;height:40px;
}
.dataall-pagedashbord .tab-content {
    min-height: inherit !important;
}
.wretailer-holiday .twocolm-padding .col-holidays {
    box-shadow: 0 0 3px 0 #555;
    margin-top: 15px;width:100%;float:left;
}
.wretailer-holiday .twocolm-padding .col-holidays img {
    
    width: 200px;
    height: auto !important;
}
.wretailer-holiday .twocolm-padding .col-holidays span {
    color: #555;
    font-weight: bold;
    font-size: 28px !important;
}
.wretailer-holiday .twocolm-padding .col-holidays span.holidaydate-wr {
    font-size: 50px !important;
    color: #08a187;
}
.wretailer-holiday .twocolm-padding .col-holidays span.holidayyear-wr sup {
    font-size: 20px !important;
    top: 4px !important;
}
.wretailer-holiday .twocolm-padding .col-holidays span.holidaylastt-wr {
    margin-top: 8px !important;
}
.wretailer-holiday .twocolm-padding .col-holidays span.holidayspan-wr {
    margin-top: 41px !important;
}
.wretailer-holiday .twocolm-padding .col-holidays {
    padding: 15px 15px;
}
.dataall-pagedashbord .tab-pane.fade.active, .wretailer-dashbord .tab-pane.fade.active {
    animation: slide-down 2s ease-out;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.dataall-pagedashbord .tab-content, .wretailer-dashbord .tab-content {
    overflow: hidden;
}
.dashbord-first.wretailer-dashbord {
    margin-top: 65px;
}
.nodatafoundclass-wretailer {
    padding-bottom: 15px;
    position: relative;
    z-index: 999;
    background: #e3e1da;
    top: 60px;
}



.nodatafoundclass-wretailer h2 span {
    display: block;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 120px;
    text-decoration: underline;
    color: rgb(85 85 85) !important;
  
    font-style: inherit;
    
    margin-bottom: 40px;
}
.nodatafoundclass-wretailer h2{    text-align: center;
    font-size: 40px;
    color: rgb(85 85 85);}
.dataall-pagedashbord ul li.active a::before {
    content: "";
    display: block !important;
    height: 10px;
    width: 10px;
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg);
    position: absolute;
    left: 45%;
    right: auto;
    bottom: -3px;transition:none !important;
}
.dataall-pagedashbord ul li a{overflow:inherit;}
.dataall-pagedashbord ul li a::before {transition:none !important;}
.offer-month-wretailer ul li {
    display: -webkit-box;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(216 217 219)), color-stop(80%, rgb(255 255 255)), to(rgb(253 253 253)));
    background-image: linear-gradient(to top, rgb(216 217 219) 0%, rgb(255 255 255) 80%, rgb(253 253 253) 100%);
    border-radius: 30px;
    border: 1px solid rgb(143 144 146) !important;
    box-shadow: 0 4px 3px 1px #CECFD1, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 0 #CECFD1;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    float: left;
    padding: 5px 10px;
}

    





.offer-month-wretailer ul li::before {
    content: "";
    float: left;
    border: 2px solid rgb(85 85 85);
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 0;
    width: 20px;
    height: 20px;
}
    .offer-month-wretailer ul li.activeeee::after {
        content:"";
        display: block;
        transform: none;
        width: 5px;
        height: 10px;
        border: 2px solid rgb(255 255 255);
        position: absolute;
        left: 17px;
        top: 9px;
        z-index: 999;
        border-top: 0;
        border-left: 0;
        transform: rotate(50deg);
    }
.offer-month-wretailer ul li{position:relative;cursor:pointer;}
.offer-month-wretailer ul {
    width: 100%;
    float: left;
    padding: 0;padding-left:15px;
}
.wretailer-todaydetails ul li{position:relative;}


    

    .wretailer-todaydetails ul li::before {
        content: "";
        float: left;
        width: 13px;
        height: 13px;
        border: 2px solid rgb(85 85 85);
        border-radius: 50%;
        margin-right: 5px;
        margin-top: 4px;
    }

    .wretailer-todaydetails ul li::before {
        width: 18px !important;
        height: 18px !important;
        margin-top: 1px !important;
    }
    .wretailer-todaydetails ul li.activeeee::after {
        content: "";
        display: block !important;
        width: 6px;
        height: 10px;
        border: 2px solid rgb(255 255 255);
        float: left;
        border-top: 0;
        border-left: 0;
        transform: rotate(47deg);
        position: absolute;
        top: 4px;
        left: 6px;
    }
.wretailer-todaydetails ul {
    width: 100%;
    float: left;
    padding-left: 15px;
    margin-top: 10px;
}
.wretailertodayclass .body{width:100%;float:left;}
.wretailer-todaydetails ul li{cursor:pointer;}

.wretailer-dashboardclass ul li a, .wretailer-dashboardclass ul li {
    -webkit-background-clip: text !important;
    -moz-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}

.wretailer-dashboardclass ul li {
    list-style: none;
    display: inline-block;
}

.wretailer-dashboardclass ul {
    float: left;
    padding: 0;
}

    .wretailer-dashboardclass ul li a, .wmaster-dashboardclass ul li {
        font-size: 16px;
    }

.input-whitelabel .fa.fa-calendar.tmw-total-color-one {
    position: absolute;
    z-index: 9;
    background-color: #fff;
    top: 4px;
    left: 4px;
    color: #;
    -webkit-background-clip: text !important;
    -moz-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    font-size: inherit;
    border-right: 1px solid #ddd;
    height: 32px;
    padding: 9px 4px;
    padding-left: 4px;
    padding-left: 4px;
    padding-left: 2px;
}

.table-responsive-whitelabel tr th, .table-responsive-whitelabel tr td, .table-responsive-whitelabel tr th, .table-responsive-whitelabel tr, .table-responsive-whitelabel tr th, .table-responsive-whitelabel table, .my-earn-table table {
    border-color: #9f9595 !important;
}
.my-earn-table table, .wretailer-retailerdaybook .my-earn-table table, .wretailer-retailerdaybook .my-earn-table table tr, .wretailer-retailerdaybook .my-earn-table table tr td, .wretailer-retailerdaybook .my-earn-table table tr th{
    border-color: #9f9595 !important;
}



.wretailer-moneytrransfer ul li {
    display: block;
    float: none;
    width: 100% !important;
   
}
.wretailer-moneytrransfer {
    width: 11%;
    float: left;
    padding: 0;
}
.wretailer-moneytrransfer ul li span{color:#fff !important;}
.wretailer-moneytrransfer ul li.current span{color:#555 !important;}
.wretailer-moneytrransfer ul li.current .img-none {
    display: block !important;
}
.wretailer-moneytrransfer ul li.current img.hover-display-none {
    display: none !important;
}
.wretailer-moneytrransfer ul li {
    border-bottom: 3px solid #000;
}
    .wretailer-moneytrransfer ul li.current::after {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        border: 1px solid #e3e1da;
        border-top-color: rgb(227, 225, 218);
        
        float: right;
        position: absolute;
        right: -6px;
        top: 43%;
        bottom: 0;
        border-left: 0;
        border-top: 0;
        transform: rotate(-48deg);
        background: #e3e1da;
    }
.wretailer-dmtcontent {
    width: 89%;
    padding-right: 0;
    padding-left: 30px;
}
    .wretailer-dmtcontent .tab-content {
        background: #e3e1da;
    }
.wretailer-moneytrransfer ul li {
    padding: 15px 0 !important;
}
.wretailer-moneytrransfer ul li {
    position: relative;
}
.wretailer-dmtcontent .wretailerfirst-dmt fieldset {
    margin-top: 0 !important;
}
.wretailer-dmtcontent .wretailerfirst-dmt fieldset legend {
    width: auto;
    font-size: 14px;
}
.wretailerfirst-dmt .wretailerremitter_button input {
    width: 80%;
    float: left;
    margin-right: 2%;
    border: 1px solid #fff;
}
.wretailerfirst-dmt .wretailerremitter_button input:focus{border-color:#000;}
.wretailerfirst-dmt {
    width: 100%;
    float: left;
}
    .wretailerfirst-dmt .wretailerremitter_button button {
        width: 18% !important;
        float: left;
    }
.wretailerfirst-dmt .wretailerremitter_button button .fa.fa-angle-right {
    position: relative !important;
    float: none !important;
    padding-left: 6px;
    top: 1px !important;
    right: 0 !important;
}
.wretailerrematerclass{width:100%;float:left;}
.wretailerrematerclass .userName {
    margin: 0;
    background: transparent;
    border: 0;height:auto;padding-top:0;
}
.wretailerrematerclass .dmtaccountname{background:#fff;width:100%;float:left;padding:8px 0;}
.wretailerrematerclass .userName .dmtaccountname {
    height: 34px;
    border: 1px solid #a4a0a0;
}
    .wretailerrematerclass .changesenderclass {
        padding-left: 0;
    }
.wretailerrematerclass .changesenderclass input {
    width: 85%;
    margin-right: 2%;border: 1px solid #a4a0a0;float:left;
}
.wretailerrematerclass .changesenderclass .fa.fa-exchange {
 
    background: #fff;
    width: 13%;
    text-align: center;
    height: 34px;
    float: left;
    border: 1px solid #a4a0a0;
    padding-top: 8px;
}
.wretailerrematerclass .userName {
    width: 41%;
    float: left;
}
.wretailerrematerclass .add_account.add_account-responshive {
    padding: 0;
}
.wretailer-dmtcontentfirst .wretailerfirst-dmt .money_tab-height p.body-border-bottom {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #555;
}
.wretailer-dmtcontentfirst .wretailerfirst-dmt .money_tab-height p.body-border-bottom {
    border-bottom: 1px solid red;
}
.wretailer-dmtcontentfirst .wretailerfirst-dmt .money_tab-height p.note-content::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background: red;
    float: left;
    border-radius: 50%;
    margin-right: 6px;
    margin-top: 5px;
}
.wretailerrematerclass .add_account.add_account-responshive a {
    border: 1px solid #a4a0a0;
}
.wretailerrematerclass .add_account.add_account-responshive a strong, .wretailerrematerclass .add_account.add_account-responshive a span {
    position: static;
    width: auto;
    padding: 0;
    float: none;
    font-size: 14px;
    font-weight: bold;display:inline-block;
}
.wretailerrematerclass .add_account.add_account-responshive a {
    border: 1px solid #a4a0a0;
    float: left;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}
.wretailerrematerclass .add_account.add_account-responshive a strong {
    font-size: 25px;
    margin-top: -8px;
    float: none;
}
.wretailerrematerclass .add_account.add_account-responshive a strong {
    font-size: 25px;
    margin-top: -9px;
    float: none;
    position: relative;
    top:2px;
}
.wretailerrematerclass .add_account.add_account-responshive a span {
    padding: 0 7px;
}
.wretailerrematerclass .add_account.add_account-responshive a {
    display: flex;
    padding: 6px 16px;line-height:normal;
}
.wretailerrematerclass .add_account.add_account-responshive a span {
    padding-right: 4px;
}
.wretailerrematerclass .radiobuttonimps label.container-last {
    margin-right: 0;
}
.wretailerrematerclass .radiobuttonimps label {
    width: 30%;
    float: left;
    background: #fff;
    border: 1px solid #a4a0a0;
    margin-right: 5%;position:relative;
}
    .wretailerrematerclass .radiobuttonimps label span.checkmark, .wretailerradiobuttonimps label span.checkmark, .wretailerdmttransfer .amount.amount_strong.radiobuttonimps #dividproof label span.checkmark{
        border: 1px solid #a4a0a0;
        float: left;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        position: absolute;
        top: 6px;
        left: 7px;
        padding: 0;
    }
.wretailerrematerclass .radiobuttonimps label, .wretailerradiobuttonimps label, .wretailerdmttransfer .amount.amount_strong.radiobuttonimps #dividproof label {
    padding-left: 28px;
    padding-top: 5px;
    line-height: normal;
    height: 32px;
}
.wretailerneftime table tr {
    width: 100%;
    float: left;
}
.wretailerneftime table tr td {
    width: auto;
    float: left;
}
.wretailerneftime table tr td:last-child {
    float: right;
}
.wretailerneftime table tr td a.click-delete {display:none;
}
.wretailerneftime table tr td .Transferdata {
    padding-left: 0;
}
.wretailerneftime table tr td .Transferdata button {
    padding: 6px 0px;height:50px;
    text-align: center;
}
.wretailerneftime table tr td .Transferdata button .fa.fa-trash {
    font-size: 31px;
}
.wretailerneftime table tr td .Transferdata .addtabledata, .wretailerneftime table tr td .Transferdata button, .wretailerneftime table tr td .Transferdata a {
    background: #e3e1da !important;
    border: 1px solid #a4a0a0 !important;
}
.wretailerneftime table tr td .Transferdata button , .wretailerneftime table tr td .Transferdata a {
    margin-top: 4px;}
.wretailerneftime table tr {
    border: 1px solid #a4a0a0;
}
.wretailerradiobuttonimps label{background:#fff;position:relative;}
.wretaileraccountholderde, .wretaileraccountholderde .col-md-12, .wretaileraccountholderde .container-fluid {
    padding: 0;
}
.wretaileraccountholderde .wretaierimpsclass .wretailerradiobuttonimps label {
    width: 48%;
    float: left;
    border: 1px solid #a4a0a0;
    height: 32px;
    padding-top: 6px;
}
.wretaileraccountholderde .wretaierimpsclass .wretailerradiobuttonimps label.container-last {
    float: right;
}
.wretaileraccountholderde .wretaileraddaccount {
    width: 100%;
    float: left;
}
.wretaileraccountholderde .wretaileraddaccount .amount.amount_strong ,.wretailerdmttransfer .amount.amount_strong{
    border: 1px solid #a4a0a0;
    margin-bottom: 15px;
}
    .wretaileraccountholderde .wretaileraddaccount .amount.amount_strong strong, .wretailerdmttransfer .amount.amount_strong strong{
        width: 30%;
        float: left;
        background: #e1e1e1;
        padding: 7px 0;
        padding-left: 8px;
    }
    .wretaileraccountholderde .wretaileraddaccount .amount.amount_strong input, .wretailerdmttransfer .amount.amount_strong input{
        width: 70%;
        margin: 0;
        float: left;
        border: 0;
    }
.wretaileraccountholderde .wretaileraddaccount .amount.amount_strong .select2.select2-container.select2-container--default {
    width: 70% !important;
    float: left;
    text-align: left;
}
.wretaileraccountholderde .wretaileraddaccount .amount.amount_strong button.click-change img {
    width: 10px;
}
.wretaileraccountholderde .wretaileraddaccount .amount.amount_strong button.click-change {
    float: right;
    width: auto;position:absolute;right:3px;top:4px;
}
.wretaileraccountholderde .wretaileraddaccount .amount.amount_strong ,.wretailerdmttransfer .amount.amount_strong{position:relative;}
.wretaileraccountholderde .wretaileraddaccount .amount.amount_strong button.verify-account {
    position: absolute;
    top: 5px;
    right: 3px;
    color: #fff;
    border: 1px solid #a4a0a0;
}
.wretaileraccountholderde .wretaileraddaccount .amount.amount_strong sup {
    color: red;
}
.wretaileraccountholderde .wretaileraddaccount .amount.amount_strong#verifyimpserrorsesw {
    border: 0;
}
.wretaileraccountholderde .wretaileraddaccount .amount.amount_strong#verifyimpserrorsesw #verifyimpserror {
    padding-left: 0;
    font-weight: 400;
}
.wretaileraccountholderde .transaction-button {
    float: right;
}
.wretaileraccountholderde .transaction-button button {
    border: 1px solid #a4a0a0;
}
.wretaileraccountholderde .wretaileraddaccount .amount.amount_strong .select2.select2-container.select2-container--default, .wretaileraccountholderde .wretaileraddaccount .amount.amount_strong .select2.select2-container.select2-container--default .selection {
    padding-left: 0;
}
.wretaileraccountholderde .wretaileraddaccount .amount.amount_strong .select2.select2-container.select2-container--default .selection #select2-banknm-container {
    padding-left: 0;
}
.wretaileraccountholderde .transaction-button button {
    padding: 0px 10px;
    height: 30px;
    border-color: #555;color:#fff;
}
.wretaileraccountholderde .wretaileraddaccount {
    padding-top: 30px;
}
.wretaileraccountholderde .wretaileraddaccount .amount.amount_strong .select2.select2-container.select2-container--default {
    padding-top: 2px;
    background: #fff;
}
.wretailerdmttransfer, .wretailerdmttransfer .accountholderde .fullwidthaccount, .wretailerdmttransfer .accountholderde .fullwidthaccount .codepenss {
    width: 100%;
    float: left;
}
.wretailerdmttransfer .accountholderde {
    padding: 0;
}
.wretailerdmttransfer .accountholderde .account-holder {
    width: 50%;
    float: left;
    background: #fff;
    border: 1px solid #a4a0a0;
    text-align: center;
}
.wretailerdmttransfer .accountholderde .account-holder1 {
    border-right: 0;
}
.wretailerdmttransfer .accountholderde .account-holder p {
    margin: 0;
}
.wretailerdmttransfer .accountholderde .fullwidthaccount .codepenss {
    margin-bottom: 20px;
}
.wretailerdmttransfer .amount.amount_strong {
    padding: 0;
}
.wretailerdmttransfer .amount.amount_strong.transperentss strong {
    background: transparent;
    border-right: 1px solid #a4a0a0;
}
.wretailerdmttransfer .amount.amount_strong span {
    float: left;
    padding-top: 9px;
}
.wretailerdmttransfer .amount.amount_strong strong {
    text-transform: capitalize;
}
.wretailerdmttransfer .amount.amount_strong strong sup {
    color: red;
}
.wretailerdmttransfer .amount.amount_strong.radiobuttonimps #dividproof {
    width: auto;
    float: left;
}
.wretailerdmttransfer .amount.amount_strong.radiobuttonimps #dividproof label {
    position: relative;
}
.wretailerdmttransfer .amount.amount_strong.radiobuttonimps #dividproof label span.checkmark {
    border-color: #000;top:9px;
}
.wretailerdmttransfer .amount.amount_strong.radiobuttonimps #dividproof label {
    padding-top: 8px;
}
.wretailerdmttransfer .amount.amount_strong.radiobuttonimps label {
    margin-bottom: 0;
}
    .wretailerdmttransfer .amount.amount_strong.amount_strongcolm1, .wretailerdmttransfer .amount.amount_strong.amount_strongcolm{
        width:49%;float:left;
    }
 .wretailerdmttransfer .amount.amount_strong.amount_strongcolm1{float:right;}
.wretailercancelbutton, .wretailer-confirm-dmt .cancelbutton {
    padding: 0;
    width: 100%;
    float: left;
}
.wretailercancelbutton .cancelbuttonright ,.wretailer-confirm-dmt .cancelbutton .cancelbuttonright{
    float: right;
}
    .wretailercancelbutton .cancelbuttonright a, .wretailer-confirm-dmt .cancelbutton .cancelbuttonright a, .wretailer-dmttransferfinal .transaction-button button{
        height: 32px;
        float: left;
        padding: 6px 10px;
        text-transform: uppercase;
    }
.wretailerdmttransfer #amount-change {
    padding: 0;
}
.wretailerdmttransfer #amount-change span#dmterrorcode {
    padding: 0;
    font-weight: 400;
    margin-top: -8px;
}
.wretailerdmttransfer .amount.amount_strong input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
.wretailer-confirm-dmt .button-classadd {
    float: left;
    width: 100%;
}
.wretailer-confirm-dmt .button-classadd .button-one ,.wretailer-confirm-dmt .button-classadd .button-imps{
    float: left;
    width: 50%;
}
.wretailer-confirm-dmt .button-classadd .button-one button span {
    padding: 0;
    text-transform: capitalize;
}
.wretailer-confirm-dmt .button-classadd .button-one button {
    background: transparent;
   
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: relative;
    padding: 0;
}
.wretailer-confirm-dmt .button-classadd .button-one button::after {
    content: "";
    float: left;
    width: 10px;
    height: 30px;
    
    position: absolute;
    right: -7px;
    transform: rotate(-49deg);
    bottom: -15px;
}
.wretailer-confirm-dmt, .wretailer-confirm-dmt .next-page {
    padding: 0;
    width: 100%;
    float: left;
}
.wretailer-confirm-dmt .next-page .button-imps .amount.amount_strong {
    padding: 0;
    width: auto;
    display: block;
    width:50%;
    float: left;
    background: #fff;
    text-align: center;
    border: 1px solid #a4a0a0;
}
.wretailer-confirm-dmt .next-page .button-imps .amount.amount_strong strong {
    font-weight: 400;font-size: 12px;position: relative;top: -3px;line-height: normal;
}
.wretailer-confirm-dmt .next-page .button-imps .amount.amount_strong span {padding: 0;margin-top: -4px;color: #545454;}
.wretailer-confirm-dmt .button-classadd {padding-bottom: 16px;margin-bottom: 15px;}
.wretailer-confirm-dmt .fullwidthaccount.fullwidthaccount-top {width: 100%;float: left;}
.wretailer-confirm-dmt .fullwidthaccount strong {float: left;}
.wretailer-confirm-dmt .fullwidthaccount span {float: right;}
.wretailer-confirm-dmt .fullwidthaccount .amount {border-bottom: 1px solid #a4a0a0;padding: 10px 0;}
.wretailer-confirm-dmt .fullwidthaccount .amount.transfererroreee {padding: 0;border: 0;}
.wretailer-confirm-dmt .cancelbutton .cancelbuttonright {margin-top: 15px;}
.wretailer-dmttransferfinal .successful img{float: left;width: 17px;margin-top: 7px;}
.wretailer-dmttransferfinal .successful strong span.transform-re {
    color: #545454;font-size: 22px;font-weight: 700;float: left;padding-top: 2px;padding-left:0;
}
.wretailer-dmttransferfinal .successful i {
    font-weight: 400;color: #fff;width: 22px;height: 22px;border-radius: 50%;font-size: 16px;position: relative;
    vertical-align: middle;margin-left: 5px;margin-top: 3px;text-align: center;padding-top: 2px;
}
.wretailer-dmttransferfinal, .wretailer-dmttransferfinal .Confirm-Payment, .wretailer-dmttransferfinal .Confirm-Payment .container-fluid {
    width: 100%;float: left;padding: 0;
}
.wretailer-dmttransferfinal .Confirm-Payment .successful {padding-left: 0;}
.wretailer-dmttransferfinal .Confirm-Payment .successful p {
    text-transform: capitalize;font-weight: bold;color: #555;font-size: 20px;margin:0;
}
.wretailer-dmttransferfinal .transaction p {
    background: #a39f9e;padding: 5px 5px;text-transform: uppercase;font-size: 14px;color: #545458;letter-spacing: 1px;line-height: normal;
}
.wretailer-dmttransferfinal ul.transaction-detail {
    width: 100%;float: left;padding: 0;
}
.wretailer-dmttransferfinal ul.transaction-detail li {
    width: 50%;float: left;border-bottom: 1px solid #a4a0a0;height: 32px;padding-top: 10px;
}
.wretailer-dmttransferfinal ul.transaction-detail li span {padding: 0;text-align: left;color: #555;}
.wretailer-dmttransferfinal ul.transaction-detail li.transaction-right.transaction-right span, .wretailer-dmttransferfinal ul.transaction-detail li.transaction-right.transaction-right {
    text-align: right;
}
.wretailer-dmttransferfinal .transaction-button {width: auto;float: right;}
.wretailer-dmttransferfinal .transaction-button button{height:30px !important;border:1px solid #555;}
.wretailer-dmttransferfinal .transaction-button button {color: #fff;}
.wretailer-dmttransferfinal .transaction p {margin-bottom: 0;margin-top: 15px;}
.wretailer-moneytrransfer ul {width: 100%;float: left;}
.wretailer-dmtcontent .tab-content.wretailer-dmtcontentfirst {min-height: 485px;}
.wretailerrematerclass .tabledateall-responshive.wretailerneftime {
    overflow-y: scroll;height: 330px;
}
.wretailerrematerclass .tabledateall-responshive.wretailerneftime {overflow-x: auto;height: 330px;}

.wretailer-NewSenderregister, .wretailer-NewSenderregister .fullwidthaccount.fullwidthaccount-top.fullwidthaccount-top-respons, .wretailer-NewSenderregister .fullwidthaccount.fullwidthaccount-top.fullwidthaccount-top-respons .amount.amount_strong.allredyshow {
    padding: 0;width: 100%;float: left;
}
.wretailer-NewSenderregister .amount.amount_strong {border: 1px solid #a4a0a0;margin-bottom: 15px;}

.wretailer-NewSenderregister .amount.amount_strong strong {
   float: left;width: 30% !important;border-right: 1px solid #a4a0a0;background: #e1e1e1;padding: 8px;color: #555;
}

.wretailer-NewSenderregister .amount.amount_strong.allredyshow span {width: auto;float: left;padding: 8px;}
.wretailer-NewSenderregister .amount.amount_strong {padding: 0;width: 100%;float: left;}
.wretailer-NewSenderregister .amount.amount_strong input {border: 0;}
.wretailer-NewSenderregister .transaction-button {width: auto;float: right;padding: 0;}
.wretailer-NewSenderregister #amount_strong-change {border: 0;}
.wretailer-NewSenderregister .transaction-button button {
        border: 1px solid #555;color: #fff;height: 32px;padding: 0 25px;}
.wretailer-NewSenderregister #amount_strong-change span#sendererror {
    padding: 0;font-weight: 400;
}
.wretailer-NewSenderregister .wretailer-NewSendersecond .amount.amount_strong span {
        float: left;padding-top: 10px;padding-left: 10px;
}
.wretailer-NewSenderregister .wretailer-NewSendersecond .amount-changesse {border: none;}
.wretailer-NewSenderregister .wretailer-NewSendersecond .amount-changesse span {
    padding: 0 !important;font-weight: 400;
}
.wretailer-dmtdataall #example {margin: 0 !important;}
.wretailer-dmtdataall {margin-top: 10px;}
.wretailer-dmtdataall table, .wretailer-dmtdataall table tr, .wretailer-dmtdataall table tr td, .wretailer-dmtdataall table tr th {
    border-color: #a4a0a0 !important;
}
.wretailerrematerclass .add_account.add_account-responshive a{white-space: nowrap;}
.wretailer-dmtcontent {float: left;}
.wretailerdmttransfer .amount.amount_strong span {padding-left: 9px;}


.wretailerloadertablecssnew {
    position: relative;
    display: inline-block;
    height: 37px;
    width: auto;
    padding-top: 7px;
    font-size: 16px;
    color: #000;
}

.wretailerloadertablecssnew::before {
    position: absolute;
    content: '';
    display: block;
    top: 25px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fbae17;
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease;
    left: -21px;
}

@keyframes bounce {
    0% {
        top:30px;
        height: 5px;
        border-radius: 60px 60px 20px 20px;
        transform: scaleX(2);
    }

    35% {
        height: $height;
        border-radius: 50%;
        transform: scaleX(1);
    }

    100% {
        top: 0;
    }
}

















@media screen and (max-width:1169px) {
    .dashbord-first.wretailer-dashbord {
            margin-top: 90px;
        }
    }

    @media screen and (max-width:990px) {
        .wretailer-dashbord .col-xs-4 {
            padding-left: 0;
            width: 12%;
        }
    }

    @media screen and (max-width:766px) {
        .dashbord-first.wretailer-dashbord {
            margin-top: 65px;
        }

        .wretailer-dashbord {
            width: 100%;
            float: left;
            padding-right: 15px;
        }

            .wretailer-dashbord .col-xs-4 {
                padding-left: 0;
                width: 20%;
                padding-right: 0;
            }

        .wretailer-holiday {
            width: 100%;
            float: left;
        }

            .wretailer-holiday .twocolm-padding {
                width: 100%;
                float: left;
                padding: 0 !important;
            }
    }

    @media screen and (max-width:580px) {
        #History .table-dashoard-home table tr td {
            width: auto;
            float: none;
        }
    }

    @media screen and (max-width:480px) {
        .wretailer-dashbord .col-xs-4 {
            padding-left: 0;
            width: 33%;
            padding-right: 0;
        }

        .wretailer-todaydetails ul li {
            border-bottom: 0px !important;
        }
    }