.preloader-scan {
  /*position: fixed;*/
  left: 0;
  right: 0;
  max-width: 200px;
  display: table;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}
.preloader-scan .laser {
  width: 91%;
  margin-left: -25%;
  background-color: tomato;
  height: 1px;
  position: absolute;
  top: 10%;
  z-index: 2;
  box-shadow: 0 0 4px red;
  -webkit-animation: scanning 2s infinite;
          animation: scanning 2s infinite;
}
.preloader-scan .diode {
  -webkit-animation: beam .01s infinite;
          animation: beam .01s infinite;
}

/*body {
  height: 100%;
}*/

@-webkit-keyframes beam {
  50% {
    opacity: 0;
  }
}

@keyframes beam {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes scanning {
  50% {
    -webkit-transform: translateY(75px);
            transform: translateY(75px);
  }
}
@keyframes scanning {
  50% {
    -webkit-transform: translateY(75px);
            transform: translateY(75px);
  }
}
