

@model Vastwebmulti.Areas.ADMIN.Models.MasterDistributerModel

<style>
    .wallet-bank-input input[readonly="readonly"] {
        background: transparent;
        border: 0px;
    }
</style>


<!-- Modal -->
<div class="col-md-12" id="axy">
    <div class="table-responsive" style="position:inherit;">
        <div class="" style="width: 100%; height: auto; overflow-y: auto;" id="manualformadd">
            <table class="table table-bordered " style="width:100%;">
                <thead style="background-color:whitesmoke;">
                    <tr>

                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="Outerother_links">

                    @foreach (var item in Model.AddForm_information)
                    {
                        <tr class="hidelink">

                            @*<td>
            <p style="font-size:18PX;color:green;"></p>
            <input type="text" id="txthdlink11" class="dummy" name="txthdlink11" readonly value="@item.Name" style="background:transparent;border:0px;" />
        </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>

                            <td>

                                @*<button style="height: 24px;float: left;padding: 0px 3px;border: 1px solid #bfbebe;margin-left: 2px;" onclick="myFunctionform(@item.serviceid)">Delete</button>*@
                                <button type="button" onclick="myFunctionform('@item.id')" id="myFunctionform1" class="btn waves-effect shownextrow switch-edit-button swichedit-second" value="Edit">
                                    <p>Edit</p>
                                </button>
                            </td>
                        </tr>

                    }



                </tbody>
            </table>
        </div>
    </div>
</div>