    <div class="Tokens-model input-border-third" id="defaultModalToken" tabindex="-1" role="dialog">
                <div class="row clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label for="email_address_2" class="user-token-bg dmlsing-seconddesign border-bottom-third">User Token Price To Master Distributor</label>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group tabcurrent-seconddesign">
                            <div class="">
                                <input type="text" id="txtmastervalue" name="txtmastervalue" onkeyup="apna(this)" onkeypress='validate(event)' class="form-control" required="" placeholder="Enter User (New Token Price)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <ul>
                            <li>
                                <label for="email_address_2" class="">User Token Old Fixed Price is Rs.</label>
                                <label for="email_address_2" class="">@ViewBag.mastervalue.00 Only</label>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="row clearfix mt-10"style="padding-top: 15px;">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label for="email_address_2" class="user-token-bg dmlsing-seconddesign border-bottom-third">User Token Price To Distributor</label>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group tabcurrent-seconddesign">
                            <div class="">
                                <input type="text" id="txtdealervalue" name="txtdealervalue" onkeyup="apna(this)" onkeypress='validate(event)' class="form-control" required="" placeholder="Enter Distributor Charge Token Price" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-bottom:12px;">
                    <div class="col-md-12 col-xs-12">
                        <ul>
                            <li>
                                <label for="email_address_2">Old Distributor Token Price Rs.</label>
                                <label for="email_address_2">@ViewBag.dealervalue.00 Only</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row clearfix mt-10">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="modal-footer button-seconddesign" style="margin-top:10px;">
                            <button type="submit" id="start_button" class="btn waves-effect btnssl2233 btn-first button-third" style="overflow:hidden;" onclick="AddToken()" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" disabled>
                                <span>Save Change</span>
                            </button>
                        </div>
                    </div>
                </div>
    </div>

<script>
    function AddToken() {
        $.ajax({
            url: '@Url.Action("_AddTokenValue","Home")',
            type: 'POST',
            data: { txtmastervalue: $('#txtmastervalue').val(), txtdealervalue: $('#txtdealervalue').val() },
            cache: false,
            success: function (response) {
                setTimeout(function(){ $("#AddTokenVal").html(response); }, 500);
          }
        });
    }
       $('.btnssl2233').on('click', function () {
                    var $this = $(this);
                    $this.button('loading');
                    setTimeout(function () {
                        $this.button('reset');
                    }, 500);
                });
</script>