
<style>
    #ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        #ul li {
            float: left;
        }

            #ul li a {
                display: block;
                text-align: center;
                padding: 5px 10px;
                text-decoration: none;
                border: 1px solid #b1a6a638;
                position: initial;
            }

                #ul li a:hover:not(.activee) {
                    background-color: #FFC107;
                    color: black;
                    border: 1px solid #b1a6a6;
                }

    .activee {
        color: white;
        margin-bottom: 0px;
    }
    /*.activee:hover {
            color: white;
            border: 1px solid #00000026;
        }*/
</style>
<div>
    <div id="custnav" style="padding-top:5px;">
        <ul id="ul">
            <li><a href="~/ADMIN/Home/Prepaid_Slab_setting">Prepaid & DTH Comm</a></li>
            <li><a href="~/ADMIN/Home/PostpaidUtility_Slab_setting">Postpaid & Utility Comm</a></li>
            <li><a href="~/ADMIN/Home/Money_Transfer_Slab">DMT1 Comm</a></li>
            <li><a href="~/ADMIN/Home/Money_Transfer_Slab_DMT2">DMT2 Comm</a></li>
            <li><a href="~/ADMIN/Home/IndoNepal_Slab">Indo Nepal Comm</a></li>
            <li><a href="~/ADMIN/Home/Pancard_Slab_Setting">PanCard</a></li>
            <li><a href="~/ADMIN/Home/AepsSlab">AEPS Comm</a></li>
            <li><a href="~/ADMIN/Home/M_Poss">M-Poss Comm</a></li>
            <li> <a href="~/ADMIN/Home/Loan_Slab_setting">Loan Comm</a></li>
            <li><a href="~/ADMIN/Home/Flight_Slab">Flight Comm</a></li>
            <li><a href="~/ADMIN/Home/Hotel_Slab">Hotel Comm</a></li>
            <li><a href="~/ADMIN/Home/BUS_Slab">Bus Comm</a></li>
            <li><a href="~/ADMIN/Home/DthConnection_Slab_setting">Dth Connection Comm</a></li>
            <li><a href="~/ADMIN/Home/Giftcard_Slab_setting">Giftcard Comm</a></li>
            <li><a href="~/ADMIN/Home/Broadband_Slab_setting">Broadband Comm</a></li>
            <li><a href="~/ADMIN/Home/Water_Slab_setting">Water Comm</a></li>
            <li><a href="~/ADMIN/Home/Insurance_Slab_setting">Insurance Comm</a></li>
        </ul>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        var current = location.pathname;
        $('#custnav li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('activee');
                $this.addClass('navbar');
            }
        })
    });
</script>

