@model Vastwebmulti.Areas.ADMIN.Models.SMSViewModel


<div class="tab-content-table" id="APISMSHISTORYtab">
    <div class="table-responsive">
        <table class="table table-bordered third-design-table" style="width:100%;" id="APISMSHISTORY">
            <thead>
                <tr class="first-tr">
                  
                    <th>Date&nbsp;&&nbsp;Time</th>
                    <th>API Response</th>
                    <th>Sending Message</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                    if (Model.sms_api_entryList.Count > 0)
                    {
                        foreach (var item in Model.sms_api_entryList)
                        {


                                <tr>
                                    @*<td>@i</td>*@
                                    <td style="padding:3px;">@item.m_date</td>
                                    <td style="padding:3px;">@item.response</td>

                                    @if (item.msg.ToUpper().Contains("YOUR NEW PASSWORD"))
                                    {
                                        <td>New Password **** Successfully Send On Registered Mobile</td>
                                    }
                                    else
                                    {
                                        <td style="padding:3px;">@item.msg</td>
                                    }
                                </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">
                                <div class="no-data-found-img">
                                    <img src="~/img/NoDatall.svg" />
                             </div>
                            </td>

                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>


<script>
    $('.third-design .third-design-table tbody td').mouseenter(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'var(--main-bg-rcolor)');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#fff');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'var(--main-bg-rcolor)');
    });

    $('.third-design .third-design-table tbody td').mouseleave(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'transparent');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#333');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'transparent');
    });
</script>