
<style>
    #ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        #ul li {
            float: left;
        }

            #ul li a {
                display: block;
                text-align: center;
                padding: 5px 10px;
                text-decoration: none;
                border: 1px solid #b1a6a638;
                position: initial;
            }

                #ul li a:hover:not(.activee) {
                    background-color: #FFC107;
                    color: black;
                    border: 1px solid #b1a6a6;
                }

    .activee {
        color: white;
        margin-bottom: 0px;
    }
    /*.activee:hover {
            color: white;
            border: 1px solid #00000026;
        }*/
</style>



<div id="custnav" style="padding-top:5px;">
    <ul id="ul">
        <li><a href="~/ADMIN/Home/Gst_Invocing_Master_report">Master&nbsp;GST</a></li>
        <li><a href="~/ADMIN/Home/Gst_Invocing_Dealer_report">Dealer&nbsp;GST</a> </li>
        <li><a href="~/ADMIN/Home/Gst_Invocing_Retailer_report">Retailers&nbsp;GST</a></li>
        <li><a href="~/ADMIN/Home/Gst_Invocing_API_report">API&nbsp;GST</a></li>
        <li><a href="~/ADMIN/Home/Gst_Invocing_Whitelabel_report">White&nbsp;label&nbsp;GST</a></li>
        <li><a href="~/ADMIN/Home/Account_verify_Gst_Invocing_report">Acc&nbsp;Verify&nbsp;GST</a></li>
        <li>


        </li>
    </ul>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        var current = location.pathname;
        $('#custnav li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('activee');
                $this.addClass('navbar');

            }
        })
    });
</script>

