<div class="background-view-first">
    @*@if (ViewBag.Status2 == "Y")
    {*@
        <input type="radio" onclick="Img_ON_Off2()" value="value2" name="group1" id="bysim1">
    @*}
    else
    {
        <input type="radio" onclick="Img_ON_Off2()" value="value2" name="group1" id="bysim1">
    }*@

    <label for="bysim1">Repeat Image</label>

    <span style="display:block;">(file Size Upto 224kb)</span>
</div>
@if (ViewBag.showimg2 != null)
{
    <div class="background-view" style="background:url(@Url.Content("~/"+ ViewBag.showimg2))repeat;"></div>
}
else
{
    <div class="background-view" style="background:url(../../AdminDesign/images/img79.png)repeat;"></div>
}
<div class="background-view-third">
    <div class="background-view-third-one">
        <input type="file" id="fileInput" multiple />
        <button type="button" id="fileButton" value="Repeat">Save</button>
        <span><strong>Note :- </strong>Image Max Size 300 * 300 Pixel</span>
        <label id="Repeat1"></label>
    </div>
    <div class="background-view-third-two">
        <button type="button">Delete</button>
        <button type="button">Open Link In New Tab</button>
    </div>

</div>
<script type="text/javascript">

    function Img_ON_Off2() {
        $.ajax({
            type: "POST", url: '@Url.Action("StausUpdate", "Home")', data: { type: "Repeat" }, dataType: 'json',
            cache: false,
            success: function (result) {
            if (result == "Success") {


            }
            else {
                
            }
        }
    });

    }

</script>