
<div class="background-view-first">
        @*@if (ViewBag.Status3 == "Y")
        {*@
            <input type="radio" onclick="Img_ON_Off()" value="value3" name="group1" id="bysim2">
        @*}
        else
        {
            <input type="radio" onclick="Img_ON_Off()" value="value3" name="group1" id="bysim2">
        }*@

        <label for="bysim2">Single Image</label>
        <span style="display:block;">(file Size Upto 824kb)</span>
    </div>
@if (ViewBag.showimg3 != null)
{
    <div class="background-view" style="background:url(@Url.Content("~/"+ ViewBag.showimg3))no-repeat top left / cover;"></div>
}
else
{
    <div class="background-view" style="background:url(../../AdminDesign/images/bg.jpg)no-repeat top left / cover;"></div>
}
<div class="background-view-third">
    <div class="background-view-third-one">
        <input type="file" id="fileInputSingle" multiple />
        <button type="button" id="fileButtonSingle" value="Single">Save</button>
        <span><strong>Note :- </strong>Image Max Size 1600 * 900 Pixel</span>
        <label id="Single1"></label>
    </div>
    <div class="background-view-third-two">
        <button type="button">Delete</button>
        <button type="button">Open Link In New Tab</button>
    </div>

</div>

<script type="text/javascript">

    function Img_ON_Off() {
        $.ajax({
            type: "POST", url: '@Url.Action("StausUpdate", "Home")', data: { type: "Single" }, dataType: 'json',
            cache: false,
            success: function (result) {
            if (result == "Success") {


            }
            else {

            }
        }
    });

    }

</script>