
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="margin-top:18px;">
    <div class="card login-back-img">
        <div class="login-slider-status">
            <h2>Login Page slider Image</h2>
            <div class="onoffswitch" style="cursor:pointer;">

                @{var res = ViewBag.Loginsilder;
                    if (res == null)
                    {
                        <span class="custom-off" id="sts">Status Off</span>
                    }

                    else
                    {
                        if (ViewBag.Loginsilder.Status == "Y")
                        {
                            <span class="costom-on" id="sts">Status on</span>
                        }
                        else if (ViewBag.Loginsilder.Status == "N")
                        {
                            <span class="custom-off" id="sts">Status Off</span>
                        }
                    }


                }


                
            </div>
            <label>Slider</label>

        </div>
        <ul>

            <li>
                <div class="background-view-first" style="width: 33%;">

                    <div class="slider-image-number">
                        <span>1</span>
                        <label>Image</label>
                    </div>
                    <span style="display:block;">(file Size Upto 224kb)</span>
                </div>
                @if (ViewBag.Loginsilder != null)
                {
                    <div class="background-view-slider" style="background:url(@Url.Content("~/" + ViewBag.Loginsilder.ImagePath))repeat;"></div>
                }

                <div class="background-view-third" style="float:right;">
                    <div class="background-view-third-one">
                        <input type="file" id="image1" />
                        <button type="button" id="btnimage1">Save</button>
                        <span><strong>Note :- </strong>Image Max Size 460 * 460 Pixel</span>
                        <label id="img1msg"></label>
                    </div>
                    <div class="background-view-third-two">
                        <button type="button">Delete</button>
                        <button type="button">Open Link In New Tab</button>
                    </div>

                </div>

            </li>
            <li>
                <div class="background-view-first" style="width: 33%;">
                    <div class="slider-image-number">
                        <span>2</span>
                        <label>Image</label>
                    </div>
                    <span style="display:block;">(file Size Upto 224kb)</span>
                </div>
                @if (ViewBag.Loginsilder != null)
                {
                    <div class="background-view-slider" style="background:url(@Url.Content("~/" + ViewBag.Loginsilder.ImagePath))no-repeat top left / cover;"></div>
                }

                <div class="background-view-third" style="float:right;">
                    <div class="background-view-third-one">
                        <input type="file" id="image2" />
                        <button type="button" id="btnimage2">Save</button>
                        <span><strong>Note :- </strong>Image Max Size 460 * 460 Pixel</span>
                        <label id="img2msg"></label>
                    </div>
                    <div class="background-view-third-two">
                        <button type="button">Delete</button>
                        <button type="button">Open Link In New Tab</button>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</div>

<script>
    $("#sts").click(function () {
      
                $.ajax({
                    url: '@Url.Action("LoginSilderIsStatus","Home")',
                    type: 'GET',
                    success: function (response) {

                        $.ajax({
                    url: '@Url.Action("_LoginPagesliderImage","Home")',
                    type: 'GET',
                    success: function (response) {

                        $('#loginSliders').html(response);
                    }
                });
                    }
                });
    });
</script>