
@model Vastwebmulti.Areas.ADMIN.Models.MasterDistributerModel
<style>
    .wallet-bank-input input[readonly="readonly"] {
        background: transparent;
        border: 0px;
    }
</style>


<div class="tabl-efgdf " style=" margin:auto;">


    @foreach (var item in Model.Formservice)
    {
        <div class="col-md-3" style="border: 1px solid; padding: 4px; text-align: center; width: 23.30%; margin: 3px; ">

            <tr><img src="data:image/png;base64,@item.images" alt="" class="img-responsive" style="width: 50px; height: 50px; margin: auto;" /> </tr>
            <tr><p style="margin: auto; font-size: 11px; text-transform: uppercase; line-height: 1.0; padding: 3px 0px; " type="text" id="formnameid" name="formnameid">@item.servicename</p>@* value="@item.servicename" readonly="readonly" />*@</tr>

            <tr class="last-td">
                <button type="button" onclick="formEditmode1('@item.idno')" id="formbtnEdit1" class="btn waves-effect shownextrow switch-edit-button swichedit-second" value="Edit" style="padding: 0px !important; height: auto; margin: 0px; width: 35px !important; float: left;">
                    <p style=" margin: auto;">Edit</p>
                </button>
                <button type="button"onclick="setItemId('@item.idno')" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal55" style="padding: 0px !important; height: auto; margin: 0px; width: 35px !important; float:right;">
                    <p style=" margin: auto;">Add</p>
                </button>
            </tr>
        </div>

    }
</div>
    <!-- Modal -->
   


