
<style>
    #ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        #ul li {
            float: left;
            margin-right: 6px;
            background: #efefef;
        }

            #ul li a {
                display: block;
                text-align: center;
                padding: 5px 9px;
                text-decoration: none;
                border: 1px solid #b1a6a638;
                position: initial;
            }

                #ul li a:hover:not(.activee1) {
                    background-color: var(--main-bg-lcolor);
                    color: #fff;
                    border: 1px solid #b1a6a6;
                }

    .activee1 {
        color: white;
        background-color: var(--main-bg-lcolor) !important;
    }

    @@media only screen and (max-width:768px) {
        #ul {
            overflow: visible;
        }
    }

    @@media only screen and (max-width:480px) {
        
    }
</style>

<div id="custnav1"  style=" width:100%;">
    <ul id="ul">
        <li><a href="~/ADMIN/Home/RechargeAPIUrl">Recharge&nbsp;API&nbsp;URL </a></li>
        <li><a href="~/ADMIN/Home/RechargeApiResponse">Recharge&nbsp;API&nbsp;Response</a></li>
        <li><a href="~/ADMIN/Home/ApiCallBackUrl">Recharge&nbsp;API&nbsp;Call&nbsp;Back</a></li>
        <li style="margin-right:0px;"><a href="~/ADMIN/Home/ApiCallBack">Recharge&nbsp;API&nbsp;Call&nbsp;Back&nbsp;Page</a></li>
    </ul>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        var current = location.pathname;
        $('#custnav1 li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('activee1');
                $this.addClass('navbar');
            }
        })
    });
</script>

