<style>
    #ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        #ul li {
            float: left;
            margin-right: 3px;
            background: #efefef;
        }

            #ul li a {
                display: block;
                text-align: center;
                padding: 5px 9px;
                text-decoration: none;
                border: 1px solid #b1a6a638;
                position: initial;
                margin-bottom: 0;
            }

                #ul li a:hover:not(.activee) {
                    background-color: var(--main-bg-lcolor);
                    color:#fff;
                    border: 1px solid #b1a6a6;
                }

    .activee {
        color: white;
         background-color: var(--main-bg-lcolor) !important;
    }
   @@media only screen and (max-width:768px) {
       #ul{overflow:visible;}
   }
    @@media only screen and (max-width:480px) {
      
   }
</style>

<div id="custnav" style="">
    <ul id="ul">
        <li><a href="~/ADMIN/Home/Api_Operator" ><i class="fa fa-cog fa-spin" aria-hidden="true"></i>&nbsp;OPT&nbsp;Switching
</a> </li>
        <li><a href="~/ADMIN/Home/Api_nm">Set&nbsp;{Get}&nbsp;API</a></li>
        <li><a href="~/ADMIN/Home/Api_Name">Set&nbsp;{Post}&nbsp;API</a></li>
        <li><a href="~/ADMIN/Home/MoneyApiUrls"><img src="~/AdminDesign/images/vast-api.png" style="width:30px;" />&nbsp;Vast Bazaar&nbsp;API</a></li>
        <li><a href="~/ADMIN/Home/FailedMove">Set&nbsp;BackUp&nbsp;API </a></li>
        <li><a href="~/ADMIN/Home/RechargeAPIUrl">Recharge&nbsp;API&nbsp;Setting </a></li>
        <li><a href="~/ADMIN/Home/money_api_statss">Money&nbsp;API&nbsp;Setting</a></li>
    </ul>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        var current = location.pathname;
        $('#custnav li a').each(function () {
            var $this = $(this);
      
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('activee');
                $this.addClass('navbar');
            }

        })
    });
</script>

