<style>
    #ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        #ul li {
            float: left;
        }

            #ul li a {
                display: block;
                text-align: center;
                padding: 5px 10px;
                text-decoration: none;
                border: 1px solid #b1a6a638;
                position: initial;
            }

                #ul li a:hover:not(.activee) {
                    background-color: #FFC107;
                    color: black;
                    border: 1px solid #b1a6a6;
                }

    .activee {
        color: white;
        margin-bottom: 0px;
    }
    /*.activee:hover {
            color: white;
            border: 1px solid #00000026;
        }*/
</style>


<div id="custnav" style="padding-top:5px;">
    <ul id="ul">
        <li><a href="~/ADMIN/Home/Admin_to_master_Dealer"><i class="fa fa-exchange"></i>&nbsp;MD</a></li>
        <li><a href="~/ADMIN/Home/Admin_to_Dealer"><i class="fa fa-exchange"></i>&nbsp;DLM</a> </li>
        <li><a href="~/ADMIN/Home/Admin_to_Retailler"><i class="fa fa-exchange"></i>&nbsp;REM</a></li>
        <li><a href="~/ADMIN/Home/Admin_to_api"><i class="fa fa-exchange"></i>&nbsp;API</a></li>
        <li><a href="~/ADMIN/Home/Admin_to_white"><i class="fa fa-exchange"></i>&nbsp;Whitelabel</a></li>
        <li><a href="~/ADMIN/Home/MasterToDealer">MD&nbsp;<i class="fa fa-exchange"></i>&nbsp;DLM</a></li>
        <li><a href="~/ADMIN/Home/DealerToRetailer">DLM&nbsp;<i class="fa fa-exchange"></i>&nbsp;REM</a></li>
        @*<li><a href="~/ADMIN/Home/Rem_to_Rem_fund_Report">R&nbsp;<i class="fa fa-exchange"></i>&nbsp;R</a></li>*@
    </ul>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        var current = location.pathname;
        $('#custnav li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('activee');
                $this.addClass('navbar');

            }
        })
    });
</script>
