<style>
    #ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
        #ul li {
            float: left;
            margin-right: 2px;
        }
            #ul li a {
                display: block;
                text-align: center;
                padding: 5px 9px;
                text-decoration: none;
                border: 1px solid #b1a6a638;
                position: initial;
                margin: auto;
                border-radius: 3px;
            }
           
                #ul li a:hover:not(.activee1) {
                    background-color: var(--main-bg-lcolor);
                    color: #fff !important;
                    border: 1px solid #b1a6a6;
                }
    .activee1 {
        color: white !important;
        background-color: var(--main-bg-lcolor);
    }
    @@media only screen and (max-width:768px) {
        #ul {
            overflow: visible;
        }
    }
    @@media only screen and (max-width:480px) {
        #ul li a {
            margin-bottom: 5px;
        }
    }
</style>
<div id="custnav1" class="cust" style="">
    <ul class="ul11" id="ul">
        <li><a href="~/ADMIN/Home/retailersellgst">Retailer&nbsp;GST</a></li>
        <li><a href="~/ADMIN/Home/DealerPurchasegst">Distributor&nbsp;GST</a></li>
        <li><a href="~/ADMIN/Home/MasterPurchasegst">Master&nbsp;GST</a></li>
        <li><a href="~/ADMIN/Home/Apisellgst">API&nbsp;GST </a></li>
    </ul>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        var current = location.pathname;
        $('#custnav1 li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('activee1');
                $this.addClass('navbar');
            }
        })
    });
</script>

