
<style>
   

        #ul li {
            float: left;
            margin-right: 2px;
            background:#fff;
        }

            #ul li a {
                display: block;
                text-align: center;
                padding: 5px 9px;
                text-decoration: none;
                border: 1px solid #b1a6a638;
                position: initial;
                margin:auto;
                border-radius:3px;
            }

                #ul li a:hover:not(.activee1) {
                    background-color: var(--main-bg-lcolor);
                    color: #fff;
                    border: 1px solid #b1a6a6;
                }

    .activee1 {
        color: white;
        background-color: var(--main-bg-lcolor);
    }

    @@media only screen and (max-width:768px) {
        #ul {
            overflow: visible;
        }
    }

    @@media only screen and (max-width:480px) {
        #ul li a {
            margin-bottom: 5px;
        }
    }
</style>

<div id="custnav1" class="cust2" style="">
    <ul id="ul">
        <li><a href="~/ADMIN/Home/retailersellgst">Sell&nbsp;Gst </a></li>
        <li><a href="~/ADMIN/Home/RetailerPurchasegst">Purchase&nbsp;Gst</a></li>
        <li><a href="~/ADMIN/Home/RetailerPurchasegstRecharge">Prepaid&nbsp;Purchase&nbsp;Gst</a></li>
        <li><a href="~/ADMIN/Home/uploadgst">Upload&nbsp;Gst</a></li>
        <li><a href="~/ADMIN/Home/uploadgstrecharge">Prepaid&nbsp;Upload&nbsp;Gst</a></li>
        
    </ul>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        var current = location.pathname;
        $('#custnav1 li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('activee1');
                $this.addClass('navbar');
            }
        })
    });
</script>

