@model IEnumerable<Vastwebmulti.Models.Login_setting_email_phone>
<style>

    .Weblogin-left .tab-content#tab-1 fieldset.secondf.fff.secondf-custom {
        border-color: var(--border-color);
    }


    .Weblogin-left .tab-content#tab-1 fieldset legend {
        color: #000;
    }

    .Weblogin-left .tab-content#tab-1 legend {
        width: auto;
        border: 0;
        padding: 0 5px;
        margin-bottom: 6px;
        text-align: center;
    }

    .registr {
        position: absolute;
        top: -15px;
        width: 50%;
        left: 20px;
        border: 0px;
        background: #eae9e9;
        font-size: 11px;
        font-weight: 700;
    }

        .registr legend {
            width: auto;
            display: block;
            margin-bottom: 20px;
            font-size: 28px;
            line-height: inherit;
            color: #333;
            border: 0;
            padding: 10px;
            margin-left: 30px;
        }

    .Weblogin-left .tab-content#tab-1 fieldset.secondf button {
        border: 2px solid #ff0000;
    }



    .Weblogin-left .tab-content#tab-1 fieldset button img {
        display: block;
        margin: auto;
        margin-bottom: auto;
        margin-bottom: 10px;
    }

    .btn:not(.btn-link):not(.btn-circle) span {
        position: relative;
        top: 0px;
        margin-left: 3px;
    }

    .Weblogin-left .tab-content#tab-1 fieldset.secondf p {
        width: 100%;
    }

    .tab-content fieldse {
        margin-top: 15px !important;
        float: left;
        width: 46.3%;
        border: 15px solid var(--main-bg-lcolor);
        margin: 0px 11px 11px 11px;
        background: #eae9e9;
        position: relative;
    }

    #Statussetting button {
        border-radius: 81px;
        height: 130px;
        width: 130px;
    }

    .dmlsing-seconddesign.border-full-third {
        background: #ccc;
        border-radius: 10px;
        margin: 20px;
    }

    .adm {
        background: var(--main-bg-rcolor);
        text-transform: uppercase;
        color: #fff;
        width: 96%;
        margin: 0px 11px 11px 11px;
        font-size: 24px;
    }
</style>
@*<div id="WAdminSearchList">
        <table class="table table-bordered table-striped table-hover third-design-table table-white-third">
            <thead style="background-color:whitesmoke;">
                <tr>
                    <th>User</th>
                    <th>Mobile Login</th>
                    <th>Email Login</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td><label>Admin</label></td>
                        <td>
                            @if (item.mobile == true)
                            {
                                <i class="fa fa-toggle-on fa-2x" style="color:green;cursor:pointer;" onclick="updatedata('mobile')"></i>
                            }
                            else
                            {
                                <i class="fa fa-toggle-off fa-2x" style="color:red;cursor:pointer;" onclick="updatedata('mobile')"></i>
                            }
                        </td>
                        <td>
                            @if (item.email == true)
                            {
                                <i class="fa fa-toggle-on fa-2x" style="color: green; cursor: pointer;" onclick="updatedata('email')"></i>
                            }
                            else
                            {
                                <i class="fa fa-toggle-off fa-2x" style="color: red; cursor: pointer;" onclick="updatedata('email')"></i>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>*@


<div id="tab-1" class="tab-content currents" style="text-align:center">
    <div id="Statussetting">
        <h2 class="adm">Admin     Login     Permission</h2>
        @foreach (var item in Model)
        {
            <fieldse class="secondf fff secondf-customs">


                <legend class="registr">By Registr Mobile No.</legend>
                @if (item.mobile == true)
                {

                    <button data-id="2" onclick="updatedata('mobile')" type="button" class="btn btn-firstwhite-second" style="margin-top:18px;width:99px;height:99px;">
                        <img src="~/img/green-right.svg" alt="Right Arrow image" style="width:32px;">
                        <span style="width: 100% !important; float: left;position:relative;top:10px;margin-left:0px;"> Active </span>
                    </button>


                }
                else
                {
                    <button data-id="2" onclick="updatedata('mobile')" type="button" class="btn btn-firstwhite-second" style="margin-top: 18px; width: 99px; height: 99px;">
                        <img src="~/img/red.svg" alt="Wrong Arrow image" style="width:32px;">
                        <span style="width: 100% !important; float: left;position:relative;top:10px;margin-left:0px;"> Deactive </span>
                    </button>

                }


                <p class="dmlsing-seconddesign border-full-third">@*Email verification is required for high security*@</p>
            </fieldse>


            <fieldse class="firstf sss firstf-custom">
                <legend class="registr">By Registr Email ID</legend>

                @if (item.email == true)
                {
                    <button data-id="2" onclick="updatedata('email')" type="button" class="btn btn-firstwhite-second" style="margin-top: 18px; width: 99px; height: 99px;">
                        <img src="~/img/green-right.svg" alt="Right Arrow image" style="width:32px;">
                        <span style="width: 100% !important; float: left;position:relative;top:10px;margin-left:0px;"> Active </span>
                    </button>

                }
                else
                {

                    <button data-id="2" onclick="updatedata('email')" type="button" class="btn btn-firstwhite-second" style="margin-top: 18px; width: 99px; height: 99px;">
                        <img src="~/img/red.svg" alt="Wrong Arrow image" style="width:32px;">
                        <span style="width: 100% !important; float: left;position:relative;top:10px;margin-left:0px;"> Deactive </span>
                    </button>
                }
                <p class="dmlsing-seconddesign border-full-third">@*No more security required, then send password to mobile*@</p>
            </fieldse>
        }
    </div>


</div>





@*<div id="Statussetting">
        @foreach (var item in Model)
        {
            <fieldset class="secondf fff secondf-custom">


                <legend>By Registr Email ID</legend>
                @if (item.mobile == true)
                {
                    <button data-id="2" onclick="SecurityChange()" type="button" class="btn btn-firstwhite-second">
                        <img src="/AashaDigitalIndia24Testing/img/red.svg" alt="Wrong Arrow image" style="width:32px;">
                        <span style="width: 100% !important; float: left;position:relative;top:10px;margin-left:0px;"> Deactive </span>
                    </button>

                }
                else
                {

                    <button data-id="2" onclick="SecurityChange()" type="button" class="btn btn-firstwhite-second">
                        <img src="/AashaDigitalIndia24Testing/img/green-right.svg" alt="Right Arrow image" style="width:37px;">
                        <span>Active </span>
                    </button>
                }


                <p class="dmlsing-seconddesign border-full-third">Email verification is required for high security</p>
            </fieldset>


            <fieldset class="firstf sss firstf-custom">
                <legend>By Registr Mobile No.</legend>

                @if (item.email == true)
                {
                    <button data-id="2" onclick="SecurityChange()" type="button" class="btn btn-firstwhite-second">
                        <img src="/AashaDigitalIndia24Testing/img/green-right.svg" alt="Right Arrow image" style="width:37px;">
                        <span>Active </span>
                    </button>

                }
                else
                {

                    <button data-id="2" onclick="SecurityChange()" type="button" class="btn btn-firstwhite-second">
                        <img src="/AashaDigitalIndia24Testing/img/red.svg" alt="Wrong Arrow image" style="width:32px;">
                        <span style="width: 100% !important; float: left;position:relative;top:10px;margin-left:0px;"> Deactive </span>
                    </button>
                }
                <p class="dmlsing-seconddesign border-full-third">No more security required, then send password to mobile</p>
            </fieldset>
        }
    </div>
*@



<script>
    function updatedata(chk) {
       // $("#modeldeiv").html("")

        $.ajax({
            url: "@Url.Action("updateadminlogin","Home")",
            type: 'POST',
            data: { name: chk},
            success: function (response) {
               // location.reload();

                $("#modeldeiv").html(response)
            },
            error: function () {
                //$("#loader").show();
                alert("error occured");
            }
        });
    }
</script>