@model Vastwebmulti.Areas.ADMIN.Models.MasterDistributerModel

<style>
    .wallet-bank-input input[readonly="readonly"] {
        background: transparent;
        border: 0px;
    }
</style>


<table class="table special-iii table-bordered  table-hover paid-service-table example-second" id="dvCategoryResults">
    <thead>
        <tr>
            <th>Role</th>
            <th>Nickname</th>
            <th>Action</th>
        </tr>
    </thead>


    @foreach (var item in Model.Usernickname.OrderByDescending(x => x.Role == "master").ThenByDescending(x => x.Role))
    {
        <tbody>
            <tr>
                <td>

                    @if (item.Role == "Dealer")
                    {
                        <p>Dealer </p>
                    }
                    else if (item.Role == "Retailer")
                    {
                        <p>Retailer </p>
                    }
                    else if (item.Role == "API")
                    {
                        <p>API</p>
                    }


                    else
                    {
                        <p>@Html.DisplayFor(modelItem => item.Role) </p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NickName)
                </td>
                <td class="last-td">
                    <button type="button" onclick="Editmode1('@item.idno')" id="btnEdit1" class="btn waves-effect shownextrow switch-edit-button swichedit-second" value="Edit">
                        <p>Edit</p>
                    </button>
                </td>
            </tr>

        </tbody>
    }
</table>


<script>
    $(function () {
        $('.second-design .example-second').DataTable({
            paging: false
        });
    });

</script>

