@model IEnumerable<Vastwebmulti.Models.prepaid_card_Transaction>

<div class="row clearfix margi-topo-third" style="margin:0;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 for-margin-top">
        <div class="card page-header-third">

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 admin-giftcard-table">
                    <div class="">
                        <div class="body table-responsive tableseconddes-admin giftcard-table-reportnew" style="position:inherit;padding:3px;">
                            <table class="table table-bordered table-striped table-hover giftadmin-tableste table-background-second example-second thpadding-second third-design-table" cellspacing="0" style="width:100%;font-size:12px;background:#f9f9f9;">
                                <thead class="navbar" style="color:#000; position:inherit;">
                                    <tr>
                                        <th>Status</th>
                                        <th>User</th>
                                        <th>Quantity</th>
                                        <th>Amount</th>
                                        <th>Request&nbsp;Time</th>
                                        <th>Response&nbsp;Time</th>
                                        <th>Comm</th>
                                        <th>GST</th>
                                        <th>TDS</th>
                                        <th>Retailer&nbsp;Pre</th>
                                        @*<th><span>Retailer</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">Pre&nbsp;Amt&nbsp;</span><span style="padding-left:2px;">│</span><span style="padding-left:3px;">Net&nbsp;INC</span><span style="padding-left:2px;">│</span><span style="padding-left:2px;">Post&nbsp;Amt</span></th>*@
                                        @*<th><span>Dealer</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">Pre&nbsp;Amt&nbsp;</span><span style="padding-left:2px;">│</span><span style="padding-left:3px;">Net&nbsp;INC</span><span style="padding-left:2px;">│</span><span style="padding-left:2px;">Post&nbsp;Amt</span></th>
                                            <th><span>Master</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">Pre&nbsp;Amt&nbsp;</span><span style="padding-left:2px;">│</span><span style="padding-left:3px;">Net&nbsp;INC</span><span style="padding-left:2px;">│</span><span style="padding-left:2px;">Post&nbsp;Amt</span></th>
                                            <th><span>Whitelabel</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">Pre&nbsp;Amt&nbsp;</span><span style="padding-left:2px;">│</span><span style="padding-left:3px;">Net&nbsp;INC</span><span style="padding-left:2px;">│</span><span style="padding-left:2px;">Post&nbsp;Amt</span></th>*@
                                        <th>Retailer&nbsp;Post</th>
                                        <th>Final</th>
                                        @*<th>Gift&nbsp;Card&nbsp;Message</th>*@
                                        @*<th>API&nbsp;Request</th>*@
                                        @*<th>API&nbsp;Response</th>*@
                                        @*<th class="giftth-seconclass" style="width: 80px !important; display: block;">Action</th>*@
                                    </tr>
                                </thead>
                                <tbody id="resultTarget">
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td> <p class="status-gift-admin">&nbsp;@item.Status</p></td>
                                                <td><p style="font-size:11px;"><span>@item.Name</span>&nbsp;⇒&nbsp;@item.Email</p></td>
                                                <td><p style="font-size:11px;">&nbsp;@item.Quantity</p></td>
                                                <td><p style="font-size:13px;">&nbsp;@item.Amount</p></td>
                                                <td><p style="font-size:13px;">&nbsp;@item.Request_time</p></td>
                                                <td><p style="font-size:13px;">&nbsp;@item.Response_time</p></td>
                                                <td><p style="font-size:13px;">&nbsp;@item.Rem_comm</p></td>
                                                <td><p style="font-size:13px;">&nbsp;@item.rem_gst</p></td>
                                                <td><p style="font-size:13px;">@item.rem_tds</p></td>
                                                <td><p style="font-size:13px;">@item.Rem_remain_pre</p></td>

                                                <td><p style="font-size:13px;">&nbsp;@item.dlm_remain_post</p></td>
                                                <td><p style="font-size:13px;">&nbsp;@item.rem_final</p></td>
                                            </tr>


                                        }
                                    }

                                </tbody>
                                <tfoot class="navbar" style="color:white;position:inherit;">

                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
