<style>
    #ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        #ul li {
            float: left;
            margin-right: 20px;
            padding: 0 11px;
        }
         #ul li a {
                display: block;
                text-decoration: none;
                position: initial;
                }
            #ul li a::before {
    content: '';
    width: 16px;
    height: 16px;
    float: left;
    border: 3px solid #bbb;
    border-radius: 50%;
    margin: 2px 10px 0px 0px;
}
            #ul li a.activee::before{
                background: var(--main-bg-lcolor);
                border-color:var(--main-bg-lcolor);
            }
            #ul li a.activee{color:var(--main-bg-lcolor);}
            #ul li a:hover {
    color: inherit;
}

                

   .activee {
    background-color: transparent;
    color: initial;
}
   .custnav-adminbuttonch ul li a::before{margin-right:4px !important;}
    @@media only screen and (max-width:520px){
        #ul li a.activee{margin-bottom: 0px !important;}
        #ul li{margin-right:1%;margin-bottom:5px;margin-left:1%;}
 
    }
   
</style>
<div>
    <div id="custnav" class="custnav-adminbuttonch">
        <ul id="ul" class="financal-second financal-third">
            <li style=" border-left:none;"><a href="~/ADMIN/Home/Money_Transfer_Slab_DMT2">Pay Out (Slab1)</a></li>
            <li style=" border-left:none;"><a href="~/ADMIN/Home/Money_Transfer_Slab_DMT1">Pay Out(Slab2)</a></li>
            <li><a href="~/ADMIN/Home/Money_Transfer_Slab_UPI">Pay Out UPI</a></li>
            <li><a href="~/ADMIN/Home/dmtSlab">DMT</a></li>

            <li><a href="~/ADMIN/Home/DmtSlabPPI">DMT PPI</a></li>
            <li><a href="~/ADMIN/Home/WalleTransferSlab">Wallet&nbsp;Transfer</a></li>
            <li><a href="~/ADMIN/Home/Pancard_Slab_Setting">Pan&nbsp;Card</a></li>
            <li><a href="~/ADMIN/Home/Pancard_Slab_Setting_manual">Pan&nbsp;Card&nbsp;Manual</a></li>
            <li><a href="~/ADMIN/Home/AepsSlab">AEPS&nbsp;Comm</a></li>
            <li><a href="~/ADMIN/Home/CreditCard">Credit&nbsp;Card</a></li>
            <li><a href="~/ADMIN/Home/M_Poss">M-Poss</a></li>
            <li><a href="~/ADMIN/Home/Micro_Atm">VM30&nbsp;Sale(m-pos)</a></li>
            <li><a href="~/ADMIN/Home/MIcroatm_Cash_Slab">VM30&nbsp;Micro-ATM</a></li>
            <li><a href="~/ADMIN/Home/AadharPanVerificationCharge">Aadhar & Pan Verification Charge</a></li>
            @*  <li><a href="~/ADMIN/Home/CashDepositSlab">Cash&nbsp;Deposit</a></li>*@
            @*    <li><a href="~/ADMIN/Home/PaytmWalletTransferSlab">Paytm&nbsp;Transfer </a></li>*@
        </ul>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        var current = location.pathname;
        $('#custnav li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('activee');
                $this.addClass('navbar');
            }
        })
    });
</script>

