

<style>
    #ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        #ul li {
            float: left;
            margin-right: 20px;
        }
         #ul li a {
                display: block;
                text-decoration: none;
                position: initial;
                }
            #ul li a::before {
    content: '';
    width: 16px;
    height: 16px;
    float: left;
    border: 3px solid #bbb;
    border-radius: 50%;
    margin: 2px 10px 0px 0px;
}
            #ul li a.activee::before{
                background: var(--main-bg-lcolor);
                border-color:var(--main-bg-lcolor);
            }
            #ul li a.activee{color:var(--main-bg-lcolor);}
            #ul li a:hover {
    color: inherit;
}

                

   .activee {
    background-color: transparent;
    color: initial;
}
   
</style>
<div>
    <div id="custnav" class="slab-tab-change" style="">
        <ul id="ul" class="financal-second financal-third">
            <li style="border-left:none;"><a href="~/ADMIN/Home/Flight_Slab">Flight Slab</a></li>
            <li><a href="~/ADMIN/Home/BUS_Slab">Bus Slab</a></li>
            <li><a href="~/ADMIN/Home/Hotel_Slab">Hotel Slab</a></li>
            <li><a href="~/ADMIN/Home/IRCTC_Slab_setting">IRCTC Slab</a></li>
        </ul>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        var current = location.pathname;
        $('#custnav li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('activee');
               
            }
        })
    });
</script>


