@model IEnumerable<Vastwebmulti.Models.ADDNEWSERVICE>

<style>

    #divEditFormComm {
        width: 100%;
        float: left;
    }


        #divEditFormComm li {
            padding: 8px 12px;
            font-size: 16px;
            margin: 6px 3px;
            border: 1px solid #ccc;
            background: #f3f3f3;
            display: block;
            color: #495057;
            border-radius: 0.25rem;
            float: left;
        }
</style>
<div id="divEditFormComm">
    
    <div style=" color: red; width: 100%; float: left;">
        @Session["messgaed"]
    </div>
    
    <ul>
    
    @foreach (var i in Model)
    {
        <a href="@Url.Action("ADDNEWFIELD","Home",new { servies = i.SERVICENAME })">
        <li>@i.SERVICENAME</li></a>
    }




</ul>
</div>
