@model IEnumerable<Vastwebmulti.Models.ADDNEWSERVICE>

<style>

    body {
        background: #f3f3f3;
    }

    .new_from {
        width: 40%;
        margin: auto;
        text-align: center;
        height: auto;
        display: flow-root;
        margin-bottom: 11px;
        background: rgb(255 255 255 / 95%);
        padding: 25px;
        box-shadow: 0px 0px 5px -2px;
        border-radius: 4px;
    }

    .new_from_f {
        width: 100%;
        float: left;
        margin-top: 6%;
    }
    .input_sat {
        padding: 8px 12px;
        font-size: 18px;
        margin: 10px 0;
        border: none;
        background: #f3f3f3;
        display: block;
        width: 100%;
        color: #495057;
        border-radius: 0.25rem;
        float: left;
    }
    .new_from label {
        width: 100%;
        color: #000;
        text-align: left;
    }
    #b_hover:hover {
        background: #000;
        background-image: none !important;
    }

</style>

<section class="content">

    <div class="new_from_f">


        <div class="new_from">

            <h2>ADD NEW SERVICES</h2>

            @using (Ajax.BeginForm("ADDNEWSERVICES", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess1", OnFailure = "onfailed", UpdateTargetId = "divEditFormComm", LoadingElementId = "div_Loader", InsertionMode = InsertionMode.Replace }))
            {
                <div>

                    <label>Services</label>
                    <input class="input_sat" type="text" name="servies" style="margin-top: 1px;" />

                    <input id="b_hover" class="input_sat fullbodydycolorbg" type="submit" value="submit" style="color:#fff;" />
                </div>
            }



            @Html.Partial("ADDNEWSERVICES_report", Model)
        </div>

    </div>


</section>

@*<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@
