
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BulkMasterCreate</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("BulkRetailerCreate", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <form class="form-inline">
                <div class="col-md-6 col-sm-6 col-xs-12 clx">
                    <input type="file" id="FileUpload1" name="FileUpload1" />
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 clx" style="padding-bottom:3px;">
                    <button type="submit" value="Submit" class="btn btn-info btn-sm btn-success" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>">
                        <span style="top:-4px;">Submit</span>
                    </button>
                    @*<input type="submit" id="Submit" class="btn btn-info btn-sm" name="Submit" value="Submit" />*@
                </div>
            </form>
        }
    </div>
</body>
</html>
