
@{
    ViewBag.Title = "checkpassword";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="row">
                        <div class="col-md-12">
                            <div style="margin-left:1px;">
                                @Html.Partial("_menuoperatorcode")
                            </div>
                        </div>
                     
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                
                    <div class="body " style="margin-top:-18px;">
                        <div class="icon-and-text-button-demo">
                            <div class="jumbotron vertical-center" style="background-color:whitesmoke;">
                                <div class="container">
                                    <div class="row">
                                        @using (Html.BeginForm())
                                        {
                                            <center>
                                                <div><i class="material-icons" style="top:2px; font-size:100px; color:black;">lock</i> </div>
                                                <div><span style="font-size:19px; margin-top:3px; color:black; font-weight:bold;">Security Password :-  </span> </div>
                                                <div class="col-md-4">

                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <div class="" style="border:1px solid #dddddd;">
                                  <input type="password" id="txtcode" name="txtcode" class="form-control" required="" />
                                                        </div>
                                                    </div>
                                                    <input type="submit" value="SUBMIT" class="btn btn-default waves-effect" style="border:1px solid #dddddd;" /><br />
                                    <span style="font-size:20px; font-weight:bold; color:red;">@ViewData["MSG"] </span>
                                                </div>

                                                <div class="col-md-4">

                                                </div>
                                                <div>
              
                                                </div>
                                            </center>
                                        }
                                         
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>

<script src="~/AdminDesign/plugins/jquery-validation/jquery.validate.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

