
<style>
    #ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
       background:#f5f5f5;
       padding: 5px;
    }

        #ul li {
            float: left;
           
            width: 100%;
        }
            #ul li a {
                display: block;
              
              font-weight:bold;
               text-align:left;
                text-decoration: none;
                padding: 10px 10px;
                background:#fff;
                color:#555;
                position:relative;
            }
            #ul li a::before {
                content:''  ;
            border-left: 1px solid #555;
            border-bottom: 1px solid #555;
            width: 10px;
            height: 10px;
            display: block;
            right: 20px !important;
            bottom: 14px !important;
            transform: rotate(-131deg);
            position: absolute;
            }
            #ul li a.activee::before{
                border-color:#fff;
                border-width:2px;
            }
               
                 #ul li.btn{
padding:0px;
margin-bottom:12px;
                 }
    #ul li a.activee 
    {
         background:var(--main-bg-lcolor);
         color:#fff;
      }
    #ul li a:hover{
        color:#555;
    }
    
    .btn:not(.btn-link):not(.btn-circle)
    {
      border: none;
    font-size: 13px;
    }
    .btn:not(.btn-link):not(.btn-circle)
    {
       box-shadow: 0 0px 0px rgba(0, 0, 0, 0.16), 0 0px 0px rgba(0, 0, 0, 0.12); 
    border: none;
    font-size: 13px;
    }
</style>

<div style="padding-top:0px; height:auto;">
    <div id="custnav" style="position:initial;">
               <ul id="ul" style="margin-top:0px;">
                <li class="btn" >
                    <a href="~/ADMIN/Home/Outer_color" >Color&nbsp;Setting</a>
                </li>

                <li class="btn" ><a href="~/ADMIN/Home/Outside_logo" >Logo</a></li>
                <li class="btn"><a href="~/ADMIN/Home/Outside_Menu">Menu</a></li>
                <li class="btn" ><a href="~/ADMIN/Home/Login_Content">Login</a></li>
                @*<li class="btn" style="width:117px;">
                       <a href="~/ADMIN/Home/Outer_Page_Border" style="border: 1px solid #00000026;padding:8px 6px 7px 4px;">Outer&nbsp;Border</a>
                </li>*@
                <li class="btn" ><a href="~/ADMIN/Home/Outside_Silder" >Outside Silder</a>
                </li>
                   <li class="btn" >
                       <a href="~/ADMIN/Home/About_us_Content" >About Us</a>
                   </li>
                          
                <li class="btn" ><a href="~/ADMIN/Home/Services_Content">Services</a>
                </li>
                <li class="btn"><a href="~/ADMIN/Home/Product_Content" >Products</a>
                </li>
                <li class="btn" ><a href="~/ADMIN/Home/Works_Content" >Works</a>
                </li>
                <li class="btn" ><a href="~/ADMIN/Home/Card_Content" > Card</a>
                </li>
                <li class="btn"><a href="~/ADMIN/Home/Travel_Content" >Travel</a>
                </li>
                <li class="btn"><a href="~/ADMIN/Home/DTH_Connection">DTH</a>
                </li>
                <li class="btn" ><a href="~/ADMIN/Home/Team" >Team</a>
                </li>
                <li class="btn"><a href="~/ADMIN/Home/WhyChooseUs_Content" >Why&nbsp;Choose</a>
                </li>
                <li class="btn"><a href="~/ADMIN/Home/New_Update" >New Updates</a>
                </li>
                <li class="btn" ><a href="~/ADMIN/Home/Contect_Content" >Contact</a>
                </li>
              
                 <li class="btn" ><a href="~/ADMIN/Home/footer_Content" >Footer</a>
                </li>
                 <li class="btn" ><a href="~/ADMIN/Home/ForgetPass_Content">Email&nbsp;Footer</a>
                </li>
                                      
                </ul>
</div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
         var current = location.pathname;
         $('#custnav li a ').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('activee');
            }
        })
    });
</script>

