
@{
    ViewBag.Title = "Ecommerce";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<style>
    /* new css  */
    .bread-same-all-page li {
        margin: 6px 0;
    }
    .ecommerce-left {
        background: #fff;
    }

    .Masterlist-page .left-first-tabs button.dropdown-toggle::after, .custom-district::after {
       display:none;
    }

    
    
    /* new css  */



    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
        .ecomm-table-top ul li.two {
            width: 50%;
            margin-bottom: 5px;
        }
        .ecomm-table-top ul li.one {
            width: 50%;
            margin-bottom: 5px;
        }
        .ecomm-table-top ul li.first {
            width: 100%;
        }
        .ecomm-table-top ul li.three {
            width: 90%;
        }
        .ecomm-table-top ul li select, .for-category ul li select {
            width: 98%;
        }


    }

    @@media only screen and (max-width:480px){

        .ecomm-table-top ul li.three {
            width: 100%;
        }
        .ecomm-table-top ul li.four {
            width: 11%;
            margin-top: 5px;
        }

    }


</style>

<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Ecommerce</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting 2&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Ecommerce</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="page-header-third pageheader-second-third four-noneclass-admin-only">
            <div class="bread-same-all-page breadsameall-second">
                <ul class="padding-top-thirdclass">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                        </a>
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                            Basic&nbsp;Setting
                        </a>&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        Ecommerce
                    </li>
                </ul>

            </div>
        </div>


        <div class="row clearfix">
            <div class="col-md-4 col-sm-4 col-xs-12  ">
                <div class="ecommerce-left page-header-third">
                    <ul class="nav nav-pills  ecommerce-left-tab tab-seconddesign tab-third-design" style="background:var(--nav-tab-bg);">
                        <li class="active"><a data-toggle="pill" href="#menu1">Category</a></li>
                        <li><a data-toggle="pill" href="#menu2">Sub category</a></li>

                    </ul>

                    <div class="tab-content input-border-third apperancenone-third">
                        <div id="menu1" class="tab-pane fade in active width100 float-left ecommerce-left-first">
                            <div class="row clearfix">
                                <h2 class="ecommerce-left-first-top dmlsing-seconddesign">add new category name</h2>
                                <div class="col-md-12 col-sm-12 col-xs-12 tabcurrent-seconddesign">
                                    <label class="" for="email_address_2">Add Categorey</label>
                                    <input type="text" placeholder="Enter Categorey" />
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12 button-seconddesign">
                                    <button type="submit" class="fullbodydycolorbg btn-first button-third" style="color:#fff;margin-left:5px;"> <span style="color:#fff;position:relative;z-index:9;">Add Categorey</span></button>
                                    <button type="button" class="in-category btn-second button-third-design"> Block History</button>
                                </div>
                            </div>
                        </div>

                        <div id="menu2" class="tab-pane fade in width100 float-left ecommerce-left-first">
                            <div class="row clearfix">
                                <h2 class="ecommerce-left-first-top">add new Sub category name</h2>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label for="email_address_2">Parent Categorey</label>
                                    <div class="custom-district aapearnce-noneclass" style="width:100%;float:left;">
                                        <select>
                                            <option>hujguhvbj</option>
                                            <option>hujguhvbj</option>
                                            <option>hujguhvbj</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">

                                <div class="col-md-12 col-sm-12 col-xs-12 tabcurrent-seconddesign">
                                    <label for="email_address_2">Add Sub Categorey</label>
                                    <input type="text" placeholder="Enter Sub Categorey" />
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12 button-seconddesign">
                                    <button type="submit" class="fullbodydycolorbg btn-first" style="color:#fff;margin-left:5px;"> <span style="color:#fff;position:relative;">Add Categorey</span></button>
                                    <button type="button" class="in-sub-category btn-second"> Block History</button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>




            <div class="col-md-8 col-sm-8 col-xs-12 for-position-relative ">

                <div class="page-header-third">

                    <div class="table-responsive" style="background:#fff;height: 80vh;padding: 10px;">
                        <div class="ecomm-table-top aapearnce-noneclass apperancenone-third">

                            <ul>
                                <li class="first">  <h2>Product Detail</h2></li>
                                <li class="one">
                                    <div class="custom-district">
                                        <select>
                                            <option>Select Category</option>
                                            <option>Electronics</option>
                                        </select>
                                    </div>
                                </li>
                                <li class="two">
                                    <div class="custom-district">
                                        <select>
                                            <option>All Status</option>
                                            <option>Pending</option>
                                            <option>Approved</option>
                                            <option>Rejected</option>

                                        </select>
                                    </div>
                                </li>
                                <li class="three">
                                    <div class="input-daterange input-group">
                                        <div class="for-date">
                                            <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                            <input class="form-control" id="txt_frm_date" name="txt_frm_date" required="required" style="border:1px solid #dddddd; height:32px;padding-left: 25px;" type="text" value="">
                                        </div>
                                        <span class="input-group-addon">
                                            <i class="fa fa-exchange" style="padding-top:6px;" aria-hidden="true"></i>
                                        </span>
                                        <div class="for-date">
                                            <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                            <input class="form-control" id="txt_to_date" name="txt_to_date" required="required" style="border:1px solid #dddddd; height:32px;padding-left: 25px;" type="text" value="">
                                        </div>
                                    </div>
                                </li>
                                <li class="four buttonsearch-second">
                                    <button type="submit" class="btn  waves-effect" style=" height:32px;float:right;">
                                        <i class="fa fa-search" style="top:0px;font-size:16px;color:black;" aria-hidden="true"></i>

                                    </button>
                                </li>
                            </ul>
                        </div>
                        <table class="table table-bordered table-striped table-hover example-second exampletable-second whitetable-second" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Seller&nbsp;Firm</th>
                                    <th>Catagory</th>
                                    <th>Sub Catagory</th>
                                    <th>List&nbsp;Price</th>
                                    <th>Act&nbsp;Price</th>
                                    <th>MY(%)</th>
                                    <th>Request&nbsp;Date</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr data-toggle="modal" data-target="#defaultModal1">
                                    <td>
                                        <span class="seller-status" style="padding-right:2px;">
                                            <img src="~/ashok-images/correct.svg" style="width: 19px;background:green;border-radius: 50%;padding: 3px;" />
                                        </span>
                                        <span class="seller-firm">fidbfvknfiuhfmn</span>
                                    </td>
                                    <td>fvfbfg</td>
                                    <td>fgfdggf</td>
                                    <td>fgfgfd</td>
                                    <td>5654</td>
                                    <td>5645</td>
                                    <td>565 <img src="~/ashok-images/rightaeps.svg" style="width:13px;margin-top:2px;float:right;"></td>


                                </tr>
                                <tr data-toggle="modal" data-target="#defaultModal1">
                                    <td>
                                        <span class="seller-status" style="padding-right:2px;">
                                            <img src="~/ashok-images/closes.svg" style="width: 19px;background:red;border-radius: 50%;padding: 3px;" />
                                        </span>
                                        <span class="seller-firm">fgrtshfghfgt</span>
                                    </td>
                                    <td>fvfbfg</td>
                                    <td>fgfdggf</td>
                                    <td>fgfgfd</td>
                                    <td>5654</td>
                                    <td>5645</td>
                                    <td>565 <img src="~/ashok-images/rightaeps.svg" style="width:13px;margin-top:2px;float:right;"></td>


                                </tr>
                                <tr data-toggle="modal" data-target="#defaultModal1">
                                    <td>
                                        <span class="seller-status" style="padding-right:2px;">
                                            <img src="~/ashok-images/clock.svg" style="width: 20px;" />
                                        </span><span class="seller-firm"></span>
                                    </td>
                                    <td>fvfbfg</td>
                                    <td>fgfdggf</td>
                                    <td>fgfgfd</td>
                                    <td>5654</td>
                                    <td>5645</td>
                                    <td>565 <img src="~/ashok-images/rightaeps.svg" style="width:13px;margin-top:2px;float:right;"></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>


                    <!---pop-up for seller --->

                    <div class="modal mastetr222Modal in" id="defaultModal1" tabindex="-1" role="dialog" style="display: none;">
                        <div class="modal-dialog" role="document" style="margin:0px;">

                            <div class="modal-content width100 float-left">
                                <div class="modal-header width100 float-left ecomm-pop-head">

                                    <h5>Catogery</h5>
                                    <h5 style="float:right;">Sub Catogery</h5>




                                </div><!--.modal-header-->
                                <div class="modal-body width100 float-left ecomm-pop-body">
                                    <div class="background-kk width100 float-left">
                                        <div class="thisLeft float-left">
                                            <img src="~/AdminDesign/images/user.png" class="img-circle" alt="User" width="100" height="100">
                                        </div>

                                    </div>
                                    <div class="float-left width100">

                                        <form class="first-form">

                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-6 col">
                                                    <div class="form-group">
                                                        <label>Status</label>

                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6 col-2">
                                                    <div class="form-group">
                                                        <label>
                                                            <div class="onoffswitch">
                                                                <span class="costom-on">on</span>
                                                                @*<span class="custom-off">off</span>*@
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div><!--.row-->
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                                    <div class="form-group">
                                                        <label>Product Name</label>
                                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" value="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                                    <div class="form-group">
                                                        <label>commission</label>
                                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" value="">
                                                    </div>
                                                </div>
                                            </div><!--.row-->

                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                                    <div class="form-group">
                                                        <label>Product HSN</label>
                                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" value="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                                    <div class="form-group">
                                                        <label>Cost Rate</label>
                                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" value="">
                                                    </div>
                                                </div>
                                            </div><!--.row-->



                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                                    <div class="form-group">
                                                        <label>Cost Rate</label>
                                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" value="">


                                                    </div>
                                                </div>

                                            </div><!--.row-->

                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                                    <div class="form-group">
                                                        <label>List Price</label>
                                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" value="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                                    <div class="form-group">
                                                        <label>Actual Price</label>
                                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" value="">
                                                    </div>
                                                </div>
                                            </div><!--.row-->
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                                    <div class="form-group">
                                                        <label>Saller Name</label>
                                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" value="">


                                                    </div>
                                                </div>

                                            </div><!--.row-->

                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                                    <div class="form-group">
                                                        <label>Seller Email</label>
                                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" value="">


                                                    </div>
                                                </div>

                                            </div><!--.row-->
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                                    <div class="form-group">
                                                        <label>Seller Number</label>
                                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" value="">


                                                    </div>
                                                </div>

                                            </div><!--.row-->
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                                    <div class="form-group">
                                                        <label>Request Date</label>
                                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" value="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                                    <div class="form-group">
                                                        <label>Approval Date</label>
                                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" value="">
                                                    </div>
                                                </div>
                                            </div><!--.row-->

                                            <div class="modal-footer width100 float-left">
                                                <button type="button" class="btn waves-effect fullbodydycolorbg" data-dismiss="modal" style="color:#fff;">
                                                    Close
                                                </button>
                                            </div>

                                        </form>

                                        <!--=============-->

                                    </div><!--.modal-body-->


                                </div>

                            </div>
                        </div>
                    </div>


                    <!------ pop-up for category ---->


                    <div class="for-category " style="display:none;">



                        <button type="button" class="close-button category-top-close fullbodydycolorbg" name="close">Close</button>
                        <div class="table-data">
                            <div class="table-responsive">
                                <table id="mytble" class="table table-bordered" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>S/N</th>

                                            <th>Category&nbsp;Name</th>

                                            <th>Status</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td><input type="text" value="uyf7yg" readonly="readonly" /></td>
                                            <td>
                                                <div class="onoffswitch" style="width:84px;">
                                                    @*<span class="costom-on">active</span>*@
                                                    <span class="custom-off">Unactive</span>
                                                </div>
                                            </td>

                                            <td>
                                                <button class="for-edit">edit</button>
                                                <button class="for-save">save</button>
                                            </td>
                                            <td>
                                                <button style="border:0px;">
                                                    <span class="for-delete">
                                                        <img src="~/MainFrontDesign/images/delete.svg" style="width:14px;margin: auto;" />
                                                    </span>
                                                    <span class="for-sure">SURE?</span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>





                    </div>

                    <!------ pop-up for subcategory --->
                    <div class="for-sub-category width100" style="display:none;">



                        <button type="button" class="close-button sub-category-top-close fullbodydycolorbg" name="close">Close</button>

                        <div class="table-data">
                            <div class="table-responsive">
                                <table id="mytble" class="table table-bordered" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>Sr No.</th>
                                            <th>Parent Category</th>
                                            <th>Sub Category Name</th>
                                            <th>Live Status</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>sdgerg</td>
                                            <td><input type="text" value="uyf7yg" readonly="readonly" /></td>
                                            <td>
                                                <div class="onoffswitch" style="width:84px;">
                                                    @*<span class="costom-on">active</span>*@
                                                    <span class="custom-off">Unactive</span>
                                                </div>
                                            </td>

                                            <td>
                                                <button class="for-edit">edit</button>
                                                <button class="for-save">save</button>
                                            </td>
                                            <td>
                                                <button style="border:0px;">
                                                    <span class="for-delete">

                                                        <img src="../../MainFrontDesign/images/delete.svg" style="width:14px;margin: auto;" />
                                                    </span>
                                                    <span class="for-sure">SURE?</span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>





                    </div>

                </div>
                
            </div>

        </div>
    </div>
</section>


    <script>
        $('.in-category').click(function () {
            $('.for-category').fadeIn();
            $('.for-sub-category').fadeOut();
        });

        $('.category-top-close').click(function () {
            $('.for-category').fadeOut();
        });


          $('.in-sub-category').click(function () {
              $('.for-category').fadeOut();
              $('.for-sub-category').fadeIn();
        });

        $('.sub-category-top-close').click(function () {
            $('.for-sub-category').fadeOut();
        });
    </script>

    <script>

    $(function()
    {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
    </script>


<script>
    $('.for-edit').click(function () {
        $(this).closest('tr').find('input').removeAttr('readonly');
        $(this).next('.for-save').css('display', 'block');
        $(this).css('display', 'none');
  
  });

    $('.for-delete').click(function () {
        $(this).css('display', 'none');
        $(this).next('.for-sure').css('display', 'block');

  });
    
</script>


<script>
    $(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>
