@model List<Vastwebmulti.Models.gstreport_monthly_Result>
@{
    ViewBag.Title = "Team";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>
    table {
        width: 100%;
        counter-reset: row-num;
    }

    table tbody tr {
        counter-increment: row-num;
    }

        table tbody tr td:first-child::before {
            content: counter(row-num) ". ";
        }

    table tr td:first-child {
        text-align: center;
    }

    td {
        text-align: center;
        padding: 2px;
    }

    .active_btn {
        border: 2px solid black;
        background-color: #fbb924 !important;
    }

    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:991px){

        .rtrt {
            float: left;
            display: table;
        }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
        .rer2 {
            padding: 0px !important;
        }

        .rtrt {
            padding: 0 2px;
            margin-top: 4px;
        }
        .search_box {
            width: auto;
            float: left;
            margin-top: 4px;
        }


    }

    @@media only screen and (max-width:500px){

        .search_box {
            margin-top: 0px;
        }
        .w_input .btn {
            width: 32.333%;
        }
        .rtrt {
            width: 100%;
        }
    }



</style>
<section class="content">
    <div class="container-fluid">
        <div class="page-header-third margin-bottom-third cardbackg-third onlymargin-third newcardclass leftrightpadd-third positionrelavtive-third">
           
                <div class="row col-md-12 col-sm-12 col-lg-12 rer2 items-center" style="margin: 0; padding: 0;">
                    <div class="col-sm-6 col-md-6 col-lg-6 w_input" style="padding: 0;">
                        <input type="button" value="Retailer" id="retailer" class="btn active_btn" style="height:32px;background:#dedddd;" onclick="ChangeRole('retailer')" />
                        <input type="button" value="Dealer" id="dealer" class="btn" style="height:32px;background:#dedddd;" onclick="ChangeRole('dealer')" />
                        <input type="button" value="Master" id="master" class="btn" style="height:32px;background:#dedddd;" onclick="ChangeRole('master')" />
                    </div>
                    <div class="card col-md-6 col-lg-6" style="padding: 0;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4 rtrt responcive-full" style="">
                                    <input type="month" name="_date" id="_date" class="form-control" required />
                                </div>
                                <div class="col-md-4 rtrt responcive-full" style="">
                                    <input type="hidden" name="role" id="role" class="form-control" value="retailer" />
                                </div>
                                <div class="col-md-4 rtrt responcive-full" style="">
                                    @*<select class="form-control" name="role" id="role">
                                    <option value="retailer">Retailer</option>
                                    <option value="dealer">Dealer</option>
                                    <option value="master">Master</option>
                                </select>*@
                                </div>
                                <div class="search_box">
                                    <input type="button" id="search_data" value="Search" class="btn" style="height:32px;border:1px solid #c7c2c2;background:#dedddd;" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
            <div class="col-md-12 page-header-third" style="">
                <div class="row clearfix" style="margin: 0;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-20px;">
                        <div class="" style="padding: 10px 30px; font-size: 30px; text-transform: uppercase; margin: 0 0 20px 0;">
                        </div>
                        <div class="body ">
                            <div class="row">
                                <div class="table-responsive" style="position:inherit;margin-top:-20px;">
                                    <table border="1px solid white">
                                        <thead>
                                            <tr style="font-weight: bolder;">
                                                <td rowspan="3">S No</td>
                                                <td rowspan="3">Firm Name</td>
                                                <td colspan="3">Recharge & Utility</td>
                                                <td colspan="2">Imps/Neft/Upi</td>
                                                <td colspan="3">AEPS</td>
                                                <td colspan="3">Micro Atm</td>
                                                <td colspan="2">PAN</td>
                                                <td colspan="2">Travel Services</td>
                                                <td colspan="2">Prepaid & Gift Cards</td>
                                                <td colspan="3">Total</td>
                                            </tr>
                                            <tr style="font-weight: 700;">
                                                <td rowspan="2">Rehcarge Gst</td>
                                                <td rowspan="1" colspan="2">Utility</td>
                                                <td rowspan="2">To A/C Gst</td>
                                                <td rowspan="2">Tds</td>
                                                <td rowspan="2">AadharPay Gst</td>
                                                <td rowspan="1" colspan="2">Aeps-Mini</td>
                                                <td rowspan="2">Pos Gst</td>
                                                <td rowspan="1" colspan="2">MAtm-Cash</td>
                                                <td rowspan="2">Gst</td>
                                                <td rowspan="2">Tds</td>
                                                <td rowspan="2">Gst</td>
                                                <td rowspan="2">Tds</td>
                                                <td rowspan="2">Gst</td>
                                                <td rowspan="2">Tds</td>
                                                <td rowspan="2">Purchase Gst</td>
                                                <td rowspan="2">Sell Gst</td>
                                                <td rowspan="2">Tds</td>
                                            </tr>
                                            <tr style="font-weight: 600;">
                                                <td>Gst</td>
                                                <td>Tds</td>
                                                <td>Gst</td>
                                                <td>Tds</td>
                                                <td>Gst</td>
                                                <td>Tds</td>
                                            </tr>
                                        </thead>
                                        <tbody id="gstbody">
                                            @Html.Partial("_Gst_Report")
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>


</section>

<script>
    var Role = 'retailer'
    var date = new Date();
    var year = date.getFullYear();
    var month = date.getMonth();

    var d = year + '-' + (month < 10 ? '0' + month : month.toString())
    $('#_date').val(d);


    $('#search_data').click(() => {
        var _date = $('#_date').val();
        var role = Role;
        searchreport(_date, role);
    })


    function searchreport(_date, role) {
        fetch(`@Url.Action("_Gst_Report")?_date=${_date}&role=${role}`)
            .then(res => res.text())
            .then(data => {
                $('#gstbody').html(data);
            })
    }

    function ChangeRole(role) {
        document.getElementById(Role).classList.remove('active_btn');
        document.getElementById(role).classList.add('active_btn');
        Role = role;
        var _date = $('#_date').val();
        searchreport(_date, role);
    }

</script>