
@{
    ViewBag.Title = "InsertOTP";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                  
                    <div class="body ">
                        <div class="icon-and-text-button-demo">
                            <div class="jumbotron vertical-center" style="position:inherit;background-color:whitesmoke;border:9px solid #ececec;">
                                <div class="container">
                                    <div class="row">
                                        @using (Html.BeginForm())
                                        {
                                            <center>
                                                <div><i class="material-icons" style="top:2px; font-size:100px; color:black;">lock</i> </div>
                                                <div><span style="font-size:19px; margin-top:3px; color:black; font-weight:bold;">Enter OTP to change mobile no</span> </div>
                                                <div class="col-md-4">
                                                    
                                                </div>
                                                <input type="hidden" id="txtmobile" name="txtmobile" value="@ViewData["Mobile"]" />
                                                <input type="hidden" id="type" name="type" value="@ViewData["type"]" />
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <div class="" style="border:1px solid #c7c2c2;">
                                                            <input type="password" id="txtcode" name="txtcode" class="form-control" required="" />
                                                        </div>
                                                    </div>
                                                    <button type="submit" id="btn" class="btn" style="margin-top:6px; margin-left:1px; height:31px;border:1px solid #c7c2c2;background:#dedddd;width:30%;">
                                                        <span style="top:-1px;color:black;">Submit</span>
                                                    </button><br />
                                                    <span style="font-size:20px; font-weight:bold; color:black;">@ViewData["MSG"] </span>
                                                </div>

                                                <div class="col-md-4">

                                                </div>
                                                <div>

                                                </div>
                                            </center>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>


<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/sweetalert/sweetalert.min.js"></script>
<link href="~/AdminDesign/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
<script>
    window.onload = function () {

        var succ = '@ViewData["Success"]';

        if (succ != null && succ != "") {
                swal("Good job!", succ, "success");
            }
        }
</script>