@model Vastwebmulti.Areas.ADMIN.Models.MasterDistributerModel

<style>
    .wallet-bank-input input[readonly="readonly"] {
        background: transparent;
        border: 0px;
    }
</style>


<table class="table special-iii table-bordered  table-hover paid-service-table example-second" id="dvCategoryResults">
    <thead>
        <tr>
            <th>Role</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>
    </thead>


    @foreach (var item in Model.lowbalance)
    {
        <tbody>
            <tr>
                <td>
                    @item.Role
                </td>
                <td>
                    @item.amount
                </td>
                <td class="last-td">
                    <button type="button" onclick="Editmode1lowbal('@item.idno')"  class="btn waves-effect shownextrow switch-edit-button swichedit-second" value="Edit">
                        <p>Edit</p>
                    </button>
                </td>
            </tr>

        </tbody>
    }
</table>


<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({
            paging: false
        });
    });

</script>

