<style>
    #ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        #ul li {
            float: left;
        }

            #ul li a {
                display: block;
                text-align: center;
                padding: 5px 10px;
                text-decoration: none;
                border: 1px solid #b1a6a638;
                position: initial;
            }

                #ul li a:hover:not(.activee) {
                    background-color: #FFC107;
                    color: black;
                    border: 1px solid #b1a6a6;
                }

    .activee {
        color: white;
        margin-bottom: 0px;
    }
    /*.activee:hover {
            color: white;
            border: 1px solid #00000026;
        }*/
</style>
<div>
    <div id="custnav" style="padding-top:5px;">
        <ul id="ul">
     <li><a href="~/ADMIN/Home/Notification">
    <i class="fa fa-bell" aria-hidden="true"></i>Notification</a></li>
     @*<li><a href="~/ADMIN/Home/PushNotification">Notification Setting</a></li>*@
     <li><a href="~/ADMIN/Home/Email_Security">
    <i class="fa fa-telegram" aria-hidden="true"></i>Sending Email</a></li>
            <li><a href="~/ADMIN/Home/Sender_Email_Security">Sender&nbsp;Email&nbsp;History</a></li>
            </ul>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        var current = location.pathname;
        $('#custnav li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('activee');
                $this.addClass('navbar');

            }
        })
    });
</script>
