
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pancard_new_report</title>
</head>
<body>
    <div>
        <button id="new">new</button>
        <button id="Old">Old</button>
    </div>
    <div id="Old"> 
       
    </div>
</body>
<script>



</script>
</html>
