@model IEnumerable<Vastwebmulti.Models.select_all_offer_income_Result>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Roffer Income</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>
                <th>Port&nbsp;No</th>
                <th>Message</th>
                <th>Date</th>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.portno</td>
                    <td>@item.msg</td>
                    <td>@item.edate</td>
                </tr>
            }


        </tbody>
    </table>
</body>
</html>

