
@{
    ViewBag.Title = "Repairandservice";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}



<style>
    ul.cumming-soon {
        width: 100%;
        float: left;
        padding: 15px;
    }

        ul.cumming-soon li {
            width: 20%;
            float: left;
            padding: 5px;
        }

            ul.cumming-soon li span {
                width: 100%;
                text-align: center;
                display: block;
                font-size: 15px;
                text-transform: capitalize;
                margin-top: 3px;
            }
</style>
<section class="content">
    <div class="container-fluid repair-service">
        <div style="position: absolute;right: 80px;top: 107px;z-index: 9;">
            <div class="comming-click">Pricing</div>
            <div class="comming-show" style="display:none;">INR 10,000</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 style="font-size:40px;">Service&nbsp;&&nbsp;Repair.....</h2>
                <span style="font-size:174px;color: var(--main-bg-lcolor);text-align: center;width: 100%;display: block; ">Coming Soon</span>
            </div>
        </div>
        <div class="row">
            <ul class="cumming-soon">
                <li>

                    <img src="~/AdminDesign/images/AC Service And Repair.png" style="max-width:100%;" />
                    <span>AC Service And Repair</span>
                </li>
                <li>

                    <img src="~/AdminDesign/images/salon at home for women.png" style="max-width:100%;" />
                    <span>salon at home for women</span>
                </li>
                <li>

                    <img src="~/AdminDesign/images/Massage for man.png" style="max-width:100%;" />
                    <span>Massage for man</span>
                </li>
                <li>

                    <img src="~/AdminDesign/images/Carpenters Work.png" style="max-width:100%;" />
                    <span>Carpenters Work</span>
                </li>
                <li>

                    <img src="~/AdminDesign/images/Electrican Work.png" style="max-width:100%;" />
                    <span>Electrican Work</span>
                </li>
            </ul>


        </div>
    </div>
</section>
<script>
    $('.comming-click').click(function () {
        $(this).hide();
        $('.comming-show').show();
    });
</script>

