@model  Vastwebmulti.Areas.ADMIN.ViewModel.EmployeePermissionViewmodel
@{
    ViewBag.Title = "ShowEmployeeWithPermission";
}
<style>
    section.content {
        background-color: white;
        margin: 29px 0px 0 164px;
    }

    select {
        border: 1px solid var(--border-color) !important;
    }

    .showemployee-admin .col-md-3 select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url('../../AdminDesign/images/multimedia.svg')no-repeat;
        padding: 0px 2px;
        background-size: 10px;
        background-position: 98% 50%;
    }

    .showemployee-admin .col-md-12.employclassadminnew {margin-top: 43px !important;}

    #space-after-right.space-after-right {
        position: absolute;right: 185px;top: 0px;
    }
    .empolyresponsiveadmin #btnsubmit {height: 34px !important;}

    #div_Loader {
        background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
        height: 100%;
        position: fixed;
        top: 0;
        width: 100%;
        left:0px;
        z-index: 999999;
    }
    .loadingio-spinner-gear-94vo528ab8 {
        width: 200px;
        height: 200px;
        display: inline-block;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .ldio-gs56nt525f {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */
    }

        .ldio-gs56nt525f div {
            box-sizing: content-box;
        }

        .ldio-gs56nt525f > div {
            transform-origin: 100px 100px;
            animation: ldio-gs56nt525f 0.2s infinite linear;
        }

            .ldio-gs56nt525f > div div {
                position: absolute;
                width: 22px;
                height: 152px;
                background: var(--main-bg-lcolor);
                left: 100px;
                top: 100px;
                transform: translate(-50%,-50%);
            }

                .ldio-gs56nt525f > div div:nth-child(1) {
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }

                .ldio-gs56nt525f > div div:nth-child(6) {
                    width: 80px;
                    height: 80px;
                    background: #fff;
                    border-radius: 50%;
                }

                .ldio-gs56nt525f > div div:nth-child(3) {
                    transform: translate(-50%,-50%) rotate(45deg)
                }

                .ldio-gs56nt525f > div div:nth-child(4) {
                    transform: translate(-50%,-50%) rotate(90deg)
                }

                .ldio-gs56nt525f > div div:nth-child(5) {
                    transform: translate(-50%,-50%) rotate(135deg)
                }

    @@keyframes ldio-gs56nt525f {
        0% {
            transform: rotate(0deg)
        }

        50% {
            transform: rotate(22.5deg)
        }

        100% {
            transform: rotate(45deg)
        }
    }


        @@media screen and (max-width:766px) {
            .col-md-12.employclassadminnew {
                margin-top: 0px !important;width: 100% !important;
            }

            .showemployee-admin .col-md-3 {
                width: 100% !important;float: left;padding: 0;
            }

            .showemployee-admin .col-md-12.employclassadminnew {padding: 0;}

            .showemployee-admin .col-md-3 select {background-position: 99% 50%;}

            .showemployee-admin .empolyresponsiveadmin input {text-transform: uppercase;}

            .showemployee-admin .col-md-12.employclassadminnew {margin-top: 50px !important;}
            #space-after-right.space-after-right.space-after-right-class {
                position: static;width: 100% !important;float: left;
            }
        }
</style>
@*<h2>ShowEmployeeWithPermission</h2>*@
<section class="content retailerList_Page">
    <div class="container-fluid showemployee-admin">
        <div class="page-header-third showemployee-header-third" style="width:100%;float:left;">
            <div class="col-md-12 employclassadminnew" style="width:100%;float:left;margin-top: -9px;padding:0px;margin-bottom: 19px;">
                <div class="col-md-3" style="width:auto;float:left;padding:0px;">
                    <div class="bread-same-all-page" style="width:100%;float:left;">
                        <ul class="" style="float: left;">
                            <li class="smli" style="margin: 0;">
                                <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one" style="font-size: 14px;">
                                    Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                                </a>
                            </li>

                            <li class="fullbodydycolorbg tmw-total-color-one" style="font-size: 14px;margin: 0;">
                                Select Employee Name
                            </li>
                        </ul>
                    </div>

                </div>

                <div id="space-after-right" class="col-md-3 space-after-right-class" style="float:right;padding: 0;">
                    @Html.DropDownListFor(m => m.EmployeenameID, Model.Employeenames, "Select Employee", new { @class = "form-control", data_live_search = "true" })

                </div>
            </div>
        </div>



        <div id="tblpermission" class="table-responsive table-responsive-forclass" style="width: 100%; float: left;">





        </div>

        <div id="div_Loader" style="display:none;">
            <div class="loadingio-spinner-gear-94vo528ab8">
                <div class="ldio-gs56nt525f">
                    <div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
        </div>

    </div>
</section>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>

<script>
    $('#EmployeenameID').change(function () {
        $("#div_Loader").show();
        //var selectval = $('#EmployeenameID').val();
        //if (selectval == "") {
        //    $('#space-after-right').removeClass("space-after-right")
        //}
        //else {
        //    $('#space-after-right').addClass("space-after-right")
        //}
        $.ajax({
            url: "@Url.Action("ShowAllServicesforpermission")",
            data: { EId: $('#EmployeenameID').val() },
            cache: false,
            type: "POST",
            success: function (data) {

                $('#tblpermission').html(data)
                $('#space-after-right').addClass("space-after-right")
                $("#div_Loader").hide();
              
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });



    })

</script>