<style>
    #ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        #ul li {
            float: left;
        }

            #ul li a {
                display: block;
                text-align: center;
                padding: 5px 10px;
                text-decoration: none;
                border: 1px solid #b1a6a638;
                position: initial;
            }

                #ul li a:hover:not(.activee) {
                    background-color: #FFC107;
                    color: black;
                    border: 1px solid #b1a6a6;
                }

    .activee {
        color: white;
        margin-bottom: 0px;
    }
    /*.activee:hover {
            color: white;
            border: 1px solid #00000026;
        }*/
</style>
<div>
    <div id="custnav" style="padding-top:5px;">
        <ul id="ul">
            <li><a href="~/ADMIN/Home/RetailerCreationCharge" title="Retailer Signup Charge's"><i class="fa fa-inr"></i>&nbsp;SignUp</a></li>
            <li><a href="~/ADMIN/Home/JoingTokens" title="Distributor Signup Token's"><i class="fa fa-tags"></i>&nbsp;SignUp</a></li>
            <li><a href="~/ADMIN/Home/PaidServices">Paid&nbsp;Services</a></li>
            <li><a href="~/ADMIN/Home/JoingTokenMaster" title="Master Signup Token's"><i class="fa fa-tags"></i>&nbsp;Master&nbsp;SignUp</a></li>
            <li><a href="~/ADMIN/Home/Remain_master_token_report" title="Remain Master Signup Token's"><i class="fa fa-folder-open-o"></i>&nbsp;MD-Remain's</a></li>
            <li><a href="~/ADMIN/Home/Remain_dealer_token_report" title="Remain Distributor Signup Token's"><i class="fa fa-folder-open"></i>&nbsp;DLM-Remain's</a></li>
         </ul>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        var current = location.pathname;
        $('#custnav li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('activee');
                $this.addClass('navbar');

            }
        })
    });
</script>

