
@{
    ViewBag.Title = "test";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
    <section class="content tmw-email-securty">
        <div class="container-fluid">
            <div class="high-security-popup" id="Email_Secu_myModal">
                <div class="high-input" style="background:@PageData["globalCol"];">

                        <div><i class="material-icons" style="top:2px; font-size:100px; color:white;">lock</i></div>
                        <h3> High Security Password :-  </h3>

                        <div class="form-group">
                            <input type="password" id="txtcode1" name="txtcode1" class="form-control" onkeyup="manages(this)" />
                            <center><p id="errormsg"></p></center>
                        </div>
                        <button type="button" id="btSubmits" class="btn btn-default waves-effect btnssl special-iii" onclick="showloader1()" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" disabled>
                            <center><i id="loaderfa" class=""></i></center>
                            <span id="submitbtn">Submit</span>
                        </button>
                        <span id="error" style="font-size:15px;width: 100%;float: left;color:#fff;margin-top: -17px;"> </span>
                        <div>
                        </div>
                </div>
                <div class="isrbga"></div>
            </div>
            </div>
        </section>
    <script>
    $(document).ready(function () {
        var PopupOk = '@ViewBag.chkPopUp';
        if (PopupOk != "Ok") {
            $("#Email_Secu_myModal").show();
        }
    });
    </script>
<script>
    $('#txtcode1').keypress(function (e) {
 var key = e.which;
 if(key == 13)  // the enter key code
 {
     alert("ok")
     showloader1();
    return false;  
  }
});   
</script>
            <script>
    function showloader1()
    {
            
        var txtcode1 = $("#txtcode1").val();

        if(txtcode1 !=null && txtcode1 !="")
        {
            $.ajax({
                type: "GET",
                    dataType: 'json',
                data: { txtcode1: txtcode1 },
                url: "@Url.Action("Email_Secu_Pass", "Home")",
                success: function (response) {
                    alert(response)
                    //if (response == "Success")
                    //{
                    //    //alert("ddd");
                    //    $("#Email_Secu_myModal").hide();
                    //}
                    //else
                    //{
                    //    $('#error').text("* Wrong High Security Password!");
                    //}
                }
        });
        }
        else {

            document.getElementById("errormsg").innerHTML = "Please Required Transaction Password";
        }

    }
            </script>

