
@{
    ViewBag.Title = "tran_pass_api";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header navbar" style="position:initial;">
                        <h2 style="color:white;">
                            Transaction Password

                        </h2>
                    </div>
                    <div class="body ">
                        <div class="icon-and-text-button-demo">
                            <div class="jumbotron vertical-center navbar" style="position:inherit;">
                                <div class="container">
                                    <div class="row">
                                        @using (Html.BeginForm("tran_pass_api", "Home", FormMethod.Post, new { id = "Formsubmit" }))
                                        {
                                            @*@using (Html.BeginForm(FormMethod.Post, new { id = "EditFormComm" }))*@

                                            <center>
                                                <div><i class="material-icons" style="top:2px; font-size:100px; color:white;">lock</i> </div>
                                                <div><span style="font-size:19px; margin-top:3px; color:white; font-weight:bold;">Transaction Password :-  </span> </div>
                                                <div class="col-md-4">

                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="password" id="txtcode" name="txtcode" class="form-control" />
                                                        </div>
                                                        <center><p id="errormsg" style="font-size:12px; color:white;text-align:center;"></p></center>
                                                    </div>
                                                    <button type="button" id="btn" class="btn btn-default waves-effect" onclick="showloader()" style="width:30%; margin-top:-15px;">
                                                        <center><i id="loaderfa" class="" style="top:0px;"></i></center>
                                                        <span style="font-size:16px; top:0px;" id="submitbtn">Submit</span>
                                                    </button>

                                                    <br />
                                                    <span style="font-size:20px; font-weight:bold; color:white;">@ViewData["MSG"] </span>
                                                </div>

                                                <div class="col-md-4">

                                                </div>
                                                <div>

                                                </div>
                                            </center>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>


<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<script>
    $(function () {
        var errormsgval = '@ViewData["MSG"]'
        if(errormsgval != null && errormsgval != "")
        {
            $("#loaderfa").addClass("");
        }
    });
</script>
<script>
    function showloader()
    {
        var txtcode = $("#txtcode").val();

        if(txtcode !=null && txtcode !="")
        {
            $("#loaderfa").addClass("fa fa-circle-o-notch fa-spin");
            document.getElementById("btn").disabled = true;
            document.getElementById("submitbtn").style.display = "none";
            document.getElementById("Formsubmit").submit();


        }
        else {

            document.getElementById("errormsg").innerHTML = "Please Required Transaction Password";
            $("#loaderfa").addClass("");
        }

    }
</script>


