.vastbazar-offers {
    width: 90%;
    position: fixed;
    top: 67px !important;
    left: 164px !important;
    min-height: 100%;
    display: none;
    background: #fff;
    margin: 0 !important;
}
.vastbazar-offers-block ~ center ~ .vastbazar-offers {
    display: block;
}
.vastbazar-offers .header-vastbazaar h2 img {
    width: 60px;margin-right: 10px;
}
.vastbazar-offers .header-vastbazaar h2 {
    margin: 0;font-size: 30px;color: #000;
    font-family: 'IBM Plex Sans Condensed', sans-serif !important;
    text-transform: uppercase;letter-spacing: 2px;
}
.vastbazar-offers .header-vastbazaar {
    text-align: center;border-bottom: 1px solid #eee;padding: 15px 0;box-shadow: 0 0px 8px 1px #555;
}
.vastbazar-offers .offers-show-vb {
    padding: 0 60px;padding-top: 35px;width: 100%;float: left;overflow: auto;height: 700px;
}
    .vastbazar-offers .offers-show-vb .vastbazzar-content-offers, .vastbazar-offers .offers-show-vb .vastbazzar-content-offers .offers-title,
    .vastbazar-offers .offers-show-vb .vastbazzar-content-offers .offersimage {
        width: 100%;float: left;
    }
.vastbazar-offers .offers-show-vb .vastbazzar-content-offers {
    background: transparent;border: 1px solid #e1e0e0;
}
.vastbazar-offers .offers-show-vb .vastbazzar-content-offers .offersimage img {
    width:100%;height:500px
}
.vasbazaar-important strong {
    font-size: 30px;font-weight: bold;font-family: 'IBM Plex Sans Condensed', sans-serif !important;
    text-transform: uppercase;position: relative;color: #000;font-weight: bold;
    font-family: 'IBM Plex Sans Condensed', sans-serif !important
}
.vasbazaar-important {
    text-align: center;width: 100%;float: left;margin-bottom: 20px;background: #eeebeb
}
.offers-title {margin-top: -24px;padding: 0 15px;}
.vastbazzar-content-offers span.date-vasbazzar {
    float: right;margin-top: 0;position: relative;color: #fff;padding: 0 10px;margin-top: -21px;
    top: 9px;z-index: 9;left: 1px;font-weight: bold;color: #555;
}

.vastbazzar-content-offers span.date-vasbazzar::after {
    content: "";display: block;width: 100%;height: 100%;position: absolute;background: var(--main-bg-rcolor);
    top: 0;left: 0;right: 0;z-index: -9;transform: skewX(-23deg);border-left: 2px solid var(--main-bg-lcolor);
    border-bottom: 2px solid var(--main-bg-lcolor);background: #eeebeb;border: 0;border-bottom: 1px solid #555;
}
.vastbazar-offers .offers-show-vb .vastbazzar-content-offers {margin-bottom: 50px;}
.vastbazar-offers .offers-show-vb .vastbazzar-content-offers{position:relative;}
.vast-offer-no strong {
    color: transparent !important;-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: var(--main-bg-rcolor);font-size: 130px;
    display: block;text-transform: capitalize;font-family: 'IBM Plex Sans Condensed', sans-serif !important;
}
.vast-offer-no span {
    font-size: 80px;color: #eeeaea;font-family: 'IBM Plex Sans Condensed', sans-serif !important;text-transform: capitalize;
}
.vast-offer-no {width: 100%;float: left;text-align: center;margin-top: 20px;}

@media screen and (max-width:1366px){
    .vastbazar-offers {width: 88%;}

    }

@media screen and (max-width:1169px){
    .vastbazar-offers {
        width: 100%;left: 0 !important;
    }
        .vastbazar-offers .offers-show-vb .vastbazzar-content-offers .offersimage img {
            width: 100%;height: 100%;max-width: 100%;
        }
}

@media screen and (max-width:766px){
    .vastbazar-offers {z-index: 9;}
}
@media screen and (max-width:580px){
    .vastbazar-offers .offers-show-vb {
        padding-left: 15px;padding-right: 15px;
    }
    .vastbazar-offers .header-vastbazaar h2 {font-size: 15px;}
    .vasbazaar-important strong {font-size: 17px;display: block;padding-top: 10px;}
    .vast-offer-no strong {font-size: 80px;}
    .vast-offer-no span {font-size: 35px;}

}