@model Vastwebmulti.Areas.ADMIN.ViewModel.NillPortalViewmodel

@{
    ViewBag.Title = "tran_passslabsetting";
    Layout = "~/Areas/RCH/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .loadermoney {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 199999;
        background: url('../../images/mmmm.svg') 50% 50% no-repeat rgba(249, 249, 249, 0.9);
    }

    .icon-and-text-button-demo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 346px;
        height: 353px;
        border-radius: 50%;
    }

    .icon-and-text-button-demo2 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 500px;
        height: 475px;
        border-radius: 60px;
    }

    #txtcode {
        display: inline-block;
        width: 100%;
        padding: 6px 14px;
        border-radius: 25px;
        border: 0;
        margin: 13px 0 8px;
    }

    section.content {
        position: absolute;
        background: #000000bd;
        height: 100vh;
        margin: 0px;
        z-index: 999999;
        top: 0px;
        width: 100%;
    }

    .body1 {
        width: 590px;
        margin: 100px auto;
    }

    .body {
        background: #f1f1f1;
        float: left;
        width: 100%;
        padding: 58px 10px;
        position: relative;
    }

    .button-seconddesign {
        margin-top: 18px;
    }


    p.requ {
        position: absolute;
        top: 13px;
        right: 36px;
        color: #8f0909 !important;
    }

    .form-control {
        border: 1px solid #bfbebe;
        height: 32px;
        margin: 6px !important;
        width: 97% !important;
    }

    .button-seconddesign button {
        background: green;
        margin: 0px 5px;
        padding: 7px 16px;
    }

    .close {
        position: absolute;
        bottom: 19px;
        left: 27px;
        background: #e91e63 !important;
        opacity: 1;
        padding: 8px 12px !important;
        text-shadow: none;
        color: #ffffffd1;
        font-size: 18px;
    }
</style>

<div id="loadermoney" class="loadermoney" style="display:none;"></div>
<section class="content">
    <div class="container-fluid">

        <div class="body1">

            <div class="body ">

                <div style="color:red">
                    @ViewData["mesage1"]
                </div>
                @using (Html.BeginForm("submit_operator1", "Home", FormMethod.Get))
                {<div class="col-md-12 col-xs-12">

                        <label>Select Services </label><label id="lblOperatorids" class="form-invalid"></label>
                        <div class="custom-district1">
                            <select id="Operatorids" required="required" name="Operatorids" class="form-control border-0" onchange="NillcomValidationForm();" style="-webkit-appearance:none; ">
                                <option value="">
                                    ALL OPERATORS TYPE
                                </option>
                                <option value="PrePaid">PrePaid</option>
                                <option value="PostPaid">PostPaid</option>
                                <option value="DTH">DTH</option>
                                <option value="Electricity">Electricity</option>
                                <option value="Landline">Landline</option>
                                <option value="Broadband">Broadband</option>
                                <option value="Water">Water</option>
                                <option value="Gas">Gas</option>
                                <option value="Fastag">Fastag</option>
                                <option value="LPG Gas">LPG</option>

                            </select>
                        </div>
                    </div>

                    <div class="col-md-12 col-xs-12">
                        <label>Select Operator</label><label id="lblopnamelistbyid" class="form-invalid"></label>
                        <div class="">
                            <select id="opnamelistbyid" required="required" name="opnamelistbyid" class="form-control for-select2 border-0" onchange="NillcomValidationForm();" style="-webkit-appearance:none;">
                                <option value="">
                                    Select Operator
                                </option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <label>Minimum Amount</label><label id="lblminiamount" style="color:red;"></label>
                        <input class="form-control" type="number" required="required" id="textminiamount" name="textminiamount" placeholder="Enter Minimum amount" onchange="NillcomValidationForm();" />
                        <div id="word"></div>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <label>Maximum T/f Amount</label><label id="lblmaxamount" style="color:red;"></label>
                        <input class="form-control" type="number" required="required" id="textmaxamount" name="textmaxamount" placeholder="Enter Maximum amount" onchange="NillcomValidationForm();" />
                        <div id="word1"></div>
                    </div>
                    <div class="col-md-12 col-xs-12 button-seconddesign">
                        <button type="submit" id="btnadd-new" class="btn pull-right fullbodydycolorbg custom-loading btn-first button-third" style="color:#fff;border:0px;" data-loading-text="<i class='fa fa-spinner fa-spin custom-loading-spin'></i>"><span style="color:#fff;">Save Details</span></button>&nbsp;<button type="reset" class="btn pull-right btn-second button-third-design" style="background: red; color: #fff;">Reset</button>
                    </div>


                }


                <a href="@Url.Action("Operator_Manage","Home")"><button class="close" type="submit">close</button></a>

            </div>
        </div>

    </div>
</section>
<script>

    $('#Operatorids').change(function () {

        $('#opnamelistbyid').append('<option selected="selected" value="" disabled = "disabled">Loading.....</option>')
        var opname= $("#Operatorids").val()
        $.ajax({
                type: 'POST',
                url: '@Url.Action("FillAllOperator", "Home")',
                data: {opname:opname },
                success: function (data) {

                    $('#opnamelistbyid').empty()
                   $('#opnamelistbyid').append('<option selected="selected" value="">Please select Operator</option>');
                    $.each(data, function (data, item) {
            $('#opnamelistbyid').append($('<option></option>').text(item.Text).val(item.Value));

          })
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });




    })








    $(function () {
        var show_btn = $('.show-modal');
        var show_btn = $('.show-modal');
        //$("#testmodal").modal('show');

        show_btn.click(function () {
            $("#testmodal").modal('show');
        })
    });

    $(function () {
        $('#element').on('click', function (e) {
            Custombox.open({
                target: '#testmodal-1',
                effect: 'fadein'
            });
            e.preventDefault();
        });
    });
</script>