@model System.Web.Mvc.HandleErrorInfo
@using Vastwebmulti.Models;
@{
    ViewBag.Title = "Locked Out";
}
@{
    VastwebmultiEntities db = new VastwebmultiEntities();
    string currenturl = HttpContext.Current.Request.Url.Authority;
    currenturl = currenturl.Replace("www.", "").Replace("https://", "").Replace("http://", "");
    currenturl = currenturl.ToUpper();
    var whitelabelid = "";
    if (currenturl.Contains("LOCALHOST"))
    {
        whitelabelid = db.WhiteLabel_userList.Where(aa => aa.localhost.Replace("www.", "").Replace("https://", "").Replace("http://", "").ToLower() == currenturl.ToLower()).SingleOrDefault().WhiteLabelID;
    }
    else
    {
        whitelabelid = db.WhiteLabel_userList.Where(aa => aa.websitename.Replace("www.", "").Replace("https://", "").Replace("http://", "").ToLower() == currenturl.ToLower()).SingleOrDefault().WhiteLabelID;
    }
    var image = db.tblWhiteLabelLoginBackImages.Where(p => p.Role == "WHITELABEL" && p.UserID == whitelabelid).ToList();
    ViewBag.image = image.Count == 0 ? "" : image.SingleOrDefault().ImageUrl;

}
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/MainFrontDesign/css/globalallcss.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@if (!HttpContext.Current.Request.IsLocal)
{
    <!-- To Disable Inspect Element -->
    <script src="~/Scripts/Disable_Inspect_Element/Disable_Inspect.js"></script>
}
<style>
    .navbar-default {
        background-color: transparent;
        border-color: transparent;
    }
</style>
@*<hgroup>
        <h1 class="text-danger">Locked out.</h1>
        <h2 class="text-danger">This account has been locked out, please try again later.</h2>
    </hgroup>*@
<div class="section secondary-section fullbodydycolorbg" style="width:100%;height:100vh; float:left;border-top: 5px solid #fff;border-bottom: 5px solid #fff;">
    <div class="container centered">
        <center>
            <img src="~/AdminDesign/images/locked-user.svg" />
            <p class="large-text" style="font-weight:700; font-size: 42px; padding: 32px;">
                Locked out.
            </p>
        </center>
        <div class="row-fluid" style="margin-top:35px; margin-bottom:30px;text-align:center;">
            <div class="span3"></div>
            <div class="span8">
                <p style="color:#fff; font-size:22px;">
                    <b>This Account has been Locked out, Please try again After 5 minutes.</b>
                </p>
            </div>
            <div class="span1"></div>

        </div>
    </div>
</div>