
/*Be sure to look into browser prefixes for keyframes and annimations*/
.flash {
   animation-name: flash;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}
.flash:hover {
   
    border-radius:5px;
}

@keyframes flashhover {
    from {color: yellow;}
    to {color: red;}
}
@keyframes flash {
    from {color: #7158d7;}
    to {color: turquoise;}
}
