
@{
    ViewBag.Title = "FingerVerify";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}

<button onclick="gotoscan()" class="display-nonescanp" id="scanrecoveer"><strong>GO</strong> To Scan</button>

