
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "bbps";
}
@using Vastwebmulti.Models;
@{
    var favimage = "";
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {
        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;
    

}

<div class="section-block-services">
    <div class="container-fluid">
        <div class="row ml-5 mr-5">
            <div class="col-md-12 col-sm-12 col-12">
                <div class="services-single-right">
                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-12">
                            <div class="pr-15-md">
                                <div class="section-heading">
                                    <h1><b>BBPS</b> - Bharat Bill Payment System</h1>
                                </div>
                                <div class="section-heading-line-left"></div>
                                <div class="text-content-big mt-20">
                                    <p>@Firm_Name - The foremost BBPS API Provider provides the Bharat Bill Payment System API with 24*7 auto-billing</p>
                                    <p>Bharat Bill Payment System is a Reserve Bank of India (RBI)-conceptualized ecosystem driven by the National Payments Corporation of India (NPCI). It is an integrated bill payment system in India that offers an interoperable and accessible bill payment service to customers through a network of agents registered as "agent institutions," enables multiple payment modes, and provides instant confirmation of payment. Bharat Bill Payment System API also offers an interoperable and accessible "Anytime Anywhere" recurring payment service to all customers across India with certainty, reliability, and safety of transactions.</p>
                                    <ul class="primary-list mt-35">
                                        <li><i class="fa fa-check"></i>Anytime, anywhere bill payment</li>
                                        <li><i class="fa fa-check"></i>One-stop destination for all recurring payments</li>
                                        <li><i class="fa fa-check"></i>Get instant confirmation with Be-assured to be together</li>
                                        <li><i class="fa fa-check"></i>Convenient, reliable and safe transactions</li>
                                        <li><i class="fa fa-check"></i>One place for easier consumer redressal</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-5 col-12">
                            <img src="~/images/img10/our-services-BBPS.png" class="rounded-border" alt="img">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-block-grey" style="background-image: none;">
    <div class="container-fluid">
        <div class="row ml-5 mr-5">
            <div class="col-md-7 col-sm-6 col-12">
                <div class="pr-30-md pl-5 pr-5 ml-4">
                    <div class="section-heading">
                        <h4>BBPS PARTNERS</h4>
                    </div>
                    <div class="section-heading-line-left"></div>
                    <div class="text-content-big mt-20">
                        <h6>Easy for you and your customers!</h6>
                        <p>Once you get listed as an authorized BBPS partner, your customers will enjoy the ease of hassle-free bill payments. Also, it's a great opportunity for you to enhance your customer's trust. BBPS allows you to build healthy customer relationships, and leverages your business network.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-12 pr-4 text-center">
                <img src="~/images/img10/our-services-BBPS_Partners.png" class="rounded-border" alt="img">
            </div>
        </div>
        <div class="row mt-20 ml-5 mr-5">
            <div class="col-md-5 col-sm-6 col-12 pl-5 text-center">
                <img src="~/images/img10/our-services-BBPS_Billers.png" class="rounded-border" alt="img">
            </div>
            <div class="col-md-7 col-sm-6 col-12">
                <div class="pr-30-md pl-5 pr-5 ml-4 mt-30">
                    <div class="section-heading">
                        <h4>BILLERS</h4>
                    </div>
                    <div class="section-heading-line-left"></div>
                    <div class="text-content-big mt-30">
                        <h6>Bill collection more cost-effective with wider reach!</h6>
                        <p>No more chasing after bills. With BBPS, you can collect your bills fast and keep track of all payments. It offers a wider reach through different channels of payment and helps you earn your customer's trust.</p>
                    </div>
                    <div class="crypto_mlm_btns mt-4 mb-4">
                        <a href="" class="btn consult_btn cryptmlmwhatsappbtn_color" name="button" target="_blank"><i class="fa fa-whatsapp"></i>| WhatsApp </a>
                        <a href="" target="_blank" class="btn consult_btn cryptmlmtelegrambtn_color ml-1" name="button"><i class="fa fa-telegram"></i>| Telegram</a>
                        <a href="" target="_blank" class="btn consult_btn cryptmlmskypebtn_color ml-1" name="button"><i class="fa fa-skype"></i>| Skype</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section-block-services pb-0">
    <div class="container-fluid">
        <div class="section-heading center-holder pb-4">
            <span>BBPS</span>
            <h2>Billers &amp; Categories</h2>
            <div class="section-heading-line"></div>
        </div>
        <div class="row mt-50 ml-5 mr-5">
            <div class="col-md-12 col-sm-6 col-12">
                <p>The Bharat Bill Payment System facilitates the instalment of bills and enhances the security and speed of bill payment. The administration is accessible in different ways: on the web and through a system of specialists. A momentary affirmation is produced for the bill installments. The BBPS will transition the public from cash to an electronic payment framework, making it less reliant on money. You can currently pay utility charges (gas, power, water, and DTH).</p>
                <p>It offers unwavering quality and wellbeing for the exchanges. You can pay your bills utilizing BBPS from anywhere, whenever. Additionally, it enables you to pay charges through the systems of operators or on the web. You have several payment options with instant confirmation of the payment. You can pay your bill with BBPS using electronic exchange rather than real money. Subsequently, it is said to be a major advance towards a paperless money society.</p>
                <div class="bbps-1 text-center pb-4">
                    <img src="~/images/img10/our-services-biller-img-1.png">
                </div>
            </div>
        </div>
    </div>
</section>
<div class="section-block-services pt-0">
    <div class="container-fluid">
        <div class="row ml-5 mr-5">
            <div class="col-md-12 col-sm-12 col-12">
                <div class="services-single-right">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-12">
                            <div class="pr-15-md">
                                <div class="section-heading">
                                    <h4><b>Bharat BillPay</b> - The One stop destination for all recurring payments:</h4>
                                </div>
                                <div class="section-heading-line-left"></div>
                                <div class="text-content-big mt-20">
                                    <p>The Bharat Bill Payment System accepts multiple payment methods and provides instant payment confirmation via SMS or receipt with a Be-assured symbol. It offers repetitive payments of all types, like electricity, telecom, DTH, gas, and water bills; insurance premiums; loan repayments; cable; FASTag recharge; education fees; credit card; municipal taxes; mutual subscription fees; housing society dues; etc., through a single window. An effective mechanism for handling consumer complaints has also been put in place to support consumers regarding any bill-related problems in BBPS. @Firm_Name is the most reliable brand among the BBPS API providers in India.</p>
                                    <a class="btn-group btn-group-sm" href="#">Electricity</a> |
                                    <a class="btn-group btn-group-sm" href="#">Pipe Gas</a> |
                                    <a class="btn-group btn-group-sm" href="#">DTH</a> |
                                    <a class="btn-group btn-group-sm" href="#">Water</a> |
                                    <a class="btn-group btn-group-sm" href="#">Telecom </a>|
                                    <a class="btn-group btn-group-sm" href="#">Postpaid</a> |
                                    <a class="btn-group btn-group-sm" href="#">Insurance</a> |
                                    <a class="btn-group btn-group-sm" href="#">Loan Repayments</a> |
                                    <a class="btn-group btn-group-sm" href="#">FASTagRecharge</a> |
                                    <a class="btn-group btn-group-sm" href="#">Cable</a> |
                                    <a class="btn-group btn-group-sm" href="#">Education Fees</a> |
                                    <a class="btn-group btn-group-sm" href="#">Subcription </a>|
                                    <a class="btn-group btn-group-sm" href="#">LPG Cylinder Booking</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>