
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "bulk_sms";
}
@using Vastwebmulti.Models;
@{
    var favimage = "";
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {
        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;
    

}


<section class="section-block-services">
    <div class="container-fluid">
        <div class="row ml-5 mr-5">
            <div class="col-md-12 col-sm-6 col-12">
                <div class="section-heading center-holder pb-4">
                    <h1>Bulk SMS</h1>
                    <div class="section-heading-line"></div>
                </div>
                <p class="mt-30">Bulk Messaging is the spread of huge quantities of SMS messages for conveyance to cell phone terminals. It is utilized by media organizations, undertakings, banks (for showcasing and extortion control) and customer brands for an assortment of purposes including excitement, venture and versatile marketing.</p>
                <p>Today the application-to-individual SMS informing administrations have advanced to incorporate mass SMS informing close by the sending of single messages, (for example, one time passwords and conveyance warnings), intuitive informing, (for example, aggregate informing administrations), and approaching number administrations, (for example, portable promoting efforts, voting or data lines).</p>
                <p>Before starting with the sending mass SMS messages take note of that you should follow the directions particular to your nation and the nation to which you are sending SMS messages.</p>
                <p>The employments of mass SMS informing is constantly developing as new business or open advantage needs are recognized. From substantial scale organizations to little ventures, local gatherings to instructive foundations, mass SMS informing gives a practical answer for overseeing correspondences with little or expansive contact gatherings.</p>
                <p>In This World of Communication and quick moving business through web and web it turns out to be extremely important to spare the ideal opportunity for showcasing and advancement of your items and business. So there is a simple answer for every one of the business visionaries to advance their new items over the market with the assistance of Bulk SMS Technology.</p>
                <div class="crypto_mlm_btns mt-4">
                    <a href=" " class="btn consult_btn cryptmlmwhatsappbtn_color" name="button" target="_blank"><i class="fa fa-whatsapp"></i> | WhatsApp </a>
                    <a href=" " target="_blank" class="btn consult_btn cryptmlmtelegrambtn_color ml-1" name="button"><i class="fa fa-telegram"></i> | Telegram</a>
                    <a href="" target="_blank" class="btn consult_btn cryptmlmskypebtn_color ml-1" name="button"><i class="fa fa-skype"></i> | Skype</a>
                </div>
            </div>
        </div>
        <div class="row mt-30 ml-5 mr-5">
            <div class="col-md-6 col-sm-6 col-12">
                <div class="section-heading">
                    <h4>Advantages of Bulk SMS Technology </h4>
                    <div class="section-heading-line-left"></div>
                </div>
                <p class="pt-3"><b>Technology offers the accompanying item includes:</b></p>
                <div class="mt-20">
                    <ul class="primary-list">
                        <li><i class="fa fa-caret-right"></i>Effective technique for coordinate correspondence over every single cell arrange</li>
                        <li><i class="fa fa-caret-right"></i>Send messages from your PC at home</li>
                        <li><i class="fa fa-caret-right"></i>Easy to utilize online work area application</li>
                        <li><i class="fa fa-caret-right"></i>Framework considers simple import of number records</li>
                        <li><i class="fa fa-caret-right"></i>Full sent report under SMS history</li>
                        <li><i class="fa fa-caret-right"></i>History log and pursuit</li>
                        <li><i class="fa fa-caret-right"></i>Integration with leaving frameworks utilizing HTTP or web benefit interfaces</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12 text-center">
                <img src="~/images/img10/our-services-bulk-sms-solution-versatile.png" alt="@Firm_Name">
                
            </div>
        </div>
    </div>
</section>