
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "digital_maketing";
}
@using Vastwebmulti.Models;
@{
    var favimage = "";
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {
        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;
    
}


<section class="section-block-services">
    <div class="container-fluid">
        <div class="section-heading center-holder">
            <h1>Digital Marketing &amp; SEO Services</h1>
            <div class="section-heading-line"></div>
        </div>
        <div class="row mt-30 ml-5 mr-5">
            <div class="col-md-12 col-sm-12 col-12">
                <p>Digital Marketing is an umbrella term that incorporates phrasings like SEO, SEM, SMO, SMM , Paid Media and Content Marketing to advance item, administrations or brand over the web in most captivating and easy to use way in the interest of customized promoting efforts to enable our customers to prevail on the web.</p>
            </div>
        </div>
        <div class="row mt-50 align-items-center ml-5 mr-5">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="~/images/img10/our-services-seo-1.png" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="sub-title">Features</span>
                    <h2>No magic only dedicated SEO</h2>
                    <p>Be it promoting or web advertising the two has similar objectives and reason. As an association we comprehend the significance to be in contact with customers continually. We get rehashed customers for being tuned in to their prerequisites and in understanding we make administrations and items that advantage them. We use a wide range of correspondence channels which will get the job done their objectives.. Organizations online can participate in fruitful promoting exercises for boosting their item advertising. The fundamental point of web promoting is to continue existing customers and furthermore find new ones for setting items and administrations.</p>
                    <h2>Our Digital Marketing Services Include:</h2>
                    <p>With abundant of elements in the world, every body strives to be unique. So does your business needs too. Marketing of your business or brand can give you a great turnover. We provide with several marketing techniques:</p>
                    <ul class="primary-list mt-35">
                        <li><i class="fa fa-check"></i>Search Engine Optimization (SEO, SMO, SMM, PPC)</li>
                        <li><i class="fa fa-check"></i>Google Adsense, Adwords</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>