
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "indo_nepal";
}
@using Vastwebmulti.Models;
@{
    var favimage = "";
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {
        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;
    
}


<section class="section-block-services bor-bottom">
    <div class="container-fluid">
        <div class="section-heading center-holder">
            <h1>Indo-Nepal Money Transfer</h1>
            <div class="section-heading-line"></div>
            <p>
                Transfer money to Nepal, at the click of a button
            </p>
        </div>
        <div class="row mt-30 ml-5 mr-5">
            <div class="col-md-12 col-sm-6 col-12">
                <p>Indo-Nepal Remittance Facility is a cross-fringe settlement plan to exchange stores from India to Nepal, empowered under the NEFT Scheme. The plan was propelled to give a safe and cost-effective road to transient Nepalese specialists in India to transmit cash back to their families in Nepal. A remitter can exchange subsidizes up to Indian Rupees 50,000 (most extreme admissible sum) from any of the NEFT-empowered branches in India. The recipient would get supports in Nepalese Rupees.</p>
                <div class="crypto_mlm_btns mt-45">
                    <a href=" " class="btn consult_btn cryptmlmwhatsappbtn_color" name="button" target="_blank"><i class="fa fa-whatsapp"></i> | WhatsApp </a>
                    <a href=" " target="_blank" class="btn consult_btn cryptmlmtelegrambtn_color ml-1" name="button"><i class="fa fa-telegram"></i> | Telegram</a>
                    <a href="" target="_blank" class="btn consult_btn cryptmlmskypebtn_color ml-1" name="button"><i class="fa fa-skype"></i> | Skype</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-block-services">
    <div class="container-fluid">
        <div class="section-heading center-holder">
            <span>Indo-Nepal Money Transfer</span>
            <h3>Send money to your loved-ones</h3>
            <div class="section-heading-line"></div>
            <p>
                A simple and highly secure direct money transfer ability for your customers to transfer money to Nepal. <br>No Indian bank
                account needed and no need to visit banks.
            </p>
        </div>
        <div class="row mt-5 mb-2 ml-5 mr-5">
            <div class="col-md-6 text-center">
                <img src="~/images/img10/our-services-indo-1.png" alt="@Firm_Name" class="img-fluid">
                
            </div>
            <div class="col-md-6">
                <div class="indo-pt">
                    <h3>Easy Cash transfer</h3>
                    <p>
                        Let customers transfer money to any bank account in Nepal by paying in cash
                    </p>
                </div>
            </div>
        </div>
        <div class="row ml-5 mr-5">
            <div class="col-md-6">
                <div class="indo-pt">
                    <h3>Transaction receipt</h3>
                    <p>
                        Print transaction-receipt for your customers to give them a sense of safety
                    </p>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <img src="~/images/img10/our-services-indo-2.png" alt="@Firm_Name" class="img-fluid">
            </div>
        </div>
    </div>
</section>