
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "matm";
}
@using Vastwebmulti.Models;
@{
    var favimage = "";
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {
        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;
    
}

<section class="section-block-services">
    <div class="container-fluid">
        <div class="section-heading center-holder">
            <h1>Mini ATM</h1>
            <div class="section-heading-line"></div>
            <p>
                For merchants, it provides a secure, simple, and affordable payment solution with
                <br />
                advanced features to manage their stores, engage and reward
            </p>
        </div>
        <div class="row mt-30 ml-5 mr-5">
            <div class="col-md-12 col-sm-6 col-12">
                <p>Micro Aadhaar ATM is meant to be a device that is used by a million Business Correspondents (BC) to deliver basic banking services. The platform will enable Business Correspondents (who could be local Kirana shop owners and will act as ‘Aadhar Micro ATMs’) to conduct instant transactions.</p>
                <p>@Firm_Name being an mATM Provider invites individuals and business owners with an entrepreneurial spirit to be a part of our growing partner network across India. Become our brand ambassadors to promote our solution in your region, earn up to one lakh rupees per month and create a positive impact on the lives of thousands of merchants.</p>
            </div>
        </div>
        <div class="row mt-30 ml-5 mr-5">
            <div class="col-md-6 col-sm-6 col-12">
                <div class="section-heading">
                    <h4>Features of using Micro/Mini ATM ?</h4>
                    <div class="section-heading-line-left"></div>
                </div>
                <div class="mt-20">
                    <ul class="primary-list">
                        <li><i class="fa fa-caret-right"></i>Realtime Settlement</li>
                        <li><i class="fa fa-caret-right"></i>Best MDR</li>
                        <li><i class="fa fa-caret-right"></i>Best Revenue sharing of Cash@POS and mATM</li>
                        <li><i class="fa fa-caret-right"></i>Entry at all budget points</li>
                        <li><i class="fa fa-caret-right"></i>Grow your brand in acquiring space</li>
                        <li><i class="fa fa-caret-right"></i>Faster customer acquisition & revenue streams</li>
                        <li><i class="fa fa-caret-right"></i>Low-maintenance solution</li>
                        <li><i class="fa fa-caret-right"></i>Multiple digital payment modes</li>
                        <li><i class="fa fa-caret-right"></i>Efficient and experienced team</li>
                        <li><i class="fa fa-caret-right"></i>Increase overall business market share</li>
                        <li><i class="fa fa-caret-right"></i>Acquire new CASA & cross-sell other products</li>
                    </ul>
                    <div class="crypto_mlm_btns mt-45">
                        <a href=" " class="btn consult_btn cryptmlmwhatsappbtn_color" name="button" target="_blank"><i class="fa fa-whatsapp"></i> | WhatsApp </a>
                        <a href=" " target="_blank" class="btn consult_btn cryptmlmtelegrambtn_color ml-1" name="button"><i class="fa fa-telegram"></i> | Telegram</a>
                        <a href="" target="_blank" class="btn consult_btn cryptmlmskypebtn_color ml-1" name="button"><i class="fa fa-skype"></i> | Skype</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12 text-center">
                <img src="~/images/img10/pos-1.png" alt="@Firm_Name" />
            </div>
        </div>
    </div>
</section>
<section class="divider-area divider-seo-report-area">
    <div class="container-fluid">
        <div class="row ml-5 mb-5">
            <div class="col-md-6 col-sm-6 col-12">
                <div class="section-heading mb-4">
                    <h4>Benefits of using Micro/Mini ATM Machine ?</h4>
                    <div class="section-heading-line-left"></div>
                </div>
                <div class="mt-30">
                    <p class="text-danger">The Mini ATM Machine is invented to help people of the rural area for the financial inclusion. However, in heavy cash crunch problem like today these types of Micro ATM Machines is boon to everyone.</p>
                    <div class="mt-20">
                        <ul class="primary-list">
                            <li><i class="fa fa-caret-right"></i>Convert your shop into an ATM</li>
                            <li><i class="fa fa-caret-right"></i>This is a low-cost option for existing ATMs</li>
                            <li><i class="fa fa-caret-right"></i>Micro ATM is a portable device</li>
                            <li><i class="fa fa-caret-right"></i>Easy to carry, easy to set up anywhere in remote areas</li>
                            <li><i class="fa fa-caret-right"></i>Interoperable equipment that can work for any bank</li>
                            <li><i class="fa fa-caret-right"></i>Helping people to be useful in the process of demonetization</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div id="image_block_47">
                    <div class="image-box js-tilt">
                        <img src="~/images/img10/illustration-41.png" alt="@Firm_Name">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-50">
            <div class="container-fluid">
                <div class="section-heading center-holder">
                    <h3>Mini ATM Whitelabel Solutions</h3>
                    <div class="section-heading-line"></div>
                    <p>
                        @Firm_Name helps you catalyze your business by enabling your business access the most innovative<br />
                        transaction processing technology through Micro ATM Machine.
                    </p>
                </div>
                <div class="row mt-50 ml-5 mr-5">
                    <div class="col-md-12 col-sm-6 col-12">
                        <h5>Ready-to-Deploy POS and Mobile-POS whitelabel solutions</h5>
                        <p class="text-danger"><b>Your Brand | Your Digital POS | Your App & mPOS Solutions</b></p>
                        <p>@Firm_Name - mATM provider helps you catalyze your business by enabling your business access to the most innovative transaction processing technology through Micro ATM Machine. @Firm_Name offers a cost-effective, NFC Chip + PIN solution that provides hassle-free transactions. For merchants, it provides a secure, simple, and affordable payment solution with advanced features to manage their stores, engage and reward their customers, and track sales apart from accepting payments. @Firm_Name mPOS and POS card swiping devices are capable of processing Chip & Magstripe cards and are PCI & EMV L1 & L2 certified to process payment transactions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>