
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "pancard_api";
}
@using Vastwebmulti.Models;
@{
    var favimage = "";
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {
        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;
    
}


<section class="section-block-services">
    <div class="container-fluid">
        <div class="section-heading center-holder">
            <h1>Pan Card Verification API</h1>
            <div class="section-heading-line"></div>
            <p>
                @Firm_Name helps you with the API interface that will allow you to conduct an online verification,
                <br>
                providing you the following responses.
            </p>
        </div>
        <div class="row mt-50 align-items-center ml-5 mr-5">
            <div class="col-lg-5 col-md-12">
                <div class="about-image text-right">
                    <img src="~/images/img10/our-services-pan-card-api.png" alt="image" class="img" style="width: 100%;">
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="about-content">
                    <span class="sub-title">PAN Card Verification API Solution </span>
                    <p>Pan Card API aids you do PAN CARD VERIFICATION, and UTI PAN Verification with trustworthiness and comfort. This will aid you to demonstrate the lawfulness of the consumer while averting any dishonest activities. Even the Income Tax Department suggests utilizing online UTI PAN CARD VERIFICATION API structures for specific organizations and companies to confirm their consumer's integrity. All we need for this procedure are the careful credentials of the consumer.</p>
                    <h5 class="mb-4">Distinguishing Feature of PAN Card Verification API:</h5>
                    <ul class="estimate-info">
                        <li>
                            <p class="margin-0">Analyse document &amp; information fradulence</p>
                        </li>
                        <li>
                            <p class="margin-0">Immediate PAN CARD Verification and UTI PAN Verification</p>
                        </li>
                        <li>
                            <p class="margin-0">Ready for use UTI PAN CARD Verification API</p>
                        </li>
                    </ul>
                    <h5 class="mb-4">How Does PAN CARD Verification Operates?</h5>
                    <ul class="estimate-info">
                        <li>
                            <p class="margin-0">Fill PAN Number or Upload your PAN Image</p>
                        </li>
                        <li>
                            <p class="margin-0">The actual time hit will be carried out on database</p>
                        </li>
                        <li>
                            <p class="margin-0">Immediate PAN Verification is performed and Prepared with response</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-block-grey" style="background-image: none;">
    <div class="container-fluid">
        <div class="row ml-5 mr-5">
            <div class="col-md-8 col-sm-6 col-12">
                <div class="section-heading">
                    <h4>Incorporate PAN Card Verification API</h4>
                    <div class="section-heading-line-left"></div>
                </div>
                <div class="mt-4">
                    <h6>Uncomplicated To Operate</h6>
                    <p>@Firm_Name's PAN verification, UTI PAN verification API is designed for the remarkable comfort of use.</p>
                    <h6>Stands In The Way of Scammers</h6>
                    <p>With top-tier exactness, our API will discover scammers who try to utilize dummy PAN cards or fake PAN credentials. We will make certain of your security.</p>
                    <h6>Well-Founded Verification</h6>
                    <p>Our structure verifies all the details produced with the PAN unit and NSDL providing them with legal and correct.</p>
                    <h6>Actual-Time Verification</h6>
                    <p>The data is recovered and validated within seconds economizing your time and attempt.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <img src="~/images/img10/our-services-PAN-Card-Verification-API.png" alt="@Firm_Name">
            </div>
        </div>
    </div>
</section>
<section class="section-block-services">
    <div class="container-fluid">
        <div class="row align-items-center ml-5 mr-5 mb-5">
            <div class="col-md-7 col-sm-6 col-12">
                <div class="pr-30-md pl-5 pr-5 ml-4">
                    <div class="section-heading">
                        <h4>How to Verify PAN Card:</h4>
                    </div>
                    <div class="section-heading-line-left"></div>
                    <div class="text-content-big mt-20">
                        <h6 style="line-height: 25px;">Verifying PAN Card Information has always been challenging. The following are the steps:</h6>
                        <ul class="primary-list mt-35">
                            <li><i class="fa fa-check"></i>Once you obtain the link to the inquiry form, go through it and enter all your information.</li>
                            <li><i class="fa fa-check"></i>The next step, the PAN verification API is to be incorporated</li>
                            <li><i class="fa fa-check"></i>Fill in the PAN number in the dialogue box</li>
                            <li><i class="fa fa-check"></i>The API produces the information of the entered PAN card. You can bring out the data</li>
                        </ul>
                        <div class="btn-part mt-5">
                            <a class="readon consultant contact orange-more w-100" href="contact.html" style="width: 100%!important;">Talk To Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-12 pr-4 text-center">
                <img src="~/images/img10/our-services-pan-verification-1.png" class="rounded-border" alt="img">
            </div>
        </div>
        <div class="row align-items-center mt-20 ml-5 mr-5 pt-5">
            <div class="col-md-5 col-sm-6 col-12 pl-5 text-center">
                <img src="~/images/img10/our-services-pancard-verify-2.png" class="rounded-border" alt="img">
            </div>
            <div class="col-md-7 col-sm-6 col-12">
                <div class="pr-30-md pl-5 pr-5 ml-4 mt-30">
                    <div class="section-heading">
                        <h4>Advantages of PAN Card Verification API </h4>
                    </div>
                    <div class="section-heading-line-left"></div>
                    <div class="text-content-big mt-30">
                        <ul class="primary-list mt-35">
                            <li><i class="fa fa-check"></i>Identity Validation</li>
                            <li><i class="fa fa-check"></i>KYC Procedures</li>
                            <li><i class="fa fa-check"></i>Consumer Onboarding</li>
                            <li><i class="fa fa-check"></i>Investor Onboarding</li>
                        </ul>
                    </div>
                    <div class="crypto_mlm_btns mt-4 mb-4">
                        <a href=" " class="btn consult_btn cryptmlmwhatsappbtn_color" name="button" target="_blank"><i class="fa fa-whatsapp"></i>| WhatsApp </a>
                        <a href=" " target="_blank" class="btn consult_btn cryptmlmtelegrambtn_color ml-1" name="button"><i class="fa fa-telegram"></i>| Telegram</a>
                        <a href=" " target="_blank" class="btn consult_btn cryptmlmskypebtn_color ml-1" name="button"><i class="fa fa-skype"></i>| Skype</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>