
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "payout_api";
}
@using Vastwebmulti.Models;
@{
    var favimage = "";
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {
        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;
    
}

<div class="rs-achievement style1 relative md-pt-80 mt-5">
    <div class="container-fluid">
        <div class="row ml-5 mr-5 rs-vertical-middle">
            <div class="col-lg-7 pr-4">
                <div class="sec-title4 mb-25">
                    <div class="sec-title3">
                        <span class="sub-text">Payout API</span>
                    </div>
                    <h1 class="title">Simple, Reliable Payouts that Scale with your Business</h1>
                </div>
                <div class="d-flex flex-row">
                    <div>
                        <div class="icon btn btn-circle-sm disabled btn-soft-primary me-4 fontW-700"><span class="number fs-18"><i class="fa fa-check"></i></span></div>
                    </div>
                    <div>
                        <h5>Multi-Account Settlements</h5>
                        <p class="mb-2">With @Firm_Name Payout API merchants can easily settle payments to multiple bank accounts.</p>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div>
                        <div class="icon btn btn-circle-sm disabled btn-soft-primary me-4 fontW-700"><span class="number fs-18"><i class="fa fa-check"></i></span></div>
                    </div>
                    <div>
                        <h5>Real-Time Updates</h5>
                        <p class="mb-2">Merchant gets access to Real-time Transaction reports.</p>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div>
                        <div class="icon btn btn-circle-sm disabled btn-soft-primary me-4 fontW-700"><span class="number fs-18"><i class="fa fa-check"></i></span></div>
                    </div>
                    <div>
                        <h5>A Combination Of 3 Robust APIs</h5>
                        <p class="mb-2">@Firm_Name Payout has 3 Inclusive APIs for Adding Beneficiary, Payout processing and Payout Enquiry.</p>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div>
                        <div class="icon btn btn-circle-sm disabled btn-soft-primary me-4 fontW-700"><span class="number fs-18"><i class="fa fa-check"></i></span></div>
                    </div>
                    <div>
                        <h5>Developer-Friendly APIs</h5>
                        <p class="mb-2">Easy API Integration, gives merchants a complete payout solution for vendors, customers, and partners.</p>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div>
                        <div class="icon btn btn-circle-sm disabled btn-soft-primary me-4 fontW-700"><span class="number fs-18"><i class="fa fa-check"></i></span></div>
                    </div>
                    <div>
                        <h5>Multichannel Payment Options</h5>
                        <p class="mb-2">@Firm_Name Payout API has options for Multichannel payment partners.</p>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div>
                        <div class="icon btn btn-circle-sm disabled btn-soft-primary me-4 fontW-700"><span class="number fs-18"><i class="fa fa-check"></i></span></div>
                    </div>
                    <div>
                        <h5>Multiple Payment Modes</h5>
                        <p class="mb-2">NEFT , RTGS, IMPS , UPI, PPI Wallet</p>
                    </div>
                </div>
                <div class="crypto_mlm_btns mt-45">
                    <a href=" " class="btn consult_btn cryptmlmwhatsappbtn_color" name="button" target="_blank"><i class="fa fa-whatsapp"></i> | WhatsApp </a>
                    <a href=" " target="_blank" class="btn consult_btn cryptmlmtelegrambtn_color ml-1" name="button"><i class="fa fa-telegram"></i> | Telegram</a>
                    <a href="" target="_blank" class="btn consult_btn cryptmlmskypebtn_color ml-1" name="button"><i class="fa fa-skype"></i> | Skype</a>
                </div>
            </div>
            <div class="col-lg-5 position-relative">
                <div class="btn btn-circle btn-primary img-UP-but disabled position-absolute counter-wrapper flex-column d-none d-md-flex">
                    <h2 class="text-white mb-1 mt-n2"><span class="counter counter-lg" style="visibility: visible;">24*7</span></h2>
                    <p class="mb-1"><b>NEFT & RTGS</b></p>
                    <p>Support</p>
                </div>
                <div class="row gx-md-5 gy-5 align-items-center">
                    <div class="col-md-6">
                        <div class="row gx-md-5 gy-5">
                            <div class="col-md-10 offset-md-2 img-maT">
                                <figure class="rounded">
                                    <img src="~/images/img10/Complete.jpg" style="height: 210px;"  class="img-fluid rounded w-100">
                                </figure>
                            </div>

                            <div class="col-md-12 img-maT">
                                <figure class="rounded">
                                    <img src="~/images/img10/large-experience.jpg" style="height: 200px;"  class="img-fluid rounded w-100">
                                </figure>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-6">
                        <figure class="rounded">
                            <img src="~/images/img10/wikimedia-image.jpg" style="height: 341px;" class="img-fluid rounded w-100">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="counter-wrap mt-5">
    <div class="container">
        <div class="counter-card-wrap">
            <div class="counter-card row align-items-center">
                <div class="col-md-3">
                    <div class="btn-part text-center">
                        <div>
                            <img src="~/images/img10/login.png" class="img-fluid w-60" alt="@Firm_Name" />
                        </div>
                        <p class="text-white consultant-1 pl-0 text mt-3 mb-0 text-center">Login</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="btn-part text-center">
                        <div>
                            <img src="~/images/img10/add-beneficiary.png" class="img-fluid w-60" alt="@Firm_Name" />
                        </div>
                        <p class="text-white consultant-1 pl-0 text mt-3 mb-0 text-center">Add Beneficiary</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="btn-part text-center">
                        <div>
                            <img src="~/images/img10/AnyConv.com__enter-details.png" class="img-fluid w-60" alt="@Firm_Name" />
                        </div>
                        <p class="text-white consultant-1 pl-0 text mt-3 mb-0 text-center">Enter Details</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="btn-part text-center">
                        <div>
                            <img src="~/images/img10/initiate-payout.png" class="img-fluid w-60" alt="@Firm_Name" />
                        </div>
                        <p class="text-white consultant-1 pl-0 text mt-3 mb-0 text-center">Initiate Payout</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="service-wrap style3 ptb-100 bg-rock">
    <div class="container">
        <img src="~/images/img10/service-shape-1.png" alt="Image" class="service-shape-one">
        <img src="~/images/img10/service-shape-2.png" alt="Image" class="service-shape-two">
        <div class="section-title style1 text-center mb-40">
            <h2 class="text-white">One API For All Payouts</h2>
        </div>
        <div class="row gx-5 align-items-center">
            <div class="col-md-4 col-sm-6">
                <div class="serviceBox-payout">
                    <div class="service-icon">
                        <span><i class="fa fa-globe"></i></span>
                    </div>
                    <h3 class="title">Total Freedom</h3>
                    <p class="description">Pay directly from your Pool/Nodal/Current Account, without blocking funds in your Payment Aggregator’s account/3rd party wallet</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="serviceBox-payout">
                    <div class="service-icon">
                        <span><i class="fa fa-globe"></i></span>
                    </div>
                    <h3 class="title">Inclusive APIs</h3>
                    <p class="description">3 Inclusive APIs for Adding Beneficiary, Payout processing and transaction status.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="serviceBox-payout">
                    <div class="service-icon">
                        <span><i class="fa fa-globe"></i></span>
                    </div>
                    <h3 class="title">Easy Payout Scheduling</h3>
                    <p class="description">Easily call the Payout API as and when or to schedule payouts.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="serviceBox-payout">
                    <div class="service-icon">
                        <span><i class="fa fa-globe"></i></span>
                    </div>
                    <h3 class="title">IP Whitelisting</h3>
                    <p class="description">Whitelisted IP for additional security during payouts.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="serviceBox-payout">
                    <div class="service-icon">
                        <span><i class="fa fa-globe"></i></span>
                    </div>
                    <h3 class="title">Secure Authentication</h3>
                    <p class="description">A token-based API access system for enhanced security.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="serviceBox-payout">
                    <div class="service-icon">
                        <span><i class="fa fa-globe"></i></span>
                    </div>
                    <h3 class="title">Real-time Updates</h3>
                    <p class="description">Get real-time updates of all the Transactions.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="rs-achievement style1 relative md-pt-80 mt-5 pt-5">
    <div class="container-fluid">
        <div class="row ml-5 mr-5 rs-vertical-middle">
            <div class="col-lg-5 position-relative pr-5  align-items-center">
                <div class="dev-img">
                    <img src="~/images/img10/AnyConv.com__developers.png" class="img-fluid rounded w-100">
                    
                </div>
            </div>
            <div class="col-lg-7 pl-5">
                <div class="sec-title4 mb-25">
                    <div class="sec-title3">
                        <span class="sub-text">Build for Developers</span>
                    </div>
                    <h3 class="title">Easy Integration For Developers</h3>
                </div>
                <ul class="estimate-info">
                    <li>
                        <p class="margin-0">Just pass some parameters and payout will made to defined Bank Account/VPA in Realtime </p>
                    </li>
                    <li>
                        <p class="margin-0">Encryption/Decryption functions defined in source codes. Make your platform and payments secure with Encryption/Decryption</p>
                    </li>
                    <li>
                        <p class="margin-0">Best support for integration</p>
                    </li>
                </ul>
                <div class="crypto_mlm_btns mt-45">
                    <a href=" " class="btn consult_btn cryptmlmwhatsappbtn_color" name="button" target="_blank"><i class="fa fa-whatsapp"></i>| WhatsApp </a>
                    <a href=" " target="_blank" class="btn consult_btn cryptmlmtelegrambtn_color ml-1" name="button"><i class="fa fa-telegram"></i>| Telegram</a>
                    <a href="" target="_blank" class="btn consult_btn cryptmlmskypebtn_color ml-1" name="button"><i class="fa fa-skype"></i>| Skype</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="our product pt-65 pb-100">
    <div class="comp-tab-wrap typ-two responsive-tab">
        <div class="container-fluid">
            <div class="section-title style1 text-center mb-40">
                <h2 class="mb-4">What does Payouts do?</h2>
                <div class="section-heading-line"></div>
                <p class="mt-3">Initiate ecommerce refunds, send vendor payments, distribute game winnings and much more with Payouts</p>
            </div>
            <div class="row pricing-table mt-50 pt-4 ml-5 mr-5">

                <div class="col-md-7">
                    <div class="tab-content" id="experienceTabContent">
                        <div class="tab-pane fade show active text-left" id="snit" role="tabpanel" aria-labelledby="home-tab">
                            <div class="img-wrap typ-icon typ-two aos-init" data-aos="slide-right">
                                <img src="~/images/img10/multi-emp.png" alt="issue e-commerce refunds in minutes" name="issue e-commerce refunds in minutes">
                            </div>
                        </div>
                        <div class="tab-pane fade text-left" id="devs" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="img-wrap typ-icon typ-two aos-init" data-aos="slide-right">
                                <img src="~/images/img10/disburse-game.png" alt="issue e-commerce refunds in minutes" name="issue e-commerce refunds in minutes">
                            </div>
                        </div>
                        <div class="tab-pane fade text-left" id="emp" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="img-wrap typ-icon typ-two aos-init" data-aos="slide-right">
                                <img src="~/images/img10/pay-your-emp.png" alt="issue e-commerce refunds in minutes" name="issue e-commerce refunds in minutes">
                            </div>
                        </div>
                        <div class="tab-pane fade text-left" id="Vendors" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="img-wrap typ-icon typ-two aos-init" data-aos="slide-right">
                                <img src="~/images/img10/pay-your-venders.png" alt="issue e-commerce refunds in minutes" name="issue e-commerce refunds in minutes">
                            </div>
                        </div>
                        <div class="tab-pane fade text-left" id="Reimburse" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="img-wrap typ-icon typ-two aos-init" data-aos="slide-right">
                                <img src="~/images/img10/reimbursement.png" alt="issue e-commerce refunds in minutes" name="issue e-commerce refunds in minutes">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 mr-5 mb-3">
                    <ul class="nav nav-pills flex-column" id="experienceTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#snit" role="tab" aria-controls="home" aria-selected="true">
                                Send Refunds to Customers
                                <p class="desc">Provide instant refunds to your ecommerce customers directly into their bank accounts.</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#devs" role="tab" aria-controls="profile" aria-selected="false">
                                Disburse Game Winnings
                                <p class="desc">With a single click, transfer game winnings to all your players at the same time.</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="A1" data-toggle="tab" href="#emp" role="tab" aria-controls="profile" aria-selected="false">
                                Pay Your Employees
                                <p class="desc">Opt for Instant Payouts and free yourself from transferring salaries one by one every month.</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="A2" data-toggle="tab" href="#Vendors" role="tab" aria-controls="profile" aria-selected="false">
                                Pay Your Vendors
                                <p class="desc">Simplify the process of paying your vendors and business partners on time, with bulk payouts.</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="A3" data-toggle="tab" href="#Reimburse" role="tab" aria-controls="profile" aria-selected="false">
                                Reimburse Employee Expenses
                                <p class="desc">Reimburse all your employee expenses at the same time.</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-inner-2 bg-grey-c pull-bottom" id="payout-LP">
    <div class="container">
        <div class="section-title style1 text-center mb-40">
            <h2 class="mb-4">Benefit from the power of full stack payout capabilities</h2>
            <div class="section-heading-line"></div>
            <p class="mt-3">Easy and convenient payouts that puts the needs of your payees first</p>
        </div>
        <div class="row ml-5 mr-5 mt-50 pt-4 pb-5">
            <div class="col-lg-4 md-mb-30">
                <div class="services-item-P">
                    <div class="services-text">
                        <h3 class="title"><i class="fa fa-check-circle"></i> Payouts to Bank Accounts</h3>
                        <p class="services-txt">24*7. IMPS, NEFT, RTGS and UPI even on Bank Holidays*</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 md-mb-30">
                <div class="services-item-P">
                    <div class="services-text">
                        <h3 class="title"><i class="fa fa-check-circle"></i> Payouts to Cards</h3>
                        <p class="services-txt">24*7 IMPS, NEFT, Visa Direct and Mastercard send</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="services-item-P">
                    <div class="services-text">
                        <h3 class="title"><i class="fa fa-check-circle"></i> Payouts to Wallet</h3>
                        <p class="services-txt">
                            Paytm Wallet
                            <br />
                            <a href="#">Learn More</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>