
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "prepaid_card";
}
@using Vastwebmulti.Models;
@{
    var favimage = "";
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {
        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;
    
}


<section class="section-block-services bor-bottom">
    <div class="container-fluid">
        <div class="section-heading center-holder">
            <h1>Prepaid Card</h1>
            <div class="section-heading-line"></div>
            <p>
                For merchants it provides a secure, simple and affordable payment solution with
                advanced features
            </p>
        </div>
        <div class="row mt-50 ml-5 mr-5">
            <div class="col-md-6 col-sm-6 col-12">
                <p>A prepaid card is altogether different from a financial balance platinum card. A financial balance charge card is connected to your financial records. A prepaid card isn't connected to a financial records. Rather, you are burning through cash you stacked onto the prepaid card ahead of time.</p>
                <p>Much of the time, you can't spend more cash than you have officially stacked onto your prepaid card. Overspending can happen with a financial records for a few kinds of employments, and with a ledger charge card in the event that you have opted in to your banks overdraft program. This implies your bank may charge you an expense for taking care of the expense of a buy or ATM withdrawal that surpasses what you have in your record. Your bank will likewise expect you to reimburse the overdraft.</p>
                <p>What's more, at this moment prepaid cards may have less buyer securities than check cards, for example, those that apply if the card is lost, stolen, or other unapproved charges show up.</p>
                <div class="crypto_mlm_btns mt-45">
                    <a href=" " class="btn consult_btn cryptmlmwhatsappbtn_color" name="button" target="_blank"><i class="fa fa-whatsapp"></i> | WhatsApp </a>
                    <a href=" " target="_blank" class="btn consult_btn cryptmlmtelegrambtn_color ml-1" name="button"><i class="fa fa-telegram"></i> | Telegram</a>
                    <a href="" target="_blank" class="btn consult_btn cryptmlmskypebtn_color ml-1" name="button"><i class="fa fa-skype"></i> | Skype</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <img src="~/images/img10/prepaid-cards-500x500.png" alt="@Firm_Name" />
            </div>
        </div>
    </div>
</section>
<div id="Div1" class="rs-services chooseus-style pt-100 md-pt-70 pb-100">
    <div class="container-fluid">
        <div class="row ml-5 mr-5">
            <div class="col-lg-4 md-mb-30">
                <div class="services-item">
                    <div class="services-icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="services-text">
                        <h3 class="title"><a href="javascript:void(0);">24X7 Care</a></h3>
                        <p class="services-txt">Need help? Click here. You can also talk to us on 0522 - 4069292 our Team is available round the clock to resolve your query.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 md-mb-30">
                <div class="services-item">
                    <div class="services-icon">
                        <i class="fa fa-shield"></i>
                    </div>
                    <div class="services-text">
                        <h3 class="title"><a href="javascript:void(0);">@Firm_Name Trust</a></h3>
                        <p class="services-txt">@Firm_Name’s brand Personality and transparency are the two cornerstones of its trust building approach.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="services-item">
                    <div class="services-icon">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                    <div class="services-text">
                        <h3 class="title"><a href="javascript:void(0);">Our Promise</a></h3>
                        <p class="services-txt">We promise to deliberately join forces with each customer. we are managed the chance to work with requirements .</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>