
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "recharge_application";
}
@using Vastwebmulti.Models;
@{
    var favimage = "";
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {
        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;
    
}


<div class="page-title-section" style="background-image: url(images/breadcrum.jpg);display:none;">
    <div class="container">
        <h1>Services</h1>
        <ul>
            <li><a href="index.html">Home</a>/</li>
            <li><a href="#">IT Services</a>/</li>
            <li><a href="#">Recharge Application</a></li>
        </ul>
    </div>
</div>
<section class="section-block-services">
    <div class="container-fluid">
        <div class="section-heading center-holder">
            <h3>Recharge Application</h3>
            <div class="section-heading-line"></div>
            <p>
                @Firm_Name providing enterprise software for Recharge-Bill Payment and Fintech Industry<br />
                gives you freedom to manage unlimited retailers, Distributor
            </p>
        </div>
        <div class="row mt-30 ml-5 mr-5">
            <div class="col-md-12 col-sm-12 col-12">
                <p>@Firm_Name providing enterprise software for Recharge-Bill Payment and Fintech Industry gives you freedom to manage unlimited retailers, Distributor. A complete automatic flexi distribution Multi Recharge Software which fulfill all your requirements that includes Bill payment, Recharge, Money Transfer, Aadhaar based Payment, Vehicle Insurance. Business Expertise Delivered in A Small Wonder of Recharge-Fintech software by @Firm_Name.</p>
                <p>We are an improvement organization having additional imagination to develop sites and applications by remembering necessities of the client. As best energize arrangement supplier we as a whole do the best administration by remembering both customer and client. For that, we likewise create and revive applications for all our potential customers. It is incorporated in the cost of entryway improvement. We are leading brand in Mobile Recharge Software </p>
                <div class="crypto_mlm_btns mt-3">
                    <a href=" " class="btn consult_btn cryptmlmwhatsappbtn_color" name="button" target="_blank"><i class="fa fa-whatsapp"></i> | WhatsApp </a>
                    <a href=" " target="_blank" class="btn consult_btn cryptmlmtelegrambtn_color ml-1" name="button"><i class="fa fa-telegram"></i> | Telegram</a>
                    <a href="" target="_blank" class="btn consult_btn cryptmlmskypebtn_color ml-1" name="button"><i class="fa fa-skype"></i> | Skype</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-block-grey" >
    <div class="container-fluid">
        <div class="row  ml-5">
            <div class="col-md-6 col-sm-6 col-12">
                <div class="pr-30-md">
                    <h6 class="text-white"><i class="fa fa-check"></i>FULLY RESPONSIVE DESIGNS</h6>
                    <p class="text-white mb-5">Design rendering and working as per the user’s behavior and environment based on screen size, platform and orientation allows the maximum reach across the devices.</p>
                    <h6 class="text-white"><i class="fa fa-check"></i>INTUITIVE WORK FLOWS</h6>
                    <p class="text-white mb-5">An intuitive interface has clue that how the process is supposed to flow so that user don’t have to experiment the interactions, based on real-world experiences, no surprises are thrown. It ensures a “no-frustration” user experience.</p>
                    <h6 class="text-white"><i class="fa fa-check"></i>EASY MANAGEMENT</h6>
                    <p class="text-white mb-5">All of your tracking and analytics will get condensed into a single report, allowing for easier monitoring/analysis and strategy formation for your business to develop and become simpler, and achieve its objectives much faster.</p>
                    <h6 class="text-white"><i class="fa fa-check"></i>COST EFFECTIVE SOLUTIONS</h6>
                    <p class="text-white">Fully responsive web applications saves on development and maintenance costs as all the efforts are directed in building a single interface for all the devices. This also leads to positive impact on the sales & conversion rates as user experience remains consistent.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div>
                    <img src="~/images/img10/our-services/appi-application.png" class="img-fluid" alt="img" />
                    
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-block-services">
    <div class="container">
        <div class="section-heading center-holder">
            <span>@Firm_Name - The leader in Technology!</span>
            <h3>Fastest way to grow Direct Selling Business</h3>
            <div class="section-heading-line"></div>
            <p>
                Our application and revive entryway is absolutely easy to understand which is simple to make with appropriate security.
            </p>
        </div>
        <div class="row mt-30">
            <div class="col-md-6">
                <div class="img-left-21">
                    <img src="~/images/img10/our-services/0AE-Commerce.png" alt="@Firm_Name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mt-0">
                    <ul class="primary-list pl-5">
                        <li><i class="fa fa-caret-right"></i>Best UI and UX</li>
                        <li><i class="fa fa-caret-right"></i>Dynamic Recharge API Intigration in Admin Control - No need of Devloper</li>
                        <li><i class="fa fa-caret-right"></i>Multiple Commission Module to manage Team</li>
                        <li><i class="fa fa-caret-right"></i>Whitelabel Solution</li>
                        <li><i class="fa fa-caret-right"></i>Customer Care Panel with Dynamic Access Control By Admin</li>
                        <li><i class="fa fa-caret-right"></i>Sales Team Managemnt with Real time Reporting</li>
                        <li><i class="fa fa-caret-right"></i>FOS- for field Collection and Sales</li>
                        <li><i class="fa fa-caret-right"></i>Realtime Billing Module</li>
                        <li><i class="fa fa-caret-right"></i>All Requierd Reports for Bussiness Analysis</li>
                        <li><i class="fa fa-caret-right"></i>Userwise Routing for Recharge</li>
                        <li><i class="fa fa-caret-right"></i>Circle Wise Recharrge Routing</li>
                        <li><i class="fa fa-caret-right"></i>Denomination and Range Wise Rounting</li>
                        <li><i class="fa fa-caret-right"></i>Seprate Backup Api Mechanism for API Partner and Retail</li>
                        <li><i class="fa fa-caret-right"></i>Cutomise Alerts of All Events</li>
                        <li><i class="fa fa-caret-right"></i>Email Mesaage and Social Alerts</li>
                        <li><i class="fa fa-caret-right"></i>APP Notification as per Requierment</li>
                        <li><i class="fa fa-caret-right"></i>Multiple Payment Gateway Support</li>
                        <li><i class="fa fa-caret-right"></i>Multiple Money Transfer and AEPS API Support</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>