
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "software_development";
}
@using Vastwebmulti.Models;
@{
    var favimage = "";
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {
        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Website = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;
    
}

<section class="section-block-services">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-7 col-sm-12 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
                <div class="section-heading ml-5">
                    <h1>Web Application Development</h1>
                    <div class="section-heading-line-left"></div>
                </div>
                <div class="section-wraper-one ml-5 mt-50">
                    <div class="icon-bx-wraper style-2 left m-b30">
                        <div class="icon-bx-md radius bg-white text-red">
                            <a href="#" class="icon-cell">
                                <img src="~/images/img10/our-services/1.png" alt="Website" />
                            </a>
                        </div>
                        <div class="icon-content">
                            <h4 class="dlab-title">Intuitive Work Flows</h4>
                            <p>An intuitive interface has clue that how the process is supposed to flow so that user don’t have to experiment the interactions, based on real-world experiences, no surprises are thrown. It ensures a “no-frustration” user experience.</p>
                        </div>
                    </div>
                    <div class="icon-bx-wraper style-2 left m-b30">
                        <div class="icon-bx-md radius bg-white text-yellow">
                            <a href="#" class="icon-cell">
                                <img src="~/images/img10/our-services/2.png" alt="Website" />
                            </a>
                        </div>
                        <div class="icon-content">
                            <h4 class="dlab-title">Easy Management</h4>
                            <p>All of your tracking and analytics will get condensed into a single report, allowing for easier monitoring/analysis and strategy formation for your business to develop and become simpler, and achieve its objectives much faster.</p>
                        </div>
                    </div>
                    <div class="icon-bx-wraper style-2 left m-b30">
                        <div class="icon-bx-md radius bg-white text-green">
                            <a href="#" class="icon-cell">
                                <img src="~/images/img10/our-services/3.png" alt="Website" />
                            </a>
                        </div>
                        <div class="icon-content">
                            <h4 class="dlab-title">Cost Effective Solutions</h4>
                            <p>Fully responsive web applications saves on development and maintenance costs as all the efforts are directed in building a single interface for all the devices. This also leads to positive impact on the sales & conversion rates as user experience remains consistent.</p>
                        </div>
                    </div>
                    <div class="crypto_mlm_btns mt-45">
                        <a href=" " class="btn consult_btn cryptmlmwhatsappbtn_color" name="button" target="_blank"><i class="fa fa-whatsapp"></i> | WhatsApp </a>
                        <a href=" " target="_blank" class="btn consult_btn cryptmlmtelegrambtn_color ml-1" name="button"><i class="fa fa-telegram"></i> | Telegram</a>
                        <a href="" target="_blank" class="btn consult_btn cryptmlmskypebtn_color ml-1" name="button"><i class="fa fa-skype"></i> | Skype</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-5 wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.4s">
                <div class="dlab-media">
                    <img src="~/images/img10/our-services/img5.png" class="move-2"  />
                </div>
            </div>
        </div>
        <div class="row mt-50 ml-5 mr-5">
            <div class="col-lg-4 col-sm-6">
                <div class="features-box wow animate__ animate__fadeInUp animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="fa fa-code"></i>
                    </div>
                    <h3>Website & Portal Development</h3>
                    <p>Presence on the internet is necessary in this era of technology for your.</p>
                    <div class="back-icon">
                        <i class="fa fa-code"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="features-box wow animate__ animate__fadeInUp animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <h3>Website & Portal Redesign Services</h3>

                    <p> Website are a powerful tool for business. Which can help you to promote Read more.</p>
                    <div class="back-icon">
                        <i class="fa fa-pencil"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="features-box wow animate__ animate__fadeInUp animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="fa fa-paint-brush"></i>
                    </div>
                    <h3>Static Website Designing Services</h3>
                    <p>Do you want to start an online business? Is your existing Website not getting.</p>
                    <div class="back-icon">
                        <i class="fa fa-paint-brush"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="features-box wow animate__ animate__fadeInUp animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="fa fa-laptop"></i>
                    </div>
                    <h3>Website Designing Services</h3>
                    <p>The world is transforming digitally and our increased reliance on the internet.</p>
                    <div class="back-icon">
                        <i class="fa fa-laptop"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="features-box wow animate__ animate__fadeInUp animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="fa fa-wrench"></i>
                    </div>
                    <h3>CMS Website Development</h3>
                    <p>Creating and Managing a Website used to be a herculean task. It needed Read more.</p>
                    <div class="back-icon">
                        <i class="fa fa-wrench"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="features-box wow animate__ animate__fadeInUp animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <h3>Website Maintenance Services</h3>
                    <p>Website maintenance is a service which you need continuously to maintain Read more.</p>
                    <div class="back-icon">
                        <i class="fa fa-cogs"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="features-box wow animate__ animate__fadeInUp animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="fa fa-language"></i>
                    </div>
                    <h3>Angularjs Development</h3>
                    <p>With Angularjs development, Dynamic, Interactive, and Extensive </p>
                    <div class="back-icon">
                        <i class="fa fa-language"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="features-box wow animate__ animate__fadeInUp animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <h3>Offshore Web Development India</h3>
                    <p>Do you want affordable yet efficient services to help you build your first.</p>
                    <div class="back-icon">
                        <i class="fa fa-line-chart"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="features-box wow animate__ animate__fadeInUp animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="fa fa-newspaper-o"></i>
                    </div>
                    <h3>News Portal Development</h3>
                    <p>Rapid Digitalization has completely transformed the ways in which news.</p>
                    <div class="back-icon">
                        <i class="fa fa-newspaper-o"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="features-box wow animate__ animate__fadeInUp animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="fa fa-building-o"></i>
                    </div>
                    <h3>Corporate Website Development</h3>
                    <p>This is the era of the Internet and world wide web where you have engaged to</p>
                    <div class="back-icon">
                        <i class="fa fa-building-o"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="features-box wow animate__ animate__fadeInUp animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <h3>eCommerce Website Development</h3>
                    <p>It doesn’t matter whether you are in business for long years or just stepped </p>
                    <div class="back-icon">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="features-box wow animate__ animate__fadeInUp animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="fa fa-hashtag"></i>
                    </div>
                    <h3>.Net Development Services</h3>
                    <p>.NET is an Open Source Platform Introduced by Microsoft for Software </p>
                    <div class="back-icon">
                        <i class="fa fa-hashtag"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="features-box wow animate__ animate__fadeInUp animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="fa fa-pencil-square-o"></i>
                    </div>
                    <h3>Custom Web & Portal Design</h3>
                    <p>Do you want to build the perfect Website that will suit your business objective </p>
                    <div class="back-icon">
                        <i class="fa fa-pencil-square-o"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="features-box wow animate__ animate__fadeInUp animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="fa fa-tablet"></i>
                    </div>
                    <h3>Responsive Web Designing</h3>
                    <p>Website are essential to establish your online footprint. It gives your </p>
                    <div class="back-icon">
                        <i class="fa fa-tablet"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="features-box wow animate__ animate__fadeInUp animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="fa fa-mobile"></i>
                    </div>
                    <h3>Mobile Website designing service</h3>
                    <p>Are you doing online business? Are your products and services based on </p>
                    <div class="back-icon">
                        <i class="fa fa-mobile"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="features-box wow animate__ animate__fadeInUp animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="fa fa-window-maximize"></i>
                    </div>
                    <h3>Dynamic Website designing</h3>
                    <p>Do you want a Website that can establish better interaction with your clients.</p>
                    <div class="back-icon">
                        <i class="fa fa-window-maximize"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="features-box wow animate__ animate__fadeInUp animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="fa fa-pencil-square"></i>
                    </div>
                    <h3>UI & UX Designing Services</h3>
                    <p>With UI & UX Design Services, Innovative & Interactive Interfaces can be </p>
                    <div class="back-icon">
                        <i class="fa fa-pencil-square"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>