
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "vas";
}
@using Vastwebmulti.Models;
@{
    var favimage = "";
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {
        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;
    
}

<section class="section-block-services bor-bottom" id="LSC">
    <div class="container-fluid">
        <div class="row ml-5 mr-5">
            <div class="col-md-12 col-sm-6 col-12">
                <div class="section-heading">
                    <h1>Long / Short Code</h1>
                    <div class="section-heading-line-left"></div>
                </div>
                <p class="mt-30">A long code number is a standard telephone number used to send and get voice calls and SMS messages. Telephone numbers are normally called "long codes" (10-digit numbers in numerous nations) when contrasting them and SMS short codes (5-6 digit numbers).</p>
            </div>
        </div>
        <div class="row ml-5 mr-5">
            <div class="col-md-7 col-sm-6 col-12">
                <p>Long Code SMS Services also, called a devoted telephone number or vast number or virtual versatile number, is the gathering component utilized by business to get voice calls and SMS Messages. Ease and International openness make the best answer for Big crusade that are gives Long Code SMS in India.</p>
                <p><b>Long SMS Service Vs Short Code SMS Service, Read The Differences:</b></p>
                <div class="mt-20">
                    <ul class="primary-list">
                        <li><i class="fa fa-caret-right"></i>There are couple of contrasts between Long code and Short code sms informing service</li>
                        <li><i class="fa fa-caret-right"></i>Long codes suppliers are less expensive and quicker to actualize</li>
                        <li><i class="fa fa-caret-right"></i>Prominent catchphrases are constantly accessible for long code</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-12">
                <img src="~/images/img10/our-services/longndshortcode.png" alt="@Firm_Name">
            </div>
        </div>
        <div class="row ml-5 mr-5">
            <div class="col-md-12 col-sm-6 col-12">
                <p>Short codes, or short numbers, are short digit groupings, fundamentally shorter than phone numbers, that are utilized to address messages in the Multimedia Messaging System (MMS) and short message benefit (SMS) frameworks of portable system administrators. Not with standing informing, they might be utilized as a part of truncated dialing.</p>
                <p>Another preferred standpoint of long code is that it permits 2-way correspondence, enabling gathering of people to answer to the message got in way.</p>
                <div class="crypto_mlm_btns mt-4">
                    <a href=" " class="btn consult_btn cryptmlmwhatsappbtn_color" name="button" target="_blank"><i class="fa fa-whatsapp"></i> | WhatsApp </a>
                    <a href=" " target="_blank" class="btn consult_btn cryptmlmtelegrambtn_color ml-1" name="button"><i class="fa fa-telegram"></i> | Telegram</a>
                    <a href="" target="_blank" class="btn consult_btn cryptmlmskypebtn_color ml-1" name="button"><i class="fa fa-skype"></i> | Skype</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-block-services bor-bottom" id="sim-H">
    <div class="container-fluid">
        <div class="row ml-5 mr-5">
            <div class="col-md-12 col-sm-6 col-12">
                <div class="section-heading">
                    <h4>SIM Hosting</h4>
                    <div class="section-heading-line-left"></div>
                </div>
                <p class="mt-30">SIM Hosting is a simple method to get SMS messages from your clients/customers to your Server or Database, through an association with our SMS passage. You can have your own SIM card or a common one facilitated to one of our GSM Server, in order to have the capacity to get SMS.</p>
            </div>
        </div>
        <div class="row ml-5 mr-5">
            <div class="col-md-5 col-sm-6 col-12">
                <img src="~/images/img10/our-services/simHosting.png" alt="@Firm_Name" />
            </div>
            <div class="col-md-7 col-sm-6 col-12">
                <p>The SIM card's cell phone number will fill in as a committed telephone number of your SMS application. To utilize this administration, you can make Unlimited Keywords and Sub Keywords on this Dedicated Long Code Mobile Number, you Courier your SIM card to us. The SIM card will be put into one of our GSM Server, which is associated with our SMS passage. Our SMS portal will forward every message received to your picked course utilizing a specific convention/interface that suits best to your necessities; for instance HTTP, HTTPS, SMS to email, and so forth.</p>
                <p>Utilizing a SIM card gave by you (we prescribe an agreement SIM), once got this is safely setup on our SIM facilitating equipment, which has multi-repetition worked in. Instant messages got are naturally and promptly come back to you.</p>
            </div>
        </div>
    </div>
</section>