
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>testrecharge</title>
</head>
<body>
@*@using (Html.BeginForm("testrecharge1", "Response"))
{*@
    <div>
        <button type="button" onclick="recharge()">name</button>
    </div>
@*}*@
</body>

</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    recharge = () => {
        alert("ok")
        $.ajax({
            type: "POST",
            url: "@Url.Action("testrecharge1", "Response")",
            cache: false,
            dataType: 'json',
            success: function (result) {

              //  var urlupdate = "@Url.Action("testrecharge1", "Response")";
                window.open(result, "_self");

               // $('#yourDiv').append(result.HtmlContent);
                //$('body').html(result.HtmlContent);
             alert(result)
            }
        });
    }
</script>