
.tre1 {
    width: 15%;
    float: left;
}

.trre5 {
   
    width: 60% !important;
}
.tre4 {
    float: right;
    width: 12.2%;
}
.mrj {
    padding: 0px;
    margin-right: 4px;
    float: left;
}
.jkjk {
    width: 100px;
}
.mrj button {
    border: 1px solid #b1a6a638 !important;
}
.jkjk::after {
    content: "";
    display: block;
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    position: absolute;
    top: 15px;
    width: 0;
    right: 10px;
    z-index: 11;
}
.mrj input {
    border: 1px solid #b1a6a638 !important;
    height: 33px;
}
.mrj .form-group {
    margin-bottom: 0px;
}
.jjp {
    display: inline-block;
    width: auto;
    float: left;
}
    .jjp input {
        width: 103px !important;
        float: left;
        padding-right: 4px;
        text-align: right;
    }
.nrr3 {
    float: left;
    position: relative;
}
.ner {
    width: 25px !important;
    border: 1px solid #b1a6a638 !important;
    position: absolute;
    z-index: 11;
    height: 100%;
}
.profilebackground {
    background: #f5f5f5 !important;
    border: 1px solid #ddd;
}
.edtbdy .col-md-9 select {
    -webkit-appearance: none;
    background: url('../../../AdminDesign/images/multimedia.svg')no-repeat;
    background-position-y: 50%;
    background-size: 2%;
    background-position: 98%;
    background-color: #fff;
}
.jonbdy p {
    width: 35%;
    float: left;
    border: 1px solid #ddd;
    padding: 10px 5px;
    color: #555 !important;
}
    .jonbdy p:nth-child(2n+2) {
        width: 65%;
        border-left:0px;
        text-align:right;
    }
.jdt a i::before {
    display: none;
}
.jdt a i:hover {
    color: #9E9E9E;
}
.spdtl {
    width: 100%;
    float: left;
    display: block;
    padding: 10px;
}
.tftg .col-md-3, .tftg .col-md-9 {
    margin-bottom: 0px !important;
}
    .tftg .col-md-9 .form-group {
        margin-bottom: 0px;
    }

    .tftg .col-md-3 .required::after {
        position: absolute;
    }
.tftg .col-md-3 {
    text-align: left;
    width: 150px;
    float: left;
}
.tftg .col-md-9 {
    width: 267px;
    float: left;
}
.tftg .modal-footer {
    border: 0px;
    padding: 0px;
}
.tftg .row {
    margin-bottom: 10px;
}
.ltgl p {
    margin-bottom: 0px !important;
}
.ltgl .badge {
    margin-top: -18px;
}
.tdy .col-xs-4 {
    margin-top: 7px;
}
.giftcardcategory ul {
    background: transparent !important;
    box-shadow: none !important;
}
    .giftcardcategory ul li {
        margin-left: 0px !important;
    }
    .giftcardcategory ul li {
        margin-left: 0px !important;
    }
        .giftcardcategory ul li a {
            float: left;
        }
        .giftcardcategory ul li a {
            padding: 10px 32.3px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
            .giftcardcategory ul li.active a, .giftcardcategory ul li.active a:focus, .giftcardcategory ul li a:focus {
                background: var(--nav-tab-bg) !important;
            }
.theme-pink .nav > li > a {
    color: inherit;
}
        .giftcardcategory ul li a {
            padding: 10px 32.3px;
        }
        .giftcardcategory ul li a {
            float: left;
        }
        .giftcardcategory ul li a {
            background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;
        }
.giftcardcategory .nav-tabs > li > a::before {
    width: 99.8%;
}
.giftcardcategory ul li.active a::before {
    top: 81px !important;
}
.giftcardcategory .nav-tabs > li > a::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 5px solid #000 !important;
    bottom: -5px !important;
    transition: 0.1s ease-in;
}
.giftcardcategory ul li.active a span {
    top: 6px;
    color: #fff !important;
}
.giftcardcategory ul li a span {
    display: inline-block;
    position: relative;
    top: 3px;
    color: #fff !important;
}
.giftcardcategory ul li.active a {
    font-weight: bold;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: -6px;
}
    .giftcardcategory ul li a:hover, .giftcardcategory ul li.active a:hover {
        background: #000 !important;
    }
.giftcardcategory {
    margin-bottom: 20px !important;
    margin-top: 30px;
}

.nnbdr .table tbody tr td, .nnbdr .table tbody tr th {
    border: 0px;
}

.tab1 .nav-pills > li {
    width: 32.5%;
    float: left;
    background: #fff;
    border: none;
    padding: 4px 0px;
    margin-right: 2px;
    border: 1px solid #bbb;
}
    .tab1 .nav-pills > li.active {
        border: 1px solid var(--main-bg-rcolor);
    }
    .tab1 .nav-pills > li a {
        padding: 0px 3px;
        font-size: 14px !important;
        text-align: center;
    }
    .tab1 .nav-pills > li.active > a {
        background-color: transparent;
        color: #555;
    }
.tab1 {
    width: 100%;
    float: left;
    background: var(--second-bg-color);
    padding: 5px;
}
    .tab1 .nav-pills > li span {
        font-size: 11px;
        border-bottom: 2px solid #bbb;
        margin-top: 3px !important;
        line-height: 12px;
        vertical-align: top;
        display: inline-block;
    }
    .tab1 .nav > li > a:hover {
        background-color: transparent;
    }

.tab1 .nav-pills > li.active > a span {
    border-bottom: 2px solid red !important;
}
.dhmak {
    width: 100%;
    float: left;
    text-align: center;
    padding: 15px 2px;
    
}
    .dhmak h1 {
        color: #fff;
        margin: 0px;
        text-align: center;
        font-size: 45px;
        font-weight: 600;
    }
    .dhmak span {
        color: red;
        background: #fff;
        padding: 3px 10px;
        margin-top: 6px;
        display: inline-block;
    }
.target-tab .nav-pills > li > a {
    writing-mode: sideways-lr;
    padding: 10px 10px;
    line-height: 14px;
}
.target-tab .nav-pills > li {
    width: 100%;
}
    .target-tab .nav-pills > li > a:hover{background-color:transparent;}
.tab2.target-tab {
    width: 100%;
    float: left;
    background: var(--second-bg-color);
    padding: 10px 0px;
}
.target-tab .nav-pills > li.active > a{color:#fff;}
.pr-0 {
    padding-right: 0px !important;
}
.pl-0 {
    padding-left: 0px !important;
}
.target-tab .nav-pills {
    border-right: 1px solid #000;
}
.target-basic h3 {
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    color: var(--main-bg-rcolor);
    margin-bottom: 5px;
}
.target-basic p {
    text-align: center;
    text-transform: capitalize;
}
.target-basic .table-bordered > thead > tr > td {
    border-bottom-width: 0px;
    text-align: center;
    background: #eee;
}
.target-history {
    padding: 10px 5px;
    background: var(--second-bg-color);
}
.target-basic table{width:96%;}
.target-basic .table-bordered > tbody > tr > td img {
    width: 80%;
    margin: auto;
    height: 50px;
    display: block;
    border: 1px solid #eee;
}
.target-basic .table-bordered > tbody > tr > td span {
    width: 80%;
    margin: auto;
    height: 50px;
    display: block;
    text-align: center;
    padding-top: 15px;
    border: 1px solid #eee;
}
.for-table-border tr {
    border-bottom: 1px dotted;
    display: block ruby;
}

.for-table-border tr:last-child {
    border-bottom: 0px;
}
table.for-table-border {
    width: 94%;
    margin: auto;
}
.for-table-border tr p {
    margin: 0px;
}
.for-table-border tr td:last-child {
    float: right;
}
