
.selecttwo-full .select2.select2-container.select2-container--default {
    width: 100% !important;
    float: left;
}




@media screen and (max-width:991px){
    .apiheaderfull-responsive {
        width: 100% !important;
        float: left;
    }
    .api-allpage-date {
        width: 100% !important;
        float: left !important;
        margin-top: 8px;
    }
    
}

@media screen and (max-width:766px){
    .api-padding-right-re {
        padding-right: 0px;
    }
}