@model List<Vastwebmulti.Areas.WHITELABEL.Models.BlockUserlistmodel>



@if (Model != null)
{

    foreach (var item in Model)
    {
        <tr>
            <td>
                @item.UserName
            </td>
            <td>
                @item.Frmname
            </td>
            <td>
                4684321848
            </td>

            @*<td>
                    @item.sts
                </td>*@
            <td>
                <input type="button" value="Un Block" class="btn " onclick="StatusActive('@item.Userid')" />
            </td>
        </tr>
    }
}