<style>
    #ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        #ul li {
            float: left;
            width: 50%;
            position: relative;
        }

            #ul li a {
                display: block;
                text-align: center;
                padding: 5px 9px;
                text-decoration: none;
                border: 1px solid #b1a6a638;
                position: initial;
                margin: 0;
            }

                #ul li a:hover:not(.activee) {
                    background-color: var(--main-bg-lcolor);
                    color:#fff;
                    border: 1px solid #b1a6a6;
                }

    #ul li a.activee {
        color: white;
         background-color: var(--main-bg-lcolor);
    }
    #ul li a.activee::after, #ul li a::after {
        content: '';
        width: 25px;
        float: left;
        top: 0;
        left: 0;
        position: absolute;
        height: 70%;
        border: 2px solid #fff;
        margin: 5px;
    }

    #ul li a.activee::before {
        content: "";
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        height: 28%;
        width: 17px;
        position: absolute;
        left: 9px;
        transform: rotate(-45deg);
        top: 9px;
    }
     /*   #ul li a.activee::after, #ul li a::after {
    content: '';
    width: 18px;
    float: left; 
    top: 2px;
    left: 0;
    position: absolute;
    height: 18px;
    border: 2px solid #fff;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #fff;
}
    #ul li a.activee::before{content: "✔";
    position: absolute;
    left: 9px;
    transform: rotate(14deg);
    top: 7px;
    font-size: 12px;}*/
   @@media only screen and (max-width:768px) {
       #ul{overflow:visible;}
   }
    @@media only screen and (max-width:480px) {
   }
</style>

<div id="custnav" style="padding-top:5px;">
    <ul id="ul">
        <li><a href="~/WHITELABEL/Home/Api_Operator" ><i class="fa fa-cog fa-spin" aria-hidden="true"></i>&nbsp;OPT&nbsp;Switching</a> </li>
        <li><a href="~/WHITELABEL/Home/Api_nm">Set&nbsp;{Get}&nbsp;API</a></li>
        
    </ul>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        var current = location.pathname;
        $('#custnav li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('activee');
                $this.addClass('navbar');
            }
        })
    });
</script>

