<style>
    .slab-setting-menu {
        float: left;
        padding: 0px;
    }

        .slab-setting-menu li {
            list-style: none;
            float: left;
            border: 1px solid #bbb;
            margin-right: 3px;
        }

            .slab-setting-menu li a {
                color: #555 !important;
                padding: 6px 6px;
                display: block;
            }

                .slab-setting-menu li a.activee {
                    color: #fff !important;
                }
</style>












<ul class="slab-setting-menu" style="background:linear-gradient(to right, @PageData["Globalfirst"],@PageData["GlobalSecond"]);">

    <li>
        <a href="~/WHITELABEL/Home/OPTBLOCKDLM">Distributor OPT Status</a>
    </li>
    <li>
        <a href="~/WHITELABEL/Home/OTPBLOCKREM">Retailer OPT Status</a>
    </li>

</ul>
<script type="text/javascript">



        $(document).ready(function () {
        var current = location.pathname;
        $('.slab-setting-menu li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
            $this.addClass('activee');

    }
})
});

</script>
