  

@{ 
    foreach (var item in ViewBag.setting)
    {

        if (item.highsecurity == true)
        {

<fieldset class="firstf fff">
    <legend>High Security</legend>
    <button data-id="@item.id" onclick="SecurityChange()" type="button" class="btn">
        <img src="~/img/green-right.svg" alt="Right Arrow image" style="width:37px;" />
        <span>Active </span>
    </button>
    <p>Email verification is required for high security</p>
</fieldset>
<fieldset class="secondf sss">
    <legend>Low Security</legend>
    <button data-id="@item.id" onclick="SecurityChange()" type="button" class="btn">
        <img src="~/img/red.svg" alt="Wrong Arrow image" style="width:32px;" />
        <span> Deactive </span>
    </button>
    <p>No more security required, then send password to mobile</p>
</fieldset>
        }
        if (item.highsecurity == false)
        {
<fieldset class="secondf fff">
    <legend>High Security</legend>
    <button data-id="@item.id" onclick="SecurityChange()" type="button" class="btn">
        <img src="~/img/red.svg" alt="Wrong Arrow image" style="width:32px;" />
        <span> Deactive </span>
    </button>
    <p>Email verification is required for high security</p>
</fieldset>
<fieldset class="firstf sss">
    <legend>Low Security</legend>
    <button data-id="@item.id" onclick="SecurityChange()" type="button" class="btn">
        <img src="~/img/green-right.svg" alt="Right Arrow image" style="width:37px;" />
        <span>Active </span>
    </button>
    <p>No more security required, then send password to mobile</p>
</fieldset>
            }
        }
    }