
<style>
    #ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        /*background-color: #e91e63;*/
    }

        #ul li {
            float: left;
            height: 45px;
            width: 100%;
            margin-bottom: 10px;
        }

            #ul li a {
                display: block;
                /*color: white;*/
                text-align: center;
                padding: 8px 7px;
                text-decoration: none;
                color:#555 !important;
            }

                #ul li a:hover:not(.activee) {
                    background-color: rgb(128, 128, 128);
                    color: #555;
                }

    #ul li a.activee {
        background-color: #f44336;
        color:#fff !important;
    }

        .activee:hover {
            color: white;
            border: 1px solid #00000026;
        }

    .btn:not(.btn-link):not(.btn-circle) {
        border: none;
        font-size: 13px;
    }

    .btn:not(.btn-link):not(.btn-circle) {
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.16), 0 0px 0px rgba(0, 0, 0, 0.12);
        border: none;
        font-size: 13px;
    }
</style>

<div style="padding-top:0px; height:auto;">
    <div id="custnav" style="position:initial;background: #f5f5f5;min-height: 80vh;">
        <ul id="ul" style="margin-top:0px;">
            <li class="btn"  >
                <a href="~/WHITELABEL/Home/White_Outer_Color" style="border: 1px solid #00000026;">Color&nbsp;Setting</a>
            </li>
            <li class="btn"  ><a href="~/WHITELABEL/Home/Outer_Logo" style="border: 1px solid #00000026;">Logo</a></li>
            @*<li class="btn"  >
                <a href="~/WHITELABEL/Home/Outside_Menu" style="border: 1px solid #00000026;">Menu</a>
            </li>*@
            <li class="btn"  ><a href="~/WHITELABEL/Home/LoginPage_Content" style="border: 1px solid #00000026;">Login</a></li>
        
     @*<li class="btn"  >
                <a href="~/WHITELABEL/Home/Outer_Silder" style="border: 1px solid #00000026;padding:8px 6px 7px 4px;">Outside Silder</a>
            </li>*@
            <li class="btn"  >
                <a href="~/WHITELABEL/Home/About_us_Content" style="border: 1px solid #00000026;">About Us</a>
            </li>

            @*<li class="btn"  >
                <a href="~/WHITELABEL/Home/Services_Content" style="border: 1px solid #00000026;">Services</a>
            </li>*@
         
            @*<li class="btn"  >
                <a href="~/WHITELABEL/Home/Card_Content" style="border: 1px solid #00000026;"> Card</a>
            </li>*@
            @*<li class="btn"  >
                <a href="~/WHITELABEL/Home/Travel_Content" style="border: 1px solid #00000026;">Travel</a>
            </li>*@
            @*<li class="btn"  >
                <a href="~/WHITELABEL/Home/DTH_Connection" style="border: 1px solid #00000026;">DTH</a>
            </li>*@
           
              <li class="btn">
                <a href="~/WHITELABEL/Home/New_Update" style="border: 1px solid #00000026;">New Updates</a>
            </li>
            <li class="btn"  >
                <a href="~/WHITELABEL/Home/Contect_Content" style="border: 1px solid #00000026;">Social&nbsp;&&nbsp;Contact</a>
            </li>

            @*<li class="btn"  >
                <a href="~/WHITELABEL/Home/Footer_Content" style="border: 1px solid #00000026;">Footer</a>
            </li>*@
           
        </ul>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
         var current = location.pathname;
         $('#custnav li a ').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('activee');
            }
        })
    });
</script>




