@model Vastwebmulti.Models.tblWhitlabelSilder
@{
    ViewBag.Title = "Edit_OuterSilder";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                @using (Html.BeginForm("Edit_OuterSilder", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
            {
                    <div class="card">
                        <div class="header" style="padding:10px;">
                            <h2>
                                <span style="font-size:21px;"></span> Update About Us Content
                            </h2>
                        </div>
                        <div class="row">
                            <div class="body">
                                <div class="col-md-12">
                                    @Html.HiddenFor(model => model.Id)
                                    <label for="email_address">Silder Heading</label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(model => model.SilderHeading, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label for="setbox">Silder Content</label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextAreaFor(model => model.SilderContent, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label for="setbox">Select Image</label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            <input type="file" id="file" name="file" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;">
                                        <span style="top:-2px;color:black;">Update</span>

                                </div>
                            </div>
                        </div>

                    </div>
                }
            </div>

        </div>
    </div>
</section>

