@model Vastwebmulti.Models.tblWhiteLabelNewUpdate
@{
    ViewBag.Title = "Edit_NewUpdate";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<script src="~/Ckeditor/ckeditor.js"></script>
<script src="~/Ckeditor/adapters/jquery.js"></script>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                @using (Html.BeginForm("Edit_NewUpdate", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
            {
                    <div class="card">
                        <div class="header" style="padding:10px;">
                            <h2>
                                <span style="font-size:21px;"></span> Update News Update Content
                            </h2>
                        </div>
                        <div class="row">
                            <div class="body">
                                <div class="col-md-12">
                                    @Html.HiddenFor(model => model.Id)
                                    <label for="setbox">Enter Content</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextAreaFor(model => model.UpdateContent, new { @class = "ckeditor" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-6">
                                        <label for="setbox">Select Image</label>
                                        <div class="form-group">
                                            <div class="" style="border:1px solid #dddddd;">
                                                <input type="file" id="file" name="file" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn bg-blue-grey" style="margin-top:26px; height:36px;">Update</button>
                                        <a href="@Url.Action("New_Update","Home")" class="btn bg-blue-grey" style="margin-top:26px; height:36px; padding-top:9px;">Back</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                    </div>
                }
            </div>

        </div>
    </div>
</section>

