@model Vastwebmulti.Models.tblAboutUsContent
@{
    ViewBag.Title = "Edit_Aboutus";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}

<script src="~/Ckeditor/ckeditor.js"></script>
<script src="~/Ckeditor/adapters/jquery.js"></script>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                @using (Html.BeginForm("Edit_Aboutus", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
            {
                    <div class="card">
                        <div class="header" style="padding:10px;">
                            <h2>
                                <span style="font-size:21px;"></span> Update About Us Content
                            </h2>
                        </div>
                        <div class="row">
                            <div class="body">
                                <div class="col-md-12">
                                    @Html.HiddenFor(model => model.AboutId)
                                    <label for="email_address">About Us Heading</label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            @Html.TextBoxFor(model => model.AboutHeading, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label for="setbox">Enter Content</label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            @Html.TextAreaFor(model => model.AboutContent, new { @class = "ckeditor" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label for="setbox">Select Image</label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            <input type="file" id="file" name="file" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;">
                                        <span style="top:-2px;color:black;">Update</span>
                                    </button>
                                    <a href="@Url.Action("About_us_Content","Home")" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;">
                                        <span style="top:-2px;color:black;">Back</span>
                                    </a>

                                </div>
                            </div>
                        </div>

                    </div>
                }
            </div>

        </div>
    </div>
</section>

