
@{
    ViewBag.Title = "GSTStatus";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<style type="text/css">
    .loadermoney {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 199999;
        background: url('../../images/smsload.gif') 50% 50% no-repeat rgba(249, 249, 249, 0.9);
    }

    [type="checkbox"].filled-in:not(:checked) + label:after {
        background-color: #f5f5f5;
        border: 2px solid #dddddd;
    }
</style>
<div id="loadermoney" class="loadermoney" style="display:none;"></div>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" >
                    <div class="row">
                        <div class="col-md-6">
                            <div class="">
                                <h2 style="font-size:20px;margin-top:0px; color:#000;">
                                   GST Setting
                                </h2>


                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                </div>

                                <div class="col-md-3">
                                    <button type="button" class="btn" style="float:right; padding-top:9px; width:100%; margin-top:6px;border:1px solid #c7c2c2;" onclick='selectAll()'>
                                        <span style="top:-1px;color:black;">Check All</span>
                                    </button>
                                </div>
                                <div class="col-md-3" style="padding:0px;">
                                    <button type="button" class="btn" style="float:right; padding-top:9px; width:100%; margin-top:6px;border:1px solid #c7c2c2;" onclick='UnSelectAll()'>
                                        <span style="top:-1px;color:black;">Uncheck All</span>
                                    </button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" id="SaveAll" class="btn" style="padding-top:9px;width:100%; margin-top:6px;border:1px solid #c7c2c2;" onclick='this.form'>
                                        <span style="top:-1px;color:black;">Save</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12">
                <!--User Create-->
                <div class="card" style="margin-top:-26px;">
                   

                    <div class="row clearfix">
                        <div class="col-md-12">
                            <div class="demo-checkbox" style="margin-top:12px;">
                             
                                <div class="col-md-12" style="background:#f1f0f0;margin-bottom:10px;">
                                   
                                 
                                       
                                        <div class="col-md-6" style="margin-top:10px;">
                                            <input type="checkbox" id="Distributorgst" value="Distributorgst" class="filled-in chk-col-red" name="acs">
                                            <label for="Distributorgst">Distributor GST</label>
                                        </div>

                                
                                  
                                        
                                        <div class="col-md-6" style="margin-top:10px;">
                                            <input type="checkbox" id="Retailergst" value="Retailergst" class="filled-in chk-col-red" name="acs">
                                            <label for="Retailergst">Retailer GST</label>
                                        </div>
                                  
                                </div>
                               
                            </div>
                        </div>

                    </div>
                </div>
                <!--End-->
            </div>
        </div>
    </div>
</section>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="~/Swalalert/sweetalert-dev.js"></script>

<script>
    $(function () {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Check_UnchekGSTSetting", "Home")',
            cache: false,
            dataType: 'html',
            async: true,
            success: function (data) {
                var obj = JSON.parse(data);
                for (var item in obj) {
                    var sts = obj[item].Status;
                    var name = obj[item].UserRole;
                    if (sts == "Y") {
                        $("#" + name + "").prop("checked", true);
                    }
                }
            }
        });

    });
</script>
<script type="text/javascript">
    function selectAll() {
        var items = document.getElementsByName('acs');
        for (var i = 0; i < items.length; i++) {
            if (items[i].type == 'checkbox')
                items[i].checked = true;
        }
    }
    function UnSelectAll() {
        var items = document.getElementsByName('acs');
        for (var i = 0; i < items.length; i++) {
            if (items[i].type == 'checkbox')
                items[i].checked = false;
        }
    }
</script>
<!--Block Javascript-->
<script type="text/javascript">
    $(function () {
        $("#SaveAll").click(function () {
                     var optCode = []
                     $("input:checkbox(:checked)").each(function () {
                         if ($(this).prop('checked') == true) {
                             optCode.push($(this).val() + ",Y");
                         }
                         if ($(this).prop('checked') == false) {
                             optCode.push($(this).val() + ",N");
                         }
                     });
                     document.getElementById("loadermoney").style.display = "block";
                     $.ajax({
                         type: "POST",
                         url: '@Url.Action("GSTSettingSave", "Home")',
                         data: { 'ch': optCode },
                         cache: false,
                         dataType: 'json',
                         async: true,
                         success: function (data) {
                             var pp = data.status;
                             var mm = data.Message;

                             if (pp == "Success") {
                                 document.getElementById("loadermoney").style.display = "none";
                                 //swal("Good job!", mm, "success");

                                 $.ajax({
                                     type: "GET",
                                     url: '@Url.Action("Check_UnchekGSTSetting", "Home")',
                                     cache: false,
                                     dataType: 'html',
                                     async: true,
                                     success: function (data) {
                                         var obj = JSON.parse(data);
                                         for (var item in obj) {
                                             var sts = obj[item].Status;
                                             var name = obj[item].ServiceName;
                                             if (sts == "Y") {
                                                 $("#" + name + "").prop("checked", true);
                                             }
                                         }
                                     }
                                 });
                             }
                         }
                     });
                     return true;
        });

    });


</script>

