
@{
    ViewBag.Title = "InsertOTP";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header navbar" style="position:initial;">
                        <h2 style="color:white;">
                            Enter OTP
                        </h2>
                    </div>
                    <div class="body ">
                        <div class="icon-and-text-button-demo">
                            <div class="jumbotron vertical-center navbar" style="position:inherit;">
                                <div class="container">
                                    <div class="row">
                                        @using (Html.BeginForm())
                                        {
                                            <center>
                                                <div><i class="material-icons" style="top:2px; font-size:100px; color:white;">lock</i> </div>
                                                <div><span style="font-size:19px; margin-top:3px; color:white; font-weight:bold;">Enter OTP To Change Mobile No :-  </span> </div>
                                                <div class="col-md-4">
                                                    
                                                </div>
                                                <input type="hidden" id="txtmobile" name="txtmobile" value="@ViewData["Mobile"]" />
                                                <input type="hidden" id="type" name="type" value="@ViewData["type"]" />
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="password" id="txtcode" name="txtcode" class="form-control" required="" />
                                                        </div>
                                                    </div>
                                                    <input type="submit" value="SUBMIT" class="btn bg-indigo waves-effect" /><br />
                                                    <span style="font-size:20px; font-weight:bold; color:white;">@ViewData["MSG"] </span>
                                                </div>

                                                <div class="col-md-4">

                                                </div>
                                                <div>

                                                </div>
                                            </center>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>

<script src="~/AdminDesign/plugins/jquery-validation/jquery.validate.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/sweetalert/sweetalert.min.js"></script>
<link href="~/AdminDesign/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
<script>
    window.onload = function () {

        var succ = '@ViewData["Success"]';

        if (succ != null && succ != "") {
                swal("Good job!", succ, "success");
            }
        }
</script>