
@{
    ViewBag.Title = "RetailerSwitch";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}

<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    }
</style>
<section class="content">

    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-12">
                        @using (Html.BeginForm("RetailerSwitch", "Home", FormMethod.Post))
                        {
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group" style="margin-bottom:0px;">
                                    <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:-12px;">
                                        <li style="font-size:20px;">Retailer Switch</li>

                                    </ol>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd; margin-top:6px; width:100%;">
                                        @Html.DropDownList("remid", ViewBag.remid as SelectList, "Select Retailer", new { id = "remid", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;padding: 5px 12px;", @required = "required" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" style="padding:0px;">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd; margin-top:6px; width:100%;">
                                        @Html.DropDownList("dlmid", ViewBag.dlmid as SelectList, "Select Dealer", new { id = "dlmid", @class = "selectpicker form-control", @style = "border:1px solid #8e7f7f4d;height:38px;padding: 5px 12px;", data_live_search = "true", @required = "required" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-default waves-effect" style="margin-top:6px; height:34px;width:100%; border:1px solid #dddddd;" onclick="return fun()">
                                    <i class="fa fa-exchange" style="color:black;top:0px;"></i>
                                    <span style="top:-2px;color:black;">Transfer</span>
                                </button>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>


    </div>

</section>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="~/Swalalert/sweetalert-dev.js"></script>
<script>
    $(document).ready(function () {
        var message = '@TempData["success"]';
        if (message != "" && message != null) {
            //swal("Good job!", message, "success");

        }
        var slab = '@TempData["slabname"]';
        if (slab != "" && slab != null) {
            //swal("Ooops!", slab, "error");

        }
    });
</script>

