@model List<Vastwebmulti.Areas.ADMIN.Models.money>
@{
    Layout = null;
}

<table class="table table-bordered table-striped table-hover dataTable js-exportable ">
    <thead class="navbar" style="color:white;position:inherit;">
        <tr>
            <th style="padding-left:0px; text-align:center">Type</th>
            <th style="padding-left:0px;text-align:center">Min Value</th>
            <th style="padding-left:0px;text-align:center">Max Value</th>
            <th style="padding-left:0px;text-align:center">Commission</th>
        </tr>
    </thead>
    <tbody id="Money_show">
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.type)</td>
                <td> @Html.DisplayFor(modelItem => item.min)</td>
                <td> @Html.DisplayFor(modelItem => item.max)</td>
                <td> @Html.DisplayFor(modelItem => item.comm)</td>
            </tr>
        }
    </tbody>
    
</table>