
@{
   ViewBag.Title = "TargetHistory";
    Layout = "~/Areas/MASTER/Views/Shared/_Layout.cshtml";
}


<style>
    .target-tab .active a{
        background-color:  var(--main-bg-rcolor) !important;font-weight: 600;
    }
    section.content {margin: 80px 0px 0 164px;}

    .master-four-design .tab1 .nav-pills > li span {
        font-size: 10px;
    }

    @@media screen and (max-width:1366px){
        .navmonthmaster-second li {
            width: 100% !important;float: left;margin: 0px !important;margin-bottom: 0px;margin-bottom: 10px !important;
        }
        .full-master-secondmargin-row .row{margin:0px;}
    }
    @@media screen and (max-width:992px){
        .col-md-4, .col-md-8 {width:100%;float:left;padding: 0px;}
        .targettab-master-second ul li a {writing-mode: inherit !important;}
        .targettab-master-second ul li {width: auto !important;float: left;}
        .targettab-master-second ul {
            border-right: 0px !important;border-bottom: 1px solid var(--main-bg-rcolor);padding-bottom: 10px;
        }
        .targettab-master-second table {
            width: 100%;float: left;border-left: 1px solid #aaa4a4 !important;
         }

    }

    @@media screen and (max-width:766px){
        .full-master-secondmargin-row {padding-left:0px;}
    }

</style>
<section class="content" style="">
    <div class="container-fluid full-master-secondanimation full-master-secondmargin-row">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>User Management</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0);">My Targets</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row">
            <div class="col-md-4">
                <div class="tab1 ">

                    <ul class="nav nav-pills navmonthmaster-second">
                        <li class="active"><a data-toggle="pill" href="#first"><span>Last month</span> January</a></li>
                        <li><a data-toggle="pill" href="#second"><span>Current month</span> February</a></li>
                        <li><a data-toggle="pill" href="#third"><span>Next month</span> March</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div id="first" class="tab-pane fade in active">

                        <div class="dhmak fullbodydycolorbg ">
                            <h1>Extra Dhamaka</h1>
                            <span>Target Basis Extra Income</span>
                        </div>
                        <div class="tab2 target-tab targettab-master-second dealer-box-back-four">
                            <div class="row">
                                <div class="col-md-2 col-sm-6 ">
                                    <ul class="nav nav-pills">
                                        <li class="active"><a data-toggle="pill" href="#home">All Busines</a></li>
                                        <li><a data-toggle="pill" href="#menu1">Prepaid & DTH</a></li>
                                        <li><a data-toggle="pill" href="#menu2">Utilities</a></li>
                                        <li><a data-toggle="pill" href="#menu3">Financials</a></li>
                                        <li><a data-toggle="pill" href="#menu4">Travel&nbsp;&&nbsp;Hotels</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-10 col-sm-6 pl-0">
                                    <div class="tab-content">
                                        <div id="home" class="tab-pane fade in active target-basic">
                                            <h3>RS. 500000/-</h3>
                                            <p>business Required on Calendar Month</p>
                                            <div class="table-responsive ">
                                                <table class="table table-bordered ">
                                                    <thead>
                                                        <tr>
                                                            <td colspan="2">Achievement Benifit</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>60% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #fa0000;">70% Achivement</td>
                                                            <td>
                                                                <img src="~/AdminDesign/images/Carpenters Work.png" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #e67000;">80% Achivement</td>
                                                            <td><span> &#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #6e9805;">90% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #06ac75;">100% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="menu1" class="tab-pane fade target-basic">
                                            <h3>RS. 500000/-</h3>
                                            <p>business Required on Calendar Month</p>
                                            <div class="table-responsive ">
                                                <table class="table table-bordered ">
                                                    <thead>
                                                        <tr>
                                                            <td colspan="2">Achievement Benifit</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>60% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #fa0000;">70% Achivement</td>
                                                            <td>
                                                                <img src="~/AdminDesign/images/Carpenters Work.png" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #e67000;">80% Achivement</td>
                                                            <td><span> &#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #6e9805;">90% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #06ac75;">100% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="menu2" class="tab-pane fade target-basic">
                                            <h3>RS. 500000/-</h3>
                                            <p>business Required on Calendar Month</p>
                                            <div class="table-responsive ">
                                                <table class="table table-bordered ">
                                                    <thead>
                                                        <tr>
                                                            <td colspan="2">Achievement Benifit</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>60% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #fa0000;">70% Achivement</td>
                                                            <td>
                                                                <img src="~/AdminDesign/images/Carpenters Work.png" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #e67000;">80% Achivement</td>
                                                            <td><span> &#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #6e9805;">90% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #06ac75;">100% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="menu3" class="tab-pane fade target-basic">
                                            <h3>RS. 500000/-</h3>
                                            <p>business Required on Calendar Month</p>
                                            <div class="table-responsive ">
                                                <table class="table table-bordered ">
                                                    <thead>
                                                        <tr>
                                                            <td colspan="2">Achievement Benifit</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>60% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #fa0000;">70% Achivement</td>
                                                            <td>
                                                                <img src="~/AdminDesign/images/Carpenters Work.png" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #e67000;">80% Achivement</td>
                                                            <td><span> &#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #6e9805;">90% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #06ac75;">100% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="menu4" class="tab-pane fade target-basic">
                                            <h3>RS. 500000/-</h3>
                                            <p>business Required on Calendar Month</p>
                                            <div class="table-responsive ">
                                                <table class="table table-bordered ">
                                                    <thead>
                                                        <tr>
                                                            <td colspan="2">Achievement Benifit</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>60% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #fa0000;">70% Achivement</td>
                                                            <td>
                                                                <img src="~/AdminDesign/images/Carpenters Work.png" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #e67000;">80% Achivement</td>
                                                            <td><span> &#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #6e9805;">90% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #06ac75;">100% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="second" class="tab-pane fade in">
                        <div class="dhmak fullbodydycolorbg ">
                            <h1>Extra Dhamaka</h1>
                            <span>Target Basis Extra Income</span>
                        </div>
                        <div class="tab2 target-tab">
                            <div class="row">
                                <div class="col-md-2 col-sm-6 ">
                                    <ul class="nav nav-pills">
                                        <li class="active"><a data-toggle="pill" href="#home1">All Busines</a></li>
                                        <li><a data-toggle="pill" href="#menu11">Prepaid & DTH</a></li>
                                        <li><a data-toggle="pill" href="#menu21">Utilities</a></li>
                                        <li><a data-toggle="pill" href="#menu31">Financials</a></li>
                                        <li><a data-toggle="pill" href="#menu41">Travel&nbsp;&&nbsp;Hotels</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-10 col-sm-6 pl-0">
                                    <div class="tab-content">
                                        <div id="home1" class="tab-pane fade in active target-basic">
                                            <h3>RS. 500000/-</h3>
                                            <p>business Required on Calendar Month</p>
                                            <div class="table-responsive ">
                                                <table class="table table-bordered ">
                                                    <thead>
                                                        <tr>
                                                            <td colspan="2">Achievement Benifit</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>60% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #fa0000;">70% Achivement</td>
                                                            <td>
                                                                <img src="~/AdminDesign/images/Carpenters Work.png" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #e67000;">80% Achivement</td>
                                                            <td><span> &#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #6e9805;">90% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #06ac75;">100% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="menu11" class="tab-pane fade target-basic">
                                            <h3>RS. 500000/-</h3>
                                            <p>business Required on Calendar Month</p>
                                            <div class="table-responsive ">
                                                <table class="table table-bordered ">
                                                    <thead>
                                                        <tr>
                                                            <td colspan="2">Achievement Benifit</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>60% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #fa0000;">70% Achivement</td>
                                                            <td>
                                                                <img src="~/AdminDesign/images/Carpenters Work.png" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #e67000;">80% Achivement</td>
                                                            <td><span> &#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #6e9805;">90% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #06ac75;">100% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="menu21" class="tab-pane fade target-basic">
                                            <h3>RS. 500000/-</h3>
                                            <p>business Required on Calendar Month</p>
                                            <div class="table-responsive ">
                                                <table class="table table-bordered ">
                                                    <thead>
                                                        <tr>
                                                            <td colspan="2">Achievement Benifit</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>60% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #fa0000;">70% Achivement</td>
                                                            <td>
                                                                <img src="~/AdminDesign/images/Carpenters Work.png" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #e67000;">80% Achivement</td>
                                                            <td><span> &#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #6e9805;">90% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #06ac75;">100% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="menu31" class="tab-pane fade target-basic">
                                            <h3>RS. 500000/-</h3>
                                            <p>business Required on Calendar Month</p>
                                            <div class="table-responsive ">
                                                <table class="table table-bordered ">
                                                    <thead>
                                                        <tr>
                                                            <td colspan="2">Achievement Benifit</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>60% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #fa0000;">70% Achivement</td>
                                                            <td>
                                                                <img src="~/AdminDesign/images/Carpenters Work.png" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #e67000;">80% Achivement</td>
                                                            <td><span> &#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #6e9805;">90% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #06ac75;">100% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="menu41" class="tab-pane fade target-basic">
                                            <h3>RS. 500000/-</h3>
                                            <p>business Required on Calendar Month</p>
                                            <div class="table-responsive ">
                                                <table class="table table-bordered ">
                                                    <thead>
                                                        <tr>
                                                            <td colspan="2">Achievement Benifit</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>60% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #fa0000;">70% Achivement</td>
                                                            <td>
                                                                <img src="~/AdminDesign/images/Carpenters Work.png" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #e67000;">80% Achivement</td>
                                                            <td><span> &#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #6e9805;">90% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #06ac75;">100% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="third" class="tab-pane fade in">
                        <div class="dhmak fullbodydycolorbg ">
                            <h1>Extra Dhamaka</h1>
                            <span>Target Basis Extra Income</span>
                        </div>
                        <div class="tab2 target-tab">
                            <div class="row">
                                <div class="col-md-2 col-sm-6 ">
                                    <ul class="nav nav-pills">
                                        <li class="active"><a data-toggle="pill" href="#home2">All Busines</a></li>
                                        <li><a data-toggle="pill" href="#menu12">Prepaid & DTH</a></li>
                                        <li><a data-toggle="pill" href="#menu22">Utilities</a></li>
                                        <li><a data-toggle="pill" href="#menu32">Financials</a></li>
                                        <li><a data-toggle="pill" href="#menu42">Travel&nbsp;&&nbsp;Hotels</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-10 col-sm-6 pl-0">
                                    <div class="tab-content">
                                        <div id="home2" class="tab-pane fade in active target-basic">
                                            <h3>RS. 500000/-</h3>
                                            <p>business Required on Calendar Month</p>
                                            <div class="table-responsive ">
                                                <table class="table table-bordered ">
                                                    <thead>
                                                        <tr>
                                                            <td colspan="2">Achievement Benifit</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>60% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #fa0000;">70% Achivement</td>
                                                            <td>
                                                                <img src="~/AdminDesign/images/Carpenters Work.png" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #e67000;">80% Achivement</td>
                                                            <td><span> &#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #6e9805;">90% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #06ac75;">100% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="menu12" class="tab-pane fade target-basic">
                                            <h3>RS. 500000/-</h3>
                                            <p>business Required on Calendar Month</p>
                                            <div class="table-responsive ">
                                                <table class="table table-bordered ">
                                                    <thead>
                                                        <tr>
                                                            <td colspan="2">Achievement Benifit</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>60% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #fa0000;">70% Achivement</td>
                                                            <td>
                                                                <img src="~/AdminDesign/images/Carpenters Work.png" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #e67000;">80% Achivement</td>
                                                            <td><span> &#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #6e9805;">90% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #06ac75;">100% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="menu22" class="tab-pane fade target-basic">
                                            <h3>RS. 500000/-</h3>
                                            <p>business Required on Calendar Month</p>
                                            <div class="table-responsive ">
                                                <table class="table table-bordered ">
                                                    <thead>
                                                        <tr>
                                                            <td colspan="2">Achievement Benifit</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>60% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #fa0000;">70% Achivement</td>
                                                            <td>
                                                                <img src="~/AdminDesign/images/Carpenters Work.png" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #e67000;">80% Achivement</td>
                                                            <td><span> &#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #6e9805;">90% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #06ac75;">100% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="menu32" class="tab-pane fade target-basic">
                                            <h3>RS. 500000/-</h3>
                                            <p>business Required on Calendar Month</p>
                                            <div class="table-responsive ">
                                                <table class="table table-bordered ">
                                                    <thead>
                                                        <tr>
                                                            <td colspan="2">Achievement Benifit</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>60% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #fa0000;">70% Achivement</td>
                                                            <td>
                                                                <img src="~/AdminDesign/images/Carpenters Work.png" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #e67000;">80% Achivement</td>
                                                            <td><span> &#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #6e9805;">90% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #06ac75;">100% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="menu42" class="tab-pane fade target-basic">
                                            <h3>RS. 500000/-</h3>
                                            <p>business Required on Calendar Month</p>
                                            <div class="table-responsive ">
                                                <table class="table table-bordered ">
                                                    <thead>
                                                        <tr>
                                                            <td colspan="2">Achievement Benifit</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>60% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #fa0000;">70% Achivement</td>
                                                            <td>
                                                                <img src="~/AdminDesign/images/Carpenters Work.png" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #e67000;">80% Achivement</td>
                                                            <td><span> &#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #6e9805;">90% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="color: #06ac75;">100% Achivement</td>
                                                            <td><span>&#x20b9;&nbsp;5000rs</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="target-history dealer-box-back-four">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover" id="mastermindTable">
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Target Month</th>
                                    <th>Total Target</th>
                                    <th>Achieved</th>
                                    <th> Business</th>
                                    <th>Benifit</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Utilites</td>
                                    <td>March,2020</td>
                                    <td>456</td>
                                    <td>56%</td>
                                    <td>456783</td>
                                    <td>4567</td>
                                    <td> 19-march-2020</td>
                                </tr>
                                <tr>
                                    <td>Utilites</td>
                                    <td>March,2020</td>
                                    <td>456</td>
                                    <td>56%</td>
                                    <td>456783</td>
                                    <td>4567</td>
                                    <td> 19-march-2020</td>
                                </tr>
                                <tr>
                                    <td>Utilites</td>
                                    <td>March,2020</td>
                                    <td>456</td>
                                    <td>56%</td>
                                    <td>456783</td>
                                    <td>4567</td>
                                    <td> 19-march-2020</td>
                                </tr>
                                <tr>
                                    <td>Utilites</td>
                                    <td>March,2020</td>
                                    <td>456</td>
                                    <td>56%</td>
                                    <td>456783</td>
                                    <td>4567</td>
                                    <td> 19-march-2020</td>
                                </tr>
                                <tr>
                                    <td>Utilites</td>
                                    <td>March,2020</td>
                                    <td>456</td>
                                    <td>56%</td>
                                    <td>456783</td>
                                    <td>4567</td>
                                    <td> 19-march-2020</td>
                                </tr>
                                <tr>
                                    <td>Utilites</td>
                                    <td>March,2020</td>
                                    <td>456</td>
                                    <td>56%</td>
                                    <td>456783</td>
                                    <td>4567</td>
                                    <td> 19-march-2020</td>
                                </tr>
                                <tr>
                                    <td>Utilites</td>
                                    <td>March,2020</td>
                                    <td>456</td>
                                    <td>56%</td>
                                    <td>456783</td>
                                    <td>4567</td>
                                    <td> 19-march-2020</td>
                                </tr>
                                <tr>
                                    <td>Utilites</td>
                                    <td>March,2020</td>
                                    <td>456</td>
                                    <td>56%</td>
                                    <td>456783</td>
                                    <td>4567</td>
                                    <td> 19-march-2020</td>
                                </tr>
                                <tr>
                                    <td>Utilites</td>
                                    <td>March,2020</td>
                                    <td>456</td>
                                    <td>56%</td>
                                    <td>456783</td>
                                    <td>4567</td>
                                    <td> 19-march-2020</td>
                                </tr>
                                <tr data-no-results-found style="display:none;text-align:center;"><td colspan="7">DATA NOT FOUND</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<script>
   $.fn.AddNoRowsFound = function() {
        if($(this).find('tbody tr:not([data-no-results-found]):visible').length > 0) {
        $(this).find('tbody tr[data-no-results-found]').hide();
        }
        else {
        $(this).find('tbody tr[data-no-results-found]').show();
        }
   };

    $('#mastermindTable').AddNoRowsFound();
</script>