
@model Vastwebmulti.Areas.RETAILER.ViewModels.BusSearchResultVM
<section class="content">
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar sidebar-searchfilter searchfilterrewqy searchfiltermarginnone-reds searchfilterrewqy-respon" style="width:22%;">
        <!-- Menu -->
        <div class="menu">
            <div class="busfilter-responsivescroll" style="padding-left:1px; position: relative;overflow-y: inherit; height: auto">
                @*<ul class="list">
                        <li class="header" id="Catagories_li" style="cursor: pointer;">Filters</li>
                    </ul>*@
                <div class="filterHeader">
                    <span><strong>Bus Type</strong></span>
                </div>
                <div class="demo-checkbox checkbox-firstclass">
                    <input type="checkbox" id="md_checkbox_21" value="ALL" class="filled-in chk-col-blue busTypeFilter" checked="">
                    <label for="md_checkbox_21">All Bus Types</label>
                    <input type="checkbox" id="md_checkbox_22" value="AC" class="filled-in chk-col-blue busTypeFilter" checked="">
                    <label for="md_checkbox_22">A/C</label>
                    <input type="checkbox" id="md_checkbox_23" value="NONAC" class="filled-in chk-col-blue busTypeFilter" checked="">
                    <label for="md_checkbox_23">Non A/C</label>
                    <input type="checkbox" id="md_checkbox_24" value="SEATER" class="filled-in chk-col-blue busTypeFilter" checked="">
                    <label for="md_checkbox_24">Seater</label>
                    <input type="checkbox" id="md_checkbox_25" value="SLEEPER" class="filled-in chk-col-blue busTypeFilter" checked="">
                    <label for="md_checkbox_25">Sleeper</label>
                </div>
                <div class="filterHeader">
                    <span><strong>Bus Operators</strong></span>
                </div>
                <div class="demo-checkbox">
                    <input type="checkbox" id="md_checkbox_ALL_Opt" value="ALL" class="filled-in chk-col-blue busOptNameFilter" checked="">
                    <label for="md_checkbox_ALL_Opt">ALL Buses</label>
                    @foreach (var item in Model.Content.Addinfo.BusResults.GroupBy(a => a.TravelName).ToList())
                    {
                        <input type="checkbox" id="md_checkbox_@item.FirstOrDefault().OperatorId" value="@item.FirstOrDefault().TravelName" class="filled-in chk-col-blue busOptNameFilter" checked="">
                        <label for="md_checkbox_@item.FirstOrDefault().OperatorId">@item.FirstOrDefault().TravelName</label>
                    }
                </div>
                <div class="customebackbusss">
                    <div class="filterHeader">
                        <span><strong>Price Range</strong></span>
                    </div>
                    <div>
                        <div class="range-slider">
                            <input type="text" class="js-range-slider" name="my_range" value="" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal" style="display:none;">
            <div class="copyright">
                &copy; 2018 - 2019 <a href="javascript:void(0);">@ViewBag.FirmName</a>.
            </div>
            <div class="version">
                <b>Version: </b> 1.0
            </div>
        </div>
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->
</section>

<script>
    $(".js-range-slider").ionRangeSlider({
        skin: "round",
        type: "single",
        min: 0,
        max: 3000,
        from: 2500,
        step: 1,
        grid: true,
        onFinish: function (data) {
            // Called then action is done and mouse is released
            //alert(data.from);
            //console.log(data.max);
            var min =  data.min;
            var max =  data.from;
            //console.log('min ' + min);
            //console.log('to ' + max);
            var list = document.getElementsByClassName("seatcolmd12");
            var i = 0;
            for (var item of list) {

                var dataMin = list[i].getAttribute('data-bus-price-min');
                var dataMax = list[i].getAttribute('data-bus-price-max');
                if (dataMin >= min && dataMin <= max)
                {
                    $("div").find("[data-bus-price-min='" + dataMin + "']").show();
                } else {
                    $("div").find("[data-bus-price-min='" + dataMin + "']").hide();
                }
                i++;
            }
        },
    });
</script>