a{
  text-decoration: none;
}
  /*Footer Css*/
  #footer {
    /* background: #191919; */
    /* padding: 0 0 30px 0; */
    color: #fff;
    font-size: 14px
}

#footer .footer-newsletter {
    padding: 50px 0;
    background: #404040
}

#footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600
}

#footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px
}

#footer .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 8px;
    width: calc(100% - 140px)
}

#footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 30px;
    margin: 3px;
    background-image: linear-gradient(to right, rgb(1 186 233), rgb(9 84 139));
    color: #fff;
    transition: 0.3s;
    border-radius: 50px
}

#footer .footer-newsletter form input[type="submit"]:hover {
    background: #e6573f
}

#footer .footer-top {
    background: #212121;
    /* border-top: 1px solid #01bae9;
    border-bottom: 1px solid #01bae9; */
    padding: 27px 0 0px 0
}

#footer .footer-top .footer-info {
    margin-bottom: 30px
}

#footer .footer-top .footer-info h3 {
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #545454;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s
}



#footer .footer-top .social-links a:hover {
    background: #1b74e8;
    color: #fff;
    text-decoration: none
}




#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px
}

#footer .footer-top .footer-links {
    margin-bottom: 30px
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #ec7f6d;
    font-size: 18px;
    line-height: 1
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0
}

#footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1
}

#footer .footer-top .footer-links ul a:hover {
    color: #3ca3d8;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px
}

#footer .footer-top .footer-contact p {
    line-height: 26px
}

#footer .copyright {
    text-align: center;
    padding-top: 30px
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff
}


  /*Footer Social Icons Hover Iffect*/

    .twitter:hover{
        background-color:   #1DA1F2;
    }
  /*Footer Social Icons Hover Iffect*/


  .owl-carousel .owl-item img {
    display: block;
    /* width: 100%; */
}



/* Input Css Start */

.password1 {
  /* position: absolute; */
  background-color: #e8e8e8;
  color: #F1F1F1;
  /* padding: 5px; */
  height: 51px;
  border-top-left-radius: 11px 11px;
  border-bottom-left-radius: 11px 11px;
  /* z-index: 9; */
}

.input1 {
  /* LEFT: 61PX; */
  /* position: relative; */
  width: 301px;
  border: none;
  border:1px solid #29166f;
  background:none;
  background-color: #f2eeff;
  height: 51px;
  /* top: 4px; */
  border-radius: 9px;
  font-size: 12px;
  font-weight: bold;
}


.input-group-text {	
	background-color: #b6b0ce;
	border: 1px solid #29166f;
	border-radius: .25rem;
}


.form-control:focus {
	color:#c6b8f2;
	background-color: #fff;
	border-color: #fff;
	outline: 0;
	box-shadow: none;
	border:1px solid #29166f;
}


.btn {
  background:#291670;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  min-width: 160px;
  border-radius: 5px;
  padding: 10px 25px;
  border: none;
}


.btn-primary:hover {
	color: #fff;
	background-color: #da251c !important;
	border-color: #da251c !important;
}

.new-btn-center{
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}


.logo-center{
  margin-left: 66px;
}

.login-bgtrr{
  background-color: #f7f9fd;
  padding: 40px;
  /* border-radius: 10px; */
  /* border: 5px solid #000;*/
  
}

.text-right-forget{
  align-items: end;
  justify-content: end;
  display: flex;
}

.g2o-height{
  width: 18% ;
}