<div class="verify-form" style="display:none;">
    <div class="">
        <div class="col-md-12">
            <h2>One Time Password</h2>
        </div>
    </div>
    @using (Html.BeginForm("VerifyCode", "Account", new { ReturnUrl = ViewBag.returnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("provider", TempData["provider"])
        <input type="hidden" name="rememberMe" value="@ViewBag.rememberMe" />
        <div class="">
            <div class="col-md-12" style="text-align:center;">
                <div class="digit-group" data-group-name="digits" data-autosubmit="false" autocomplete="off">
                    <input type="text" id="digit-1" name="digit-1" data-next="digit-2" autocomplete="off" maxlength="1"><input type="text" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1" autocomplete="off" maxlength="1"><input type="text" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2" autocomplete="off" maxlength="1"><input type="text" id="digit-4" name="digit-4" data-next="digit-5" data-previous="digit-3" autocomplete="off" maxlength="1"><input type="text" id="digit-5" name="digit-5" data-next="digit-6" data-previous="digit-4" autocomplete="off" maxlength="1"><input type="text" id="digit-6" name="digit-6" data-previous="digit-5" autocomplete="off" maxlength="1">
                </div>
            </div>
        </div>
        <div class=" justify-content-end" style="text-align:center;">
            <div class="col-md-12">
                <button type="submit">Submit</button>
                <button type="submit">Resend OTP</button>
            </div>

        </div>
    }
</div>

<script>
    $("#digit-1, #digit-2, #digit-3, #digit-4, #digit-5, #digit-6").on("keyup", function () {

        var OtpDigit = $("#digit-1").val() + $("#digit-2").val() + $("#digit-3").val() + $("#digit-4").val() + $("#digit-5").val() + $("#digit-6").val();


        if (OtpDigit.length == 6) {
            $('#Code').val(OtpDigit);

            $('#subHere').click();
        }
    });
</script>

<script>
    $('.digit-group').find('input').each(function () {
        $(this).attr('maxlength', 1);
        $(this).on('keyup', function (e) {
            var parent = $($(this).parent());

            if (e.keyCode === 8 || e.keyCode === 37) {
                var prev = parent.find('input#' + $(this).data('previous'));

                if (prev.length) {
                    $(prev).select();
                }
            } else if ((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 65 && e.keyCode <= 90) || (e.keyCode >= 96 && e.keyCode <= 105) || e.keyCode === 39) {
                var next = parent.find('input#' + $(this).data('next'));

                if (next.length) {
                    $(next).select();
                } else {
                    if (parent.data('autosubmit')) {
                        parent.submit();
                    }
                }
            }
        });
    });
</script>