
<!-- /#LOADER HTML -->
<div id="loadermoney" style="display:none;">
    <div class="loader_innner">
        <img src="../../images/MoneyTransferLoader.gif" class="img-responsive" />
    </div>
</div>
<style>
    #loadermoney {
        background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 999999;
    }

    .loader_innner {
        margin: 25% auto 0;
        width: 10%;
        text-align: center;
    }
</style>
