@model List<Vastwebmulti.Areas.ADMIN.Models.DTH>
@{
    Layout = null;
}

<table class="table table-bordered table-striped table-hover dataTable js-exportable">
    <thead class="navbar" style="color:white;position:inherit;">
    <tr>
        <th style="padding-left:0px; text-align:center">Operator Name</th>
        <th style="padding-left:0px;text-align:center">Commission</th>
    </tr>
    </thead>
    <tbody id="PrePaid_show">
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.OperatorName)</td>
            <td> @Html.DisplayFor(modelItem => item.commission)</td>
        </tr>
    }
    </tbody>
</table>