<style>
    #ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        #ul li {
            float: left;
        }

            #ul li a {
                display: block;
                text-align: center;
                padding: 5px 10px;
                text-decoration: none;
                border: 1px solid #b1a6a638;
                position: initial;
            }

                #ul li a:hover:not(.activee) {
                    background-color: #FFC107;
                    color: black;
                    border: 1px solid #b1a6a6;
                }
                .kklo #custnav ul li a.activee.navbar img.reportnone {
    display: none;
}
                .kklo #custnav ul li a.activee.navbar img.reportblock {
    display: block;
}
                .kklo #custnav ul li a img.reportblock {
    display: none;
}

    .activee {
        color: white;
        margin-bottom: 0px;
        background-color: black;
    }
    /*.activee {

        background-color: black;
    }*/
    /*.activee:hover {
            color: white;
            border: 1px solid #00000026;
        }*/
   
</style>
<div class="kklo">
    <div id="custnav" style="padding-top:0px;">
        <ul id="ul">
            <li><a href="~/MASTER/Home/Money_transfer_Report"><img class="reportnone" src="~/AdminDesign/images/money(1).svg"><img class="reportblock" style="" src="~/AdminDesign/images/business.svg">DMT</a></li>
            <li><a href="~/MASTER/Home/m_Possreport"><img class="reportnone" src="~/images/mpos1.png"><img class="reportblock" style="" src="~/images/mposicon.png">M-POS</a></li>
            <li><a href="~/MASTER/Home/Aeps_Report"><img class="reportnone" src="~/images/aeps1.png"><img class="reportblock" style="" src="~/images/aespicon.png">AEPS</a></li>
            @*<li><a href="~/ADMIN/Home/FeeCollection">Fees</a></li>*@
            <li><a href="~/MASTER/Home/Pancard_Report"><img class="reportnone" src="~/images/pancarde1.png"><img class="reportblock" style="" src="~/images/pancardicon.png">Pan&nbsp;Card</a></li>
        </ul>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(function () {
        var current = location.pathname;
        $('#custnav li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('activee');
                $this.addClass('navbar');

            }
        })
    });
</script>

