

<style>
    #ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        #ul li {
            float: left;
        }

            #ul li a {
                display: block;
                text-align: center;
                padding: 5px 10px;
                text-decoration: none;
                border: 1px solid #b1a6a638;
                position: initial;
            }

                #ul li a:hover:not(.activee) {
                    background-color: #FFC107;
                    color: black;
                    border: 1px solid #b1a6a6;
                }
                .kklo #custnav ul li a img.reportblock {
    display: none;
}
                .kklo #custnav ul li a.activee.navbar img.reportblock {
    display: block;
}
                .kklo #custnav ul li a.activee.navbar img.reportnone {
    display: none;
}
    .activee {
        color: white;
        margin-bottom: 0px;
        background: #ff0012;
    }
    /*.activee:hover {
            color: white;
            border: 1px solid #00000026;
        }*/
</style>
<div class="kklo">
    <div id="custnav">
        <ul id="ul">
            <li><a href="@Url.Action("Flight_Report","Home")"><img class="reportnone" src="~/images/airplane.png"><img class="reportblock" style="" src="~/images/airplane.svg">Flight</a></li>
            <li><a href="@Url.Action("Bus_Report","Home")"><img class="reportnone" src="~/ashok-images/bus.svg"><img class="reportblock" style="" src="~/ashok-images/bus (1).svg">Bus</a></li>
            <li><a href="@Url.Action("HotelReport","Home")"><img class="reportnone" src="~/ashok-images/hotel.svg"><img class="reportblock" style="" src="~/ashok-images/hotel(1).svg">Hotel</a></li>
        </ul>
    </div>
</div>




<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        var current = location.pathname;
        $('#custnav li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('activee');
                $this.addClass('navbar');

            }
        })
    });
</script>

