@model Vastwebmulti.Areas.MASTER.Models.Token_PaidService_VM1
@{

    Layout = "~/Areas/WMASTER/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="">

                    <div class="col-md-7" style="padding: 0px;float: right;">
                        <div class="">

                            <div class="">

                                <div class="col-md-2" style="float:right;padding-right:0px;">

                                    <button data-toggle="modal" data-target="#defaultModal2" type="button" class="btn" style="float:right; height:32px;margin-top:3px; margin-left:-25px;border:1px solid #c7c2c2;background:#dedddd;" data-toggle="modal" data-target="#defaultModal">
                                        <i class="fa fa-plus" style="top:1px;font-size:14px;color:black;"></i>
                                        <span style="top:-1px;color:black;">Add Token's</span>
                                    </button>
                                 

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="margin-top:15px;">

                    <div class="body" style="padding:0px;">
                        <div class="table-responsive" style="position:inherit;">
                            <table id="MD_BuyTokenHistory" class="table table-bordered" style="width:100%;font-size:12px;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Purchasing&nbsp;By</th>
                                        <th>Purchase&nbsp;Token</th>
                                        <th>Price</th>
                                        <th>Pre&nbsp;Bal</th>
                                        <th>Debit</th>
                                        <th>Post&nbsp;Bal</th>
                                        <th>Purchased&nbsp;Date</th>
                                    </tr>
                                </thead>
                                <tbody id="trow" class="alin chnj">
                                    @{
                                        Html.RenderAction("_Tokenreport", "Home", new { Model = Model });
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</section>
<div class="modal fade tmw-joing-tokens custom-token-popup" id="defaultModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog model-height" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    Sign Up Token (Master Distributor)
                </h4>
            </div>

            <div class="modal-body">
                <div class="body">
                    <form>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="row">

                                    <div class="col-md-4 col-sm-4 col-xs-12 enter-token">
                                        <input type="hidden" name="tokenCount2" id="tokenCount2" value="1" />
                                        <div class="form-group">
                                            <ul class="jo-to-po-ul" style="margin-top:6px;">
                                                <li>
                                                    <button type="button" id="btnChildMinus2" class="btn  waves-effect btmPlusMinus2" onclick="onPluseMinuss(-1)" disabled="disabled">
                                                        <i class="fa fa-minus" aria-hidden="true" style="font-size:10px;color:#757979;top:0px;"></i>
                                                    </button>
                                                </li>
                                                <li><span id="showPhysicalCount2">1</span></li>
                                                <li>
                                                    <button type="button" id="btnChildPlus2" class="btn  waves-effect btmPlusMinus2" onclick="onPluseMinuss(1)">
                                                        <i class="fa fa-plus" aria-hidden="true" style="font-size:10px;color:#757979;top:0px;"></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <div class="modal-footer">
                                            
                                            <button type="button" class="btn waves-effect" data-dismiss="modal">
                                                <span>Close</span>
                                            </button>
                                            <button type="button" id="MdbtnSubmit" class="btn fullbodydycolorbg waves-effect btnssl2233 special-iii" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                <span style="color:#fff;">Verify & Sale Token</span>
                                            </button>

                                        </div>
                                    </div>
                                    </div>
                                </div>
                            <div class="col-md-12">
                                <div class="row ">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label id="Lblmsg2"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>


<script>
    function onPluseMinuss(v) {
        //alert(v);
        event.stopPropagation();
        var digiCount = parseInt($('#tokenCount2').val());
        if (v >= 0) {
            $('#tokenCount2').val(digiCount + v);
            $('#showPhysicalCount2').html(digiCount + v);
        } else {
            $('#tokenCount2').val(digiCount - 1);
            $('#showPhysicalCount2').html(digiCount - 1);
        }
        if (parseInt($('#tokenCount2').val()) >= 1) {
            $('#btnChildMinus2').prop('disabled', false);
        }
        if (parseInt($('#tokenCount2').val()) == 0) {
            $('#btnChildMinus2').prop('disabled', true);
        }
    }
</script>

<script>
    function converttoDate(str) {
        var date = new Date(str),
            mnth = ("0" + (date.getMonth() + 1)).slice(-2),
            day = ("0" + date.getDate()).slice(-2),
            Hrs = (date.getHours()),
            mnts = (date.getMinutes()),
            sec = (date.getSeconds());
        return dd = [day, mnth, date.getFullYear()].join("-") + " " + [Hrs + ":" + mnts + ":" + sec];
    }

    $('#MdbtnSubmit').click(function () {
        

        $.ajax({
            url: '@Url.Action("addTokenMaster1", "Home")',
            type: 'POST',
            data: {tokenCount: $("#tokenCount2").val() },
            cache: false,
            success: function (response) {
                if (response == "Insufficient balance." || response == "Set the Dealer token Value.") {
                    $("#Lblmsg2").css("color", 'red').text(response);
                    $("#defaultModal2").delay(1500).hide(0, function () {
                        $("#Lblmsg2").text('');
                        $("#defaultModal2").modal('hide');
                    });
                }
                else {
                    $("#Lblmsg2").css("color", 'green').text("Credited Successfully.");
                    $("#defaultModal2").delay(1000).hide(0, function () {
                        $("#Lblmsg2").text('');
                        $("#defaultModal2").modal('hide');
                    });
                }
                location.reload();
        
            }
        });



    })
</script>