
<style>
    #ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        #ul li {
            float: left;
            margin-right: 2px;
        }

            #ul li a {
                display: block;
                text-align: center;
                padding: 5px 9px;
                text-decoration: none;
                border: 1px solid #b1a6a638;
                position: initial;
            }

                #ul li a:hover:not(.activee1) {
                    background-color: var(--main-bg-lcolor);
                    color: #fff;
                    border: 1px solid #b1a6a6;
                }

    .activee1 {
        color: white;
        background-color: var(--main-bg-lcolor);
    }

    @@media only screen and (max-width:768px) {
        #ul {
            overflow: visible;
        }
    }

    @@media only screen and (max-width:480px) {
        #ul li a {
            margin-bottom: 5px;
        }
    }
</style>

<div id="custnav1" style="padding-top:5px;">
    <ul id="ul">
        <li><a href="~/API/Home/ApiSellgst">Sell&nbsp;Gst </a></li>
        <li><a href="~/API/Home/ApiPurchasegst">Purchase&nbsp;Gst</a></li>
        <li><a href="~/API/Home/uploadgst">Upload&nbsp;Gst</a></li>
        <li><a href="~/API/Home/ApiRechargeSellgst">Sell&nbsp;Recharge&nbsp;Gst </a></li>
        <li><a href="~/API/Home/uploadgstRecharge">Upload&nbsp;Recharge&nbsp;Gst </a></li>
    </ul>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        var current = location.pathname;
        $('#custnav1 li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('activee1');
                $this.addClass('navbar');
            }
        })
    });
</script>

