@model  IEnumerable<Vastwebmulti.Models.Operator_Code>
@{
    ViewBag.Title = "APIDOC";
    Layout = "~/Areas/API/Views/Shared/_Layout.cshtml";
}
<style>
    .api-doc-right {
        width: 100%;
        float: left;
    }
    #apirecharge {
        width: 100%;
        float: left;
    }
    #apirecharge1 {
        width: 100%;
        float: left;
    }
    #Whatsapp {
        width: 100%;
        float: left;
    }
    
    .api-doc-right .api-doc-right-in:not(:first-child)::before {
        display: none;
    }

    .master-four-design SPAN.fa.fa-file-pdf-o {
        font: normal normal normal 14px/1 FontAwesome !important;
    }

    .apidoc-button button {
        background: var(--main-bg-lcolor) !important;
        float:right;
        margin-bottom:15px;
    }

    @@media only screen and (max-width:480px) {
        .api-doc {
            width: 88%;
            height: auto;
            z-index: 9;
            margin-top: -7px;
        }
        .api-doc-right {
            margin-top: 110px;
        }
    }

</style>
<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>API Document's</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Developer's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">API Document's</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                <div class="api-doc">
                    <ul class="api-doc-in">
                        <li><a href="#apirecharge"><img src="~/AdminDesign/images/folder.svg" style="width:16px;margin-top:-4px;" />&nbsp;POST API</a></li>
                        <li><a href="#apirecharge1"><img src="~/AdminDesign/images/folder.svg" style="width:16px;margin-top:-4px;" />&nbsp;GET API</a></li>
                        <li><a href="#Whatsapp"><img src="~/AdminDesign/images/folder.svg" style="width:16px;margin-top:-4px;" />&nbsp;Whatsapp API</a></li>
                      @if (ViewBag.payoutsts)
                      {
                        <li><a href="~/Doc/PAYOUT API.pdf" download="Payout API" title="Click here to download PDF"><img src="~/AdminDesign/images/folder.svg" style="width:16px;margin-top:-4px;"/>&nbsp;Payout API</a></li>
                      }
                      @if (ViewBag.upists)
                      {
                        <li><a href="~/Doc/API FOR UPI.pdf" download="API FOR UPI" title="Click here to download PDF"><img src="~/AdminDesign/images/folder.svg" style="width:16px;margin-top:-4px;"/>&nbsp;UPI API</a></li>
                      }
                    </ul>
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-9">
                <div class="api-doc-right html-content">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 apidoc-button">
                        <button id="exportButton" onclick="PDF()" class="btn btn-lg btn-danger clearfix"><span class="fa fa-file-pdf-o"></span> Export to PDF</button>
                    </div>

                    <div id="apirecharge" class="api-doc-right-in">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p style="color:blue"><span style="color:black; font-size:16px;"><b>RECHARGE POST API</b></span></p>
                                            <div class="table-responsive" style="margin-bottom:10px;">
                                                <p style="color:blue"><span style="color:black; font-size:16px;"><b>URL:-</b></span>&nbsp;&nbsp; @ViewBag.websiteurl/Recharge/Recharge </p>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="margin-top:-16px;">
                                            <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                                <span style="font-size:17px;">Recharge Format:-</span>&nbsp;&nbsp;
                                            </p>
                                            <div class="table-responsive" style="margin-bottom:10px;">
                                                <p style="color:blue;"><span style="color:black; font-size:14px;">RequestType&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp;POST</p>
                                                <p style="color:blue;"><span style="color:black; font-size:14px;">Header&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp;content-type : application/json</p>
                                                <p style="color:blue;"><span style="color:black; font-size:14px;">Body&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp; {"Customernumber":"MobileNumber","Tokenid":"Your Register Token","Userid":"Your Register User Id","Amount":"10","Optcode":"Operator Code","Yourrchid":"Your Recharge Unique Id","optional1":"Optional1","optional2":" optional2"}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="body table-responsive" style="margin-bottom:4px;padding:3px;">
                                                <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;border-top:1px solid #f4f4f4;">
                                                    <span style="font-size:17px;">Recharge URL Parameter Example:-</span>&nbsp;&nbsp;
                                                </p>
                                                <table class="body table table-bordered" style="background:#f5f5f5;">
                                                    <thead style="background-color:whitesmoke;">
                                                        <tr>
                                                            <th>SR.No</th>
                                                            <th>Parameter</th>
                                                            <th>Parameter Value</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Customernumber </td>
                                                            <td>Recharge Number</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Tokenid </td>
                                                            <td>Your Register Token </td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>Userid </td>
                                                            <td>Your Register Email ID</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>Amount</td>
                                                            <td>Recharge Amount</td>
                                                        </tr>
                                                        <tr>
                                                            <td>5</td>
                                                            <td>Optcode </td>
                                                            <td>Operator Code (Details For Operator Code see Below)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>6</td>
                                                            <td>Yourrchid </td>
                                                            <td>Your Recharge ID (Must be Unique) </td>
                                                        </tr>
                                                        <tr>
                                                            <td>7</td>
                                                            <td>optional1 </td>
                                                            <td>(This is Optional Parameter For More See Below)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>8</td>
                                                            <td>optional2 </td>
                                                            <td>(This is Optional Parameter For More See Below) </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                                <span style="color:red; font-size:15px;margin-bottom:15px;display:block;">
                                                    NOTE:- In Prepaid , PostPaid And Dth Operator There is no Requirement For  optional1 and optional2
                                                </span>
                                                <table class="body table table-bordered" style="background:#f5f5f5;">
                                                    <thead style="background-color:whitesmoke;">
                                                        <tr>
                                                            <th>SR.No</th>
                                                            <th>Operator Name</th>
                                                            <th>Operator Type</th>
                                                            <th>Recharge Number</th>
                                                            <th>optional1</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Torrent Power - Surat</td>
                                                            <td>Electricity</td>
                                                            <td>Service Number</td>
                                                            <td>City</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Torrent Power - Ahmedabad</td>
                                                            <td>Electricity</td>
                                                            <td>Service Number</td>
                                                            <td>City</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>Torrent Power - Agra</td>
                                                            <td>Electricity</td>
                                                            <td>Service Number</td>
                                                            <td>City</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>Torrent Power - Bhiwandi</td>
                                                            <td>Electricity</td>
                                                            <td>Service Number</td>
                                                            <td>City</td>
                                                        </tr>
                                                        <tr>
                                                            <td>5</td>
                                                            <td> MSEDC - MAHARASHTRA</td>
                                                            <td>Electricity</td>
                                                            <td>Consumer No</td>
                                                            <td>BU</td>
                                                        </tr>
                                                        <tr>
                                                            <td>6</td>
                                                            <td> DHBVN-HARYANA</td>
                                                            <td>Electricity</td>
                                                            <td>Account Number</td>
                                                            <td>Mobile Number</td>
                                                        </tr>
                                                        <tr>
                                                            <td>7</td>
                                                            <td>UHBVN-HARYANA</td>
                                                            <td>Electricity</td>
                                                            <td>Account Number</td>
                                                            <td>Mobile Number</td>
                                                        </tr>
                                                        <tr>
                                                            <td>8</td>
                                                            <td>JBVNL-JHARKHAND</td>
                                                            <td>Electricity</td>
                                                            <td>Consumer Number</td>
                                                            <td>Subdivision Code</td>
                                                        </tr>
                                                        <tr>
                                                            <td>9</td>
                                                            <td>Government of Puducherry Electricity Department</td>
                                                            <td>Electricity</td>
                                                            <td>Consumer Number</td>
                                                            <td>Consumer Type( LT/ HT )</td>
                                                        </tr>
                                                        <tr>
                                                            <td>10</td>
                                                            <td>HP Gas</td>
                                                            <td>LPG Gas</td>
                                                            <td>Consumer Number</td>
                                                            <td>Distributor ID</td>
                                                        </tr>
                                                        <tr>
                                                            <td>11</td>
                                                            <td>Bharat Gas</td>
                                                            <td>LPG Gas</td>
                                                            <td>LPG ID</td>
                                                            <td>Registered Contact Number</td>
                                                        </tr>
                                                        <tr>
                                                            <td>12</td>
                                                            <td>Indane Gas</td>
                                                            <td>LPG Gas</td>
                                                            <td>Consumer Number</td>
                                                            <td>Distributor Code</td>
                                                        </tr>
                                                        <tr>
                                                            <td>13</td>
                                                            <td>Axis Bank FASTag</td>
                                                            <td>LPG Gas</td>
                                                            <td>Vehicle Registration Number</td>
                                                            <td>Amount</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <span style="color:red; font-size:15px;">
                                                    NOTE:- Except To The Above List There is No need To optional1
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="margin-top:-4px;">
                                            <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                                <span style="font-size:17px;">Recharge Response Format:-</span>&nbsp;&nbsp;
                                            </p>
                                            <div class="table-responsive" style="margin-bottom:10px;">
                                                <p style="color:blue;"><span style="color:black; font-size:14px;"></span>&nbsp;&nbsp; { "Status": "Failed", "Transid": "", "Errormsg": "This User is Not Register With Us.", "Remain": "0", "Yourrchid": "Your Recharge Unique Id", "RechargeID": "" }</p>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="margin-top:-20px;">
                                            <div class="body table-responsive" style="margin-bottom:4px;padding:3px;">
                                                <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;border-top:1px solid #f4f4f4;">
                                                    <span style="font-size:17px;">Recharge Response  Parameter Example:-</span>&nbsp;&nbsp;
                                                </p>
                                                <table class="body table table-bordered" style="background:#f5f5f5;">
                                                    <thead style="background-color:whitesmoke;">
                                                        <tr>
                                                            <th>SR.No</th>
                                                            <th>Parameter</th>
                                                            <th>Parameter Value</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Status  </td>
                                                            <td>Success or Failed or Pending</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Transid  </td>
                                                            <td>Operator End Transition ID</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>Errormsg  </td>
                                                            <td> Error Message </td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>Remain </td>
                                                            <td>Your Api Remain Balance</td>
                                                        </tr>
                                                        <tr>
                                                            <td>5</td>
                                                            <td>Yourrchid  </td>
                                                            <td>Your Recharge Unique Id</td>
                                                        </tr>
                                                        <tr>
                                                            <td>6</td>
                                                            <td>RechargeID  </td>
                                                            <td>Our Recharge ID</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="apirecharge1" class="api-doc-right-in">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="body">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <p style="color:blue"><span style="color:black; font-size:16px;"><b>RECHARGE GET API</b></span></p>
                                            <div class="table-responsive" style="margin-bottom:10px;">
                                                <p style="color:blue"><span style="color:black; font-size:16px;"><b>URL:-</b></span>&nbsp;&nbsp; @ViewBag.websiteurl/Recharge/Recharge_Get?UserID=RegisterEMAIL&Customernumber=RechargeNumber&Optcode=OperatorCode&Amount=Amount&Yourrchid=RechargeRCHID&Tokenid=RegisterTOKEN&optional1=&optional2= </p>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="margin-top:-16px;">
                                            <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                                <span style="font-size:17px;"> Recharge Format:-</span>&nbsp;&nbsp;
                                            </p>
                                            <div class="table-responsive" style="margin-bottom:10px;">
                                                <p style="color:blue;"><span style="color:black; font-size:14px;">RequestType&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp;GET</p>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="body table-responsive" style="margin-bottom:4px;padding:3px;">
                                                <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;border-top:1px solid #f4f4f4;">
                                                    <span style="font-size:17px;">Recharge URL Parameter Example:-</span>&nbsp;&nbsp;
                                                </p>
                                                <table class="body table table-bordered" style="background:#f5f5f5;">
                                                    <thead style="background-color:whitesmoke;">
                                                        <tr>
                                                            <th>SR.No</th>
                                                            <th>Parameter</th>
                                                            <th>Parameter Value</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Customernumber </td>
                                                            <td>Recharge Number</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Tokenid </td>
                                                            <td>Your Register Token </td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>Userid </td>
                                                            <td>Your Register Email ID</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>Amount</td>
                                                            <td>Recharge Amount</td>
                                                        </tr>
                                                        <tr>
                                                            <td>5</td>
                                                            <td>Optcode </td>
                                                            <td>Operator Code (Details For Operator Code see Below)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>6</td>
                                                            <td>Yourrchid </td>
                                                            <td>Your Recharge ID (Must be Unique) </td>
                                                        </tr>
                                                        <tr>
                                                            <td>7</td>
                                                            <td>optional1 </td>
                                                            <td>(This is Optional Parameter For More See Below)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>8</td>
                                                            <td>optional2 </td>
                                                            <td>(This is Optional Parameter For More See Below) </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                                <span style="color:red; font-size:15px;">
                                                    NOTE:- In Prepaid , PostPaid And Dth Operator There is no Requirement For  optional1 and optional2
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="margin-top:-4px;">
                                            <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                                <span style="font-size:17px;">Recharge Response Format:-</span>&nbsp;&nbsp;
                                            </p>
                                            <div class="table-responsive" style="margin-bottom:10px;">
                                                <p style="color:blue;"><span style="color:black; font-size:14px;"></span>&nbsp;&nbsp; { "Status": "Failed", "Transid": "", "Errormsg": "This User is Not Register With Us.", "Remain": "0", "Yourrchid": "Your Recharge Unique Id", "RechargeID": "" }</p>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="margin-top:-20px;">
                                            <div class="body table-responsive" style="margin-bottom:4px;padding:3px;">
                                                <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;border-top:1px solid #f4f4f4;">
                                                    <span style="font-size:17px;">Recharge Response  Parameter Example:-</span>&nbsp;&nbsp;
                                                </p>
                                                <table class="body table table-bordered" style="background:#f5f5f5;">
                                                    <thead style="background-color:whitesmoke;">
                                                        <tr>
                                                            <th>SR.No</th>
                                                            <th>Parameter</th>
                                                            <th>Parameter Value</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Status  </td>
                                                            <td>Success or Failed or Pending</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Transid  </td>
                                                            <td>Operator End Transition ID</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>Errormsg  </td>
                                                            <td> Error Message </td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>Remain </td>
                                                            <td>Your Api Remain Balance</td>
                                                        </tr>
                                                        <tr>
                                                            <td>5</td>
                                                            <td>Yourrchid  </td>
                                                            <td>Your Recharge Unique Id</td>
                                                        </tr>
                                                        <tr>
                                                            <td>6</td>
                                                            <td>RechargeID  </td>
                                                            <td>Our Recharge ID</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="Whatsapp" class="api-doc-right-in">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p style="color:blue"><span style="color:black; font-size:16px;"><b>WhatsApp API</b></span></p>
                                            <div class="table-responsive" style="margin-bottom:10px;">
                                                <p style="color:blue"><span style="color:black; font-size:16px;"><b>URL:-</b></span>&nbsp;&nbsp; @ViewBag.websiteurl/Whatsapp/whatsappSendSMS?userid=XXXX&tokenid=XXXX&message=XXXX&mobile=XXXX </p>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="body table-responsive" style="margin-bottom:4px;padding:3px;">
                                                <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;border-top:1px solid #f4f4f4;">
                                                    <span style="font-size:17px;">Request URL Parameter Example:-</span>&nbsp;&nbsp;
                                                </p>
                                                <table class="body table table-bordered" style="background:#f5f5f5;">
                                                    <thead style="background-color:whitesmoke;">
                                                        <tr>
                                                            <th>SR.No</th>
                                                            <th>Parameter</th>
                                                            <th>Parameter Value</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>userid </td>
                                                            <td>Your Register Email</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>tokenid </td>
                                                            <td>Your Register Token </td>
                                                        </tr>
                                                 
                                                        <tr>
                                                            <td>3</td>
                                                            <td>message</td>
                                                            <td>Whats App Message</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>mobile </td>
                                                            <td>Whats App Message</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                               
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="margin-top:-4px;">
                                            <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                                <span style="font-size:17px;">Response Format:-</span>&nbsp;&nbsp;
                                            </p>
                                            <div class="table-responsive" style="margin-bottom:10px;">
                                                <p style="color:blue;"><span style="color:black; font-size:14px;"></span>&nbsp;&nbsp; {"Message":"Message","Status":"Success/Failed"}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="margin-top:-20px;">
                                            <div class="body table-responsive" style="margin-bottom:4px;padding:3px;">
                                                <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;border-top:1px solid #f4f4f4;">
                                                    <span style="font-size:17px;"> Response  Parameter Example:-</span>&nbsp;&nbsp;
                                                </p>
                                                <table class="body table table-bordered" style="background:#f5f5f5;">
                                                    <thead style="background-color:whitesmoke;">
                                                        <tr>
                                                            <th>SR.No</th>
                                                            <th>Parameter</th>
                                                            <th>Parameter Value</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Status  </td>
                                                            <td>Success or Failed</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Message  </td>
                                                            <td>Response Message</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [

            ]
        });
    });
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script>
    var doc = new jsPDF();
    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };
    //Create PDf from HTML...
    function PDF() {
        doc.fromHTML($('.html-content').html(), 15, 15, {
            'width': 170,
            'elementHandlers': specialElementHandlers
        });
        doc.save('APIDOC.pdf');
    }
</script>