
@{
    ViewBag.Title = "Balancecheck";
    Layout = "~/Areas/API/Views/Shared/_Layout.cshtml";
}

<style>
    section.content {
        background-color: white;
        margin: 68px 0px 0 164px;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }

    .statuscheck-api div, .statuscheck-api * {
        border-color: #b3b3b3 !important;
    }
    @@media screen and (max-width:766px){
        .ls-closed section.content {
            margin-left: 0;
        }
        .table-responsive {
            border: 0;
        }
    }

</style>

    <section class="content" style="background: #eae9e9;height:100vh;">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 statuscheck-api">
                    <div class="card" style="background:transparent;">
                        <div class="body" style="padding-top:8px;">
                            <div class="row">

                                <div class="dealer-none-fourclass col-md-12">
                                    <div class="bread-same-all-page breadsameall-second" style="width:100%;float:left;">
                                        <ul class="" style="margin-bottom:0px;">
                                            <li class="smli" style="margin-bottom:0px;">
                                                <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                                                    Dashboard&nbsp;<img src="../../ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                                                </a>
                                            </li>
                                            <li class="fullbodydycolorbg tmw-total-color-one" style="margin-bottom:0px;">
                                                Balance check
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;margin-top:0px;">
                                        <span style="font-size:18px;">Balance Check API Documents:-</span>&nbsp;&nbsp;
                                    </p>

                                    <div class="table-responsive" style="border-bottom:1px solid #f4f4f4;padding-bottom:10px; margin-bottom: 30px; margin-bottom: 30px">
                                        <div class="table-responsive" style="margin-bottom:10px;">
                                            <div style="color:blue"><span style="color:black; font-size:16px;"><b>Method GET</b></span></div>
                                        </div>
                                        <div class="table-responsive" style="margin-bottom:10px;">
                                            <p style="color:blue"><span style="color:black; font-size:16px;"><b> URL:-</b></span>&nbsp;&nbsp; @ViewBag.website<span>Check?emailid=&tokenid=</span> </p>
                                        </div>
                                    </div>

                                    <div class="table-responsive" style="margin-bottom:10px;">
                                        <div style="color:blue"><span style="color:black; font-size:16px;"><b>Method Post</b></span></div>
                                    </div>
                                    <div class="table-responsive" style="margin-bottom:10px;">
                                        <p style="color:blue"><span style="color:black; font-size:16px;"><b> URL:-</b></span>&nbsp;&nbsp; @ViewBag.website </p>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top:-16px;">
                                    <p style="padding-bottom:10px;">
                                        <span style="font-size:17px;">Format:-</span>&nbsp;&nbsp;
                                    </p>

                                    <div class="table-responsive" style="margin-bottom:10px;">
                                        <p style="color:blue;"><span style="color:black; font-size:14px;">RequestType&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp;POST</p>
                                        <p style="color:blue;"><span style="color:black; font-size:14px;">Header&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp;content-type : application/json </p>
                                        <p style="color:blue;"><span style="color:black; font-size:14px;">Body&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp; {"userid":"Register Email","tokenid":"Register Token"}</p>
                                    </div>

                                    
                                </div>
                                
                                <div class="col-md-12" style="margin-top:-16px;">
                                    <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                        <span style="font-size:17px;">Success Response :-</span>&nbsp;&nbsp;
                                    </p>
                                    <div class="table-responsive" style="margin-bottom:10px;">
                                        <p style="color:blue;">
                                            <span style="color:black; font-size:14px;"></span>&nbsp;&nbsp;{
                                            "Status": "Success",
                                            "msg":"",
                                            "Remain":123
                                            }
                                        </p>
                                    </div>
                                    <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                        <span style="font-size:17px;">Failed Response :-</span>&nbsp;&nbsp;
                                    </p>
                                    <div class="table-responsive" style="margin-bottom:10px;">
                                        <p style="color:blue;">
                                            <span style="color:black; font-size:14px;"></span>&nbsp;&nbsp;{
                                            "Status": "Failed",
                                            "msg":"IP is Not Register",
                                            "Remain":0
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>






