
@{
    ViewBag.Title = "DMTDOC";
    Layout = "~/Areas/API/Views/Shared/_Layout.cshtml";
}
<style>
    section.content {
        background-color: white;
        margin: 67px 0px 0 164px;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    .fullapidocclass p, .fullapidocclass div {
        border-color: #b3b3b3 !important;
    }

    .dealer-four-design.master-four-design .badge a {
        background: var(--fullbodybg-four) !important;
    }
    .dealer-four-design section.content{padding-top:0px;}

    @@media screen and (max-width:1169px) {
        .ls-closed section.content {
            margin-left: 0;
        }
    }

    @@media screen and (max-width:766px){
        .table-responsive {
            border: 0 !important;
        }
        .fullapidocclass {
            padding: 0;
        }
    }

</style>
<section class="content" style="background: #eae9e9;">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fullapidocclass">
                <div class="card" style="background:transparent;">
                    <div class="body" style="padding-top:0px;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="" style="width:100%;float:left;border-bottom:1px solid #f4f4f4;padding-bottom: 5px;margin-bottom: 10px;padding-top:10px;">
                                    <p style="margin:0px;float:left;margin-top:7px;">
                                        <span style="font-size:18px;">Account Transfer API Documents:-</span>&nbsp;&nbsp;
                                    </p>

                                    <p class="badge" style="background-color:transparent;float:right;padding:0px;margin:0px;" title="Click to Downlaod Account Transfer API Document">
                                        <a href="~/images/reportimage/DMT API Documents.pdf" style="cursor:pointer;text-decoration:none;background: var(--main-bg-lcolor);color: #fff;padding: 10px 16px;border-radius: 0;float:left;" download="~/images/reportimage/DMT API Documents.pdf">
                                            <i class="fa fa-download" style="font-size:15px;padding-top:1px;padding-bottom:1px;color:#fff;"></i>&nbsp;<span style="padding-left:3px;color:#fff;position:relative;top:-2px;">Download</span>
                                        </a>
                                    </p>

                                </div>

                                <div class="table-responsive" style="margin-bottom:10px;width:100%;float:left;">
                                    <p style="color:blue"><span style="color:black; font-size:16px;"><b>Remitter Details URL:-</b></span>&nbsp;&nbsp; WebsiteURL/DMT/Remitter_details </p>
                                </div>
                            </div>

                            <div class="col-md-12" style="margin-top:-16px;">
                                <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                    <span style="font-size:17px;">Remitter Details Format:-</span>&nbsp;&nbsp;
                                </p>

                                <div class="table-responsive" style="margin-bottom:10px;">
                                    <p style="color:blue;"><span style="color:black; font-size:14px;">RequestType&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp;POST</p>
                                    <p style="color:blue;"><span style="color:black; font-size:14px;">Header&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp;content-type : application/json </p>
                                    <p style="color:blue;"><span style="color:black; font-size:14px;">Body&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp; {"Senderno":"Sender No","Tokenid":"Register Token","Userid":"Register Email"}</p>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-16px;">
                                <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                    <span style="font-size:17px;">Remitter Details Response :-</span>&nbsp;&nbsp;
                                </p>

                                <div class="table-responsive" style="margin-bottom:10px;">
                                    <p style="color:blue;">
                                        <span style="color:black; font-size:14px;"></span>&nbsp;&nbsp;{
                                        "status": "Success",
                                        "response": {
                                        "statuscode": "TXN",
                                        "status": "Success",
                                        "data": {
                                        "remitter": {
                                        "id": "",
                                        "name": "Sender Name",
                                        "mobile": "Sender No"

                                        },
                                        "beneficiary": [
                                        {
                                        "id": "BEID8c6AGsRGsSq",
                                        "name": "Dfgdfgfdg",
                                        "mobile": "",
                                        "account": "4554545546545546",
                                        "bank": "ABHYUDAYA CO-OP BANK",
                                        "ifsc": "ABHY0065001",
                                        "status": "1",
                                        "imps": "1",
                                        "last_success_date": "",
                                        "last_success_name": "",
                                        "last_success_imps": ""
                                        },
                                        {
                                        "id": "BEID9Tr4wtg6S86",
                                        "name": "Hdfc",
                                        "mobile": "",
                                        "account": "567567567567567567",
                                        "bank": "HDFC BANK",
                                        "ifsc": "HDFC0000240",
                                        "status": "1",
                                        "imps": "1",
                                        "last_success_date": "",
                                        "last_success_name": "",
                                        "last_success_imps": ""
                                        },
                                        {
                                        "id": "BEIDdDXaesRr8GA",
                                        "name": "Ssssss",
                                        "mobile": "",
                                        "account": "64646546546546465",
                                        "bank": "AXIS BANK",
                                        "ifsc": "UTIB0000004",
                                        "status": "1",
                                        "imps": "1",
                                        "last_success_date": "",
                                        "last_success_name": "",
                                        "last_success_imps": ""
                                        },
                                        {
                                        "id": "BEIDGNft9Gp9s85",
                                        "name": "Ffff",
                                        "mobile": "",
                                        "account": "654646465465465465",
                                        "bank": "HDFC BANK",
                                        "ifsc": "HDFC0000240",
                                        "status": "1",
                                        "imps": "1",
                                        "last_success_date": "",
                                        "last_success_name": "",
                                        "last_success_imps": ""
                                        },
                                        {
                                        "id": "BEIDsErpsasJRFS",
                                        "name": "Nnnnn",
                                        "mobile": "",
                                        "account": "4654646546466654",
                                        "bank": "BANK OF BARODA",
                                        "ifsc": "BARB0COLABA",
                                        "status": "1",
                                        "imps": "1",
                                        "last_success_date": "",
                                        "last_success_name": "",
                                        "last_success_imps": ""
                                        }
                                        ]
                                        }
                                        }
                                        }
                                    </p>

                                    <p style="color:red; font-size:15px;padding-top:7px;">
                                        NOTE : If Response statuscode ="RNF" Then Call Remitter Registration Service , If Status Code ="TXN" Then Not Required.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-16px;">
                                <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                    <span style="font-size:17px;">Another Response :-</span>&nbsp;&nbsp;
                                </p>

                                <div class="table-responsive" style="margin-bottom:10px;border-bottom:1px solid #f4f4f4;">
                                    <p style="color:blue;">
                                        <span style="color:black; font-size:14px;"></span>&nbsp;&nbsp;
                                        {
                                        "status": "Success",
                                        "response": {
                                        "statuscode": "RNF",
                                        "status": "User does not exists",
                                        "data": []
                                        }
                                        }
                                    </p>

                                </div>
                            </div>

                            <div class="col-md-12">

                                <div class="table-responsive" style="margin-bottom:10px;">
                                    <p style="color:blue"><span style="color:black; font-size:16px;"><b>Remitter Register URL:-</b></span>&nbsp;&nbsp;WebSiteURL/DMT/Remitter_Registration </p>
                                </div>
                            </div>

                            <div class="col-md-12" style="margin-top:-16px;">
                                <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                    <span style="font-size:17px;">Remitter Register Format:-</span>&nbsp;&nbsp;
                                </p>

                                <div class="table-responsive" style="margin-bottom:10px;">
                                    <p style="color:blue;"><span style="color:black; font-size:14px;">RequestType&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp;POST</p>
                                    <p style="color:blue;"><span style="color:black; font-size:14px;">Header&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp;content-type : application/json  </p>
                                    <p style="color:blue;"><span style="color:black; font-size:14px;">Body&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp; {"Senderno":"Register Sender Number","Tokenid":"Your Token","Userid":"Register Email","SenderName":"Sender Name"}</p>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-16px;">
                                <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                    <span style="font-size:17px;">Remitter Register Response :-</span>&nbsp;&nbsp;
                                </p>

                                <div class="table-responsive" style="margin-bottom:10px;">
                                    <p style="color:blue;">
                                        <span style="color:black; font-size:14px;"></span>&nbsp;&nbsp;
                                        { "status": "Success", "response": { "statuscode": "TXN", "status": "OTP sent successfully", "data": { "remitter": { "id": "AP181031066417764835" ,"is_verified": 0} } } }
                                    </p>

                                </div>
                            </div>

                            <div class="col-md-12">

                                <div class="table-responsive" style="margin-bottom:10px;">
                                    <p style="color:blue"><span style="color:black; font-size:16px;"><b>Remitter Verify OTP URL:-</b></span>&nbsp;&nbsp;WebSiteURL/DMT/Remitter_Otp_Verify </p>
                                </div>
                            </div>

                            <div class="col-md-12" style="margin-top:-16px;">
                                <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                    <span style="font-size:17px;">Remitter Verify OTP Format:-</span>&nbsp;&nbsp;
                                </p>

                                <div class="table-responsive" style="margin-bottom:10px;">
                                    <p style="color:blue;"><span style="color:black; font-size:14px;">RequestType&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp;POST</p>
                                    <p style="color:blue;"><span style="color:black; font-size:14px;">Header&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp;content-type : application/json  </p>
                                    <p style="color:blue;"><span style="color:black; font-size:14px;">Body&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp; {"Senderno":"Register Sender Number","Tokenid":"Your Token","Userid":"Register Email","Senderno":"Sender Number","otp":"Put OTP","benid":"It's Comes To The Register Remiter API Output"}</p>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-16px;">
                                <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                    <span style="font-size:17px;">Remitter Verify OTP Response :-</span>&nbsp;&nbsp;
                                </p>

                                <div class="table-responsive" style="margin-bottom:10px;">
                                    <p style="color:blue;">
                                        <span style="color:black; font-size:14px;"></span>&nbsp;&nbsp;
                                        { "status": "Success", "response": { "statuscode": "TXN", "status": "Success", "data": { "remitter": { "id": "AP181031066417764835","is_verified":"1" } } } }
                                    </p>

                                </div>
                            </div>

                            <div class="col-md-12">

                                <div class="table-responsive" style="margin-bottom:10px;">
                                    <p style="color:blue"><span style="color:black; font-size:16px;"><b>Bank List URL:-</b></span>&nbsp;&nbsp;WebSiteURL/DMT/Bank_name </p>
                                </div>
                            </div>

                            <div class="col-md-12" style="margin-top:-16px;">
                                <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                    <span style="font-size:17px;">Bank List Format:-</span>&nbsp;&nbsp;
                                </p>

                                <div class="table-responsive" style="margin-bottom:10px;">
                                    <p style="color:blue;"><span style="color:black; font-size:14px;">RequestType&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp;POST</p>
                                    <p style="color:blue;"><span style="color:black; font-size:14px;">Header&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp;content-type : application/json  </p>
                                    <p style="color:blue;"><span style="color:black; font-size:14px;">Body&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp; {"Tokenid":"Your Token","Userid":"Register Email"}</p>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-16px;">
                                <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                    <span style="font-size:17px;">Bank List Response :-</span>&nbsp;&nbsp;
                                </p>

                                <div class="table-responsive" style="margin-bottom:10px;">
                                    <p style="color:blue;">
                                        <span style="color:black; font-size:14px;"></span>&nbsp;&nbsp;
                                        {
                                        "status": "Success",
                                        "response": {
                                        "statuscode": "TXN",
                                        "status": "Transaction Successful",
                                        "data": [
                                        {
                                        "id": 1,
                                        "bank_name": "AIRTEL PAYMENTS BANK LIMITED",
                                        "imps_enabled": "1",
                                        "aeps_enabled": "1",
                                        "bank_sort_name": "",
                                        "branch_ifsc": "AIRP0000001",
                                        "ifsc_alias": "",
                                        "bank_iin": "",
                                        "is_down": "0"
                                        },
                                    </p>

                                </div>
                            </div>


                            <div class="col-md-12">

                                <div class="table-responsive" style="margin-bottom:10px;">
                                    <p style="color:blue"><span style="color:black; font-size:16px;"><b>Beneficiary Register URL:-</b></span>&nbsp;&nbsp;WebSiteURL/DMT/Beneficiary_Registration </p>
                                </div>
                            </div>

                            <div class="col-md-12" style="margin-top:-16px;">
                                <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                    <span style="font-size:17px;">Beneficiary Register Format:-</span>&nbsp;&nbsp;
                                </p>

                                <div class="table-responsive" style="margin-bottom:10px;">
                                    <p style="color:blue;"><span style="color:black; font-size:14px;">RequestType&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp;POST</p>
                                    <p style="color:blue;"><span style="color:black; font-size:14px;">Header&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp;content-type : application/json  </p>
                                    <p style="color:blue;"><span style="color:black; font-size:14px;">Body&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp; {"benname":"Benefciary Name","Tokenid":"Your Token","Userid":"Register Email Id","Senderno":"Sender No","ifsccode":"SBIN0001266","accountno":"654654654654654"}</p>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-16px;">
                                <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                    <span style="font-size:17px;">Beneficiary Register Response :-</span>&nbsp;&nbsp;
                                </p>

                                <div class="table-responsive" style="margin-bottom:10px;">
                                    <p style="color:blue;">
                                        <span style="color:black; font-size:14px;"></span>&nbsp;&nbsp;
                                        {
                                        "status": "Success",
                                        "response": {
                                        "statuscode": "TXN",
                                        "status": "Transaction Successful",
                                        "data": {
                                        "remitter": {
                                        "id": "8806cc1a-fc26-4a5e-9809-bc209f2daf3f"
                                        },
                                        "beneficiary": {
                                        "status": "0",
                                        "id": "8806cc1a-fc26-4a5e-9809-bc209f2daf3f"
                                        }
                                        }
                                        }
                                        }
                                    </p>

                                </div>
                            </div>

                            <div class="col-md-12">

                                <div class="table-responsive" style="margin-bottom:10px;">
                                    <p style="color:blue"><span style="color:black; font-size:16px;"><b>Beneficiary Delete URL:-</b></span>&nbsp;&nbsp;WebSiteURL/DMT/Beneficiary_delete </p>
                                </div>
                            </div>

                            <div class="col-md-12" style="margin-top:-16px;">
                                <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                    <span style="font-size:17px;">Beneficiary Delete Format:-</span>&nbsp;&nbsp;
                                </p>

                                <div class="table-responsive" style="margin-bottom:10px;">
                                    <p style="color:blue;"><span style="color:black; font-size:14px;">RequestType&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp;POST</p>
                                    <p style="color:blue;"><span style="color:black; font-size:14px;">Header&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp;content-type : application/json  </p>
                                    <p style="color:blue;"><span style="color:black; font-size:14px;">Body&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp;{"benid":"BEID8c6AGsRGsSq","Tokenid":"Your Token ID","Userid":"Register Email ID","Remiterid":"","Senderno":"Sender NUmber"} </p>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-16px;">
                                <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                    <span style="font-size:17px;">Beneficiary Delete Response :-</span>&nbsp;&nbsp;
                                </p>

                                <div class="table-responsive" style="margin-bottom:10px;">
                                    <p style="color:blue;">
                                        <span style="color:black; font-size:14px;"></span>&nbsp;&nbsp;
                                        {
                                        "status": "Success",
                                        "response": {
                                        "statuscode": "TXN",
                                        "status": "Beneficiary Delete Successfully",
                                        "data": {
                                        "otp": "0"
                                        }
                                        }
                                        }
                                    </p>


                                </div>
                            </div>


                            <div class="col-md-12">

                                <div class="table-responsive" style="margin-bottom:10px;">
                                    <p style="color:blue"><span style="color:black; font-size:16px;"><b>Account Verification URL:-</b></span>&nbsp;&nbsp;WebSiteURL/DMT/Beneficiary_AccountVerification </p>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-16px;">
                                <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                    <span style="font-size:17px;">Account Verification Format:-</span>&nbsp;&nbsp;
                                </p>

                                <div class="table-responsive" style="margin-bottom:10px;">
                                    <p style="color:blue;"><span style="color:black; font-size:14px;">RequestType&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp;POST</p>
                                    <p style="color:blue;"><span style="color:black; font-size:14px;">Header&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp;content-type : application/json  </p>
                                    <p style="color:blue;"><span style="color:black; font-size:14px;">Body&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp; {"accountno":"4554545546545546","Tokenid":"Your Token ID","Userid":"Your Register Email ID","ifsccode":"ABHY0065001","Senderno":"Sender Number","Transid":"Unique Transtion ID"}</p>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-16px;">
                                <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                    <span style="font-size:17px;">Account Verification Response :-</span>&nbsp;&nbsp;
                                </p>

                                <div class="table-responsive" style="margin-bottom:10px;">
                                    <p style="color:blue;">
                                        <span style="color:black; font-size:14px;"></span>&nbsp;&nbsp;
                                        {
                                        "statuscode": "TXN",
                                        "status": "Transaction Successful",
                                        "data": {
                                        "remarks": "Transaction Successful",
                                        "bankrefno": "",
                                        "ipay_id": "W210111132039NJMW",
                                        "benename": "sdfgd fdsg",
                                        "locked_amt": 0,
                                        "charged_amt": 0.0,
                                        "verification_status": "VERIFIED"
                                        },
                                        "Local": "Local"
                                        }

                                    </p>

                                </div>
                            </div>
                            <div class="col-md-12">

                                <div class="table-responsive" style="margin-bottom:10px;">
                                    <p style="color:blue"><span style="color:black; font-size:16px;"><b>Fund Transfer URL:-</b></span>&nbsp;&nbsp;WebSiteURL/DMT/Fund_transfer </p>
                                </div>
                            </div>

                            <div class="col-md-12" style="margin-top:-16px;">
                                <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                    <span style="font-size:17px;">Fund Transfer Format:-</span>&nbsp;&nbsp;
                                </p>

                                <div class="table-responsive" style="margin-bottom:10px;">
                                    <p style="color:blue;"><span style="color:black; font-size:14px;">RequestType&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp;POST</p>
                                    <p style="color:blue;"><span style="color:black; font-size:14px;">Header&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp;content-type : application/json  </p>
                                    <p style="color:blue;"><span style="color:black; font-size:14px;">Body&nbsp;&nbsp;=&nbsp;</span>&nbsp;&nbsp;{"Tokenid":"Your Token ID","Userid":"Register Email ID","Senderno":"Sender Number","amount":"10","Mode":"IMPS OR NEFT","Transid":"132123131","accountno":"567567567567567567","ifsccode":"HDFC0000240"}  </p>
                                    <p style="color:red; font-size:15px;padding-top:7px;">
                                        NOTE :- In This Service  Mode are IMPS or NEFT

                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:-16px;">
                                <p style="border-bottom:1px solid #f4f4f4;padding-bottom:10px;">
                                    <span style="font-size:17px;">Fund Transfer Response :-</span>&nbsp;&nbsp;
                                </p>

                                <div class="table-responsive" style="margin-bottom:10px;">
                                    <p style="color:blue;">
                                        <span style="color:black; font-size:14px;"></span>&nbsp;&nbsp;
                                        {
                                        "Status": "Failed / Success /Pending",
                                        "orderId": "654654641222111",
                                        "ApiOrderId": "",
                                        "Amount": "10",
                                        "rrn": "",
                                        "Message": "Amount Should be Greater Than Rs. 100",
                                        "Remainbal": "91.00"
                                        }
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>